.page-error {
  position: relative;
  height: calc(100vh - 121px);
  background: #fff5fb;
  overflow: hidden;
  background-image: url("https://static.mservice.io/styles/desktop/images/Asset 2@3x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@include media-breakpoint-down(sm) {
  .page-error {
    height: calc(100vh - 48px);
  }
}

.btn {
  /* background-image: -webkit-linear-gradient(left, #7b1173 0%, #f6388a 100%); */
  /* background-image: linear-gradient(to right, #7b1173 0%, #f6388a 100%); */
}
.btn:before {
  background-image: -webkit-linear-gradient(left, #f6388a 0%, #7b1173 100%);
  background-image: linear-gradient(to right, #f6388a 0%, #7b1173 100%);
}
.btn.btn-alt {
  background-image: -webkit-linear-gradient(left, #1511b1 0%, #f6388a 100%);
  background-image: linear-gradient(to right, #1511b1 0%, #f6388a 100%);
}
.btn.btn-alt:before {
  background-image: -webkit-linear-gradient(left, #f6388a 0%, #1511b1 100%);
  background-image: linear-gradient(to right, #f6388a 0%, #1511b1 100%);
}
.btn.btn-plane {
  background: #1511b1;
}
.btn.btn-simple .fa {
  color: #f6388a;
}
.btn.btn-more {
  color: #f6388a;
}
.btn.btn-more:hover {
  color: #1511b1;
}

.play-btn .play {
  background-image: linear-gradient(to right, #7b1173 0%, #f6388a 100%);
}
.play-btn .play > span {
  background-image: linear-gradient(to right, #7b1173 0%, #f6388a 100%);
}
.play-btn-alt .fa {
  background: linear-gradient(to right, #7b1173 0%, #f6388a 100%);
}
.play-btn > span:last-of-type {
  color: #554fff;
}

.io-azure .btn {
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.io-azure .btn:not(.btn-simple):not(.btn-plane) {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.io-azure .btn:after,
.io-azure .btn:before {
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.error-text-large {
  font-size: 250px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 17px;
  background: -webkit-linear-gradient(#fd5eb7, #831854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}

@media only screen and (max-width: 991px) {
  .error-text-large {
    font-size: 200px;
  }
  .error-content {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media only screen and (max-width: 767px) {
  .error-text-large {
    font-size: 140px;
  }
  .error-content {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media only screen and (max-width: 480px) {
  .error-text-large {
    font-size: 70px;
  }
  .error-content {
    margin-top: -60px;
  }
 
}
@media only screen and (min-width: 1199px) and (max-width: 1440px) and (max-height: 700px) {
  .error-content {
    margin-top: -40px;
  }

  .error-text-large {
    font-size: 150px;
  }
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
  .page-error {
    height: auto;
  }

  .error-content {
    padding: 100px 0 160px;
  }
}

//  .error-text-large{
//   background: -webkit-linear-gradient(#107ef4, #114fc2);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.error-content {
  position: relative;
}

.error-content p {
  margin-bottom: 28px;
  color: #8284a5;
}

.error-graphics-one,
.error-graphics-two {
  position: absolute;
  z-index: -1;
}

.error-graphics-one {
  width: 250px;
  top: 20%;
  right: 100%;
  margin-right: 65px;
}

.error-graphics-two {
  width: 200px;
  left: 100%;
  top: 50%;
  margin-left: 40px;
}

.btn-gradient {
  border: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 46px;
  padding: 0 34px;
  border-radius: 23px;
  position: relative;
  color: white;

  z-index: 2;
  -ms-border-radius: 23px;
  border-radius: 23px;

  // background-image: linear-gradient(to right, #7b1173 0%, #f6388a 100%);
  // background-image: -webkit-linear-gradient(left, #7b1173 0%, #f6388a 100%);

  // background-image: -webkit-linear-gradient(left, #2b56f5 0%, #46bdf4 100%);

  background-image: linear-gradient(to right, #f6388a 0%, #7b1173 100%);
}
.btn-gradient:hover:before {
  opacity: 1;
}

.btn-gradient:before {
  position: absolute;
  -ms-border-radius: 23px;
  border-radius: 23px;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(left, #f6388a 0%, #7b1173 100%);
  background-image: linear-gradient(to right, #f6388a 0%, #7b1173 100%);
}

.btn-gradient.btn-sm {
  line-height: 39px;
  padding: 0 24px;
}

.btn-gradient:before {
  transition: all 0.5s ease;
  // background-image: -webkit-linear-gradient(left, #46bdf4 0%, #2b56f5 100%);
  // background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);

  background-image: linear-gradient(
    to right,
    rgb(123, 17, 115) 0%,
    rgb(246, 56, 138) 100%
  );
}
