.list-card {
  cursor: pointer;
  .count-number {
    margin: 4px 0 0 0;
    display: inline-block;
  }

  .list-card-image {
    position: relative;
  }
}

.cashback-cat-name {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: normal;
  white-space: nowrap;
}

.cashback-cat-sub {
  font-size: 11px;
  color: gray("300");
  // display: none;
}

.cashback-cat {
  // display: flex;
  // flex-flow: row wrap;
  margin-right: 20px;
  // width: 100%;
  // background: #fff;
  background: white;
  position: relative;
  // height: 100%;
  margin-bottom: 0;
  overflow: visible;
  padding: 10px 0;

  @extend .shadow-sm;

  // box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.cashback-cat-item {
  width: 100%;
}

.cashback-cat-link {
  display: block;
  position: relative;
  padding: 10px 20px 10px 0px;
  padding-left: 55px;

  &.is-active {
    background: rgba(0, 0, 0, 0.03);
    // box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    .cashback-cat-name {
      font-weight: bold;
    }
    /*  &:before {
      content: "";
      background: white;
      width: 15px;
      height: 100%;
      right: 0;
      z-index: 15;
      position: absolute;
      display: block;
      top: 0;

    } */
  }
}

.cashback-cat-gm {



  position: absolute;
  // border-radius: 5px;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 4px 4px 16px rgba(20, 23, 28, 0.25);

  left: 100%;
  top: 0;
  z-index: 10;
  min-width: 300px;
  min-height: 100%;
  background: white;
  // @extend .shadow;
  visibility: hidden;
  opacity: 0;
  // transition: all 0.1s ease;
  width: 900px;

  padding: 20px 20px;

  display: flex;
  flex-direction: column;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  .cashback-grid {
    width: 100%;
    margin-top: 0;
    box-shadow: none;
    border-top: 1px solid gray("200");
    border-left: 1px solid gray("200");
  }

  .cashback-item {
    flex: 0 0 20%;
    width: 20%;

    // margin-bottom: 15px;
    // &:after {
    //   display: none;
    // }

    // &:before {
    //   display: none;
    // }
  }

  .btn{
    @extend .view-all-btn;
    border: none;
  }


}

.cbs-banner-container{
  padding: 3px;
}
.cbs-banner{
  display: block;
  padding: 3px;
}

.cashback-cat-hh {
  flex: 1;
}

/* 
.cashback-cat-sub-con{
  width: 500px;
  height: 500px;
  background: white
} */

.cashback-banner {
  margin-bottom: 10px;
  display: block;
}

.cashback-cat-img {
  position: absolute;
  left: 13px;
  top: 1px;
  width: 31px;
}

.cashback-cat-title {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  margin-right: 20px;
  .cashback-cat-img {
    fill: white;
    width: 20px;
    top: 7px;
    left: 18px;
  }
  .cashback-cat-name {
    color: white;
  }
}

.cashback-ad {
  // height: 500px;

  img {
    // border-radius: 5px;
  }

  .swiper-slide {
    height: 100%;
    position: relative;
  }
}

.cashback-ad-item {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // z-index: 1;
  // background-size: cover;
  // background-position: center;
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: gray("400");
  &:before {
    content: "";
    display: block;
    padding-top: percentage(472/1000);
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.cashback-swiper-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  background-size: 10px;

  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashback-swiper-pagination {
  &.swiper-pagination-bullets {
    bottom: 5px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px !important;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $momo2;
  }
}

.cashback-grid {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;

  background: white;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;

  @include media-breakpoint-down(md) {
    .cashback-item {
      flex: 0 0 33.333%;
      width: 33.333%;
    }
  }
}

.cashback-item {
  text-align: center;
  // flex: 0 0 calc(percentage(1/6) - 6px);
  // width: calc(percentage(1/6) - 6px);
  // flex: 0 0 calc(16.667% - 6px);
  // width: calc(16.667% - 6px);

  flex: 0 0 20%;
  width: 20%;

  // max-width: 150px;

  background: white;
  padding: 5px 12px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    background: gray("200");
  }

  &:before {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 1px;
    top: 0;
    background: gray("200");
  }
}

.cashback-item-name {
  margin-top: 8px;
  font-size: 12px;
  color: gray("700");
}

.cashback-item-img {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashback-logo {
  margin-top: 5px;
  max-height: 32px;
  max-width: 100%;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

.sale-cashback-box {
  padding: 5px 12px;
  background: lighten(color("red"), 5%);
  border: 1px solid color("red");
  text-align: center;
  margin: 0 10px 10px;
  border-radius: 5px;
}

.sale-item-desc {
  background: rgba(0, 0, 0, 0.5);
  bottom: -1px;
  box-sizing: border-box;
  color: #fff;
  left: 0;
  max-height: 100%;
  min-height: 4.5em;
  // overflow: auto;
  white-space: normal;
  padding: 0.5em 1em;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .txt {
  }
}

.sale-cashback {
  // font-weight: bold;
  // color: color("red");
  color: white;
}

.sale-cashback-code {
  color: rgba(255, 255, 255, 0.8);

  span {
    color: black;
    padding: 1px 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
  }
}

.swiper-cashback {
  width: 100%;

  .swiper-slide {
    max-width: 250px;
  }
}

.cashback-new {
  margin-bottom: 10px;
  display: block;

  .swiper-slide {
    width: 500px;
  }

  @include media-breakpoint-down(sm) {
    .swiper-slide {
      width: 300px;
    }
  }
}

.sale-item-name {
  font-size: 16px;
  // @include text-row(2, 42);
  // min-height: 42px;
}

.sale-item {
  font-size: 13px;
}

.sale-item {
  @include media-breakpoint-down(md) {
    width: 180px;
  }
}

.cb-container {
  .product-item-col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .list-card {
    border: 1px solid gray("200");
  }
}

.sale-items {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -8px;

  .sale-item {
    flex: 0 0 calc(20% - 16px);
    width: calc(20% - 16px);
    margin: 8px 8px;
    font-size: 13px;
  }

  @include media-breakpoint-down(md) {
    .sale-item {
      flex: 0 0 calc(50% - 16px);
      width: calc(50% - 16px);
    }
  }

  // .sale-cashback-box {
  //   padding: 0px 12px 10px;
  //   background: white;
  // }

  // .sale-cashback-box {
  //   margin: 0;
  // }

  // .sale-cashback {
  //   display: inline-block;
  //   padding: 2px 9px;
  //   border-radius: 20px;
  //   font-size: 12px;
  //   background: color("red");
  // }
}

.cb-filter {
}

.cb-filter-btn {
  display: none;
}

.cashback-ad-container {
  position: relative;

  .cashback-cat {
    // position: absolute;
    // top: 0;
    // left: 50px;
    // z-index: 10;
    // left: 0;
    // height: 500px;
  }
}

.cashback-cat-nav {
  // position: absolute;
  /* top: 0; */
  // left: 0;
  // right: 0;
  // bottom: 100%;
  // z-index: 9;
  
}

.cashback-ad-pd{
  margin-top: 20px;

  @include media-breakpoint-down(sm){
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px
  }
}

.cashback-cat-nav {
  // background: rgba(255,255,255,0.6);
  margin-left: -1px;

  .swiper-slide {
    display: block;
    background: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    height: 54px;
    line-height: 1.3;
    cursor: pointer;
    width: 20%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: gray("800");

    &:last-child {
      &:before {
        display: none;
      }
    }

    &:before {
      content: "";
      height: 50%;
      width: 1px;
      background: gray("300");
      right: -1px;
      z-index: 1;
      position: absolute;
    }

    &.is-active {
      color: gray("900");
      font-weight: bold;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  #cb-filter {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  .cb-filter-btn {
    display: block;
  }

  .cashback-ad {
    height: auto;
  }

  .cashback-cat {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .cashback-cat,
  .cashback-ad-grid {
    // display: none;
  }
}

.modal-cashback-present {
  .modal-body {
    padding-bottom: 70px;
    background-size: cover;
    border-radius: 5px;
    background-position: center bottom;
  }

  &.modal-lunar .close.close {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .cashback-modal-txt {
    strong {
      color: #7b1b58;
      font-size: 1.1em;
      display: block;
    }

    div:not(:first-child) {
      strong {
        // margin-top: 15px;
      }
    }

    br {
      // display: none;
      clear: both;
    }

    div {
      margin-bottom: 2px;
    }
  }
}

.bg-cashback-modal {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.cashback-catmobile {
  white-space: nowrap;
  overflow-x: auto;
  flex-flow: row nowrap;
  padding: 0 0 0 10px;
  background: white;
  border-bottom: 1px solid gray("100");

  .nav-item {
    display: block;
    flex: 0 0 auto;
    margin-right: 7px;

    &:last-child {
      padding-right: 10px;
    }
  }

  .nav-link {
    padding: 15px 4px 8px;
    border-bottom: 2px solid transparent;
    position: relative;
    padding-left: 27px;
    opacity: 0.6;

    &.active {
      border-color: gray("800");
      opacity: 1;

      .title {
        color: gray("900");
      }
    }

    .img {
      margin-right: 0px;
      width: 26px;
      display: block;
      position: absolute;
      left: 0;
      top: 1px;
    }

    .title {
      color: gray("700");
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
    }
  }
}

.cashback-title2 {
  text-align: center;
  position: relative;
  display: flex;
  margin: 40px 0 20px;
  overflow: hidden;

  &:before,
  &:after {
    border-top: 1px solid rgba(64, 72, 89, 0.1);
    content: "";
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    top: 0.5em;
    width: 10%;
  }

  &:before {
    right: 1%;
  }

  &:after {
    left: 1%;
  }

  @include media-breakpoint-down(sm){
    margin: 20px 0 10px;
  }
}

.store-box-col {
  text-align: center;
}

.store-box .store-box__image-url img {
  max-width: 60%;
  max-height: 2em;
  vertical-align: middle;
  display: inline-block;
}

.store-box {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 1em;
  box-shadow: 2px 2px 7px 2px #efefef;
}

.store-box .store-box__display-text {
  text-align: center;
  font-size: 1em;
  padding: 0.4em 0 0;
  color: #e63535;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.store-box .store-box__view-promotions {
  text-align: center;
  font-size: 0.7em;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.store-box-desc {
  font-size: 11px;
}

.cashback-matrix-item {
  cursor: pointer;
}

.cbs-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px;
  background: white;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.cbs-content {
  padding: 0 12px;
  flex: 1;
  min-width: 0;
  .name {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 3px;
  }

  .sub {
    font-size: 13px;
    color: gray("500");
  }
}
.cbs-img {
  width: 52px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid gray("200");
  padding: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 100%;
  }
}

.cbs-value {
  font-size: 17px;
  font-weight: 500;
}
