.cgv-container {
  background: white;
  padding: 30px 0;
}

.cgv-tabs {
  margin: 0 auto;
  max-width: 900px;
  flex-wrap: nowrap;
  .nav-link {
    display: block;
    padding: 0 30px;
    position: relative;
    &.active {
      filter: brightness(120%);
      .cgv-tabs-act {
        opacity: 1;
      }
    }
  }
}

.cgv-tabs-act {
  margin-top: 10px;
  width: 50px;
  opacity: 0;
  transition: all 0.2s ease-in;
}

@include media-breakpoint-down(md) {
  .cgv-container {
    background: white;
    padding: 20px 0;
  }

  .cgv-tabs {
    .nav-link {
      display: block;
      padding: 0 10px;
    }
  }

  .cgv-tabs-act {
    margin-top: 3px;
    width: 25px;
  }
}

@include media-breakpoint-down(sm) {
  .cgv-tabs {
    .nav-link {
      display: block;
      padding: 0 5px;
    }
  }
}

.tab-content-cgv {
  padding: 20px 0;
}

.cgv-subtitle {
  padding: 5px 20px;
  border-radius: 4px;
  letter-spacing: 1px;
}

.cgv-feature {
  text-align: center;
  // max-width: 200px;
  margin: 0 auto 15px;
}

.cgv-feature-icon {
  img {
    max-width: 180px;
  }
}

.cgv-feature-content {
  font-weight: 300;
  margin-top: 20px;
  font-size: 21px;
  line-height: 1.5;
}

@include media-breakpoint-down(lg) {
  .cgv-feature-icon {
    img {
      width: 150px;
    }
  }

  .cgv-feature-content {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.4;
  }
}

@include media-breakpoint-down(sm) {
  .cgv-feature-icon {
    img {
      width: 100px;
    }
  }

  .cgv-feature-content {
    margin-top: 10px;
    font-size: 16px;
  }
}

.guide {
  padding: 30px 0;
}
.guide-desktop {
  background-image: url(https://statusmoney.com/images/homepage/background-slider.svg);
  background-position: 50%;
  background-size: cover;
  background-color: #efe4ea;
}

.guide-desktop-slider {
  overflow: hidden;
  // box-shadow: 0 -1.4rem 1.9rem 0 rgba(20, 35, 60, 0.2);
  .guide-device-item {
    border-radius: 5px;
    img {
      border-radius: 6px;
    }
    box-shadow: 0 0 0 5px hsla(0, 0%, 0%, 0.05);
    // box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    // box-shadow: 0 -5px 10px 0 rgba(20,35,60,.2);
  }
  .swiper-slide {
  }
}

.guide-device-swiper {
  padding: 10px;
  .swiper-slide {
    max-width: 800px;
  }

  img {
  }

  @include media-breakpoint-down(lg) {
    .swiper-slide {
      max-width: 600px;
    }
  }
}
.guide-device-item {
  img {
  }
}

.guide-step {
  display: inline-flex;
  margin: 15px 0;
  padding-bottom: 60px;
}

.guide-step-item {
  &.active {
    .guide-step-cont {
      color: color("momo");
      &:before {
        border-color: color("momo");
        color: color("momo");
      }
    }

    .guide-step-info {
      opacity: 1;
    }
  }
}

.guide-step-cont {
  position: relative;
  z-index: 1;
  width: 33px;
  height: 33px;

  align-items: center;

  justify-content: center;

  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: color 1s ease;
  display: flex;

  &:before {
    // border-color: color("momo");
    background: white;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid gray("400");
    border-radius: 1px;
    transform: rotate(45deg);
    transition: background 0.3s linear, border-color 0.3s linear;
  }
}

.guide-step-info {
  font-size: 18px;
  padding: 20px 0 10px;
  color: gray("700");

  position: absolute;

  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

@include media-breakpoint-down(lg) {
  .guide-step-info{
    width: 100%;
    font-size: 16px;
  }
}


@include media-breakpoint-down(sm) {
  .guide-step-cont {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .guide-device-swiper {
    padding: 0;
  }
}
