.challenge-header{

}





.countdown-challenge{
  display: inline-block;
}

.countdown-challenge-time{
  font-size: 26px;
  //font-weight: bold;
}

.countdown-challenge-text{
  color: gray("700");
}


.countdown-challenge-item{
  display: inline-block;
  margin: 0 5px;
}

.countdown-challenge-title{
  display: inline-block;
  color: color("momo2");
  font-weight: bold;
}

.countdown-challenge-box{
  font-size: 16px;
}

.challenge-title{

}

.challenge-option{
  color: gray("600");
  margin-bottom: 20px;
}

.challenge-option-title{
  color: black;
  font-weight: 500;
  margin-bottom: 3px;
  font-size: 15px;
}

.challenge-option-user{
  display: flex;
  flex-flow: row wrap;

  li{
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

    background: gray("500");
    margin: 5px;

    span{
      font-size: 16px;
      color: white;
    }
  }
}

.challenge-line{
  margin: 1.5rem 0;
}

.challenge-time{
  font-size: 15px;
}

.challenge-register{
  .form-group{
    margin-bottom: 20px;
  }
  .form-control{
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid gray("300");
    @include hover-focus(){
      border-color: color("blue");
      outline: none;
      box-shadow: none;
    }
  }
}

.challenge-register-submit{
  img{
    filter: brightness(0) invert(1);
    vertical-align: -10%;
  }
}

.challenge-gift{
  margin : 0 auto;
}

.challenge-gift-img{
  border-radius: 5px;
  overflow: hidden;
}

.challenge-gift-desc{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}