.branch-hero {
  //background: gray("100");
  padding: 30px 0;
  //
  //background-image: linear-gradient(-225deg, #fff 0%, #FFE6FA 100%);
  //background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  //background-image: url("https://static.mservice.io/styles/desktop/images/bg-map-demo.png");
  background-color: #d0f1f6;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}

.beanch-hero-feature {
  display: flex;
  flex-flow: row wrap;
}

.branch-feature {
  max-width: 230px;
  padding: 30px 20px;
  text-align: center;
  //color: white ;
  margin-right: 10px;

  .num {
    font-size: 35px;
    font-weight: bold;
  }

  .txt {
    font-size: 18px;
  }

  .txt2 {
    font-weight: bold;
  }
}

@include media-breakpoint-down(lg) {
  .branch-hero {
    padding: 10px 0;
    background-position: 9% 100%;
  }

  .beanch-hero-feature {
    max-width: 230px;
  }

  .branch-feature {
    padding: 5px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;

    .num {
      font-size: 25px;
      font-weight: bold;
    }

    .txt {
      font-size: 13px;
    }

    .txt2 {
      font-weight: bold;
    }
  }
}

@include media-breakpoint-down(md) {
  .branch-hero {
    padding: 0;
    background-position: 40% 100%;

    .container {
      padding: 0;
    }
  }

  .beanch-hero-feature {
    padding: 10px;
    max-width: 250px;
    background: linear-gradient(to right, #d0f1f6 0%, transparent 100%);
  }

  .branch-feature {
    text-align: left;
    padding: 5px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    font-size: 12px;

    .num {
      font-size: 18px;
      font-weight: bold;
    }

    .txt {
      font-size: 13px;
    }

    .txt2 {
      font-weight: bold;
    }
  }
}

.branch-search-form {
  background-color: #fff;
  padding: 20px 20px 15px 20px;
  margin-bottom: 25px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e9ecef;
}

.branch-search-result {
  margin-top: 10px;
}

.doitac-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.doitac-list-item {
  background: white;
  border: 1px solid gray("200");
  border-radius: 5px;
  margin: 10px;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 90px;
  }

  @include media-breakpoint-down(sm) {
    width: 85px;
    height: 85px;

    img {
      width: 100%;
      max-width: 50px;
    }
  }
}

.dtb-p {
  // margin-bottom: 40px;
  // position: relative;
  // &:after{
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 1px;
  //   background: gray("200");
  //   left: 13px;
  //   top: 33px;

  // }
  // padding: 15px 20px;
  // max-height: 300px;
  // overflow-y: auto;
  .sgf-item {
    padding: 13px 20px;
    border-color: gray("300");

    .sgf-cont {
      padding: 0;
    }

    .sgf-title {
      font-size: 14px;
      margin-bottom: 0;
    }

    // &:nth-child(odd){
    //   background: gray("100");
    // }
  }
}

.sgf-item-avatar {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid gray("300");
  margin-right: 15px;
}

.sg-post {
  img {
    max-width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
    height: auto !important;
  }
}

// .sg-cb-txt1 {
//   color: #7B1B58;
//   font-weight: bold;
//   text-transform: uppercase;
// }
.sg-cb-txt1 {
  position: relative;
  top: -7px;
}
.sg-cb-txt2 {
  strong {
    color: #7b1b58;
    font-size: 1.1em;
    display: block;
  }

  div:not(:first-child) {
    strong {
      // margin-top: 15px;
    }
  }

  br {
    display: none;
    clear: both;
  }

  div {
    margin-bottom: 2px;
  }
}

.sg-cb-card {
  // font-size: 15px;
  background: linear-gradient(
    0deg,
    rgba(251, 210, 207, 0.3) 0%,
    rgba(251, 210, 207, 0.5) 100%
  );
  border: 2px solid $momo;
  border-radius: 8px;
  margin-top: 15px;
  .card-body {
    padding: 40px 1.5rem 14px;
  }
}

.sg-cb-heading {
  background-size: cover;
  background-size: cover;
  display: block;
  width: 302px;
  height: 83px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;

  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.ft-cb-card {
  background: #fff0de;
  border-color: #fff0de;
  .sg-cb-heading {
    width: 302px;
    height: 98px;

    font-size: 14px;
    font-weight: bold;
    padding: 0px 20px 7px 75px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    line-height: 1.3;

    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.price-tag {
  display: inline-block;

  

  background-color: $momo;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid $momo;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;

  font-size: 12px;
  line-height: 16px;
  width: auto;
  height: 16px;
  padding: 0 4px 0 5px;

  /* Makes the triangle */
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid $momo;
  }

 
}

/* 
.dtb-card{
  padding: 5px;
}

.dtb-title{
  font-size: 16px;
}

.dtb-present{
  line-height: 1.8;
  color: gray("700");
  padding-left: 42px;
}
.dtb-p-icon{
  font-size: 14px;
  color: gray("700");
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: gray("300");
  display: flex;
  align-items: center;
  justify-content: center;
}

.dtb-use-h{
  font-size: 15px;
  color: gray("600");
  margin-top: 15px;
}
 */
.dtb-header-img {
  border-radius: 5px;
  width: 115px;
  height: 115px;
  padding: 3px;
  background: white;

  img {
    width: 100%;
    border-radius: 5px;
  }
}

.sg-share {
  margin-top: 15px;
}

.sg-share-item {
  font-size: 16px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: gray("100");
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray("600");

  @include hover-focus() {
    background: gray("200");
    color: gray("600");
  }
}

.award-container {
  overflow: hidden;

  .award-item {
    &:last-child {
      &:before {
        //display: none;
        background: transparent;
        top: 25px;
      }
    }
  }
}

.award-item {
  background: lighten(gray("100"), 5%);
  border-radius: 5px;
  position: relative;
  // margin-bottom: 15px;
  padding: 15px;
  font-size: 15px;
  line-height: 1.6;
  padding-left: 100px;

  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background: color("momo");
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    top: 20px;
    height: 100%;
    width: 1px;

    background: lighten(color("momo"), 50%);
    left: 14px;
    z-index: 1;
  }
}

.award-item-content {
}

.award-item-year {
  position: absolute;
  color: color("momo");
  top: 10px;
  left: 35px;
  font-size: 20px;
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .award-item-year {
    position: relative;
    top: 0;
    left: 0;
  }

  .award-item {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    padding-left: 35px;
  }

  .branch-search-form {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 0;
    box-shadow: none;
    border: none;

    .form-control {
      font-size: 12px;
    }
  }
}

.sg-new {
  .new-item {
    overflow: hidden;
    background: white;
    padding: 0;
  }
}

.sg-new {
  .new-item {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: none;
    margin-bottom: 15px;

    &:not(:last-child) {
      padding-bottom: 15px;
      border-bottom: 1px solid gray("200");
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .new-item-img {
    width: 150px;
  }

  .new-item-content {
    padding: 0 10px 0px 15px;
  }
}

.sg-accordion {
  .card-link {
    padding: 10px 30px 10px 20px;
    font-size: 15px;
  }

  .card {
    box-shadow: none;
    border-color: gray("100");
  }

  .card-body {
    font-size: 14px;
  }
}
