.dtt-col-left {
  background: #f5f5f5;
  min-height: 500px;
  width: 240px;
  z-index: 2;
}

.dtt-col-right {}

.dtt-search {
  padding: 30px 20px;

  .dtt-search-item:last-child {

    margin-bottom: 0px;
  }

  @include media-breakpoint-up(lg) {
    &.collapse {
      display: block;
    }
  }

}



.dtt-search-tab {

  margin-left: -20px;

  font-weight: 500;

  .is-active {
    .dtt-search-head {
      background: color("momo");
      color: white;
    }
  }
}

.dtt-search-head {
  display: block;
  padding: 8px 10px 8px 20px;
  margin-bottom: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: gray("900");

  @include hover-focus() {
    color: color("momo");
  }

  svg {
    margin-right: 10px;
    vertical-align: -30%;
  }
}

.dtt-search-item {

  margin-bottom: 30px;

}



.dtt-search-expand {
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 0;
  position: relative;
  background: gray("100");
  display: block;
  width: 100%;
  border: 1px solid gray("300");
  font-size: 14px;
  text-align: left;




  svg {
    position: absolute;
    right: 15px;
    top: 12px;
  }

  @include hover-focus-active() {
    box-shadow: none;
    outline: none;
  }
}

.dtt-search-check {
  li {
    margin-bottom: 15px;
  }

  .custom-control {}

  .custom-checkbox {
    input:checked~.custom-control-label {
      //color: gray("800");
      color: color("momo");
    }
  }

  .custom-control-label {
    display: block;
    padding-left: 10px;
    cursor: pointer;

  }
}

.dtt-col-right {
  background: #fafafa;
}

.dtt-wrapper {
  padding: 30px 30px;

}

.dtt-search-title {
  color: gray("800");
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.dtt-search-rela {
  position: relative;

  .form-control {
    padding-left: 35px;
    background: white;
    height: 40px;
    border: 1px solid white;


  }


  .dtt-search-icon {
    left: 10px;
    font-size: 15px;
    z-index: 1;
    top: 12px;
    right: auto;
    position: absolute;
    color: gray("500");
  }

}





















.dtt-section-title {
  font-weight: bold;
  color: gray("800")
}

.dtt-section-subtitle {
  font-size: 15px;
  margin-top: -5px;
  color: gray("600");
  margin-bottom: 15px;
}


.dtt-section-more {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  margin-top: 2px;
  //font-size: 13px;
  //transform: translate3d(0,-50%,0);
  display: block;

  a.btn {
    @extend .btn-function;
  }
}




.dtt-slider-container {
  padding-bottom: 30px;

}

.dtt-slider {
  max-width: 600px;
  margin: 0 auto;
  overflow: visible;

  .swiper-slide {
    padding: 0 10px;

    img {
      border-radius: 5px;
    }
  }

  .swiper-pagination {
    bottom: -30px;
  }

  .swiper-pagination-bullet {
    border: 1px solid gray("900");
    width: 8px;
    height: 8px;
  }
}



.place-filter-container {
  background: white;
  position: sticky;
  z-index: $zindex-sticky;
  //top: 79px;
  top: 54px;
  padding: 0;
}


.place-filter {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
  font-size: 12px;
  align-items: center;
  position: relative;

  margin-left: -5px;
  margin-right: -5px;
}

.place-filter-openmap {



  .custom-control-label {
    padding-top: 0px;
    cursor: pointer;
    user-select: none;
  }

  .custom-switch {
    padding: 0 0 0 15px;
    cursor: pointer;
  }
}






.place-filter-submit {
  padding: 5px 10px;
  //font-weight: bold;
}

.place-item-grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: -6px;
  margin-right: -6px;
  overflow: hidden;
  //padding-bottom: 30px;
}


.place-item {

  width: calc(#{percentage(1/4)} - 12px);
  flex: 0 0 calc(#{percentage(1/4)} - 12px);
  max-width: calc(#{percentage(1/4)} - 12px);
  //background: white;
  //border-radius: 5px;
  //overflow: hidden;
  margin: 6px;

  //box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  position: relative;
  transition: 0.15s;

  @include hover-focus() {
    .place-item-name {
      color: color("momo");
    }

    .place-item-img {
      @extend .shadow-sm;
      transform: translateY(-2px);
    }

    //box-shadow: 0 2px 2px rgba(41,47,56,0.1), 0 4px 4px rgba(41,47,56,0.1), 0 8px 8px rgba(41,47,56,0.1), 0 16px 16px rgba(41,47,56,0.1);
    //transform: translateY(-3px);
  }
}

.place-item-info {
  margin-top: 5px;

  .btn {
    font-size: 14px;
    padding: 2px 0;
    color: gray("700");

    @include hover-focus() {
      color: color("blue");
    }
  }

  .info-icon {
    vertical-align: -5%;
  }
}

.place-item-img {
  border-radius: 3px;
  overflow: hidden;
  transition: 0.15s;
  position: relative;

  &:hover {
    .place-item-overlay {
      opacity: 1;
    }
  }
}

.place-item-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  .btn {
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.place-item-pd {
  padding: 10px 0 0;
}

.place-item-ct {}

.place-item-cat {
  font-size: 12px;
  //color: gray("600");
  color: color("momo");
}

.place-item-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 3px;
}

.place-item-address {
  font-size: 12px;
  color: gray("600");
}

.star-block {
  display: inline-block;
  position: relative;
  background-size: 9px 9px;
  height: 10px;

  background-repeat: space no-repeat;

  width: 50px;

  overflow: hidden;


  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23D8D8D8'%3e%3cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3e%3c/svg%3e");
}

.place-item-star {
  font-size: 11px;
  color: gray("700");
  margin-bottom: 10px;
}


.star-block-hide {
  overflow: hidden;
}

.star-block-bg {
  overflow: hidden;
  display: block;
  background-size: 9px 9px;
  height: 10px;
  width: 50px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23ffc107'%3e%3cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3e%3c/svg%3e");
  background-repeat: space no-repeat;
}




.place-item-func {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 5px;

  li {
    flex: 0 0 auto;

    svg {
      font-size: 1.2em;
      vertical-align: -15%;
    }

  }

  a {
    position: relative;
    display: block;
    z-index: 11;
    font-size: 11px;
    color: gray("500");

    @include hover-focus-active() {
      color: color("blue");
    }
  }
}

.place-item-foo {
  border-top: 1px solid gray("300");
  padding: 8px 0;
  font-size: 11px;
}



.place-item-phone {}


.place-sort-container {

  padding: 0 0 20px;
}

.place-sort-name {
  font-size: 18px;
}



.map-place-height {
  height: 400px;
}





#map_right_listing {
  height: 100%;
  width: 100%;
}




/*-------- 2.8 Map styles --------*/

/* Cluster styles */
.cluster img {
  display: none !important;
}

.cluster-visible {
  text-align: center;
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  background-color: color("momo") !important;
  background-image: none !important;
}

.cluster-visible:before {
  border: 5px solid color("momo");
  opacity: 0.2;
  box-shadow: inset 0 0 0 4px color("momo");
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: cluster-animation 2.5s infinite;
}

@keyframes cluster-animation {

  0%,
  100% {
    transform: scale(1.3) rotate(0deg)
  }

  50% {
    transform: scale(1.5) rotate(90deg)
  }
}


.map {
  width: 100%;
  height: 500px;

  &.map_single {
    height: 400px;
  }
}

.infoBox {
  z-index: 10;
  -webkit-animation: fadeIn 0.9s;
  animation: fadeIn 0.9s;

  // padding-right: 50px;
  >img {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    z-index: 9999;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.marker_info {
  width: 240px;
  // height: 270px;
  border-radius: 5px;
  text-align: left;
  background: #000;
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 999;
  font-family: "Poppins", Helvetica, sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

  img {
    width: 100%;
    display: block;
    @include border-radius(5px 5px 0 0);
  }

  h3 {
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 3px;
    color: #444;
  }

  em {
    display: inline-block;
    font-size: 11px;
    color: gray("700");
    text-transform: uppercase;
    font-style: normal;
  }

  span {
    display: block;
    padding: 10px 15px 0 15px;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
    position: relative;

    strong {
      display: block;
      font-weight: 500;

    }
  }

  &:after {
    right: 50%;
    top: 100%;
    margin-right: -12px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;


    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-top: 12px solid white;
  }
}

.btn_infobox_get_directions,
a.btn_infobox_phone {
  border: none;
  display: inline-block;
  font-weight: 500;
  color: color("blue");
  background: none;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  outline: none;

  &:focus {
    outline: none;
  }
}


span.infobox_rate {
  display: inline-block;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 8px;
  font-weight: 500;
  text-align: left;
  font-size: 11px;

  position: absolute;
  margin: 0;
  float: none;
  top: -30px;
  left: 0px;
}

.marker_info .infobox-icon {
  width: 14px;
  display: inline-block;
  vertical-align: -15%;
  position: absolute;
  left: 0;
}



.place-filter-mobile {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;

  .btn {
    padding: 3px 10px;
  }
}






















/* Adjustments for "Single Page Header" */
.single-place-header {
  z-index: 1;

  background: #f7f7f7;


  padding: 60px 0;
  position: relative;

  .container {
    z-index: 100;
    position: relative;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(to right, rgba(247, 247, 247, 1) 50%, rgba(247, 247, 247, 0.8) 70%, rgba(247, 247, 247, 0.8) 90%);
  }

  &:after {
    z-index: 5;
    background-color: #f7f7f7;
  }


  .background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    left: 50%;
    z-index: 10;
  }



  .single-place-header-inner {
    display: flex;
  }

  .left-side,
  .right-side {
    flex: 1;
    display: flex;
    align-items: center;

  }

  .left-side {
    padding-right: 30px;
  }

  .right-side {
    flex: 0 0 auto;
  }

  .header-image {

    height: 140px;
    flex: 0 0 140px;
    margin-right: 35px;
    background: #fff;
    border-radius: $border-radius;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 0;
  }

  .header-image img {
    align-self: center;
    transform: translate3d(0, 0, 0);
    border-radius: $border-radius;
  }

  .header-meta {
    color: gray("600");
  }

  .header-details {
    flex: 1;

    h3 {
      font-size: 26px;
      margin: 0;
      padding: 0;
      margin-bottom: 12px;
      margin-top: 3px;
      line-height: 36px;
      position: relative;
      display: inline-block;

    }


  }


  .single-place-box {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    display: inline-block;
    padding: 20px 25px;
    margin-left: auto;
    border-radius: $border-radius;
    color: gray("700");

    .status {}

    .time {
      font-size: 20px;
    }
  }

  .single-place-type {
    font-size: 15px;
    color: gray("600");
    font-weight: normal;
  }
}

.dtt-hero-cat {
  min-height: 250px;
}


@media (max-width: 992px) {}

/* ---------------------------------- */
/* Single Page Header
------------------------------------- */

@media (min-width: 1365px) {}

/* IE 11 Fixes */
@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {}

/* IE 11 FIX */
@media all and (-ms-high-contrast: none) {}


.place-detail-container {
  padding: 50px 0;
}


.single-place-gallery {
  .swiper-slide {
    max-width: 320px;
  }
}


/* Single Job Map */
#single-job-map-container {
  position: relative;
}

#single-job-map-container #singleListingMap {
  position: relative;
  height: 240px;
  border-radius: 4px;
}





.single-place-relative {

  .place-item-grid {}


  .place-item {

    width: calc(#{percentage(1/3)} - 20px);
    flex: 0 0 calc(#{percentage(1/3)} - 20px);
    max-width: calc(#{percentage(1/3)} - 20px);

  }





}

.dtt-hero-dd {
  // transform: translate3d(0, 20px, 0);
  // z-index: $zindex-sticky + 1;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 20px;
}

.dtt-hero {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: 15;

  position: relative;


  .pro-qrcode {
    width: 100px;
  }

  min-height: 430px;

  @include media-breakpoint-down(lg) {
    min-height: 400px;
  }
}





.dtt-hero-content {
  z-index: 15;
  position: relative;

  margin-left: 15px;
}

.dtt-hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray("700");
}

.dtt-hero-overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 300px;
  bottom: 0;
  left: 0;

  // background: linear-gradient(to top, rgba(29, 36, 42, 0.5) 10%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
  //z-index: -1;
  z-index: 0;
}

.view-map {
  // cursor: pointer;
  padding: 35px 10px;
  background-size: cover;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
}




.dtt-hero-wrapper {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.dtt-hero-title {
  color: white;
  text-shadow: 0px 0px 10px #000;
  @include rfs(30px);
}

.dtt-hero-sub {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 10px #000;
  margin-top: 5px;
  line-height: 1.4;
  max-width: 550px;

  // @include text-row(2, 42);

}

.dtt-hero-meta {
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px #000;
  margin-top: 5px;
}

.sg-status.dtt-status {
  color: rgba(255, 255, 255, 0.8);
}

.single-place-section {
  margin-bottom: 40px;

  .title {
    margin-bottom: 20px;
  }
}

.single-place-phone {
  svg {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: -10%;
  }
}


.single-place-widget {
  border-radius: $border-radius;
  background: gray("100");
}

.sg-how-swiper {
  padding-bottom: 20px;


  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    border: 1px solid gray("900");
    width: 8px;
    height: 8px;
  }


}

.sg-how {
  .how-step:not(:last-child) {
    margin-bottom: 25px;
  }

  .how-step {
    max-width: 400px;
    margin: 0 auto;
  }

  .how-step-title {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color: gray("700");
    font-size: 12px;
    margin-bottom: 10px;
  }


  .how-step-txt {}

  .how-step-num {
    flex: 0 0 auto;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
    background: gray("300");
    line-height: 20px;
    text-align: center;
    display: block;
  }
}


.sg-gallery {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -3px;

  .lightgallery-item {
    position: absolute
  }

  .lightgallery-item {
    cursor: pointer;
  }
}

.sg-section-icon {
  font-size: 18px;
  color: gray("400");
}

.sg-section-content {
  // padding-left: 25px;
  color: gray("800");
  font-size: 14px;
}

.sg-gallery-col {
  padding: 0 3px;

  &.col1 {
    width: 80.3%;
    flex: 0 0 80.3%;
  }

  &.col2 {
    flex: 1 1 auto;
    width: auto;

    .sg-gallery-item {
      margin-bottom: 6px;
    }
  }
}

.sg-gallery-feature {}

.sg-gallery-item {

  position: relative;
  overflow: hidden;
  border-radius: $border-radius;


}


.sg-gallery-more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none
}


.sg-score {
  @include rfs(45px);
  font-weight: bold;
  color: $momo;
}

.sg-progress {
  .progress {
    height: 5px;
  }
}

.sg-progress-t1 {
  width: 100px;
}

.sg-progress-t2 {
  width: 110px;
}

.sg-progress-item {
  padding: 5px 0;
}



/* ---------------------------------- */
/* Coupon Widget
------------------------------------- */
.coupon-widget {
  margin-top: 0px;
  border-radius: 4px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  transition: 0.3s;
  display: block;
}

.coupon-widget:hover {
  transform: translateY(-5px)
}

.coupon-widget:before {
  content: "";
  background-color: #222;
  opacity: 0.8;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 4px;
  z-index: 1;
}

.coupon-widget a.coupon-top {
  padding: 32px 30px;
  position: relative;
  z-index: 10;
  text-align: center;
  cursor: default;
  display: block;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.07);
}

.coupon-widget a.coupon-top h3 {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  font-weight: 600;
  color: #fff;
}



.coupon-valid-untill {
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 12px;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
  color: #333;
}

.coupon-how-to-use {
  padding: 0 20px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.85);
}

.coupon-how-to-use strong {
  color: #fff;
}

.coupon-widget .coupon-bottom {
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 0px;
  position: relative;
  z-index: 10;
  text-align: center;
  border-radius: 0 0 4px 4px;
}

.coupon-code {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 2px;
  position: relative;
  z-index: 11;
  text-transform: uppercase;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.09);
  border: 2px dashed rgba(255, 255, 255, 0.29);
}

.code-button:hover,
.code-button {
  text-align: center;
  border-radius: 50px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  line-height: 24px;
  transition: 0.3s;
  background-color: #eee;
  color: #777;
  display: none;
}

.code-button:hover {
  background-color: #f91942;
  color: #fff;
}



.coupon-widget .coupon-bottom:before,
.coupon-widget .coupon-bottom:after {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  background-color: #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.coupon-widget .coupon-bottom:after {
  left: initial;
  right: 0;
  transform: translate(50%, -50%);
}

.coupon-widget:before,
.coupon-bottom {
  background-color: #282828;
}

@media (max-width: 480px) {
  .coupon-widget a.coupon-top {
    padding-left: 20px;
    padding-right: 20px;
  }
}



//END BEGIN








//NEW diemthanhtoan



.sg-header {
  padding: 50px 0 20px;
}

.sg-scrollspy {
  position: relative;
}

.sg-header-img {
  // width: 400px;
  width: 100%;
}

.sg-detail {
  padding: 0 0 0 40px;
}


.sg-card {
  border-color: transparent;
  @extend .shadow-sm;
}

.sg-title {
  @include rfs(26px);
  font-weight: 500;
}

.sg-type {
  .place-item-star {}


  .star-block {

    background-size: 12px 12px;
    height: 13px;
    margin-top: 2px;

    width: 70px;

    vertical-align: -9%;


  }


  .star-block-hide {
    overflow: hidden;
  }

  .star-block-bg {

    background-size: 12px 12px;
    height: 13px;

    width: 70px;

  }
}

.sg-type-btn {
  padding: 3px 10px;
  line-height: 1;
  font-weight: 500;
}


.sg-status {
  color: gray("600");

  .status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: gray("600");
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  &.is-open {
    .status {

      background: color("green");

    }

    .status-txt {
      color: color("green");
    }
  }
}

.sg-action {
  padding: 10px 0;
}

.sg-action-item {
  padding: 8px 0;
  color: gray("700");
}

.sg-nav-container {

  position: relative;
  border-bottom: 1px solid gray("300");
  position: sticky;
  top: $nav-scroll-height;

  background: white;
  z-index: 12;

}

/* .sg-nav-avatar{
  top: 5px;
  left: 17px;
  position: absolute;
  overflow: hidden;
  .dtb-header-img {
    padding: 2px;
    width: 40px;
    height: 40px;
    background: gray("100");
    will-change: transform;
    transition: transform 0.2s ease-in;
    transform: translate3d(0,100%, 0);
   
  }
 
  &.is-active{
    .dtb-header-img {
      transform: translate3d(0,0, 0);
    }
  }
} */


.sg-social-share {
  height: 21px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 14px;
  right: 0;
}

.sg-nav {

  flex-flow: row nowrap;


  display: flex;

  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: scroll;
  // will-change: transform;

  // transition: transform 0.2s ease-in;

  .nav-link {
    font-size: 13px;
    padding: 15px 0 12px;

    &:not(:last-child) {
      margin-right: 35px;
    }

    // margin-right: 30px;
    color: gray("900");
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;

    &.active,
    &.is-active {
      color: color("blue");

      border-bottom-color: color("blue");
    }

    &:hover {
      color: gray("900");
    }
  }
}


.sg-section {
  padding: 20px 0;

  .manual-process {
    padding-bottom: 15px;
  }

  .process__body-title {
    font-size: 14px;
    margin-top: 7px;
  }

  .process__body-content {
    font-size: 13px;
  }

  .process__number {
    font-size: 14px;
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
  }

  .process .process_item:not(:last-child):before {
    left: 15px;
  }

  .process li:not(:last-child) {
    padding-bottom: 20px;
  }


}

.sg-section-title {
  // font-size: 20px;
  @include rfs(18px);
  color: gray("900");
  font-weight: 500;
  margin-bottom: 20px;
}

.sg-uti {
  display: flex;
  flex-flow: row nowrap;


}

.sg-uti-icon {
  display: block;
  width: 20px;
  height: 100%;
}

.sg-uti-txt {
  display: block;
  margin-left: 15px;
}

.sg-tintuc {

  .sg-tintuc-img {
    max-width: 130px;
  }


  @include media-breakpoint-down(sm) {
    .sg-tintuc-img {
      max-width: 100px;
    }
  }
}
.sg-form-filter{
  max-width: 140px;
}
.sg-tintuc-item{
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 0;
  border-bottom: 1px dashed gray("200");
  &:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }
  &:first-child{
    padding-top: 0
  }
  .new-meta{
    font-size: 12px;
  }
}
.sg-tintuc-desc{
  font-size: 14px;
  color: gray("700");
  margin-bottom: 5px;
}

.sg-tintuc-content{
  flex: 1;
  padding: 0 0 0 15px;
}

.sg-tintuc-title{
  font-size: 15px;
  font-weight: bold;
}


.cashback-card {
  padding: 10px;
  border: 1px solid #9de8ff;
  color: gray("600");
  font-size: 13px;
  background: #f5fcfe;
  border-radius: 5px;

}



.cashback-card-title {
  // color: color("orange");
  color: color("blue");
  font-size: 16px;
  font-weight: bold;
}

@include media-breakpoint-down(md) {


  .dtt-hero-dd {
    transform: translate3d(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dtb-header-img {
    width: 120px;
    height: 120px;
  }

  .dtt-hero {
   
    z-index: 10;
    padding-bottom: 30px;

  }

  .sg-social-share {
    top: -30px;
    // transform: translate3d(-50%, 0, 0);
    // left: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    overflow: visible;
  }

  .sg-nav-container {
    top: 48px;
  }
}

@include media-breakpoint-down(sm) {
  .sg-header {
    padding: 15px 0 10px;
  }

  .sg-detail {
    padding: 0;

  }

  .sg-action {
    padding: 5px 0;
  }

  .sg-action-item {
    padding: 4px 0;
    font-size: 13px;
  }

  .sg-section {
    padding: 10px 0;
  }

  .sg-type {
    justify-content: center;
  }

  .sg-nav {
    // box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15) !important;
    top: 48px;
    z-index: $zindex-sticky + 1;

    justify-content: flex-start;


  }

  .sg-gallery-more {
    opacity: 0
  }

  .dtt-hero-overlay {
    display: none;
  }

  .dtb-header-img {
    width: 80px;
    height: 80px;
  }

  .dtt-hero-title {
    color: gray("900");
  }

  .dtt-hero-sub {
    color: gray("700");
    text-shadow: none;
  }

  .dtb-header-img {
    margin-top: -50px;
  }

  .dtt-hero-meta {
    font-size: 13px;
    color: gray("700");
    text-shadow: none;
    margin-top: 5px;

    .link-white {
      color: gray("700");
    }
  }

  .sg-status.dtt-status {
    color: gray("700");
  }

  .sg-section-content {
    // padding-left: 0;
  }


  .dtt-hero-bg {
    height: 180px;
    display: block;
    width: 100%;
    position: relative;
  }

  .dtt-hero {
    background: white;
    flex-direction: column;
    color: gray("700");
    text-align: center;
    display: block;
  }

  .dtt-hero-content {
    margin-left: 0;
  }
}

.sgf-img {
  width: 90px;
}

.sgf-cont {
  padding-left: 15px;
}

.sgf-item {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid gray("200");

  // &:first-child {
  //   padding-top: 0
  // }
  &:last-child {
    border-bottom: none;
  }
}

.sgf-tag {
  color: $momo;
  font-size: 12px;
  margin-bottom: 2px;
}

.sgf-title {
  font-size: 15px;
  font-weight: bold;
}

.sgf-address {
  color: gray("700");
  font-size: 12px;
  margin-top: 5px;
}




.sgf-direction {
  margin-left: 10px;

  .btn {
    font-size: 20px;
    color: gray("300");

  }

  // background: gray("100");
  // position: absolute;
  // right: 0;
  // top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include hover-focus() {
    .btn {
      color: gray("700");

    }
  }
}

@include media-breakpoint-down(sm) {
  .sgf-cont {
    padding: 0;
    // padding-left: 10px;
  }

  .sgf-img {
    width: 60px;
    // margin-bottom: 10px;
    // margin: 0 auto 15px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sgf-pf {
    min-height: 65px;
    padding-left: 75px;
  }

  .sg-nav {


    justify-content: flex-start;
  }

}


@import 'diemthanhtoan-responsive';