
@include media-breakpoint-down(md){

  .place-item-func{
    flex-flow: row wrap;
    margin-bottom: 0;
    li{
      margin-bottom: 5px;
    }


  }

  .map-place-height{
    height: 300px;
  }


  .place-filter-mobile{

    left: 15px;

  }


  .dtt-hero-title{
    font-size: 2rem;
    line-height: 1.2;
  }








  .place-item{

    width: calc(#{percentage(1/2)} - 20px);
    flex: 0 0 calc(#{percentage(1/2)} - 20px);
    max-width: calc(#{percentage(1/2)} - 20px);
  }

  .place-item-name{
    font-size: 14px;

  }



  .single-place-relative{



    .place-item{
      margin: 5px;

      width: calc(#{percentage(1/2)} - 10px);
      flex: 0 0 calc(#{percentage(1/2)} - 10px);
      max-width: calc(#{percentage(1/2)} - 10px);
    }


  }






  .place-filter-openmap{
    top: 0;

  }




  .single-place-header {


    padding: 50px 0;

    .header-image {
      height: 120px;
      flex: 0 0 120px;
      margin-right: 20px;
    }


    .single-place-box{
      padding: 10px 15px;
    }

    .left-side{
      padding-right: 20px;
    }
    .header-details{
      h3 {
        font-size: 20px;

        margin-bottom: 5px;
        margin-top: 0;
        line-height: 28px;

      }
    }

    .single-place-type{
    }

  }


  .place-detail-container{
    padding: 30px 0;
  }



  .dtt-hero-cat{
    min-height: 200px;
  }

  .dtt-col-right{
    background: white;
  }

  .dtt-wrapper{
    padding: 10px 0;
  }

  .dtt-search{
    padding: 15px;
    background: gray("100");
    //display: none;


  }



  .dtt-search-item{

    margin-bottom: 20px;

  }


  .dtt-col-left{
    background: white;
    
  }
}

@include media-breakpoint-down(sm){


  .single-place-header {
    font-size: 13px;

    padding: 30px 0;

    .header-image {
      height: 80px;
      flex: 0 0 80px;
      width: 80px;
      margin: 0 auto
    }


    .left-side{
      padding-right: 0;
      flex-flow: column nowrap;
    }

    .right-side{
      text-align: center;
    }

    .single-place-type{
      font-size: 13px;
    }

    .header-details{
      width: 100%;
      margin-top: 15px;
      text-align: center;
      h3 {
        font-size: 18px;

        line-height: 24px;

      }
    }






    .single-place-box{
      box-shadow: none;
      background-color: transparent;
      padding: 20px 0 0;
      margin: 0 auto;
      .time{
        font-size: 18px;
      }
    }

  }

  .single-place-section{
    margin-bottom: 30px;
    .title{
      margin-bottom: 15px;
    }
  }


  .place-detail-container{
    padding: 25px 0;
  }

  .single-place-header-inner{
    display: flex;
    flex-flow: column nowrap;
  }


  .dtt-hero-title{
    font-size: 1.8rem;

  }
  .dtt-hero-sub{
    // font-size: 1.2rem;
  }


  .place-item-grid{
    //padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }


  .place-item{
    margin: 5px;

    width: calc(#{percentage(1/2)} - 10px);
    flex: 0 0 calc(#{percentage(1/2)} - 10px);
    max-width: calc(#{percentage(1/2)} - 10px);
  }

  .place-filter-mobile{

    left: 10px;
  }




}



@include media-breakpoint-down(xs){


}