.don-slider {
  //   height: 420px;
  background: gray("900");
  color: white;
  position: relative;
}

.don-slider-content {
  position: relative;
  z-index: 1;
  height: 500px;
}

.don-slider-title {
  @extend .h1;
  color: white;
}

.don-slider-txt {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 20px;
}

.don-swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .swiper-slide {
    background-size: cover;
  }
}

.don-slider-btn {
  margin-top: 20px;
}

.don-section {
  padding: 60px 0;
}

.don-item {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid gray("300");
  position: relative;
}
.don-item-content {
  padding: 15px 15px;
}
.don-item-name {
  font-size: 20px;
  font-weight: bold;
}

.don-item-sub {
  margin-top: 0px;
  color: gray("600");
  font-size: 14px;
  @include text-row(2, 44);
}

.don-item-money {
  border-top: 1px solid gray("200");
  margin-top: 10px;
  padding-top: 10px;
  font-size: 13px;
}

.don-item-progress{
  margin-top: 5px;
}

.don-item-footer {
  // border-top: 1px solid gray("300");
  margin-top: 10px;
  // padding-top: 15px;
}

.don-item-quote {
  .label {
    font-size: 13px;
    color: gray("600");
  }
  .number {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
  }
}

.don-item-btn {
  padding: 3px 15px;
  // display: block;
}

.don-header {
  padding: 40px 0 40px;
  background: white;
  margin-bottom: 20px;

  @include media-breakpoint-down(sm) {
    padding: 10px 0;
    background: white;
    margin-bottom: 10px;
  }
}

.don-header-img {
  // width: 400px;
  width: 100%;
}

.don-gallery {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
}

.don-gallery-item {
  padding: 5px;
  flex: 0 0 20%;
  cursor: pointer;
  width: 20%;
  position: relative;
  display: block;
  &.last-child {
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
      z-index: 1;
    }
  }
}

.don-detail {
  padding: 0 0 0 40px;

  @include media-breakpoint-down(md) {
    padding: 10px;
  }
}

.don-title {
  @include rfs(32px);
  font-weight: bold;
}
.don-sub {
  font-size: 15px;
  color: gray("700");
  max-width: 600px;
}

.don-subheading {
  color: gray("600");
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.don-item-footer {
  // margin-top: 45px;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}

.don-header-footer {
  .don-item-quote {
    padding-left: 45px;
    position: relative;
  }

  .don-item-quote {
    margin-right: 25px;
    .icon {
      position: absolute;
      left: 0;
      top: 5px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid gray("300");
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
      }
      &.icon-logo {
        border-radius: 0;
        border: none;
        img {
          width: 30px;
        }
      }
    }
    .label {
      color: gray("800");
    }
    .number {
    }
    .number {
      font-size: 15px;
      margin-top: 5px;
    }
  }
}

.don-section-content {
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.don-section-title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.don-peoples {
}

.don-peoples-popup{
  // max-height: 500px;
  // overflow-y: auto;
  // overflow-x: hidden;
}

.don-people {
  padding: 7px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}


.don-people:not(:last-child) {
  border-bottom: 1px solid gray("300");
}

.don-people-i {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .money {
    color: $momo2;
    font-weight: bold;
    font-size: 15px;
  }
  .name {
    font-weight: 500;
    font-size: 14px;
  }
  .phone {
    color: gray("500");
    font-size: 12px;
  }
}

.don-people-i-l {
  flex: 1;
}

.don-people-m {
  margin-top: 5px;
  font-size: 12px;
  // color: gray("500");
}

.don-qr-step {
  font-size: 16px;
  li {
    margin-bottom: 15px;
  }
}

.donation-cta {
  margin-top: 50px;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
    position: fixed;
    z-index: 9;
    bottom: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    z-index: 10;
    left: 0;
    right: 0;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
    .btn {
      display: block;
    }
  }
}
