.feature-hero {
  //background: #edf3ff;
  padding: 20px 0 90px;
  //background-size: cover;
  position: relative;
  //z-index: 1;
  overflow: hidden;
  //background-image: linear-gradient(120deg, #f30b7c 0%, #c70473 100%);
  background-position: center bottom;
  background-color: white;
  .container {
    z-index: 10;
    position: relative;
  }
}

.feature-hero-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.feature-hero-sub {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.feature-hero-app {
  margin-top: 30px;
  position: relative;
}

.feature-quaranty {
  //background: url("https://static.mservice.io/styles/desktop/images/feature/feature-quantity-bg.jpg") no-repeat center bottom;
  background-size: cover;
  padding: 40px 0;

  .title {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.feature-howtouse {
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature-quaranty-item {
  text-align: center;

  .img {
    margin-bottom: 10px;
    height: 55px;
  }

  .name {
    margin-bottom: 10px;
    font-weight: bold;
  }

  ul {
    color: gray("600");

    li {
      margin-bottom: 5px;
    }
  }
}

.feature-padding {
  padding: 40px 0;
}

.feature-benefit {
  margin-bottom: 10px;
}

.feature-benefit-title {
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 40px;
  position: relative;
  z-index: 1;

  .order {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    color: gray("300");
  }
}

.feature-benefit-txt {
  color: gray("600");
  font-size: 16px;
}

.feature-howtouse {
  .title {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.ft-hero-swiper {
  .swiper-pagination-bullets {
    bottom: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px !important;
    border: 1px solid white;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $momo2;
  }
}

.ft-img {
  @include media-breakpoint-down(md) {
    max-width: 320px;
    width: 100%;
  }
}

.ft-img2 {
  @include media-breakpoint-down(md) {
    max-width: 300px;
    width: 100%;
  }
}

.ft-section {
  background: white;
  padding: 60px 0;
  font-size: 16px;
  @include media-breakpoint-down(md) {
    padding: 30px 0;
    .btn.btn-lg {
      font-size: 14px;
    }
  }
}

.ft-list-network {
  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }

  li {
    margin-bottom: 10px;
  }

  img {
    filter: grayscale(100%);
    transition: all 0.2s ease-in;
    opacity: 0.7;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.ft-section-gray {
  background: #fafafa;
}

.ft-section-cat {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.ft-hero-sub {
  font-size: 16px;
  line-height: 30px;
}

.ft-section-title {
  margin-bottom: 15px;

  @include media-breakpoint-down(md) {
  }
}

.ft-list {
  li {
    padding: 15px 0;
    border-bottom: 1px solid gray("200");
  }

  li:last-child {
    border-bottom: none;
  }
}

.ft-list-icon {
  position: relative;
  padding-left: 35px !important;
  font-weight: bold;

  img {
    top: -4px;
    position: absolute;
    left: 0;
  }
}

.ft-card {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;

  transition: all 0.2s ease-in;

  &:hover {
    transform: translate3d(0, -5px, 0);
  }
}

.ft-card-content {
  padding: 15px;
}

.feature-categories {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  //z-index: 99;
}

.feature-categories-list {
  //background-color: #fff;
  //border-radius: 5px;
  overflow: hidden;

  //box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 0;
  //width: 70%;
  //margin: auto;
  //display: flex;
  //flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-flow: row wrap;
}

.feature-categories-list li {
  position: relative;
  display: inline-block;
  border: 1px solid gray("300");

  border-radius: 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.04);
  width: calc(20% - 20px);
  flex: 0 0 calc(20% - 20px);
  background: white;
  padding-left: 50px;
  text-transform: uppercase;
  margin: 8px 10px;

  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 35px;
  }

  a {
    color: gray("800");
    display: block;
    padding: 13px 10px;
  }
  &.is-active {
    border-color: color("momo");
  }

  &:hover,
  &.is-active {
    a {
      color: color("momo");
    }
  }
}

@include media-breakpoint-down(lg) {
  .feature-categories-list li {
    width: calc(25% - 20px);
    flex: 0 0 calc(25% - 20px);
  }
}
@include media-breakpoint-down(md) {
  .feature-categories-list li {
    width: calc(33.333% - 20px);
    flex: 0 0 calc(33.333% - 20px);
  }
}

.feature-categories-list li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.ft-dash {
  border-top: 1px dashed gray("800");
  max-width: 290px;
  padding: 10px 0 5px;
}

@include media-breakpoint-down(sm) {
  .feature-categories-list li {
    padding-left: 40px;
    width: calc(50% - 20px);
    flex: 0 0 calc(50% - 20px);

    a {
      font-size: 13px;
    }
  }
}

.ft-doitac-container {
  background: white;
  padding: 10px 30px;
  border-radius: 10px;
  .row {
    overflow: hidden;
  }

  .col-6 {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background: #eeeeee;
      left: 0;
    }
    &:before {
      content: "";
      top: 0;
      position: absolute;
      right: -2px;
      height: 100%;
      width: 1px;
      background: #eeeeee;
    }
  }
}

.ft-doitac {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  min-height: 120px;
  div {
    font-size: 13px;
  }
}

.ft-doitac-img {
  position: absolute;
  left: 2px;
  top: 10px;
}

.ft-doitac-name {
  margin-bottom: 10px;
  font-size: 16px;
}

@include media-breakpoint-down(xs) {
  .ft-doitac {
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
  }

  .ft-doitac-img {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 10px;
  }

  .ft-doitac-container {
    background: white;
    padding: 10px 10px;
    border-radius: 10px;
  }
}

.ft-tab {
  margin-bottom: 20px;
  .nav-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  svg, img {
    position: absolute;
    left: 10px;
    top: 13px;
  }
  a {
    width: 176px;
    height: 50px;
    background: white;
    border-radius: 4px;

    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
    color: gray("900");
    line-height: 1.2;
    padding: 5px 10px 5px 40px;
    border: 1px solid gray("200");
    &.active {
      border: 1px solid theme-color("blue");

      &:after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin-left: -13px;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13.5px 12px 13.5px;
        border-color: transparent transparent #ffffff transparent;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 50%;
        margin-left: -14px;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 12px 14px;
        border-color: transparent transparent gray("300") transparent;
      }
    }
  }
}

.ft-cb-card {
}

.ft-tinhthanh {
  overflow: hidden;
  > div {
    
    padding-bottom: 9px;
    padding-top: 10px;
    position: relative;
    &:after{
      content :"";
      height: 1px;
      background: gray("200");
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
}



.desnav {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  text-align: center;
  justify-content: space-around;
  border-bottom: 1px solid gray("200");
  .nav-item {
    // display: inline-block;
    padding: 0 20px 0;
    margin-bottom: 3px;
    .nav-link {
      display: block;
      padding: 5px 0px;
      color: gray("900");
      position: relative;
      &:after{
          content: "";
          width: 70px;
          height: 3px;
          border-radius: 10px;
          display: block;
          background: transparent;
          position: absolute;
          left: 50%;
          margin-left: -35px;
          bottom: -3px;
      }
      &.active{
          color: $momo;
          font-weight: bold;
          &:after{
              background: $momo;
          }
      }
    }
  }
}




.des-accordion {
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
  .card {
    margin-bottom: 10px;
    border-radius: 0;
    border-color: gray("100");
    // .show, .collapsing{
    //   background: gray("200");
    // }
  }
  .card-body {
    color: gray("700");
    font-size: 14px;
  }
  .card-header {
    border-bottom: none;
    background: white;
    padding: 0;
  }
  .card-link {
    display: block;
    padding: 10px 30px 10px 20px;
    font-size: 15px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    background: white;
    transition: background 0.1s ease-in;
    animation-delay: 0.2s;
    position: relative;
    .card-link-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: gray("500");
      color: white;
      position: absolute;
      top: 16px;
      right: 12px;
      text-align: center;
      /* line-height: 14px; */
      font-weight: normal;
      line-height: 14px;

      font-size: 12px;

      @include media-breakpoint-down(sm) {
        top: 13px;
      }
    }

    .plus {
      display: none;
    }

    &.collapsed {
      background: white;
      .minus {
        display: none;
      }
      .plus {
        display: block;
      }
    }
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-link {
    color: $body-color;
    font-weight: 500;
  }

  .card-body {
    padding: 0 20px 10px 20px;
    background: white;
  }
}
