.help-center-hero {
  width: 100%;
  background: url("https://static.mservice.io/styles/desktop/images/hoidap/hoidap-head-bg.jpg") #d68fb7 no-repeat
    center center;
  padding: 48px 0;
  background-size: cover;

  .input-group {
    padding: 0 40px;
  }

  @include media-breakpoint-down(sm) {
    .input-group {
      padding: 0 5px;
    }
  }
}

.help-center-input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 0;
  font-size: 14px;
}

.help-center-content {
  padding: 30px 60px;
  background: white;
}

.help-center-title {
  @include media-breakpoint-down(sm) {
    font-size: 1.7rem;
  }
}

.help-center-accordion {
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
  .card {
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid gray("300");
    // .show, .collapsing{
    //   background: gray("200");
    // }
  }
  .card-body {
    color: gray("700");
  }
  .card-header {
    border-bottom: none;
    background: white;
    padding: 0;
  }
  .card-link {
    display: block;
    padding: 10px 30px 10px 20px;
    font-size: 18px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    background: gray("100");
    transition: background 0.1s ease-in;
    animation-delay: 0.2s;
    position: relative;
    .card-link-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: gray("600");
      color: white;
      position: absolute;
      top: 16px;
      right: 12px;
      text-align: center;
      /* line-height: 14px; */
      font-weight: normal;
      line-height: 14px;

      font-size: 12px;

      @include media-breakpoint-down(sm) {
        top: 13px;
      }
    }

    .plus {
      display: none;
    }

    &.collapsed {
      background: white;
      .minus {
        display: none;
      }
      .plus {
        display: block;
      }
    }
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-link {
    color: $body-color;
    font-weight: 500;
  }

  .card-body {
    padding: 0 20px 10px 20px;
    background: gray("100");
  }
}

.help-center-container {
  padding: 40px 0 40px;

  @include media-breakpoint-down(sm) {
    padding: 20px 0 20px;
  }
}

.help-center {
}

.help-center-nav {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;


  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;


  &.scrollmenu{
    white-space: normal;
  }

    .scrollmenu-item {
      display: block;
    }

    .nav-link {
    }
  }

  .nav-link {
    color: gray("600");
    padding: 5px 10px;
    border-bottom: 2px solid transparent;

    font-weight: 500;
    line-height: 1.3;
    &.active {
      color: $body-color;
      border-bottom-color: color("momo");
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;

    .scrollmenu-item{
      max-width: 110px;
      white-space: normal;
    }

    .nav-link {
      padding: 5px 10px;
    }
  }
}

.help-center-a-social {
  font-size: 14px;
  padding: 10px 0 10px;
  .list-inline .list-inline-item:not(:last-child) {
    margin-right: 2px;
  }
  a {
    color: $body-color;
  }
  .help-center-a-detail {
    font-size: 12px;
    color: color("momo");
    font-weight: bold;
    .svg-icon {
      width: 8px;
      height: 8px;
    }
  }
}

.help-answer-container {
  padding: 40px 0 40px;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    padding: 20px 0 20px;
  }
}

.help-answer {
}

.help-answer-col {
  display: flex;
}

.help-answer-item {
  background: white;
  padding: 60px 15px 60px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.11);
  text-align: center;
  position: relative;
  // display: flex;
  // height: 100%;
  width: 100%;
  // flex-flow: column nowrap;
  margin-top: 70px;
  @include media-breakpoint-down(sm) {
    margin-top: 45px;
    padding: 40px 10px 50px;
  }

  .help-answer-btn {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    right: 0;
  }
}
.help-answer-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  @include media-breakpoint-down(sm) {
    width: 60px;
    top: -30px;
  }
}

.help-answer-name {
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.2;
  }
  margin-bottom: 15px;
}
.help-answer-txt {
  margin-bottom: 20px;
}

.help-more {
}
.help-more-img {
  margin-bottom: 10px;
}
.help-more-name {
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.2;
  }
  margin-bottom: 15px;
}
.help-more-txt {
}

.help-more-container {
  background: white;
  .block-title {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .block-title-secure {
    top: -21px;
  }

  @include media-breakpoint-down(md) {
    .block-title-secure {
      top: -17px;
    }
  }
}
.help-more-col {
  display: flex;
}

.help-more-item {
  position: relative;
  background: white;
  padding: 15px 20px 20px;
  text-align: center;
  position: relative;
  color: gray("700");
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid gray("300");
  transition: all 0.2s ease-in;
  @include media-breakpoint-down(sm) {
    padding: 10px 15px 15px;
  }
  &:hover {
    .help-more-name {
      color: color("momo");
    }
  }
}

.help-contact-container {
  background: white;
  padding-bottom: 50px;
}

.help-contact {
  border: 1px solid gray("300");
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 248, 251, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 16px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.help-contact-hotline {
  &.two {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid gray("300");
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    &.two {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

// PAGE CHU DE

.help-topic-container {
  background: white;
  padding: 0px 0 30px;
}

.help-topic-border {
  border: 1px solid gray("200");
}

.help-topic-border-right {
  border-right: 1px solid gray("200");
}

.topic-sidenav {
  padding: 10px 0;
  + .topic-sidenav {
    border-top: 1px solid gray("200");
  }
}

.topic-sidenav-content {
  padding: 0 15px 20px;
}

.topic-sidenav-title {
  @extend .h5;
  margin-bottom: 0;
  color: gray("600");
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  // color: color("momo");
  padding: 10px 15px;
}

.topic-sidenav-list {
  margin-bottom: 0;
  font-weight: 500;
  li {
    margin-bottom: 5px;
    position: relative;
    &.active {
      > a {
        color: color("momo");
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          border-radius: 10px;
          background: gray("200");
          left: 0;
          right: 0;
          height: 90%;
          top: 2px;
          margin-right: 15px;
          margin-left: 42px;
        }
      }

      // a {
      //   background: color("momo");
      //   color: white;
      //   border-top-left-radius: 30px;
      //   border-bottom-left-radius: 30px;
      //   font-weight: 500;
      // }
      // .topic-sidenav-icon {
      //   color: white;
      // }

      // .topic-sidenav-arrow {
      //   visibility: visible;
      //   opacity: 1;
      // }
    }

    .sub {
      margin-bottom: 10px;
      li {
        font-size: 13px;
        font-weight: normal;
        a {
          padding: 5px 20px;
          padding-left: 50px;
        }
      }
    }
  }
  a {
    position: relative;
    display: block;
    z-index: 2;
    padding: 8px 20px 8px 50px;
    color: $body-color;
    @include hover-focus() {
      color: color("momo");
    }
  }
}

.topic-sidenav-expand {
}

.topic-sidenav-expand-icon {
  position: absolute;
  right: 15px;
  width: 8px;
  height: 8px;
  fill: gray("500");
  transition: 0.5s;
  z-index: 3;
  top: 14px;
}

.topic-sidenav-expand {
  &.collapsed {
    .topic-sidenav-expand-icon {
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }
}

// .topic-sidenav-arrow {
//   position: absolute;
//   height: 100%;
//   left: 100%;
//   top: 0;
//   fill: color("momo");
//   opacity: 0;
//   visibility: hidden;
// }

.topic-sidenav-icon {
  color: gray("600");
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 7px;
}

.topic-wrapper {
  padding: 0 0;
}

.topic-search {
  background: gray("200");
  padding: 7px 30px;
  text-align: right;
  position: relative;
}

.topic-search-back {
  position: absolute;
  color: gray("700");
  white-space: nowrap;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  .svg-icon {
    width: 12px;
    height: 12px;
  }
}

.topic-post-back {
  padding: 10px 0;
  text-align: right;
  font-weight: 500;
  .svg-icon {
    width: 10px;
    height: 10px;
  }
}

.topic-relative {
  margin-top: 20px;
}

.topic-relative-list {
  li {
    padding: 5px 0 5px 10px;
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      top: 5px;
      color: inherit;
    }
    a {
      color: color("blue");
      @include hover-focus() {
        color: darken(color("blue"), 10%);
      }
    }
  }
}

.topic-search {
  .input-group {
    .form-control {
      width: 270px;
      padding-left: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .input-group-append {
    .btn {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      line-height: 0;
    }
  }
}

.topic-content {
  padding: 30px 50px;
 
}

.topic-post{
  @extend .post-body;
}

.topic-content-name {
  @extend .h3;
  margin-bottom: 5px;
}

.topic-content-sub {
  font-size: 14px;
  font-weight: normal;
}

.topic-content-head {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray("300");
}

.topic-content-list {
  margin-bottom: 40px;
}

.topic-content-items {
  // display: flex;
  // flex-flow: row wrap;
  // width: 100%;
  // align-items: flex-start;

  @include media-breakpoint-up(lg) {
    columns: 2;
    column-gap: 30px;
  }
}

.topic-content-item {
  // display: inline-block;
  // width: 100%;
  // flex: 0 0 auto;
  // min-width: 0;
  // width: calc(50% - 10px);
}
.topic-content-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  break-inside: avoid-column;
  .link {
    display: block;
    color: $body-color;
    &:hover {
      .name {
        color: color("momo");
      }
    }
  }
  .name {
    color: gray("600");
    font-size: 15px;
  }
}

.topic-content-promo {
  font-weight: 500;
  .promo-icon {
    vertical-align: 2%;
  }
}

.topic-content-cat {
  font-weight: bold;
  margin: 0 0 20px;
  // color: color("momo");
  font-size: 20px;
}

//Responsive
.topic-sidenav-btn-group {
  height: 44px;
  position: relative;
  z-index: 15;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: gray("200");
    bottom: -1px;
    left: 0;
  }
  .topic-search .input-group .form-control{
    width: 100%;
  }
  .topic-search {
    flex: 1 1 0px;

    min-width: 0;
    background: transparent;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;

    .input-group{
      width: 100%;
      max-width: 300px;
    }

    .form-inline {
      justify-content: flex-end;
    }

    .form-control, .btn {
      background: gray("200") !important;
    }

    .btn{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}



.btn.topic-sidenav-btn {
  background: white;
  border: none;
  border-radius: 5px;
  min-width: 0;
  width: 50px;
  flex : 0 0 auto;
  border: none;
  height: 44px;
  position: relative;
  padding: 0;
  &:hover-focus {
    background: white;
  }
}
@include media-breakpoint-up(lg) {
  .help-topic-sidenav {
    &.collapse {
      display: block;
    }
  }
}

@include media-breakpoint-down(md) {
  .help-topic-border {
    border: none;
  }
  .help-topic-border-right {
    border: 1px solid gray("300");
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .topic-content {
    padding: 10px 0 0;
  }

  .topic-content-list {
    margin-bottom: 20px;
  }

  .topic-content-cat {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .topic-content-item {
    padding-bottom: 8px;
    margin-bottom: 8px;

    .name {
      font-size: 14px;
    }
  }

  .help-topic-sidenav {
    // margin-bottom: 20px;
  }

  .topic-content-name {
    margin-bottom: 5px;
  }

  .topic-content-sub {
    font-size: 1rem;
    font-weight: normal;
  }

  .topic-content-head {
    margin-top: 15px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray("300");
  }

  .topic-content-list {
  }
}



