.block-container {
  background: white;
}

.block-endow {
  margin-top: 50px;
}

.block-title {
  padding: 15px 20px;
  border-bottom: 1px solid gray("300");
  margin-bottom: 10px;
}

.block-title-txt {
  // font-size: $h4-font-size;
  @extend .h4;
  font-weight: bold;
  color: theme-color("primary");
}

.block-title-sub {
  font-size: 16px;
  color: gray("700");
}

.block-title-icon {
  width: 42px;
  height: 42px;
  margin-right: 15px;
}

.block-title-endow {
  text-align: center;
  position: relative;

  transform: translateY(-50%);

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background: theme-color("primary");
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.block-title-endow-txt {
  z-index: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 30px 5px;
  background: theme-color("primary");
  color: white;
  border-radius: 20px;
  @extend .h4;
}

.block-title-endow-icon {
  width: 23px;
  height: 23px;
  vertical-align: -15%;
  margin-right: 5px;
}

.block-content {
  padding: 10px;
}

.block-more {
  padding: 10px 0 10px;
}

.block-more-btn {
  display: inline-block;
  color: theme-color("primary");
  padding: 2px;
  height: 34px;
  font-size: 14px;

  width: 154px;
  // border: 1px solid theme-color("primary");
  // background: white;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(253, 100, 169, 1) 0%,
    rgba(203, 106, 159, 1) 100%
  );

  span {
    align-items: center;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  &:hover {
    color: white;

    span {
      background: transparent;
    }
  }

  @include media-breakpoint-down(sm) {
    width: auto;
  }

  &.auto {
    width: auto;

    span {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &.facebook {
    color: $facebook;
    background: $facebook;

    &:hover {
      color: white;

      span {
        background: transparent;
      }
    }
  }

  &.sm {
    color: theme-color("primary");
    height: 28px;
    font-size: 12px;
    width: auto;

    span {
      padding-left: 15px;
      padding-right: 15px;
    }

    // border: 1px solid theme-color("primary");
    // background: white;
    border-radius: 20px;

    &:hover {
      color: white;

      span {
        background: transparent;
      }
    }
  }
}

.product-container {
}

.product-slider.swiper-container-horizontal {
}

.product-slider {
  .swiper-button-next,
  .swiper-button-prev {
    top: 40%;
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin-top: -22px;
    background-size: 16px 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }
}

.product {
  display: flex;
  flex-flow: row nowrap;
}

.product-grid {
  &.product {
    display: flex;
    flex-flow: row wrap;
  }

  .product-item-col {
    flex: 0 0 auto;
    width: 20%;
    min-width: 0;
    min-height: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(md) {
    .product-item-col {
      flex: 0 0 auto;
      width: 20%;
      min-width: 0;
      min-height: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @include media-breakpoint-down(sm) {
    .product-item-col {
      flex: 0 0 auto;
      width: 50%;
      min-width: 0;
      min-height: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.product-item-col {
  flex: 0 0 auto;
  width: 20%;
  min-width: 0;
  min-height: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.product-item {
  padding-bottom: 10px;

  .embed-responsive-img {
    border: 1px solid gray("300");
  }
}

.product-section {
  margin-top: 25px;
}

.product-item-name {
  margin-top: 15px;
  line-height: 1.2;
  font-size: $h5-font-size;
  color: gray("900");
}

.product-item-price {
  font-size: 15px;
  margin-top: 0px;
}

.product-item-note {
  line-height: 1.2;
  margin-top: 5px;
}

.app-present {
  background: theme-color("primary");
  color: white;
  font-size: $h5-font-size;
  text-align: center;
  padding: 14px 0;
  line-height: 1.3;
}

.app-present-txt {
  display: inline-block;
}

.app-present-btn {
  display: inline-block;
  margin-left: 10px;

  a {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    animation: apppulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  // border-radius: 20px;
}

@keyframes apppulse {
  to {
    box-shadow: 0 0 0 8px rgba(color("momo"), 0);
  }
}

.section-secure {
  background: white;
  padding: 0 0 10px;
  margin-top: 50px;
}

.section-secure {
  .block-title {
    border-bottom: none;
    padding: 0 15px;
    margin-bottom: -10px;
  }
}

.secure-list {
  font-size: $h5-font-size;

  li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.secure-tab {
  justify-content: center;

  .nav-link {
    color: gray("600");
    font-size: $h5-font-size;
    position: relative;
    padding: 6px 18px;

    &.active {
      color: gray("900");

      &:after {
        content: "";
        position: absolute;
        width: 60%;
        height: 3px;
        background: theme-color("primary");
        bottom: 0;
        left: 20%;
      }
    }
  }

  margin-bottom: 20px;
}

.block-title-secure {
  font-size: $h4-font-size;
  font-weight: bold;
  padding: 0 30px;
  background: theme-color("primary");
  color: white;
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  top: -21px;

  &:before {
    z-index: 1;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 60px solid theme-color("primary");
    border-left: 12px solid transparent;
    top: 0;
    right: 100%;
  }

  &:after {
    z-index: 1;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 60px solid theme-color("primary");
    border-right: 12px solid transparent;
    top: 0;
    left: 100%;
  }

  .sa {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #831854;
    top: 0;
    left: -22px;
  }

  .sa-right {
    left: auto;
    right: -22px;
  }
}

.app-present {
  @include media-breakpoint-down(sm) {
    .app-present-btn {
      a {
        font-size: 12px;
        padding: 6px 12px;
      }
    }
  }
}

.modal-push {
  .push-avatar {
    padding-right: 20px;
    max-width: 90px;
  }

  .modal-dialog {
    margin: 0 auto;
    //width: 420px;
    transform: translate(0, -100%);
  }

  .modal-content {
    border: none;
    //box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    background: #f0f0f0;
    border-radius: 0;

    .modal-body {
      padding: 20px;
    }
  }

  .push-text {
    font-size: 17px;
    line-height: 24px;
    color: gray("700");
  }
}

.btn.btn-material {
  border-radius: 3px;
  background: #4285f4;
  color: white;
  padding: 8px 20px;
  font-size: 15px;

  @include hover-focus-active() {
    background: darken(#4285f4, 10%);
    color: white;
  }
}

.btn.btn-link-material {
  color: #4285f4;
  padding: 8px 20px;
  font-size: 15px;

  @include hover-focus-active() {
    color: darken(#4285f4, 10%);
  }
}

@include media-breakpoint-down(xs) {
  .modal-push {
    .push-avatar {
      padding-right: 10px;
      max-width: 60px;
    }

    .modal-dialog {
      margin: 0 auto;
      //width: 420px;
      transform: translate(0, -100%);
    }

    .modal-content {
      border: none;

      .modal-body {
        padding: 10px;
      }
    }

    .push-text {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .btn.btn-material {
    padding: 5px 10px;
    font-size: 13px;
  }

  .btn.btn-link-material {
    padding: 5px 10px;
    font-size: 13px;
  }
}

.merchant-tab {
  border-bottom: 1px solid gray("200");
  border-top: 1px solid gray("300");
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  // margin-left: 20px;
  display: flex;
  flex-flow: row nowrap;

  .nav-item {
    position: relative;
    flex: 1 1 0px;

    // min-width: 0;
    &:not(:last-child):after {
      content: "";
      height: 100%;
      background: gray("200");
      width: 1px;
      top: 0;
      right: 0;
      position: absolute;
    }
  }

  .nav-link {
    display: block;
    height: 100%;
    color: gray("800");
    position: relative;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom-color: $momo;
      color: $momo;
    }
  }
}

.merchant-tab-item {
  padding: 7px 10px 2px;
  // white-space: nowrap;
}

.merchant-tab-img {
  display: block;
  margin: 0 auto 5px;
  width: 32px;
}

.merchant-tab-name {
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  // white-space: nowrap;
}

.merchant-tab-heading {
  @extend .h2;
  color: $momo;
  font-weight: bold;
}

@include media-breakpoint-down(md) {
  .merchant-tab {
    .nav-item {
      width: 90px;
      flex: 0 0 90px;
    }
    .merchant-tab-item {
      padding: 5px 10px 2px;
    }
    .merchant-tab-name {
      font-size: 12px;
      line-height: 14px;
    }
    .merchant-tab-img {
      display: block;
      margin: 0 auto 3px;
      width: 26px;
    }
  }
}

.view-all {
  padding: 6px 13px;
  background: white;
  text-align: center;
  border-top: 1px solid gray("200");
  margin-top: -5px;
}

.view-all-btn {
  background: gray("200");
  border-radius: 3px;
  display: block;
  padding: 6px 10px;
  font-weight: bold;
  text-align: center;
  color: color("red");

  @include hover-focus() {
    color: darken(color("red"), 10%);
  }
}

.view-more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.4);
  display: block;
  // background: rgba(255,255,255,0.1);
  background: rgba(0, 0, 0, 0.04);
  z-index: 9;
  display: flex;
  color: gray("700");
  // color: white;
  /* font-weight: bold; */
  align-items: center;
  justify-content: center;
  font-size: 16px;
  // border: 1px solid gray("200");
  border-radius: 5px;
  font-weight: bold;
  flex-flow: column wrap;
  @include hover-focus() {
    color: gray("800");
  }
  span {
    display: block;
    font-size: 0.8em;
    color: gray("500");
    font-weight: normal;
  }
}
