iframe#map_iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

@media (max-width: 991px) {
  iframe#map_iframe {
    height: 400px;
  }
}

.lienhe-container {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.box_contacts {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

.box_contacts h2 {
  font-weight: 500;
  margin: 10px 0 10px 0;
  font-size: 21px;
}

.box_contacts a {
  color: #555;
}

.box_contacts a:hover {
  color: #004dda;
  text-decoration: underline;
}

.error_message {
  font-weight: 500;
  color: #e3464c;
}

.contact-float-btn {
  z-index: $zindex-modal-backdrop - 1;
  position: fixed;
  bottom: 0;

  //background: gray("100");
  background: white;

  box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-flow: row nowrap;

  right: 300px;



}


.contact-float-chat {
  flex: 0 0 auto;
  min-width: 0;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  vertical-align: middle;

  color: gray("700");

  font-size: $font-size-base * 1.1;
  cursor: pointer;

  transition: all 0.2s ease;
  &.messenger {
    color: #0382F9;
    background: rgba(3, 130, 249, 0.05);
  }
  > .icon-w {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    color: color("momo");
    svg {
      width: 22px;
    }

  }

  > span {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 500;
    + span {
      margin-left: 5px;
    }
  }

  &:hover {
    color: color("momo");
    &.messenger {
      background: rgba(3, 130, 249, 0.1);
      color: #0382F9;
    }

  }
}

.contact-float-overlay {
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;

  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop - 2;
  background-color: rgba(0,0,0,0.5);
  &.active {
    visibility: visible;
    opacity: 1;
  }

}

.contact-float-panel {
  background-color: #fff;
  z-index: $zindex-modal-backdrop - 1;
  position: fixed;

  width: 320px;
  // padding: 25px 35px;
  //@extend .shadow;
  border-radius: 6px;
  color: $body-color;
  bottom: 40px;
  right: 295px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  transform: translate3d(20px, 20px, 0) scale(0.9);
  &.active {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0) scale(1);
  }
  .close-customizer-btn {
    position: absolute;
    padding: 10px 15px;
    top: 0px;
    right: 0;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.fcp-group-header {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid gray("200");
  padding: 10px 15px;
}

.fcp-content-form {
  padding: 15px 15px;
}

@include media-breakpoint-down(lg) {

  .contact-float-btn {

    right: 50px;

  }


  .contact-float-panel {

    right: 50px;

  }
}


@include media-breakpoint-down(sm) {

  .contact-float-btn {

    right: 10px;

  }


  .contact-float-panel {

    right: 5px;
    width: 310px;

  }

  .contact-float-btn{
    border-radius: 50%;
    bottom: 30px;
  }

  .contact-float-panel{
    bottom: 10px;
  }
  .contact-float-chat{
    padding: 8px;
    &.messenger{
      display: none;
    }
    span{
      display: none;
    }
    > .icon-w svg {
      width: 18px;
    }
  }
}



