.microsite-body {

  .wrapper {
    padding-top: 0;
    background: white;
  }


  .call{
    a{
      color : white;
    }
    .text-dark{
      color: white !important
    }
  }

  //.momo-logo{
  //  background: color("momo");
  //  width: 46px;
  //  border-radius: 6px;
  //  height: 46px;
  //  .momo-logo-icon{
  //    width: 34px;
  //    height: 34px;
  //    color: white;
  //  }
  //}
}


.lixi-wrapper {
  //background: linear-gradient(to bottom, #eb257d 0%, #eb257d 20%, darken(#eb257d, 5%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: #eb257d;
  position: relative;
  padding: 0 0 10px;
}


.lixi-hero {
  //background: color("momo");
  //background-size: cover;lixi-wrapper
  //background-repeat: no-repeat;
  //background-position: center;
  //padding: 5px 10px;
  position: relative;
}

//.lixi-longden{
//  position: absolute;
//  width: 100%;
//  z-index: -1;
//  top: 100%;
//  overflow: hidden;
//  left: 0;
//  right: 0;
//}

.lixi-quote {
  padding: 30px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-size: cover;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.lixi-tab {
  border-bottom: 4px solid #A22270;
  align-items: flex-end;
  height: 51px;
  margin-left: -5px;
  margin-right: -5px;
  flex-wrap: nowrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;

  &.nav-pills .nav-link {
    //min-width: 140px;
    white-space: nowrap;

    border-radius: 8px;
    margin: 0 5px;
    padding: 8px 15px 3px 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    background: white;
    color: gray("500");
    font-weight: bold;

    &.active {
      padding: 15px 5px 3px 5px;
      color: white;
      background: #A22270;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 40px;
    &.nav-pills .nav-link {
      min-width: auto;

      border-radius: 8px;
      margin: 0 5px;
      padding: 8px 15px 3px 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
      background: gray("300");
      color: gray("500");
      font-weight: bold;

      &.active {
        padding: 12px 15px 3px 15px;
        color: white;
        background: #EC247E;
      }
    }
  }
}

.lixi-taitro {
  border: 1px solid gray("200");
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.lixi-taitro-item {
  min-width: 0;
  width: percentage(1/6);
  flex: 0 0 percentage(1/6);
  position: relative;
  padding: 15px 5px;
  align-items: center;
  display: flex;


  transition: all 0.2s ease-in;


  img {
    filter: grayscale(100%);
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }

  &:after {
    content: "";
    top: 0;
    position: absolute;
    right: -2px;
    height: 100%;
    width: 1px;
    background: gray("200");
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: gray("200");
  }

  @include media-breakpoint-down(md) {
    width: percentage(1/3);
    flex: 0 0 percentage(1/3);
  }
}


.lixi-taitro-item2 {
  min-width: 0;
  width: percentage(1/4);
  flex: 0 0 percentage(1/4);
  position: relative;
  padding: 15px 5px;
  align-items: center;
  display: flex;


  transition: all 0.2s ease-in;


  &:after {
    content: "";
    top: 0;
    position: absolute;
    right: -2px;
    height: 100%;
    width: 1px;
    background: gray("200");
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: gray("200");
  }

  @include media-breakpoint-down(md) {
    width: percentage(1/2);
    flex: 0 0 percentage(1/2);
  }
}

.lixi-countdown {

}


.lixi-countdown {
  padding: 19px 0 0 0;
  max-width: 500px;
  margin: 0 auto 20px;

  margin-top: 0;

  @include media-breakpoint-up(md){
    margin-top: -10px;
  }

  @include media-breakpoint-up(lg){
    margin-top: -100px;
  }

  @include media-breakpoint-up(xl){
    margin-top: -100px;
  }
}

.lixi-countdown > h4 {
  text-align: center;
}

.lixi-countdown .countdown-s2 {
  padding: 0 15px 10px;

  .countdown-s2-text {
    color: white;

  }
}


.lixi-menu {
  display: inline-block;
  margin: 10px 0;
  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
  }
}

.lixi-menu-item {
  vertical-align: bottom;
  display: inline-block;
  padding: 5px 20px;
  color: gray("600");
  font-weight: 500;

  text-transform: uppercase;

  &.is-active {
    color: color("momo");
  }

  position: relative;

  &:not(:last-child) {
    &:after {
      content: "";
      height: 20px;
      width: 1px;
      background: gray("400");
      right: -1px;
      top: 5px;
      position: absolute;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 5px 10px;
  }
}



.lixi-hot {

}

.lixi-hot-title{
  padding: 15px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-size: cover;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}



.promo-block-lixi {
  background: #ffefa1 !important;
  color: color("momo") !important;
}

.lixi-gift{
  //padding: 10px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0 0px;
}

.lixi-gist-img{
  //height: 130px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;

  @include media-breakpoint-down(sm){
   img{
     max-height:    150px;
   }
  }
}

.lixi-gift-item{
  flex: 0 0 percentage(1/6);
  width: percentage(1/6);;
  min-width: 0;
  margin-bottom: 15px;

  text-align: center;
  padding:0 10px;
  position: relative;
  &:not(:last-child){
    &:after{
      content: "";
      position: absolute;
      height: 60%;
      width: 1px;
      background: gray("300");
      right: -1px;
      top: 0;
    }
  }

  @include media-breakpoint-down(md){
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);;
  }

  @include media-breakpoint-down(sm){
    flex: 0 0 percentage(1/2);
    width: percentage(1/2);;
  }
}

.lixi-gist-name{
  margin-top: 10px;
  color: #EC247E;
}

.lixi-gist-num{
  color: #EC247E;
}