@mixin placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

@mixin thmGradient() {
  background: rgba(101, 65, 193, 1);
  background: -moz-linear-gradient(
    left,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(101, 65, 193, 1)),
    color-stop(98%, rgba(212, 51, 150, 1)),
    color-stop(100%, rgba(212, 51, 150, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
}

@mixin thmGradientInverse() {
  background: rgba(212, 51, 150, 1);
  background: -moz-linear-gradient(
    left,
    rgba(212, 51, 150, 1) 0%,
    rgba(101, 65, 193, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(212, 51, 150, 1)),
    color-stop(100%, rgba(101, 65, 193, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(212, 51, 150, 1) 0%,
    rgba(101, 65, 193, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(212, 51, 150, 1) 0%,
    rgba(101, 65, 193, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(212, 51, 150, 1) 0%,
    rgba(101, 65, 193, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(212, 51, 150, 1) 0%,
    rgba(101, 65, 193, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43396', endColorstr='#6541c1', GradientType=1);
}

@mixin thmGradientText {
  background: linear-gradient(
    to right,
    rgba(101, 65, 193, 1) 0%,
    rgba(212, 51, 150, 1) 98%,
    rgba(212, 51, 150, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43396', endColorstr='#6541c1', GradientType=1);
  /*background: linear-gradient(linear, left bottom, right top, from(brown), to(red));*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-btn {
  display: inline-block;
  vertical-align: middle;
  @include thmGradient();
  position: relative;
  padding: 10px 20px 10px 55px;
  // padding-left: 55px;
  border-radius: 28px;
  // padding-right: 20px;
  min-width: 180px;
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 28px;
    background: #fff;
    opacity: 1;
    transition: all 0.4s ease;
  }
  svg {
    font-size: 30px;
    @include thmGradientText();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: all 0.4s ease;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: transparent;
    }
  }
  span.inner {
    position: relative;
    display: block;
  }
  span.avail,
  span.store-name {
    display: block;
    @include thmGradientText();
    font-weight: 600;
    line-height: 1em;
    transition: all 0.4s ease;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: transparent;
    }
  }
  span.avail {
    font-size: 11px;
  }
  span.store-name {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 3px;
  }
  &:hover {
    // box-shadow: drop-shadow-converter(#d43297, $angle: 90, $distance: 15px, $spread: 0, $size: 30px, $opacity: 27%);
    &:before {
      opacity: 0;
    }
    svg,
    span.avail,
    span.store-name {
      color: #fff;
      -webkit-text-fill-color: #fff;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 8px 0;
    padding-left: 45px;
    border-radius: 20px;
    padding-right: 10px;
    min-width: 150px;
    &:before {
    }
    svg {
      font-size: 24px;

      left: 14px;
    }

    span.avail {
      font-size: 10px;
    }
    span.store-name {
      text-transform: uppercase;
      font-size: 13px;
      margin-top: 3px;
    }
  }
}

@include media-breakpoint-down(sm) {
  // 44px
  // 52px
  .promo-slider {
    .swiper-slide {
      height: calc(
        100vh - 44px
      ) !important; /* Fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 100 - 44px) !important;
      // height: calc(100vh - 112px) !important;
    }
    .swiper-promo-height {
      height: calc(100vh - 44px) !important;
      /* Fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 100 - 44px) !important;
    }
  }
}



.pro-qrcode {
  width: 126px; // padding: 10px;
  background: white;
  margin-right: 20px;
}
.slider-wrapper {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.swiper-slide .background-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-promo-slider .swiper-slide {
  height: 500px;
}
.swiper-promo-slider {
  .swiper-pagination-bullets {
    bottom: 20px;
    left: 0;
    right: 0;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 8px;
      &.swiper-pagination-bullet-active {
        transform: scale(1.15);
        transform-origin: 50% 50%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
  }
}
.swiper-promo-height {
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: translateY(0px);
}
.swiper-container-full {
  .swiper-promo-height {
  }
}
@include media-breakpoint-down(sm) {
  .swiper-promo-slider .swiper-slide {
    height: 300px;
  }
  .swiper-promo-height {
    height: 300px;
  }
}
.swiper-slide .background-wrapper .background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}
.promo-slider-content {
  z-index: 10000;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.promo-slider-title {
  // @extend .h1;
}
.promo-slider-sub {
}
.promo-slider-txt {
  margin-top: 60px;
}
@include media-breakpoint-down(sm) {
  .promo-slider-title {
    font-size: 28px;
    line-height: 38px;
  }
  .promo-slider-sub {
    font-size: 16px;
    line-height: 22px;
    max-width: 60%;
  }
  .promo-slider-txt {
    margin-top: 10%;
    font-size: 12px;
  }
  .promo-slider-content {
    margin-bottom: 15%;
  }
}
.swiper-container .mouse-wrapper {
  margin: 0 auto;
  display: block;
  width: 28px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px;
}
.swiper-container .mouse {
  width: 30px;
  height: 47px;
  border: 2px solid #fff;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}
.swiper-container .mouse .mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  position: relative;
  top: 10px;
  left: 11px;
  animation: scrolls 1.3s ease-out infinite;
}
@keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px;
  }
  95% {
    top: 18px;
    opacity: 0;
    height: 10px;
  }
  100% {
    top: 8px;
    opacity: 1;
    height: 4px;
  }
}
.promo-quote-container {
  background-color: #d92b83;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.promo-quote {
  .promo-quote-title {
    color: #fef250;
  }
}
@include media-breakpoint-down(md) {
  .promo-quote-container {
    padding: 10px 0;
  }
  .promo-quote {
    .promo-quote-title {
      font-size: 1.1rem;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .promo-quote-sub {
      font-size: 0.9rem;
    }
  }
  .promo-quote-img {
    width: 40px;
  }
}
.promo-combo-container {
  padding: 10px 0;
}
.promo-block {
  border: 1px solid gray("200");
}
.promo-block-title {
  background: #af2070;
  color: white;
  padding: 10px 15px;
}
.promo-content {
  padding: 20px 20px 20px;
}
.promo-feature {
  background: url("https://static.mservice.io/styles/desktop/images/promotion/tt1d-pattern.jpg") no-repeat center
    center;
  background-size: cover;
  &.embed-responsive {
    &::before {
      padding-top: percentage(310/360);
    }
  }
  &:hover {
    .promo-feature-img {
      transform: translate(-50%, -53%);
    }
  }
}
.promo-feature-badge {
  image-rendering: auto; // image-rendering: crisp-edges; // image-rendering: pixelated; // image-rendering: -webkit-optimize-contrast;
  background: url("https://static.mservice.io/styles/desktop/images/promotion/tt1d-bg.png") no-repeat center center;
  background-size: cover;
  &::before {
    padding-top: percentage(88/379);
  }
  .thumb {
    width: 35%;
  }
  .txt {
    font-size: 16px;
    font-weight: 500;
  }
  .content {
    height: 100%;
    color: white;
    padding: 0 20px 10px;
    text-align: center;
  }
}
.promo-feature-content {
  width: 100%;
  padding: 10px;
  text-align: center;
  .txt1 {
    font-size: 16px;
  }
  .txt2 {
    font-size: 20px;
  }
}
.promo-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; // padding-left: 10px; // padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.promo-feature-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 15px 20px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  height: 100%;
  img {
    max-height: 100%;
  }
}
.promo-feature-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
  top: 0;
  left: 0;
  color: white;
  z-index: 9;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.promo-feature-item {
  flex: 0 0 auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(33.333% - 20px);
  &:hover {
    .promo-feature-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
@include media-breakpoint-down(md) {
  .promo-feature-item {
    width: calc(50% - 20px);
  }
}
@include media-breakpoint-down(md) {
  // .promo-content { // padding: 10px; // .promo-features { // margin-right: 0px; // padding-right: 0; // overflow-x: auto; // -webkit-overflow-scrolling: touch; // &:-webkit-scrollbar { // display: none; // }
  // } // .promo-feature-item {
  // width: 250px; // }
}
.promo-gift-item {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20% - 20px);
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  .embed-responsive {
    border: 1px solid gray("300");
  }
  .promo-gift-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.promo-gift-content {
  padding: 10px 0;
}
.promo-gift-label {
  position: absolute;
  right: 5px;
  top: -10px;
  z-index: 2;
}
.promo-gift-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 5px;
}
@include media-breakpoint-down(md) {
  .promo-gift-item {
    width: calc(50% - 20px);
  }
  .promo-content {
  }
}
.promotion-accordion.help-center-accordion {
  .card-link {
    padding: 5px 30px 5px 20px;
    background: white;
  }
  .card-body {
    background: white;
  }
  .card-link.collapsed {
    background: #e4e4e4;
  }
  .card {
    border: none;
    border-left: 2px solid #e4e4e4;
    margin-bottom: 15px;
  }
  .card-link .card-link-icon {
    background: transparent;
    color: gray("800");
  }
  .card-link .card-link-icon {
    top: 12px;
  }
  @include media-breakpoint-down(md) {
    .card-link .card-link-icon {
      top: 10px;
    }
  }
}
.swiper-screenshots {
  width: 100%;
  padding: 50px auto;
  .swiper-slide {
    text-align: center;
    background-position: center;
    width: 340px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
      0 7px 18px rgba(0, 9, 128, 0.05);
    @include media-breakpoint-down(md) {
      width: 250px;
      height: auto;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    background-image: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 17px;
  }
  .swiper-button-prev:before {
    content: "\f177";
    font-family: "FontAwesome";
  }
  .swiper-button-next:before {
    content: "\f178";
    font-family: "fontAwesome";
  }
}
.promotion-how {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  .process_item .process__body-title {
    color: white !important;
  }
  .process__body {
    color: white;
  }
  .process__body-title {
    color: white;
  }
  .process__number {
    border: 2px solid color("momo");
  }
  .process__number span {
    color: color("momo");
  }
  .process_item.active .process__number {
    background: color("momo");
  }
  .process_item:hover .process__body-title,
  .process_item.active .process__body-title {
    color: white;
  }
  .bank-select-bg {
    background: rgba(255, 255, 255, 0.1);
  }
  .manual-page {
    background-color: #fff;
  }
  .manual-page-tab {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: gray("200");
    .nav-link {
      color: color(
        "momo"
      ); // background: color("momo"); // background: #612241;
      background: white;
      &.active {
        color: color("momo");
        background: white;
        &::before {
          border-left: 16px solid white;
        }
        ~ .nav-link {
          background: gray("300");
          color: gray("600");
          &::before {
            border-left: 16px solid gray("300");
          }
        }
      }
      &:before {
        border-left: 16px solid white;
      }
      &:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 18px solid color("momo");
      }
    }
  }
}

.countdown-s2 {
  display: flex;
}
.countdown-s2-item {
  padding: 0 7px;
  flex-grow: 1;
  text-align: center;
  position: relative;
  z-index: 0;
}
.countdown-s2-time {
  display: block;
  color: $momo2;
  font-weight: 500; /* padding: 17px 0; */
  width: 75px;
  line-height: 75px;
  height: 75px;
  /* background: rgba(255, 255, 255, 0.15); */
  text-align: center;
  font-size: 35px;
  border-radius: 50%;
  background: white;
  // border: 4px solid $momo2;
  margin: 0 auto;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    border-radius: 50%;
    top: -3px;
    left: -3px;
    background: color("momo");
    background: linear-gradient(
      to right,
      color("momo") 0%,
      rgba(212, 51, 150, 1) 98%,
      $momo2 100%
    );
  }
}
.countdown-title {
  color: $momo2;
}
.countdown-s2-text {
  display: block;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 16px;
  color: gray("800");
}
.promo-countdown-container {
  padding: 40px 0 120px;
}
@include media-breakpoint-down(sm) {
  .countdown-s2-text {
    padding-top: 10px;
    font-size: 16px;
    color: gray("800");
  }
  .promo-countdown-container {
    padding: 30px 0 100px;
  }
  .countdown-s2-time {
    display: block;
    color: $momo2;
    /* padding: 17px 0; */
    width: 50px;
    line-height: 48px;
    height: 50px;
    /* background: rgba(255, 255, 255, 0.15); */
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background: white;
    // border: 4px solid $momo2;
    margin: 0 auto;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
    }
  }
}

.promo-countdown-box {
  padding: 19px 0 0 0;
  max-width: 700px;
  margin: 0 auto;
}
.promo-countdown-box > h4 {
  text-align: center;
}
.promo-countdown-box .countdown-s2 {
  padding: 0 15px 10px;
}
.banner2 {
  position: relative;
}
.banner2-txt1 {
  font-weight: bold;
  color: color("momo");
  font-size: 24px;
  position: absolute;
  left: 151px;
}
.banner2-img1 {
}
.banner2-txt2 {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 28px;
  color: color("momo");
}
.banner2-txt3 {
  position: absolute;
  position: absolute;
  right: 5px;
  bottom: 38px;
  color: color("momo");
}
.banner2-img2 {
  padding-right: 20px;
}
.banner-txt-4 {
  position: absolute;
  color: white;
  bottom: 10px;
  width: 90%;
  left: 5%;
  font-size: 12px;
  text-align: center;
}
.banner2-img2 {
  display: inline-block;
}
.swiper-container-full {
  .swiper-slide {
    height: 100%;
  }
  .swiper-promo-height {
    height: 100%;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.banner2-noidung {
  max-width: 500px;
  margin: 0 auto;
}
.banner2-img-mobile {
  max-width: 500px;
  margin-right: 0;
  margin-left: auto;
}
@include media-breakpoint-down(md) {
  .banner2 {
    margin-top: 20px;
    text-align: center;
  }
  .banner2-txt1 {
    font-weight: bold;
    color: #ae2070;
    font-size: 20px;
    position: absolute;
    left: 171px;
  }
  .banner2-noidung {
    padding: 10px;
  }
}
@include media-breakpoint-down(md) {
  .banner2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .banner2-txt1 {
    font-weight: bold;
    color: #ae2070;
    font-size: 20px;
    position: absolute;
    left: 171px;
  }
  .banner2-txt2 {
    font-size: 16px;
    line-height: 1.2;
  }
}
.promo-gift {
  display: flex;
  flex-flow: row wrap;
  // padding-left: 10px; // padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  .promo-feature {
    background: white;
    background-size: cover;
    &.embed-responsive {
      &::before {
        padding-top: percentage(167/268);
      }
    }
    &:hover {
      .promo-feature-img {
        transform: translate(-50%, -53%);
      }
    }
  }
  .promo-feature-item {
    flex: 0 0 auto;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(25% - 10px);
  }
  .promo-feature-content {
    width: 100%;
    padding: 10px;
    text-align: center;
    .txt1 {
      font-size: 14px;
    }
    .txt2 {
      font-size: 16px;
    }
  }
  .promo-feature {
    border: 1px solid gray("300");
    border-radius: 15px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: calc(100% - 20px) !important;
    margin-left: 10px;
  }
  .promo-feature-badge .txt {
    font-size: 12px;
  }
  @include media-breakpoint-down(md) {
    .promo-feature-item {
      width: calc(50% - 10px);
    }
  }
}
@include media-breakpoint-down(md) {
  .promo-gift-item {
    width: calc(50% - 10px);
  }
  .promo-feature-item {
    width: calc(50% - 10px);
  }
  .promo-content {
    padding: 0;
  }
  .promo-block {
    border: none;
  }
  .promo-features {
    margin-left: -5px;
    margin-right: -5px;
  }
  .promo-feature-item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .promo-feature-content {
    padding: 5px 0;
  }
}
@include media-breakpoint-down(sm) {
  .promo-feature-img {
    padding: 5px 10px;
  }
  .promo-feature-badge .txt {
    font-size: 11px;
    line-height: 1.2;
  }
  .promo-feature-badge .content {
    padding: 0 5px 5px;
  }
  .promo-feature-content .txt2 {
    font-size: 14px;
    line-height: 1.2;
  }
  .promo-feature-content .txt1 {
    font-size: 12px;
    line-height: 1.2;
  }
  .promo-gift {
    .promo-feature-content .txt2 {
      font-size: 14px;
    }
    .promo-feature-content .txt1 {
      font-size: 12px;
    }
  }
}
.bottom-promotion {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  max-width: 400px;
  min-width: 350px;
  z-index: 1000;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.4s ease-in;
  will-change: transform;
  backface-visibility: hidden;
  .is-scroll-promotion & {
    transform: translate3d(0, 0, 0);
  }
  &.is-active {
  }
}
.bottom-promotion-close {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 5px;
  right: 15px;
  z-index: 11;
  cursor: pointer;
}
.bottom-promotion {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  max-width: 400px;
  min-width: 350px;
  z-index: 1000;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.4s ease-in;
  will-change: transform;
  backface-visibility: hidden;
  .is-scroll-promotion & {
    transform: translate3d(0, 0, 0);
  }
  &.is-active {
  }
}
.bottom-promotion-close {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 5px;
  right: 15px;
  z-index: 11;
  cursor: pointer;
}
.bottom-promotion2 {
  // max-width: 200px;
  min-width: 100px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in;


  .bottom-promotion-close {
    font-size: 20px;
    top: 5px;
    right: 10px;
    line-height: 1;
  }
  .bottom-promotion-close2 {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 5px;
    right: 10px;
    line-height: 1;
    z-index: 11;
    cursor: pointer;
    display: none;
  }
  &.is-active {
    width: 500px;
    max-width: 500px;
    .bottom-promotion-close2 {
      display: block;
    }
    .bottom-promotion-close {
      display: none;
    }

    .content1 {
      display: none;
    }

    .content2 {
      display: block;
    }
  }
  .content1 {
    display: block;
  }

  .content2 {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    // display: none;
    display: block;
    width: 100%;
    &.is-active{
      width:100%;
    }
  }
}
