//RESPONSIVE TINH SAU
.izlude-m-left {
}

.izlude-m-title {
  position: relative;
  // .search-result-type {
  //   position: relative;
  //   float: none;
  //   width: 100%;
  // }
  // .search-result-content{
  //   margin-left: 0;
  // }
}


.izlude-m-search{

}

.izlude-m-right {
}

.izlude-m-nav {
  height: 48px;
}

.izlude-m {
  background: theme-color("primary");
  height: 48px;
  position: fixed;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in;

  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;

  .momo-logo {
    width: 36px;
    height: 36px;
    border-radius: 3px;
  }

  .momo-logo-icon {
    width: 32px;
    height: 32px;
  }

  .izlude-search {
    margin-right: 0;
    margin-left: 0;

    .input-group {
      .form-control {
        width: 1%;
        padding-left: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

    .input-group-append {
      .btn {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.izlude-m-link {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.auto {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.izlude-m-hamburge {
  width: 26px;
  height: 26px;
}

.juno-noti-m {
  background: white;
  white-space: nowrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 5px 10px;

  li:not(:last-child) {
    border-right: 1px solid gray("200");
    margin-right: 7px;
    padding-right: 7px;
  }

  margin-bottom: 0;
}

.izlu-menu-container {
  padding-bottom: 0;
  background: white;
}

.izlu-menu {
  padding: 10px 10px 10px;

  .list-inline-item:not(:last-child) {
    margin-right: 14px;
  }
}

.izlu-menu-icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid gray("200");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto 5px;
  color: color("momo");

  background-color: white;
  // box-shadow: 0 2px 5px 0 rgba(72,140,241,.15);
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.1);
  // @extend .shadow-sm;
}

.izlu-menu-item {
  font-size: 13px;
  // font-weight: bold;
  vertical-align: top;
  text-align: center;
  line-height: 1.1;
  width: 58px;
  white-space: normal;
  a {
    color: gray("800");
  }
}

.product-item-col {
  @include media-breakpoint-down(md) {
    width: 150px;
  }
}

@include media-breakpoint-down(md) {
  .footer-info-list {
    font-size: 13px;
    margin-top: 15px;
    .mb-3 {
      margin-bottom: 5px !important;
    }
  }

  .product {
    display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
  }

  .product-item-col {
    width: 150px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    vertical-align: top;
  }

  .product-item {
    white-space: normal;
  }

  .product-item-name {
    font-size: 14px;
    line-height: 1.2;
    // padding: 0 5px;
    margin-top: 10px;
  }

  .product-section {
    padding: 0;
    margin-top: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

    .block-content {
      padding: 0;
    }

    .block-container {
      background: transparent;
    }
  }

  .block-title-endow {
    text-align: center;
    position: relative;
    // top: -16px;
  }

  .block-title-endow-txt {
    z-index: 1;
    padding: 3px 20px;
    font-weight: normal;
    // font-size: 1rem;
  }

  .block-title-endow-icon {
    width: 18px;
    height: 18px;
    vertical-align: -10%;
    margin-right: 5px;
  }

  .block-title {
    padding: 10px 10px 5px;
    border-bottom: none;
    margin-bottom: 5px;
  }

  .block-title-icon {
    width: 38px;
    height: 38px;
    margin-right: 10px;
  }

  .block-title-txt {
    // @extend .h4;
  }

  .block-title-sub {
    font-size: $h6-font-size;
    line-height: 1.2;
  }

  .banner {
    padding: 5px 5px;
    background: white;
  }

  .block-endow {
    margin-top: 0;
  }

  .hotnew-container {
    padding: 10px 10px 40px;
    background: white;
    margin: 0 auto;
    .hotnew-tab-content {
      height: auto;
    }
  }

  .section-secure {
    // padding-top: 30px;
    margin-top: 0;
    background: #dbdbdb;

    .block-container {
      background: #dbdbdb;
    }

    .block-title {
      margin-bottom: -10px;
    }
  }

  .block-title-secure {
    font-size: 14px;
    padding: 0 5px;
    height: 38px;
    line-height: 38px;
    top: -16px;

    &:before {
      border-top: 38px solid theme-color("primary");
      border-left: 10px solid transparent;
    }

    &:after {
      border-top: 38px solid theme-color("primary");
      border-right: 10px solid transparent;
    }

    .sa {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 16px solid darken(theme-color("primary"), 10%);
      left: -18px;
    }

    .sa-right {
      left: auto;
      right: -18px;
    }
  }

  .section-secure {
    .block-content {
      padding: 0;
    }
    .product-section {
      border-top: none;
      border-bottom: none;
    }
  }

  .secure-tab {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;

    .nav-link {
      color: gray("600");
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      position: relative;
      padding: 5px 15px;
    }
  }

  .app-present {
    background: theme-color("primary");
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
  }

  .app-present-txt {
    display: inline-block;
    flex: 1 1 0px;
    display: block;
  }

  .app-present-btn {
    display: inline-block;
    flex: 0 0 auto;
    display: block;
  }

  .app-present-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }


  .secure-list {
    font-size: 14px;
    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .block-title-secure {
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    background: theme-color("primary");
    color: white;
    display: inline-block;
    position: relative;
    height: 44px;
    line-height: 44px;
    top: -16px;
    &:before {
      z-index: 1;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 44px solid theme-color("primary");
      border-left: 12px solid transparent;
      top: 0;
      right: 100%;
    }

    &:after {
      z-index: 1;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 44px solid theme-color("primary");
      border-right: 12px solid transparent;
      top: 0;
      left: 100%;
    }

    .sa {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 16px solid darken(theme-color("primary"), 10%);
      top: 0;
      left: -20px;
    }

    .sa-right {
      left: auto;
      right: -20px;
    }
  }
}

.payon {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 48px;
  left: 0;
  height: 0;

  overflow: hidden;
  transition: height 0.2s ease-in-out;

  // height: calc(
  //   100vh-48px
  // );
  // height: calc(var(--vh, 1vh) * 100 - 48px);
  a{
    color: gray("700");
  }
}

.payon-footer {
  position: absolute;
  height: 44px;
  background: white;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  bottom: 0;
  width: 100%;
  left: 0;
  border-top: 1px solid gray("400");
}

.payon-footer-row {
  height: 44px;
  .list-inline-item:not(:last-child) {
    margin-right: 0;
  }
}

.payon-footer-svg {
  svg {
    width: 100px;
  }
}

.payon-flex {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.payon-flex-col {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 0;
  min-width: 0;
  flex: 0 0 auto;
}
.payon-flex-col1 {
  width: 110px;
  background: gray("200");
  padding-bottom: 44px;
}
.payon-flex-col2 {
  flex: 1 1 0px;
  background: white;
  padding-bottom: 44px;
}
.payon-open {
  body {
    position: fixed !important;
    overflow: hidden;
    width: 100% !important;
  }
  .payon {
    height: calc(
      100vh-48px
    ); /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 48px);
  }
  .izlude-m-hamburge {
    &.open-btn {
      display: none;
    }
    &.close-btn {
      display: block;
    }
  }
}
.izlude-m-hamburge {
  &.open-btn {
    display: block;
  }
  &.close-btn {
    display: none;
  }
}
.payon-cat {
}
.payon-cat-item {
  font-size: 12px;
  color: gray("800");
  border-bottom: 1px solid gray("400");
  .row {
    min-height: 50px;
    padding: 7px 8px;
  }
  &.active {
    background: white;
  }
}
.payon-cat-svg {
  width: 20px;
  height: 20px;
  fill: gray("600");
  margin-right: 8px;
}
.payon-brand {
  display: flex;
  flex-flow: row wrap;
}
.payon-brand-item {
  flex: 0 0 auto;
  width: 33.3333%;
  padding: 5px 0;
  font-size: 12px;
  // margin-bottom: 5px;
  text-align: center;
}
.payon-brand-img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 5px;
}
.payonTab {
  display: none;
  &.active {
    display: block;
  }
}
.payon-brand-name {
}
