/* ============== Job Search Form ============== */

.section {
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-search-form {
  .form-control {
    display: block;
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-size: 16px;
  }
}

.hero-section-job {
  margin-bottom: 30px;
}

.job-search-btn {
  white-space: nowrap;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 0;
  background: color("momo");
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  &:hover {
    background: darken(color("momo"), 10%);
  }
}

.job-keywords {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .button {
    display: inline-block;
    padding: 2px 8px;
    background: color("momo");
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    &:hover {
      background: darken(color("momo"), 10%);
    }
  }
}

.job-keywords-name {
  color: white;
  margin-right: 5px;
}

.hero-section .job-search-form {
  padding: 80px 0;
}
.job-search-heading {
}
.job-search-form .job-search-sub {
  margin-bottom: 50px;
  color: gray("400");
  font-weight: 400;
}
.job-search-form .job-search-sub > span {
  font-size: 1.2em;
  padding: 0 7px;
}

.job-search-form form {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.job-search-form form .form-group {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin-right: 10px;
}
.job-search-form form .form-group .form-group-inner {
  position: relative;
}
.job-search-form form .form-group i {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 16px;
  font-size: 16px;
  color: #a0a7ba;
  line-height: 50px;
}
.job-search-form form .button {
  font-size: 24px;
  border-radius: 4px;
  padding: 11px 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.listings-container {
  .job-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }

  .job-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
  }

  .job-listing:nth-child(2n) {
    background-color: #fafafa;
  }
}

.job-listing {
}

.job-listing-details {
}

.job-listing {
  display: block;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  transition: 0.3s;
  position: relative;
  &:hover {
    // box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
    transform: translateY(-2px);

    &:before {
      opacity: 1;
    }
    .job-listing-title {
      color: color("momo");
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: color("momo");
    transition: 0.3s;
    opacity: 0;
  }
}

.job-listing-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;

  color: $body-color;
}

.job-listing-logo {
  flex: 0 0 60px;
  min-width: 0;
  width: 60px;
}

.job-listing-description {
  flex: 1 1 0px;
  min-width: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.job-listing-title {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 3px;
}

.job-listing-footer {
  color: gray("500");
  span {
    // font-weight: 500;
    color: $body-color;
  }
}

.job-listing-exprite {
  flex: 0 0 auto;
  min-width: 0;

  span {
    color: gray("500");
    font-size: 13px;
  }
}

.jobs-position {
  padding: 0 15px;
}

.jobs-position-item {
  border-bottom: 1px solid gray("200");
  padding: 10px 0;
  position: relative;
  transition: all 0.2s;
  &:hover {
    .job-position-name {
      color: color("momo");
    }
  }
}

.job-position-logo {
  width: 25px;
}

.job-position-name {
  margin-left: 10px;
}

.newsletter-job {
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  .newsletter-input {
    width: 100%;
    min-width: 0;
  }
}

.file-input {
  background: gray("200");
  border-radius: 3px;
  padding: 5px 10px 5px 40px;
  position: relative;

  .file-input-img {
    width: 22px;
    left: 10px;
    position: absolute;
    top: 5px;
  }
  input {
    font-size: 12px;
  }
}

@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
  .job-search-form form .form-group i {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  // .hero-section .job-search-form {
  //   padding: 100px 0;
  // }

  .job-keywords {
    .button {
      display: inline-block;
      padding: 2px 8px;
      background: color("momo");
      color: white;
      border-radius: 5px;
      margin-right: 5px;
      font-size: 12px;
      margin-bottom: 5px;
      &:hover {
        background: darken(color("momo"), 10%);
      }
    }
  }

  .job-keywords-name {
    font-size: 13px;
    display: block;
    margin-right: 0;
    flex: 1 1 100%;
    margin-bottom: 5px;
  }

  .job-search-form .job-search-sub {
    margin-bottom: 20px;
  }

  .job-search-form .form-control {
    display: block;
    width: 100%;
    line-height: 34px;
    height: 34px;
    font-size: 14px;
  }
  .job-search-heading {
    font-size: 24px;
    line-height: 1.2;
  }
  .job-keywords {
  }

  .job-search-sub {
    font-size: 16px;
  }

  .job-search-btn {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;

    font-size: 14px;
    border-radius: 3px;
    .svg-icon {
      width: 14px;
      height: 14px;
    }
  }

  .job-search-form form .form-group {
    margin: 0;
    margin-bottom: 10px;
  }

  .job-search-form form .form-group {
    width: 100%;
    flex: 1 1 100%;
  }

  .job-search-btn {
    width: 100%;
  }

  .hero-section .job-search-form {
    padding: 40px 0;
  }

  .job-listing-details {
    padding: 10px 15px;
    color: $body-color;
    border-bottom: 1px solid gray("200");
  }

  .newsletter-img {
    width: auto;
  }

  .job-listing-logo {
    flex: 0 0 30px;
    min-width: 0;
    width: 30px;
    display: none;
  }

  .job-listing-description {
    flex: 1 1 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .job-listing-title {
    font-size: 14px;
  }

  .job-listing-footer {
    font-size: 12px;
  }

  .job-listing-exprite {
    margin-top: 5px;
    flex: 0 0 auto;
    color: gray("700");
    padding: 2px 6px;
    background: gray("200");
    border-radius: 3px;
    font-size: 11px;
    span {
      font-size: 11px;
      color: gray("700");
    }
    br {
      display: none;
    }
  }
}

.job-review {
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      color: gray("600");
      width: 150px;
      display: inline-block;
      font-size: 14px;
    }
    strong {
      font-weight: 500;
    }
  }
}
.list-circle {
  list-style: none;
  margin-left: 20px;
  padding-left: 0;
  li {
    position: relative;
    margin-bottom: 10px;
    &:before {
        content: "";
        position: absolute;
        left: -17px;
        background: color("blue");
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: 6px;
    }
  }
}

.job-exprite {
  font-size: 15px;
  .list-inline-item:not(:last-child) {
    margin-right: 15px;
  }

  .svg-icon {
    width: 12px;
    height: 15px;
    vertical-align: -0.125em;
    fill: gray("400");
  }
}


.job-desc{
  font-size: 15px;
  margin: 0 0 25px;
  line-height: 1.47;
}



@include media-breakpoint-down(md) {
  .job-top-btn{
    margin-top: 20px;
  }
  .job-desc{
    font-size: 13px;
  }
}



@include media-breakpoint-down(sm) {
.job-title{
  font-size: 20px;
  line-height: 1.3;
}
.job-review {
  li {
  
    span {
      width: 140px;
    }
    strong {
      font-weight: 500;
    }
  }
}
}


