.unsub-wrapper {
    min-height: 70vh;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, $momo 0, $momo2 100%);

}

.unsub {
    max-width: 400px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.unsub-content {
    padding: 30px 40px;

}

.unsub-header {
    @include rfs(24);
}

.unsub-message {
    @include rfs(16);
    color: gray("700")
}

.unsub-footer {
    text-align: center;
    border-top: 1px solid gray("300");
    padding-top: 15px;
    margin-top: 30px;
}

.unsub-footer-action {
    display: inline-block;
}


.maillist {
    padding: 40px;
}

.maillist-title {
    font-size: 20px;
    font-weight: bold;
    color: $momo;
}

.maillist-sub {
    // color: gray("700");
    font-size: 18px;
    font-weight: bold
}


.maillist-item-container {
    .maillist-item {
        &:nth-child(2n) {
            background: white
        }
    }
}

.maillist-item {
    padding: 20px 20px;
    border-radius: 8px;
    background: #fafafa;

    .custom-control {
        padding-left: 35px;
    }

    .custom-control-label {

        &:after,
        &:before {
            left: -37px;
            top: 50%;
            margin-top: -10px;
        }

    }
}

.maillist-item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.maillist-item-txt {
    font-size: 13px;
    color: gray("500");
}

@include media-breakpoint-down(sm) {
    .maillist {
        padding: 20px;
    }
  
    .maillist-item {
        padding: 15px;

        .custom-control {
            padding-left: 30px;
        }
        .custom-control-label {

            &:after,
            &:before {
                left: -30px;
              
            }
    
        }

        border-radius: 5px;
    }
}