.footer {
  background: #303030;
  // background: gray("800");
  padding: 20px 0;
  color: rgba(255,255,255,0.7);
}



.footer-heading {
  color: white;
  margin-bottom: 15px;
  // font-size: 15px;
  @include rfs(15px);
}

.footer-call{

}

.footer-call-num{
  @include rfs(14px);
  // color: $momo2;
  font-weight: bold;
  // @include hover-focus(){
  //   color: lighten($momo2, 10%);
  // }
}

.footer-call-icon{
  @include rfs(35px);
  margin-right: 10px;
}

.footer-btn-app{
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
  @include rfs(16px);
  position: relative;
  transition: all 0.1s ease-in;
  margin-bottom: 10px;

  @include hover-focus(){
    background: rgba(0, 0, 0, 0.2);
  }

  .svg-inline{
    font-size: 1.6em;
    margin-right: 5px;
  }

  &.light{
    background: gray("100");
    padding: 5px 10px;
    color: gray("800");
    border: 1px solid gray("300");
    // color: rgba(0,0,0,0.85);
    margin-bottom: 15px;
    @include hover-focus(){
      background: gray("200");
    }
  }


  .fba-1{
    font-size: 11px;
  }

  .fba-2{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    // color: $momo2;
  }
}



.footer-care {
}
.footer-care-txt{
  font-size: 13px;
}


.footer-care-link {
  color: white;
  font-weight: bold;
  &:hover {
    color: $momo2;
  }
}
.footer-social-list {
  
  .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
}

.copyright{
  padding: 8px 10px;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  background: #3E3E3E;
}









//OLD CSS




/*************************
    back to top
*************************/
#back-to-top {
  .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 50%;
    margin-bottom: 15px;
    right: 32px;
    border-radius: 50%;
    z-index: 999;
    background: transparent;
    font-size: 14px;
    background: color("momo");
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    opacity: 0;
    visibility: hidden;

    &:hover {
      background: lighten(color("momo"), 10%);
    }
  }

  .face {
    z-index: 999;
    position: fixed;
    margin: 0px;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 50%;
    margin-bottom: -115px;
    right: 32px;
    z-index: 999;
    width: 34px;
    height: 34px;
    text-align: center;

    opacity: 0;
    visibility: hidden;

    &:hover{
      opacity: 0.9 !important;
    }
  }

  .call {
    z-index: 999;
    position: fixed;

    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 50%;
    margin-bottom: -75px;
    right: 5px;
    text-align: center;
    z-index: 999;
    background: transparent;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: lighten(color("momo"), 10%);
    }
    a {
      display: block;
    }
  }

  .call-mobile {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    .top {
      bottom: 80px;
      margin-bottom: 0;
      right: 10px;
    }

    .face {
      bottom: 100px;
      margin-bottom: 0;
      right: 10px;
    }

    .call {
      // display: none;
      background: white;
      padding: 5px 10px 10px;
      border-radius: 0 0 0 4px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.175);
      right: 0;
      opacity: 1;
      transform: translate3d(100%, 0, 0);
      a {
        img {
          display: none;
        }
      }

      .call-mobile {
        display: block;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.175);
        background-color: white;
        display: block;
        position: absolute;
        left: -46px;
        padding: 10px;
        width: 46px;
        top: 0;
        border-radius: 4px 0 0 4px;
        color: #fff;
        text-align: center;
        img {
          width: 27px;
        }
      }

      &.is-active {
        transform: translate3d(0, 0, 0);
        .call-mobile {
          box-shadow: none;
        }
      }
    }
  }

  &.active {
    .top,
    .call, .face {
      visibility: visible;
      opacity: 1;
    }
  }
}
#back-to-top svg {
  // padding-top: 2px;
}
#back-to-top span {
  margin-top: 4px;
  display: block;
  line-height: 8px;
  font-size: 11px;
}
