.is-scroll-nav {
  .izlude {
    @extend .shadow-sm;
    .navbar {
    }
    .izlude-nav {
      .nav-link {
        // font-size: 10px;
        // padding: 0 20px;
      }

      //.nav-link-icon {
      //  height: 22px;
      //  margin-bottom: 4px;
      //}
    }
  }

  //.momo-logo-icon {
  //  width: 34px;
  //  height: 34px;
  //}
  //.momo-logo {
  //  width: 44px;
  //  height: 44px;
  //}
}

.is-scroll-down {
  .izlude-m {
    // transform: translate3d(0, -48px, 0);
  }
}

.have-sticky-breadcrumb {
  @include media-breakpoint-down(md) {
    .izlude-m {
      // transform: translate3d(0, 0, 0) !important;
      // position: relative !important;
    }
    // .wrapper {
    //   padding-top: 0;
    // }

    // .breadcrumb-container {
    //   position: sticky;
    //   top: 48px;

    //   // transform: translate3d(0, 48px, 0);
    //   will-change: transform;
    //   transition: transform 0.2s ease-in;
    //   z-index: $zindex-sticky;
    //   box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15) !important;
    // }
  }
}
@include media-breakpoint-down(md) {
  .is-scroll-down .breadcrumb-container {
    // transform: translate3d(0, -48px, 0);
  }
}

.have-sticky-download {
  @include media-breakpoint-down(md) {
    .app-present {
      position: sticky;
      bottom: -1px;
      z-index: 90;
    }

    .promo-slider {
      .swiper-slide {
        height: calc(
          100vh - 96px
        ) !important; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100 - 96px) !important;
        // height: calc(100vh - 112px) !important;
      }
      .swiper-promo-height {
        height: calc(100vh - 96px) !important;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100 - 96px) !important;
      }
    }
  }
}






.izlude-search .input-group {
  position: relative;
  z-index: 5;
}

.search-quick {
  width: 500px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  left: 1px;
  right: 1px;
  margin: 0;
  background: white;
  z-index: 10;
  position: absolute;
  top: 100%;

  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #fff;
  border: none;
  min-width: 160px;
  border-radius: 2px;
  max-width: calc(100vw - 30px);
  padding: 0;

  li:first-child{
    margin-top: 5px;
  }
  li:last-child{
    margin-bottom: 5px;
  }
  
}



.search-quick-item {
  &.is-active {
    .search-quick-link {
      background: #faf4f7;
      color: $momo;
      strong {
        color: $momo;
      }
    }
  }
}

.search-quick-link {
  display: block;
  padding: 7px 12px 7px 37px;
  clear: both;
  font-weight: 400;
  line-height: 1.43;
  color: gray("800");
  white-space: nowrap;
  position: relative;
  @extend .text-truncate;
  strong {
    color: gray("900");
    text-transform: capitalize
  }

  .icon {
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 16px;
    color: gray("500");
    margin-right: 10px;
  }

  @include hover-focus() {
    background: #faf4f7;
    color: $momo;
    strong {
      color: $momo;
    }
  }
}




























.search-recent {
  width: 550px;
  top: 100%;
  min-height: 40px;
  // border: 1px solid gray("300");
  margin-top: 1px;
  background: white;
  border-radius: 5px;
  @extend .shadow;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.search-recent-subtitle {
  font-size: 12px;
  color: gray(500);
  padding: 5px 10px;
  border-bottom: 1px solid gray("200");
  background-color: gray("100");
  position: relative;
  .more {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 11px;
  }
}

.search-items {
  .search-item:last-child {
    border-bottom: none;
  }
}
.search-item {
  position: relative;
  padding: 7px 10px;
  border-bottom: 1px solid gray("200");
  @include clearfix();
  &:last-child {
  }
  &.active {
    background: $lightyellow;
  }
  &:hover {
    background: $lightyellow;
  }
}

.search-item-image {
  width: 50px;
  float: left;
  border-radius: 3px;
  overflow: hidden;
}

.search-item-content {
  margin-left: 60px;
}

.search-item-name {
  font-weight: bold;
  line-height: 16px;
  @include text-truncate();
}

.search-item-meta {
  color: gray("500");
  font-size: 12px;

  width: 340px;
  @include text-truncate();
}

.search-result {
  width: 610px;
  top: 100%;
  margin-top: 1px;
  // border: 1px solid gray("300");
  background: gray("200");
  border-radius: 5px;
  overflow: hidden;
  @extend .shadow;
  position: absolute;
  left: 0;
}

.search-result-keyword-container {
  padding: 8px 10px;
}

.search-result-item {
  border-bottom: 1px solid gray("300");
}
.search-result-type {
  position: relative;
  width: 122px;
  float: left;
  padding: 8px 10px 3px;
  text-transform: uppercase;
  font-size: 12px;
}

.search-result-content {
  background: white;
  position: relative;
  margin-left: 122px;
  .more {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
  }
}

.search-result-keyword {
  font-weight: bold;
  width: 340px;
  @include text-truncate();
}

.search-recent {
  width: 550px;
  top: 100%;
  min-height: 40px;
  // border: 1px solid gray("300");
  margin-top: 1px;
  background: white;
  border-radius: 5px;
  @extend .shadow;
  overflow: hidden;
  position: absolute;
  left: 0;
}


