$juno-height: 40px;
.juno {
  height: $juno-height;
  background: white;
  background: darken(color("momo"), 10%);
  position: relative;
  z-index: 20;
}


.juno-menu{
  height: 54px;
  display: flex;
  align-items: center;
}

.juno-menu-btn {
  display: block;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  position: relative;
  padding-left: 26px;

  // color: gray("900");
  // font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.juno-menu-icon {
  width: 15px;
  position: absolute;
  height: 15px;
  top: 14px;
  fill: rgba(255, 255, 255, 0.8);
  left: 0;
}

.juno-menu {
  margin-left: 20px;

  &:hover {
    .juno-menu-btn {
      color: white;
      // background: gray("700");
      .juno-menu-icon {
        fill: white;
      }
    }

    .juno-menu-category {
      opacity: 1;
      visibility: visible;
    }
  }
}

.juno-menu-category {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in;

  position: relative;
  &:before{
    border-color: transparent transparent #e8e9eb transparent;
    top: -14px;

    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
  }

  &:after{
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
  }
}

.juno-noti {
  height: $juno-height;
  line-height: $juno-height;
  color: white;
}

.juno-menu {
  position: relative;
}

.juno-menu-list {
  position: absolute;
  // margin-top: -1px;

  top: 100%;
  z-index: 10;
  background: white;
  font-size: 15px;
  // border: 1px solid gray("300");
  border-top: none;
  padding: 16px 0;

  width: 270px;
  min-height: 250px;

  border: none;
  border-radius: 0;
  border-bottom-left-radius: 2px;
  border-top: 1px solid #e8e9eb;
  box-shadow: 0 4px 16px rgba(20,23,28,.25);
  color: #505763;
  margin: 0;
}

.juno-menu-list-sub {
  width: 100%;
  background: white;
}

.juno-menu-list-secondary {
  position: absolute;
  left: 100%;
  top: -1px;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
  // width: auto;
  white-space: nowrap;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  > li {
    // display: inline-block;
  }

  .juno-menu-link {
    &:hover,
    &.is-active {
      .juno-menu-link {
        background: transparent;
        color: theme-color("primary");
        &:after {
          opacity: 0;
        }
      }
    }
  }


}

// .juno-menu-list {
//   display: block !important;
//   visibility: visible !important;
//   opacity: 1 !important;
//   .juno-menu-item:not(:first-child){
//     .juno-menu-list-secondary{
//       display: none !important;
//     }
//   }
 
// }

.juno-menu-item {
  // position: relative;
}

.juno-menu-link {
  &.no-icon {
    padding-left: 15px;
  }
  padding: 5px 15px;
  padding-left: 50px;
  position: relative;
  color: $body-color;
  display: block;
  transition: all 0.1s ease-in;

  &.is-active {
    background: gray("100");
    color: $momo;
    &:after {
      opacity: 1;
    }
    .juno-menu-svg {
      // fill: $momo;
    }
  }


}

.juno-menu-arrow{
  color: gray("500");
  font-size: 9px;
  position: absolute;
  right: 10px;
  top: 12px;
  pointer-events: none;
}

.juno-menu-svg {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 18px;
  height: 18px;

  fill: gray("600");
}
