.mck-macbook{
  position: relative;
}

.mck-macbook-img{
  position: absolute;
  position: absolute;
  margin: 3.3% 16%;
  cursor: pointer;
  img{
    width: 100%;
  }
}

.mck-macbook-play{
  position: absolute;
  opacity: 0.8;
  font-size: 60px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: white;
  border-radius: 50%;
  z-index: 1;

}