.izlude {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  .navbar {
    // transition: all 0.2s ease-out;
      padding-top: 0;
      padding-bottom: 0;
      height: 54px;
  }

  .izlude-nav {
    flex: 1 1 0px;
    justify-content: flex-end;

    .nav-link {
      font-size: $small-font-size;
      padding: 0 13px;

      &.pd-less {
        padding: 0 10px;
      }

      &:hover {
        color: color("yellow");
      }

      @include media-breakpoint-down(lg) {
        padding: 0 10px;

        &.pd-less {
          padding: 0 5px;
        }
      }
    }

    .nav-link-icon {
      transition: all 0.2s ease-out;
      height: 22px;
      margin-bottom: 4px;
      margin-top: 2px;
    }
  }
}

.izlude-logo {
  margin-left: 0;
  // width: 65px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}



.izlude-logo {
  height: auto;
  padding: 0;
}

.izlude-collapse {
  // justify-content: space-between;

}

.izlude-search-btn {
  margin-left: 0;
  
  .btn {
    padding-left: 10px;
    padding-right: 12px;
    background: rgba(255, 255, 255, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    line-height: 0;
    border-left: 0;
    color: $momo;
    @include hover-focus-active(){
      color: $momo;
      background: white;
    }
  }
}

.izlude-search {
  // margin-right: 50px;
  margin-left: 20px;

  position: relative;


  .input-group {
    .form-control {
      width: 350px;
      padding-left: 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      height: 38px;
      background: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
      border-right: 0;
      color: gray("800");

      &::placeholder {
        // color: rgba(255, 255, 255, 0.7);
        color: gray("500");
      }
    }
  }

  .input-group-append {
    .btn {}
  }

  @include media-breakpoint-down(lg) {
    // margin-left: 0;

    .input-group {
      .form-control {
        width: 250px;
      }
    }
  }

}

.momo-logo {
  //width: 65px;
  //height: 65px;
  border-radius: 8px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.momo-logo-icon {
  //width: 55px;
  //height: 55px;
  color: theme-color("primary");
  transition: all 0.2s ease-out;
}


.momo-logo-icon {
  width: 34px;
  height: 34px;
}

.momo-logo {
  width: 44px;
  height: 44px;
}