.porlet-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);

  // background: #fff;
  border: 1px solid gray("200");
  // border-radius: 12px;
}

.porlet-padding {
  padding: 20px 15px;
  &.is-big {
    padding: 30px 30px;
  }
}

@include media-breakpoint-down(sm) {
  .porlet-padding {
    padding: 10px 10px;
    &.is-big {
      padding: 20px 15px;
    }
  }
}

.porlet-title-space {
  padding: 5px 15px 0;
  &.gray{
    background: #a4a4a4;
    padding: 0 15px 0;
    .porlet-title {
      color: white;
      border-bottom: 0;
      padding: 10px 0;
    }
  }
}

.porlet-title {
  // color: color("momo");
  padding: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid gray("200");
}



@include media-breakpoint-down(sm) {
  .porlet-title-space {
    padding: 5px 10px 0;
  }

  .porlet-title {
    // color: color("momo");
    padding: 10px 0;
    
  }
}
