.prontera-container {
  position: fixed;
  top: 0;
  left: 0;
  // max-width: $wrapper-max-widths;
  right: 0;
  width: 100%;
  z-index: $zindex-fixed;
}

.prontera {
  position: relative;

  background: white;
  height: 44px;
  //pointer-events: none;
  font-size: $h5-font-size;

  backface-visibility: hidden;

  font-weight: bold;

  &.prontera-blue {
    background: color("blue");
    color: white;
    a {
      color: white;
      @include hover-focus {
        color: white;
      }
    }
    &:before {
      display: none;
    }
  }

  &.prontera-gray {
    background: gray("200");
    &:before {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    background-color: gray("300");
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: -1px;
    // bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  .search-input-container {
    background: gray("200");
  }

  .prontera-left,
  .prontera-right {
    text-align: center;
    //line-height: 44px;
    padding: 0;
  }
}

.prontera-right {
  display: flex;
  flex-flow: row nowrap;
}

.prontera-link {
  display: block;
  min-width: 44px;
  height: 44px;
  line-height: 44px;

  .svg-inline {
    font-size: 20px;
    line-height: 44px;
    vertical-align: middle;
  }
  .active {
    color: color("blue");
  }
}

.prontera-title {
  line-height: 1.2;
  //margin-top: -5px;
}

.prontera-subtitle {
  display: block;
  font-size: 10px;
}

.search-input-container {
  background: gray("200");
  // background: rgb(244, 244, 244);
  height: 35px;

  border-radius: 5px;
  &:hover {
    background: gray("300");
  }
}

.search-input {
  .form-control {
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-right: 0;
    font-size: 13px;
    &:focus {
      border: none;
    }
  }
}

.search-input-icon {
  width: 28px;
  font-size: 16px;
  text-align: right;
  color: gray("500");
  line-height: 0;
}

.search-result-mobile {
  .search-recent{
    width: 100%;
    top: 0;
    position: relative;
    box-shadow: none !important;
    border-bottom: 1px solid gray("200");
  }
  .search-result{
    width: 100%;
    top: 0;
    position: relative;
    box-shadow: none !important;
    border-bottom: 1px solid gray("200");
  }
  .search-result-type {
    position: relative;
    float: none;
    width: 100%;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 11px;
  }
  .search-result-content {
    margin-left: 0;
  }
}
