
.scroll1::-webkit-scrollbar {
  width: 8px;
}

.scroll1::-webkit-scrollbar-thumb {
  background: gray("500");
  border-radius: 20px;
}

.scroll1::-webkit-scrollbar-track {
  background: gray("200");
  border-radius: 20px;
}