.slider-section {
  margin-top: 20px;
}
/* fade image in after load */
.lazyload,
.lazyloading,
.swiper-lazy {
  opacity: 0;
  // background: gray("200");
}
.lazyloaded,
.swiper-lazy-loaded {
  opacity: 1;
  transition: opacity 300ms;
}

.gallery-top {
  background: gray("200");
}

.gallery-thumbs {
  background: white;
  margin-left: -1px;
  .swiper-slide {
    display: block;
    background: white;
    padding: 5px 10px;
    height: 48px;
    line-height: 1.3;
    cursor: pointer;
    width: 20%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: gray("700");
    &:last-child {
      &:before {
        display: none;
      }
    }
    &:before {
      content: "";
      height: 70%;
      width: 1px;
      background: gray("300");
      right: -1px;
      z-index: 1;
      position: absolute;
    }
    &.is-active {
      color: black;
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 2px;
        background: theme-color("primary");
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.hotnew-container {
  margin-left: 10px;

}

.hotnew-nav {
  align-items: flex-end;
  .nav-link {
    border: none;
    border-bottom: 3px solid theme-color("primary");
    background: gray("500");
    color: gray("900");
    padding: 3px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &:hover,
    &:focus {
      border: none;
      border-bottom: 3px solid theme-color("primary");
    }
  }
  .nav-link.active {
    padding: 5px 10px;
    border-bottom: 3px solid theme-color("primary");
    background: theme-color("primary");
    color: white;
  }
}

.hotnew-tab-content {
  height: 217px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent gray("500") gray("500") gray("500");
  background: white;
  overflow-y: auto;
  padding: 0 10px 20px;
  position: relative;

  @include media-breakpoint-down(lg) {
    height: 174px;
  }
}

.hotnew-question-more{
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.hotnew-question-item {
  position: relative;
  padding: 16px 0;
  &:not(:last-child) {
    border-bottom: 1px solid gray("300");
  }

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
  }
  &:hover{
    
  }
}

.hotnew-question-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.hotnew-banner {
  margin-top: 10px;
  margin-left: 10px;
  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}
