.global-social{
  position: fixed;
  left: 0;
  top: 30%;
  z-index: 99;

  color: white;
  margin: 0;
  padding: 0;

  @include media-breakpoint-down(md) {
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: rgba(0,0,0,0.8);;
  }

}

.global-social-item{

  &.title{
    display: none;
    //background: rgba(0,0,0,0.8);

    padding: 0 5px;
    align-items: center;
    justify-content: center;
  }

  a{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 44px;
    height: 48px;
    color: white;
    transition: all 0.1s ease-in;
    &:hover{
      width: 55px;
      background: rgba(0,0,0,0.8);
    }
  }

  @include media-breakpoint-down(md) {
    &.title{
      display: flex;
    }

    a{
      background: transparent;
      font-size: 18px;
      width: 50px;
      height: 40px;
      &:hover{
        width: 50px;
        background: transparent;
      }
    }
  }
}