{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}


<div class="page-error d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="error-content">
                    
                    <span
                        class="error-text-large">404</span>

                    <h4>Opps! Nội dung bạn tìm kiếm không tồn tại</h4>
                    <p>Bạn hãy thử sử dụng chức năng tìm kiếm  phía trên để tìm nội dung bạn cần. <br>
                         
                                    Nếu bạn chắc chắn đây là lỗi, hãy báo cho chúng tôi để Momo ngày càng hoàn thiện hơn.
                            </p>
                        
                        
                        <a href="index-dark-particle-animate.html" class="btn btn-primary">Back
                        to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}