{% extends 'layouts/microsite-layout.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}


{% endblock %}

{% block content %}

{% include "layouts/mapbank-style.html" %}

<div class="wrapper" style="padding-top: 0px !important; transform: none;">
    <div class="post-wrapper" style="transform: none;">
        <div class="container" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-12 col-lg-8 sticky-content"
                    style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar"
                        style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                        <article>
                            <div class="post-body">
                                <div class="full-content">

                                    <div class="mapbank-container">

                                        <div class="mapbank">

                                            <div class="nhlk-banner">
                                                <img src="https://static.mservice.io/blogscontents/momo-upload-api-190604095841-636952391214531364.png"
                                                    class="img-fluid d-block mx-auto" alt="">
                                            </div>

                                            <div class="mb-4" style="font-size: 16px">
                                                Theo quy định của Ngân hàng nhà nước, để giao dịch trên Ví điện tử, bạn
                                                cần thêm thông tin ngân hàng, thẻ ATM nội địa, hoặc thẻ ghi nợVisam,
                                                Mastercasd, hoặc JCB. Bạn chỉ cần thêm thông tin thanh toán 1 lần duy
                                                nhất.
                                            </div>


                                        </div>


                                        <div class="mapbank-footer">
                                            <a href=""
                                                class="mapbank-cta">
                                                Thanh toán
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}