{% extends 'layouts/microsite-layout.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}


{% endblock %}

{% block content %}

{% include "layouts/mapbank-style.html" %}

<div class="wrapper" style="padding-top: 0px !important; transform: none;">
    <div class="post-wrapper" style="transform: none;">
        <div class="container" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-12 col-lg-8 sticky-content"
                    style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar"
                        style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                        <article>
                            <div class="post-body">
                                <div class="full-content">

                                    <div class="mapbank-container">

                                        <div class="mapbank nhlk">

                                            <div class="nhlk-heading">Hai cách sử dụng số dư trong Ví</div>

                                            <div class="row no-gutters align-items-center mb-3">
                                                <div class="col-auto">
                                                    <div class="nhlk-avatar">
                                                        <img src="https://static.mservice.io/blogscontents/momo-upload-api-190604101709-636952402299120665.png"
                                                            class="img-fluid" alt="">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    Momo
                                                </div>
                                            </div>

                                            <div class="mb-4">
                                                <img src="https://static.mservice.io/blogscontents/momo-upload-api-190604095841-636952391214531364.png"
                                                    class="img-fluid d-block mx-auto" alt="">
                                            </div>
                                            <div class="nhlk-step mb-3">
                                                Cách 1:
                                            </div>
                                            <div class="mb-4" style="">
                                                <div class="nhlk-heading">Mở tài khoản ngân hàng để liên kết với Ví MoMo
                                                </div>

                                                Đến ngay ngân hàng gần nhất để mở tài khoản mới, sau đó liên kết với Ví
                                                MoMo. Vừa có thể sử dụng số dư trong Ví, vừa nhận được gói quà đến
                                                300.000đ trải nghiệm dịch vụ.


                                            </div>

                                            <a href="" class="nhlk-cta" data-toggle="modal" data-target="#nhlk-modal-2">
                                                Tìm ngân hàng ngay
                                            </a>

                                            <div style="height: 40px"></div>


                                            <div class="nhlk-step mb-3">
                                                Cách 2:
                                            </div>
                                            <div class="mb-4" style="">
                                                <div class="nhlk-heading">Chuyển số dư trong Ví thành thẻ thanh toán
                                                </div>


                                                Bạn có thể sử dụng thẻ thanh toán cho tất cả dịch vụ trên MoMo. Vui lòng
                                                chọn mệnh giá thẻ bên dưới để quy đổi. Số tiền trong Ví sẽ được trừ
                                                tương ứng với mệnh giá bạn chọn.


                                            </div>




                                            <div class="nhlk-box">
                                                <div class="nhlk-box-grid">
                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth"
                                                            name="payOption" value="tranxETH" checked="">

                                                        <label for="payeth" class="nhlk-box-label">
                                                            <span class="payment-cur">10.000đ </span>
                                                        </label>
                                                    </div>


                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth1"
                                                            name="payOption" value="tranxETH2" checked="">
                                                        <label for="payeth1" class="nhlk-box-label">
                                                            <span class="payment-cur">20.000đ</span>
                                                        </label>
                                                    </div>
                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth2"
                                                            name="payOption" value="tranxETH2" checked="">
                                                        <label for="payeth2" class="nhlk-box-label">
                                                            <span class="payment-cur">50.000đ</span>
                                                        </label>
                                                    </div>

                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth"
                                                            name="payOption" value="tranxETH" checked="">

                                                        <label for="payeth" class="nhlk-box-label">
                                                            <span class="payment-cur">10.000đ </span>
                                                        </label>
                                                    </div>

                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth"
                                                            name="payOption" value="tranxETH" checked="">

                                                        <label for="payeth" class="nhlk-box-label">
                                                            <span class="payment-cur">10.000đ </span>
                                                        </label>
                                                    </div>

                                                    <div class="nhlk-box-item">
                                                        <input class="payment-check" type="radio" id="payeth"
                                                            name="payOption" value="tranxETH" checked="">

                                                        <label for="payeth" class="nhlk-box-label">
                                                            <span class="payment-cur">10.000đ </span>
                                                        </label>
                                                    </div>

                                                </div>

                                                <div class="mt-1">
                                                    <strong class="d-block">Lưu ý:</strong>
                                                    Bạn chỉ được chuyển đổi tối đa 3 lần, thời hạn chót thực hiện là
                                                    31/7/2019.

                                                </div>
                                            </div>

                                            <div style="height: 20px"></div>

                                            <a href="" class="nhlk-cta" data-toggle="modal" data-target="#nhlk-modal-1">
                                                Tiếp tục
                                            </a>




                                            <div style="height: 40px"></div>


                                            <div class="nhlk-step mb-3">
                                                Cách 3:
                                            </div>
                                            <div class="mb-4" style="">
                                                <div class="nhlk-heading">Liên hệ chăm sóc khách hàng để được hỗ trợ
                                                </div>
                                                Vui lòng gọi đến bộ phận CSKH bằng số điện thoại đăng ký Ví MoMo để được
                                                hướng dẫn rút tiền tại Điểm Nạp/Rút
                                            </div>


                                            <a href="" class="nhlk-cta" data-toggle="modal" data-target="#nhlk-modal-3">
                                                Liên hệ ngay
                                            </a>

                                        </div>



                                    </div>




                                    <div class="modal fade" id="nhlk-modal-1" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0 pb-0 pt-4">
                                                    <h5 class="modal-title my-0" style="font-size: 22px">Không đủ số dư
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="font-size: 16px">
                                                    Bạn còn 17.500đ trong Ví, số dư không đủ để thực hiện chuyển đổi.
                                                    Vui lòng chọn mệnh giá thấp hơn và thử lại
                                                </div>
                                                <div class="modal-footer border-0 pt-0">
                                                    <!--  <button type="button" class="btn btn-link"
                                                        data-dismiss="modal">Close</button> -->
                                                    <button type="button" data-dismiss="modal"
                                                        class="btn btn-link nhlk-btn-modal">ĐÓNG</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal fade" id="nhlk-modal-2" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0 pb-0 pt-4">
                                                    <h5 class="modal-title my-0" style="font-size: 22px">Chuyển đổi
                                                        thành công
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="font-size: 16px">
                                                    Bạn đã chuyển đổi thành công. <br>
                                                    Lưu ý: Thẻ thanh toán có thể được chuyển đến bạn muộn. Nếu chưa thấy
                                                    thẻ dịch vụ, vui lòng thoát ưng dụng và quay lại trong vòng 5 phút.
                                                </div>
                                                <div class="modal-footer flex-wrap border-0 pt-0">
                                                    <!--  <button type="button" class="btn btn-link"
                                                            data-dismiss="modal">Close</button> -->
                                                    <button type="button" data-dismiss="modal"
                                                        class="btn btn-link nhlk-btn-modal text-uppercase">Kiểm tra thẻ
                                                        thanh
                                                        toán</button>

                                                    <button type="button" data-dismiss="modal"
                                                        class="btn btn-link nhlk-btn-modal text-gray text-uppercase">Đóng</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal fade" id="nhlk-modal-3" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0 pb-0 pt-4">
                                                    <h5 class="modal-title my-0" style="font-size: 22px">Xác nhận chuyển
                                                        đổi
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="font-size: 16px">
                                                    Bạn đang thực hiện chuyển đổi thẻ thanh toán dịch vụ đa năng với
                                                    mệnh giá 10.000đ. Sau khi xác nhận bạn đồng ý việc chuyển đổi
                                                    10.000đ trong Ví MoMo thanh thẻ dịch vụ đa năng để thanh toán mọi
                                                    giao dịch trên MoMo.
                                                </div>
                                                <div class="modal-footer flex-wrap border-0 pt-0">
                                                    <!--  <button type="button" class="btn btn-link"
                                                                data-dismiss="modal">Close</button> -->


                                                    <button type="button" data-dismiss="modal"
                                                        class="btn btn-link nhlk-btn-modal text-gray text-uppercase">Huỷ</button>

                                                    <button type="button" data-dismiss="modal"
                                                        class="btn btn-link nhlk-btn-modal text-uppercase">Đồng
                                                        ý</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}