{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="hoidap.html">Hỏi đáp</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý ứng dụng và tài khoản</li>
        </ol>
    </div>
</nav>


<div class="page-hero"
     style="background-image: url('https://static.mservice.io/styles/desktop/images/tintuc/tintuc-head-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center page-hero-title font-weight-normal">
                    Giới thiệu
                </h1>

            </div>
        </div>

    </div>
</div>

<div class="help-topic-container pt-3">
    <div class="container">
        <div class="row no-gutters help-topic-border">
            <div class="col-12 col-lg-3 help-topic-border-right sticky-content">
                <div class="theiaStickySidebar">
                    <div class="topic-sidenav-btn-group d-flex d-lg-none">
                        <button class="btn btn-light topic-sidenav-btn btn-block font-weight-bold " type="button"
                                data-toggle="collapse" data-target="#helpTopic" aria-expanded="false"
                                aria-controls="helpTopic">

                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30"
                                 focusable="false">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
                            </svg>
                        </button>

                        <div class="topic-search text-left">
                            <span>Danh mục</span>
                        </div>

                    </div>

                    <div class="help-topic-sidenav collapse" id="helpTopic">

                        <div class="topic-sidenav">
                            <ul class="topic-sidenav-list list-unstyled general-sidenav-list">
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav32" style=color:#ae2070
                                       role="button" aria-expanded="false" aria-controls="topicSidenav32"
                                       class="text-uppercase topic-sidenav-expand  ">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-momo-logo"></use>
                                        </svg>

                                        Gi&#x1EDB;i thi&#x1EC7;u c&#xF4;ng ty
                                    </a>
                                    <div class="collapse show" id="topicSidenav32">
                                        <ul class="list-unstyled sub">
                                            <li class=active>
                                                <a href="/gioi-thieu/gioi-thieu-chung">Gi&#x1EDB;i Thi&#x1EC7;u
                                                    Chung</a>
                                            </li>
                                            <li>
                                                <a href="/gioi-thieu/su-kien-thanh-tuu">S&#x1EF1; Ki&#x1EC7;n Th&#xE0;nh
                                                    T&#x1EF1;u</a>
                                            </li>
                                            <li>
                                                <a href="/gioi-thieu/doi-tac">&#x110;&#x1ED1;i T&#xE1;c</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav36" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav36"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-bill-momo"></use>
                                        </svg>

                                        &#x110;i&#x1EC3;m giao d&#x1ECB;ch Momo
                                    </a>
                                    <div class="collapse " id="topicSidenav36">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/gioi-thieu-chung">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u Chung</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/gioi-thieu-cac-dich-vu">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u D&#x1ECB;ch V&#x1EE5;</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/bieu-phi">Bi&#x1EC3;u
                                                    Ph&#xED;</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/dinh-danh">&#x110;&#x1ECB;nh
                                                    Danh</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav37" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav37"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-momo-hand"></use>
                                        </svg>

                                        &#x1EE8;ng d&#x1EE5;ng v&#xED; Momo
                                    </a>
                                    <div class="collapse " id="topicSidenav37">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/ung-dung-momo/gioi-thieu-cac-ung-dung-momo">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u V&#xED; MoMo</a>
                                            </li>
                                            <li>
                                                <a href="/huong-dan/huong-dan-chung-ctgr69">C&#xE1;c H&#x1B0;&#x1EDB;ng
                                                    D&#x1EAB;n C&#x1EA7;n Thi&#x1EBF;t</a>
                                            </li>
                                            <li>
                                                <a href="/ung-dung-momo/dich-vu-tren-ung-dung-momo">D&#x1ECB;ch V&#x1EE5;
                                                    Tr&#xEA;n V&#xED; MoMo</a>
                                            </li>
                                            <li>
                                                <a href="/huong-dan/lien-ket-ngan-hang-ctgr67">C&#xE1;c Ng&#xE2;n H&#xE0;ng
                                                    K&#x1EBF;t N&#x1ED1;i</a>
                                            </li>
                                            <li>
                                                <a href="/ung-dung-momo/bieu-phi">Bi&#x1EC3;u Ph&#xED;</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav38" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav38"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-handshake"></use>
                                        </svg>

                                        Kh&#xE1;ch h&#xE0;ng doanh nghi&#x1EC7;p
                                    </a>
                                    <div class="collapse " id="topicSidenav38">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/vi-sao-chon-chung-toi">V&#xEC; sao
                                                    ch&#x1ECD;n ch&#xFA;ng t&#xF4;i</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/tien-ich">Ti&#x1EC7;n &#xED;ch</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/dich-vu-cung-cap">D&#x1ECB;ch v&#x1EE5;
                                                    cung c&#x1EA5;p</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/doi-tac">&#x110;&#x1ED1;i
                                                    t&#xE1;c</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/lien-he-hop-tac">Li&#xEA;n h&#x1EC7;
                                                    h&#x1EE3;p t&#xE1;c</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/timdiemgiaodich" class="text-uppercase">
                                        <svg class="svg-icon topic-sidenav-icon ">
                                            <use xlink:href="#svg-money-transfer"></use>
                                        </svg>
                                        T&#xEC;m &#x110;i&#x1EC3;m Giao D&#x1ECB;ch
                                    </a>
                                </li>
                                <li>
                                    <a href="/timdiemthanhtoan" class="text-uppercase">
                                        <svg class="svg-icon topic-sidenav-icon ">
                                            <use xlink:href="#svg-wallet"></use>
                                        </svg>
                                        T&#xEC;m &#x111;i&#x1EC3;m thanh to&#xE1;n
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <div class="topic-sidenav d-none d-lg-block">
                            <a href="/lienhe">
                                <h2 class="topic-sidenav-title mb-2">Liên hệ với Momo</h2>
                            </a>

                            <div class="topic-sidenav-content">
                                <div class="help-contact-hotline mb-3">
                                    Hotline CSKH từ <strong>8:00 - 17:00 </strong>
                                    <div class="mt-1">
                                        <a href="tel:1900 5454 41" class="block-more-btn auto">
                    <span>
                        <svg class="svg-icon svg-icon-15 mr-2">
                            <use xlink:href="#svg-phone"></use>
                        </svg>
                        GỌI NGAY
                    </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="help-contact-hotline ">
                                    Chat trực tuyến từ <strong>
                                    8:00 - 21:00
                                </strong>
                                    <div class="mt-1">
                                        <a href="https://www.facebook.com/messages/t/vimomo" target="_blank"
                                           class="block-more-btn auto facebook">
                    <span>
                        <svg class="svg-icon svg-icon-15 mr-2 ">
                            <use xlink:href="#svg-messenger"></use>
                        </svg>
                        CHAT VỚI MOMO
                    </span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9 sticky-sidebar">
                <div class="theiaStickySidebar">

                    <div class="topic-wrapper">

                        <div class="topic-content">
                            <div class="topic-content-head  d-none d-lg-block">
                                <h2 class="topic-content-name font-weight-bold">Sự Kiện Thành Tựu
                                </h2>
                            </div>

                            <div class="award-container">
                                <div class="award-item">
                                    <div class="award-item-year">
                                        2007
                                    </div>

                                    <div class="award-item-content">
                                            <p><strong>Ngày 20/2/2019:&nbsp;</strong>MoMo lần thứ 2 vươn lên chiếm <strong><a href="https://momo.vn/tin-tuc/tin-tuc-su-kien/vi-momo-vuon-len-vi-tri-so-1-top-ung-dung-tai-mien-phi-nhieu-nhat-tren-ios-682" target="_blank">ngôi vị đầu bảng Ứng dụng tải miễn phí trên App Store của iOS</a></strong>..</p>
                                            
                                            <p><strong>Ngày 10/1/2019:</strong> MoMo được The Asian Banker vinh danh là "<strong><a href="https://momo.vn/tin-tuc/thong-cao-bao-chi/momo-duoc-vinh-danh-kep-tai-giai-thuong-quoc-gia-viet-nam-the-asian-banker-2019-vi-dien-tu-cua-nam-va-lanh-dao-doi-moi-650" target="_blank">Ví điện tử của năm</a></strong>", đồng thời Phó chủ tịch MoMo Nguyễn Bá Diệp nhận giải "<strong><a href="https://momo.vn/tin-tuc/thong-cao-bao-chi/momo-duoc-vinh-danh-kep-tai-giai-thuong-quoc-gia-viet-nam-the-asian-banker-2019-vi-dien-tu-cua-nam-va-lanh-dao-doi-moi-650" target="_blank">Thành tựu Lãnh đạo đổi mớ</a></strong>i" trong chương trình Giải thưởng quốc gia Việt Nam.</p>
                                            
                                            <p><strong>Ngày 9/1/2019:</strong> MoMo nhận giải “Ứng dụng thanh toán xuất sắc nhất” trong chương trình Tech Awards 2018 (Bình chọn Sản phẩm Công nghệ Xuất sắc) do chuyên trang Số Hóa - VnExpress tổ chức.&nbsp;</p>
                                            </div>
                                </div>

                                <div class="award-item">
                                    <div class="award-item-year">
                                        2008
                                    </div>

                                    <div class="award-item-content">
                                        Đơn vị đầu tiên xây dựng thành công giải pháp ví điện tử trên di động (mobile
                                        money) tại Việt Nam.
                                    </div>
                                </div>

                                <div class="award-item">
                                    <div class="award-item-year">
                                        2009
                                    </div>

                                    <div class="award-item-content">
                                        Được Ngân hàng Nhà nước cấp phép thử nghiệm cung cấp dịch vụ ví điện tử tại Việt
                                        Nam phối hợp với Vietcombank.
                                    </div>
                                </div>

                                <div class="award-item">
                                    <div class="award-item-year">
                                        2010
                                    </div>

                                    <div class="award-item-content">
                                        Đơn vị đầu tiên tại Việt Nam Cung cấp dịch vụ ví điện tử MoMo trên di động cho
                                        hơn 20 triệu thuê bao Vinaphone thông qua ứng dụng được tích hợp trên SIMCARD.
                                    </div>
                                </div>


                                <div class="award-item">
                                    <div class="award-item-year">
                                        2011 <br> 2012
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Đơn vị ví điện tử đầu tiên tại Việt Nam được Ngân hàng Nhà nước cấp phép thử
                                            nghiệm cung cấp dịch vụ chuyển tiền mặt tại 10 tỉnh thành phía Nam thông qua
                                            cửa hàng MoMo, phối hợp với Vietcombank.

                                        </p>
                                        Được bình chọn là "Best Mobile Product of the Year 2012” cho giải pháp thanh
                                        toán trên di động.
                                    </div>
                                </div>

                                <div class="award-item">
                                    <div class="award-item-year">
                                        2013
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Cung cấp dịch vụ chuyển tiền và thanh toán trên 1000 cửa hàng MoMo đầu tiên
                                            tại 10 tỉnh thành phía Nam.
                                        </p>

                                        <p>
                                            Được bình chọn là "Best Mobile Product of the Year 2013” cho giải pháp thanh
                                            toán trên di động.
                                        </p>

                                        Nhận được đầu tư 5,75 triệu USD từ Ngân hàng đầu tư toàn cầu Goldman Sachs.
                                    </div>
                                </div>

                                <div class="award-item">
                                    <div class="award-item-year">
                                        2014
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Ngân hàng Nhà nước cho phép cung cấp dịch vụ chuyển tiền mặt thông qua cửa
                                            hàng MoMo trên toàn quốc, phối hợp với Vietcombank.
                                        </p>

                                        <p>
                                            Đơn vị ví điện tử đầu tiên tại Việt Nam triển khai thành công ứng dụng thanh
                                            toán di động trên nền tảng Android và iOS.

                                        </p>
                                        <p>
                                            Ứng dụng MoMo lọt vào top 3 các ứng dụng tài chính trên Android.

                                        </p>
                                        <p>
                                            Lần thứ 3 liên tiếp được bình chọn là "Best Mobile Product of the Year 2013”
                                            cho giải pháp thanh toán trên di động.

                                        </p>

                                        <p> Đơn vị ví điện tử đầu tiên cung cấp dịch vụ nhắn tin tương tác cho các
                                            gamshow truyền hình trên ứng dụng MoMo.
                                        </p>

                                        <p> Nhận tài trợ không hoàn lại 400.000 USD từ quỹ Thử thách Doanh nghiệp Việt
                                            Nam (VBCF) cho việc phát triển dịch vụ thanh toán cho người thu nhập thấp
                                            tại Việt Nam.
                                        </p>
                                        <p> Cung cấp dịch vụ chuyển tiền và thanh toán tại 2.500 cửa hàng MoMo tại 30
                                            tỉnh thành trên cả nước.
                                        </p>
                                    </div>
                                </div>


                                <div class="award-item">
                                    <div class="award-item-year">
                                        2015
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Đạt 1 triệu khách hàng sử dụng ứng dụng MoMo.

                                        </p>
                                        <p>
                                            MoMo trở thành ứng dụng đứng số 1 các ứng dụng tài chính trên nền tảng
                                            Android và ngay sau đó tiếp tục vươn lên dẫn đầu các ứng dụng miễn phí trên
                                            App Store.

                                        </p>


                                        <p> Ứng dụng MoMo được Mobile Marketing Association trao giải sản phẩm đột phá
                                            của năm (Enabling Technology Company of The Year in Mobile – Smarties 2015).
                                        </p>
                                        <p>
                                            Cung cấp dịch vụ chuyển tiền và thanh toán tại 4.000 cửa hàng MoMo tại 45
                                            tỉnh thành trên cả nước.

                                        </p>
                                        <p>
                                            Cung cấp hơn 100 dịch vụ thanh toán, tài chính trên ứng dụng MoMo và cửa
                                            hàng MoMo.

                                        </p>
                                        <p>
                                            Ví điện tử đầu tiên tại Việt Nam tích hợp mobile commerce trên ứng dụng
                                            MoMo.

                                        </p>
                                        <p>
                                            Ứng dụng MoMo trở thành kênh đóng góp từ thiện cho Quỹ Operation Smile Việt
                                            Nam.

                                        </p>
                                        <p>
                                            Là một trong các doanh nghiệp đầu tiên được Ngân hàng Nhà nước Việt Nam cấp
                                            giấy phép chính thức cung cấp dịch vụ Ví điện tử.

                                        </p>
                                    </div>
                                </div>


                                <div class="award-item">
                                    <div class="award-item-year">
                                        2016
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Tháng 3/2016, MoMo nhận được đầu tư trị giá 28 triệu USD từ Quỹ đầu tư Standard Chartered Private Equity và Ngân hàng Đầu tư toàn cầu Goldman Sachs.

                                        </p>
                                        <p>
                                            Tháng 8/2016, Ví điện tử MoMo đã chính thức nhận Chứng nhận Bảo mật quốc tế PCI DSS (Payment Card Industry Data Security Standard) cấp độ Service Provider (cấp độ Nhà Cung Cấp Dịch vụ). Đến thời điểm hiện tại, Ví điện tử MoMo là một trong số ít trung gian thanh toán đạt được chứng nhận này.

                                        </p>


                                        <p>Đến nay Ví điện tử MoMo đã đạt hơn 1,5 triệu người tin dùng.
                                        </p>

                                    </div>
                                </div>


                                <div class="award-item">
                                    <div class="award-item-year">
                                        2017
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Tháng 1/2017: MoMo trở thành Công ty Fintech đầu tiên tại Việt Nam đạt giải thưởng “Sản phẩm Thanh toán Di động tốt nhất Việt Nam” (Best Mobile Payments Product in Vietnam) do tạp chí Uy tín The Asian Banker (Singapore) vinh danh. Lễ trao giải được tổ chức trong khuôn khổ Hội nghị The Future of Finance lần đầu tiên tại Việt Nam - Hội nghị cấp cao dành cho các nhà lãnh đạo trong lĩnh vực Dịch vụ tài chính.
                                        </p>
                                        <p>
                                            Tháng 11/2017: Uber và MoMo chính thức ký kết hợp tác chiến lược, theo đó, Ví điện tử MoMo sẽ trở thành một trong ba phương thức thanh toán chính của dịch vụ Uber Việt Nam. Việt Nam cũng là nước đầu tiên tại Đông Nam Á và thứ hai tại Châu Á Uber triển khai hình thức thanh toán qua Ví điện tử. Trong khuôn khổ hợp tác, Uber và MoMo cam kết thúc đẩy ứng dụng công nghệ kỹ thuật số và thanh toán điện tử, góp phần đưa Việt Nam tiến tới một xã hội không tiền mặt.
                                        </p>


                                        <p>Tháng 12/2017: MoMo liên tiếp nhận hai giải thưởng về lĩnh vực Fintech và tiêu dùng. Tại Lễ trao giải "Ngân hàng Việt Nam tiêu biểu 2017" do Hiệp hội Ngân hàng và Tập đoàn Dữ liệu quốc tế (IDG) tổ chức dưới sự bảo trợ của Ngân hàng Nhà nước Việt Nam, MoMo được vinh danh tại hạng mục "Doanh nghiệp Fintech tiêu biểu Việt Nam 2017". Sau đó, MoMo tiếp tục nhận danh hiệu "Top 100 sản phẩm dịch vụ Tin và Dùng 2017" do ấn phẩm Tư vấn tiêu dùng thuộc Thời báo Kinh tế Việt Nam trao tặng, dựa trên bình chọn của người dùng.
                                        </p>

                                    </div>
                                </div>


                                <div class="award-item">
                                    <div class="award-item-year">
                                        2018
                                    </div>

                                    <div class="award-item-content">
                                        <p>
                                            Tháng 1/2018: MoMo lần thứ hai liên tiếp được vinh danh tại hạng mục “Sản phẩm Thanh toán Di động tốt nhất Việt Nam” (Best Mobile Payments Product in Vietnam) do tạp chí Uy tín The Asian Banker (Singapore) bình chọn. Tại Hội nghị dành cho lãnh đạo lĩnh vực Dịch vụ tài chính với chủ đề "Triển vọng ngành tài chính Việt Nam 2018" do The Asian Banker tổ chức, đại diện MoMo tham gia với tư cách diễn giả trong phiên thảo luận về các startup tài chính.
                                        </p>
                                        <p>
                                            Tháng 3/2018: MoMo nằm trong Top 100 công ty Fintech hàng đầu thế giới trong việc phổ biến tài chính toàn diện, theo báo cáo "Tài chính toàn diện trong kỷ nguyên số" của Công ty tài chính quốc tế IFC (thuộc World Bank Group) công bố. Đứng chung trong danh sách cùng MoMo có những doanh nghiệp tài chính công nghệ nổi bật của thế giới như Adyen (Hà Lan); PayTM (Ấn Độ); Stripe (Mỹ)...
                                        </p>

                                        <p>
                                            Tháng 4/2018: MoMo vinh hạnh nhận danh hiệu Ví Điện Tử số 1 Việt Nam. Đây là kết quả bình chọn nằm trong “Chương trình Bình chọn Ví Điện Tử tiêu biểu Việt Nam” được tổ chức lần đầu tiên được bởi Tạp chí Nhịp Cầu Đầu Tư.
                                        </p>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}