{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}


{% set cats = [
   {
   "link" : "",
   "img" : "cashback-giaitri.svg",
   "title" : "Giải trí",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
	{
   "link" : "",
   "img" : "cashback-muasam.svg",
   "title" : "Mua sắm",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
 
   {
   "link" : "",
   "img" : "cashback-dulich.svg",
   "title" : "Du lịch - Vận chuyển",
   "score" : "Hoàn tiền từ 0,3% đến 3%"
   },
   {
   "link" : "",
	"img" : "cashback-game.svg",
   "title" : "Game - Ứng dụng",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-baohiem.svg",
   "title" : "Tài chính - Bảo hiểm",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-nhahang.svg",
   "title" : "Ăn vặt - Vỉa hè",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
   {
   "link" : "",
   "img" : "cashback-sieuthi.svg",
   "title" : "Siêu thị - Cửa hàng tiện lợi",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-cafe.svg",
   "title" : "Cafe - Dessert",
   "score" : "Hoàn tiền từ 0,3% đến 30%"
   },
   {
   "link" : "",
   "img" : "cashback-nhahang.svg",
   "title" : "Nhà hàng",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
   {
   "link" : "",
   "img" : "cashback-hoadon.svg",
   "title" : "Thanh toán hóa đơn",
   "score" : "Hoàn tiền từ 2.000đ hoặc đến 5%"
   }
]

%}


{% block CSS %}



<link rel="stylesheet" href="stylesheets/cashback.css">


{% endblock %}

{% block content %}
{% include "layouts/mobile.html" %}






<section class="position-relative cashback-ad-container">
   <div class=" d-none d-lg-block" style="   background: #831854;">
      <div class="container">
         <div class="row no-gutters ">
            <div class="col-12 col-md-12 col-lg-3">

               <div class="cashback-cat-item cashback-cat-title">
                  <img class="img-fluid cashback-cat-img" src="images/cashback/square.svg" width="" alt="">

                  <h5 class="cashback-cat-name font-weight-bold text-uppercase"> Hoàn tiền tiết kiệm</h5>
               </div>

               <div class="col-12 col-md-12  col-lg-3 position-relative d-none">
                  <ul class="cashback-cat osahan-category-item list-unstyled" id="juno-menu-aim2">


                     {% for item in cats %}

                     <li class="cashback-cat-item osahan-category-item">
                        <a href="index.html" class="cashback-cat-link">
                           <img class="img-fluid cashback-cat-img" src="images/cashback/category/{{item.img}}" alt="">
                           <h4 class="cashback-cat-name ">{{item.title}}</h4>
                           <div class="cashback-cat-sub">{{item.score}}</div>
                        </a>
                        <div class="cashback-cat-gm">

                           <div class="cashback-cat-hh">
                              <h4 class="mb-3">Thương hiệu phổ biến</h4>
                              <div class="row ">
                                 <div class="col-9">
                                    <div class="cashback-grid">

                                       {% if loop.index == 2 %}

                                       {% for item in range(0,2) %}
                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.dalathasfarm.com/assets/images/logo.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>
                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/VNA_logo_vn.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>
                                       {% endfor %}

                                       {% endif%}

                                       {% for item in range(0,1) %}
                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.dalathasfarm.com/assets/images/logo.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>
                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/VNA_logo_vn.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>

                                       <div class="cashback-item">
                                          <div class="cashback-item-img">
                                             <img class="cashback-logo"
                                                src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png"
                                                alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                          </div>

                                          <div class="cashback-item-name">
                                             Hoàn tiền 0.3%
                                             trên tổng hóa đơn
                                          </div>
                                       </div>
                                       {% endfor %}

                                    </div>
                                 </div>
                                 <div class="col-3">
                                    <a href="">
                                       <img
                                          src="https://salt.tikicdn.com/ts/banner/9e/88/e8/9f20d8adaf90ba9f4f9a7e94b999255e.png"
                                          class="img-fluid mx-auto d-block" alt="">
                                    </a>
                                 </div>
                              </div>
                           </div>

                           <div class="mt-4">
                              <a href="" class="btn btn-block btn-outline-danger">Xem tất cả Cashback Mua Sắm</a>
                           </div>



                        </div>
                     </li>

                     {% endfor %}


                  </ul>
               </div>
            </div>
            <div class="col-12 col-md-12 col-lg-9">
               <marquee direction="" onmouseover="this.stop()" onmouseout="this.start()" style="display: block">
                  <div class="holder" style="display:block">
                     <div class="juno-noti" style="height: 36px; line-height: 36px"><a
                           href="https://momo.vn/huong-dan/lien-ket-ngan-hang-ctgr67" style="color:inherit">
                           Hướng dẫn liên kết Ví MoMo với tài khoản ngân hàng. Xem Ngay! </a></div>
                  </div>
               </marquee>
            </div>
         </div>
      </div>
   </div>


   <div class="swiper-container cashback-ad">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>

         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>

         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>

         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>

         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>

         <div class="swiper-slide">
            <a href="" class="cashback-ad-item1 d-none d-lg-block">
               <img src="images/cashback/banner-ld.jpg" class="img-fluid" alt="">
            </a>
            <a href="" class="d-block d-lg-none">
               <img src="images/cashback/banner-ld-mobile.jpg" class="img-fluid w-100" alt="">
            </a>

         </div>
      </div>


      <!-- Add Pagination -->
      <div class="swiper-pagination cashback-swiper-pagination d-block d-lg-none"></div>

   </div>
   <div class="container">
      <div class="row no-gutters">
         <div class="col-12 col-md-12  col-lg-10 offset-lg-1 position-relative">

            <div class="swiper-container cashback-cat-nav">
               <div class="swiper-wrapper">
                  <div class="swiper-slide is-active">
                     Hoàn tiền tiết kiệm
                  </div>
                  <div class="swiper-slide  ">
                     Hoàn tiền tiết kiệm
                  </div>
                  <div class="swiper-slide ">
                     Hoàn tiền tiết kiệm </div>
                  <div class="swiper-slide  ">
                     Hoàn tiền tiết kiệm </div>

                  <div class="swiper-slide ">
                     Hoàn tiền tiết kiệm
                  </div>

                  <div class="swiper-slide ">
                     Hoàn tiền tiết kiệm </div>

               </div>
            </div>

         </div>
      </div>
   </div>

</section>

<section class="section d-block d-lg-none">
   <div class="container px-0">

      <ul class="nav  cashback-catmobile" id="myTab" role="tablist">
         {% for item in cats %}
         <li class="nav-item">
            <a class="nav-link {% if loop.index == 1 %} active {% endif %}" id="home-tab" data-toggle="tab" href="#home"
               role="tab" aria-controls="home" aria-selected="true">
               <img class="img-fluid img" src="images/cashback/category/{{item.img}}" alt="">
               <h4 class="title">{{item.title}}</h4>
            </a>
         </li>
         {% endfor %}
      </ul>

      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="cashback-grid mt-0">

               {% for item in range(0,2) %}
               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 30%
                     trên tổng hóa đơn
                  </div>
               </div>


               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo" src="https://www.dalathasfarm.com/assets/images/logo.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 25%
                     trên tổng hóa đơn
                  </div>
               </div>

               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 20%
                     trên tổng hóa đơn
                  </div>
               </div>
               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/VNA_logo_vn.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 10%
                     trên tổng hóa đơn
                  </div>
               </div>


               {% endfor %}


            </div>

         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">



         </div>

      </div>
   </div>
</section>


<section class="section pt-2 pb-2  mt-2 products-section">
   <div class="container ">
      <div class="section-pd">
         <div class="section-header text-center">
            <h2>Nổi bật</h2>
            <span class="line"></span>
         </div>
         <div class="row">
            <div class="col-md-12">

               <div class="swiper-container swiper-cashback px-1">
                  <div class="swiper-wrapper">

                     {% for item in range(0,5) %}

                     <div class="swiper-slide">

                        <div
                           class="list-card sale-item bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="list-card-image">

                              <div class="sale-brand"
                                 style="background-image: url('https://www.dalathasfarm.com/assets/images/logo.png')">

                              </div>


                              <div class="embed-responsive embed-responsive-16by9">
                                 <img src="images/cashback/list/1.png" class="embed-responsive-img">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="mb-1 text-black font-weight-bold">⚡️20% off everything + 5% upsized
                                    cashback
                                    (was 3.5%)</div>
                                 <div class="text-gray">Hoa tươi Dalat Hasfarm</div>

                              </div>

                           </div>

                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">
                                    Hoàn tiền 25%
                                 </div>
                              </div>
                              <div class="col-auto">
                                 <div class="sale-cashback-code d-none">
                                    <small class="font-weight-normal">Nhập mã</small>
                                    <span class="font-weight-bold">CGV123</span>
                                 </div>

                              </div>
                           </div>


                        </div>
                     </div>

                     <div class="swiper-slide">

                        <div
                           class="list-card sale-item bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="list-card-image">


                              <div class="sale-brand"
                                 style="background-image: url('https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png')">

                              </div>

                              <div class="embed-responsive embed-responsive-16by9">
                                 <img src="images/cashback/list/2.png" class="embed-responsive-img">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="mb-1 text-black font-weight-bold">45% off at NamNam. Limited to first 200
                                    redemptions.</div>
                                 <div class="text-gray ">Hoa tươi Dalat Hasfarm</div>

                              </div>

                           </div>

                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">
                                    Hoàn tiền 30%
                                 </div>
                              </div>
                              <div class="col-auto">
                                 <div class="sale-cashback-code d-none">
                                    <small class="font-weight-normal">Nhập mã</small>
                                    <span class="font-weight-bold">OSAHAN50</span>
                                 </div>

                              </div>
                           </div>


                        </div>
                     </div>

                     {% endfor %}
                  </div>
                  <!-- Add Pagination -->
                  <!-- Add Arrows -->
                  <div class="swiper-button-next cashback-swiper-btn swiper-button-black">
                     <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                     </svg>
                  </div>
                  <div class="swiper-button-prev cashback-swiper-btn  swiper-button-black">
                     <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                     </svg>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</section>








<section class="section pt-2 pb-2 products-section">
   <div class="container ">
      <div class="section-pd">
         <div class="section-header text-center">
            <h2>Khuyến mãi</h2>
            <span class="line"></span>
         </div>


         <div class="row sm-gutters">
            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/5926/expedia_page_thumbnail_abfb0b6c.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>

            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11300/book-depository_page_thumbnail_27a03738.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>


            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11369/net-a-porter_page_thumbnail_1820abec.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>

            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11663/photobook-worldwide_page_thumbnail_8d1a7c85.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>


         </div>





      </div>
   </div>
</section>



<div class="container">

   <div class="row pt-3">
      <div class="col-md-12">
         <h4 class="font-weight-bold mt-0 mb-3">Tin tức</h4>
      </div>
      <div class="col-12">

         <div class="swiper-container cashback-new">
            <div class="swiper-wrapper">
               {% for item in range(0,4) %}
               <div class="swiper-slide">
                  <div class="card offer-card-horizontal border-0 shadow-sm">
                     <div class="row d-flex no-gutters">
                        <div class="  col-md-4 col-12 p-2 p-md-4 ">
                           <img
                              src="https://content.shopback.com/sg/wp-content/uploads/2019/05/30110456/projector-660x420.png"
                              class="card-img" alt="...">
                        </div>
                        <div class="  col-md-8 col-12">
                           <div class="card-body  pl-md-0">
                              <h4 class="">Get flat $.30 cashback using Osahan Pay</h4>
                              <p class="card-text text-secondary">Get flat $.30 cashback on orders above $.99 for 10
                                 orders. No
                                 code required.
                              </p>
                              <p class="card-text"><small class="text-gray">3 ngày trước
                                 </small>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next cashback-swiper-btn swiper-button-black">
               <svg class="svg-inline ">
                  <use xlink:href="svg/svg.svg#svg-angle-right"></use>
               </svg>
            </div>
            <div class="swiper-button-prev cashback-swiper-btn  swiper-button-black">
               <svg class="svg-inline ">
                  <use xlink:href="svg/svg.svg#svg-angle-left"></use>
               </svg>
            </div>
         </div>

      </div>

   </div>
</div>

<br>



























{% endblock %}




{% block testJS %}
<script src="js/cashback.js"></script>
<script>
   $("#juno-menu-aim2").menuAim({
      activate: function activate(row) {
         $(row)
            .children()
            .addClass("is-active");
      },
      deactivate: function deactivate(row) {
         $(row)
            .children()
            .removeClass("is-active");
      },
      exitMenu: function exitMenu() {
         $(".cd-dropdown-content")
            .find(".is-active")
            .removeClass("is-active");
         return true;
      },
      submenuDirection: "right"
   });

</script>


{% endblock %}