{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}


{% set cat2s = [
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png",
   "title" : "Siêu thị - Cửa hàng tiện lợi",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
    {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png",
   "title" : "Cafe/Dessert",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
 
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_nha_hang@3x.png",
   "title" : "Nhà hàng - Quán ăn",
   "score" : "Hoàn tiền từ 0,3% đến 3%"
   },
   {
   "link" : "",
    "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_giai_tri@3x.png",
   "title" : "Giải trí",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_mua_sam@3x.png",
   "title" : "Mua sắm",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_du_lich@3x.png",
   "title" : "Du lịch - Vận chuyển",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_tai_chinh@3x.png",
   "title" : "Tài chính - Bảo hiểm",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_hoa_don@3x.png",
   "title" : "Thanh toán hóa đơn",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_game@3x.png",
   "title" : "Game - Ứng dụng",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_mua_sam_online@3x.png",
   "title" : "Mua sắm ONLINE",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   }
]

%}



{% set det = [
   {
   "link" : "",
   "img" : "https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_GS25.png",
   "title" : "GS25",
   "sub" : "Cửa hàng tiện lợi GS25",
   "score" : "5%"
   },
   {
   "link" : "",
   "img" : "https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/fbI1pWN4F0qGZZd01JDi_1559293904920",
   "title" : "Co.op Smile",
   "sub" : "Cửa hàng tiện lợi Co.op Smile",
   "score" : "5%"
   },
   {
   "link" : "",
   "img" : "https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/1G4yD2ut8EbvRX854mm1_1559293284723",
   "title" : "LOTTE Mart",
   "sub" : "Siêu thị LOTTE Mart",
   "score" : "0.5%"
   }
]

%}

{% set cats = [
   {
   "link" : "",
   "img" : "cashback-giaitri.svg",
   "title" : "Giải trí",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
	{
   "link" : "",
   "img" : "cashback-muasam.svg",
   "title" : "Mua sắm",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
 
   {
   "link" : "",
   "img" : "cashback-dulich.svg",
   "title" : "Du lịch - Vận chuyển",
   "score" : "Hoàn tiền từ 0,3% đến 3%"
   },
   {
   "link" : "",
	"img" : "cashback-game.svg",
   "title" : "Game - Ứng dụng",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-baohiem.svg",
   "title" : "Tài chính - Bảo hiểm",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-nhahang.svg",
   "title" : "Ăn vặt - Vỉa hè",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
   {
   "link" : "",
   "img" : "cashback-sieuthi.svg",
   "title" : "Siêu thị - Cửa hàng tiện lợi",
   "score" : "Hoàn tiền từ 0,3% đến 5%"
   },
   {
   "link" : "",
   "img" : "cashback-cafe.svg",
   "title" : "Cafe - Dessert",
   "score" : "Hoàn tiền từ 0,3% đến 30%"
   },
   {
   "link" : "",
   "img" : "cashback-nhahang.svg",
   "title" : "Nhà hàng",
   "score" : "Hoàn tiền từ 0,3% đến 20%"
   },
   {
   "link" : "",
   "img" : "cashback-hoadon.svg",
   "title" : "Thanh toán hóa đơn",
   "score" : "Hoàn tiền từ 2.000đ hoặc đến 5%"
   },
   {
      "link" : "",
      "img" : "cashback-hoadon.svg",
      "title" : "Thanh toán hóa đơn",
      "score" : "Hoàn tiền từ 2.000đ hoặc đến 5%"
      },
      {
         "link" : "",
         "img" : "cashback-hoadon.svg",
         "title" : "Thanh toán hóa đơn",
         "score" : "Hoàn tiền từ 2.000đ hoặc đến 5%"
         }
]

%}




{% block content %}
{% include "layouts/mobile.html" %}




<!-- Modal -->
<div class="modal fade modal-lunar modal-cashback-present" id="demoModal" tabindex="-1" role="dialog"
   aria-labelledby="demoModal" aria-hidden="true">
   <div class="modal-dialog   modal-dialog-centered  " role="document">
      <div class="modal-content">
         <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <div class="modal-body" style="background-image: url('images/cashback/cashback-modal-bg.png')">
            <div>
               <div class="px-sm-5 py-sm-5 ">
                  <div class=" bg-cashback-modal  px-4 py-4">
                     <div class="text-center">
                        <img
                           src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/0a7WdmruYRCIVCEAF6W8_1559295507790"
                           alt="" width="80">
                     </div>
                     <h3 class="pt-sm-3 mb-4 text-center">Liberty - Bảo hiểm Liberty Xe máy</h3>
                     <div class="text-muted text-left cashback-modal-txt">
                        <div><strong>Chi tiết ưu đãi</strong></div>
                        <div>Hoàn tiền 5% trên tổng hoá đơn</div><br>
                        <div><strong>Điều kiện và điều khoản</strong></div>
                        <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết ngân
                           hàng
                           (ngoại trừ thẻ thanh toán quốc tế) </div>
                        <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)
                        </div>
                        <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 1.000.000đ/tháng </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>


   </div>
</div>
</div>
<!-- Modal Ends -->

<section class="position-relative cashback-ad-container">
   <div class=" d-none d-lg-block" style="   background: #831854;">
      <div class="container">
         <div class="row  no-gutters">
            <div class="col-12 col-md-12 col-lg-3">

               <!-- <div class="cashback-cat-item cashback-cat-title">
                  <img class="img-fluid cashback-cat-img" src="images/cashback/square.svg" width="" alt="">

                  <h5 class="cashback-cat-name font-weight-bold text-uppercase"> Hoàn tiền tiết kiệm</h5>
               </div> -->

               <div class="cashback-cat-link cashback-cat-title">
                  <img class="img-fluid cashback-cat-img" src="images/cashback/square.svg" alt="">
                  <h4 class="cashback-cat-name text-uppercase font-weight-bold">Danh mục hoàn tiền</h4>
                  <!-- <div class="cashback-cat-sub">Hoàn tiền từ 0,3% đến 3%</div> -->
               </div>


            </div>
            <div class="col-12 col-md-12 col-lg-9">
               <marquee direction="" onmouseover="this.stop()" onmouseout="this.start()" style="display: block">
                  <div class="holder" style="display:block">
                     <div class="juno-noti" style="height: 36px; line-height: 36px"><a
                           href="https://momo.vn/huong-dan/lien-ket-ngan-hang-ctgr67" style="color:inherit">
                           Hướng dẫn liên kết Ví MoMo với tài khoản ngân hàng. Xem Ngay! </a></div>
                  </div>
               </marquee>
            </div>
         </div>
      </div>
   </div>
   <div class="container">

      <div class="row no-gutters">
         <div class="col-12 col-md-12  col-lg-3 position-relative">

            <ul class="cashback-cat  list-unstyled" id="juno-menu-aim2">

               {% for item in cats %}

               <li class="cashback-cat-item ">
                  <a href="index.html" class="cashback-cat-link">
                     <img class="img-fluid cashback-cat-img" src="images/cashback/category/{{item.img}}" alt="">
                     <h4 class="cashback-cat-name ">{{item.title}}</h4>
                     <!-- <div class="cashback-cat-sub">{{item.score}}</div> -->
                  </a>
                  <div class="cashback-cat-gm">

                     <div class="cashback-cat-hh">
                        <h4 class="mb-3">Thương hiệu phổ biến</h4>
                        <div class="row ">
                           <div class="col-12">
                              <div class="cashback-grid">

                                 {% if loop.index == 2 %}

                                 {% for item in range(0,2) %}
                                 <div class="cashback-item" title="Nhà Hàng Lẩu &amp; Gà Nướng Đủ Vị"
                                    onclick="return showPlaceInfo(586,'/thanh-toan-momo-o-o-o')"><a
                                       class="link-absolute" href="/thanh-toan-momo-o-o-o" onclick="return false"></a>
                                    <div class="cashback-item-img"><img class="cashback-logo"
                                          src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/oxqBAUJO5Ji6l7PYVDoP_1559293397630"
                                          alt="Gà Nướng Ò Ó O"></div>
                                    <div class="text-truncate text-small mt-3 text-dark font-weight-bold">Gà Nướng Ò Ó O
                                    </div>
                                    <div class="cashback-item-name text-danger mt-0">Hoàn tiền 15%</div>
                                 </div>

                                 {% endfor %}

                                 {% endif%}

                                 {% for item in range(0,1) %}
                                 <div class="cashback-item">
                                    <div class="cashback-item-img">
                                       <img class="cashback-logo"
                                          src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                          alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                    </div>

                                    <div class="cashback-item-name">
                                       Hoàn tiền 0.3%
                                       trên tổng hóa đơn
                                    </div>
                                 </div>

                                 <div class="cashback-item">
                                    <div class="cashback-item-img">
                                       <img class="cashback-logo"
                                          src="https://www.dalathasfarm.com/assets/images/logo.png"
                                          alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                    </div>

                                    <div class="cashback-item-name">
                                       Hoàn tiền 0.3%
                                       trên tổng hóa đơn
                                    </div>
                                 </div>

                                 <div class="cashback-item">
                                    <div class="cashback-item-img">
                                       <img class="cashback-logo"
                                          src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                                          alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                    </div>

                                    <div class="cashback-item-name">
                                       Hoàn tiền 0.3%
                                       trên tổng hóa đơn
                                    </div>
                                 </div>
                                 <div class="cashback-item">
                                    <div class="cashback-item-img">
                                       <img class="cashback-logo"
                                          src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/VNA_logo_vn.png"
                                          alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                    </div>

                                    <div class="cashback-item-name">
                                       Hoàn tiền 0.3%
                                       trên tổng hóa đơn
                                    </div>
                                 </div>

                                 <div class="cashback-item">
                                    <div class="cashback-item-img">
                                       <img class="cashback-logo"
                                          src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png"
                                          alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                                    </div>

                                    <div class="cashback-item-name">
                                       Hoàn tiền 0.3%
                                       trên tổng hóa đơn
                                    </div>
                                 </div>
                                 {% endfor %}

                              </div>
                           </div>

                        </div>
                     </div>

                     <div class="mt-4">
                        <a href="" class="btn btn-block btn-outline-danger">Xem tất cả Cashback Mua Sắm</a>
                     </div>



                  </div>
               </li>

               {% endfor %}


            </ul>

         </div>

         <div class="col-12 col-md-12 col-lg-9">
            <div class="shadow-sm  cashback-ad-pd  overflow-hidden">


               <div class="swiper-container cashback-ad  ">
                  <div class="swiper-wrapper">

                     {% for item in range(0,6) %}
                     <div class="swiper-slide">

                        <a href="" class="d-block cashback-ad-item">
                           <img
                              src="https://static.mservice.io/banner/s/momo-upload-api-190730174934-637001057741760959.jpg"
                              class="img-fluid w-100" alt="">
                        </a>

                     </div>
                     {% endfor %}


                  </div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>

                  <!-- Add Pagination -->
                  <div class="swiper-pagination cashback-swiper-pagination d-block d-lg-none"></div>



               </div>


               <div class="swiper-container cashback-cat-nav">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide is-active">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30%
                     </div>
                     <div class="swiper-slide  ">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30%
                     </div>
                     <div class="swiper-slide ">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30% </div>
                     <div class="swiper-slide  ">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30% </div>

                     <div class="swiper-slide ">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30%
                     </div>

                     <div class="swiper-slide ">
                        Thỏa sức uống Trà Sửa - Hoàn Tiền 30%</div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



</section>


<div class="container product-section ">

   <h3 class="font-weight-bold cashback-title2">
      Siêu Hoàn Tiền Tiết Kiệm
   </h3>
   <div class="block-container shadow-sm cbs-banner-container">

      <div class="row no-gutters">
         <div class="col-12 col-md-6">
            <a href="https://momo.vn/tin-tuc/khuyen-mai/hoan-tien-ngay-100000-dong-khi-di-sieu-thi-va-30000-dong-di-cua-hang-tien-loi-trong-3-ngay-123-8-856"
               class=" cbs-banner">
               <img src="images/cashback/Home-800x250-cvs.jpg" class="img-fluid mx-auto d-block" alt="">
            </a>
         </div>

         <div class="col-12 col-md-6">
            <a href="https://momo.vn/tin-tuc/khuyen-mai/hoan-tien-ngay-100000-dong-khi-di-sieu-thi-va-30000-dong-di-cua-hang-tien-loi-trong-3-ngay-123-8-856"
               class="cbs-banner">
               <img src="images/cashback/Home-800x250-siuthi.jpg" class="img-fluid mx-auto d-block" alt="">
            </a>
         </div>


      </div>





   </div>
</div>



<div class="container product-section ">

   <h3 class="font-weight-bold cashback-title2">
      Hoàn tiền tiết kiệm
   </h3>
   <div class="block-container shadow-sm">

      <ul class="nav bg-white merchant-tab mb-2 mb-lg-2">
         <!--    <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#home2">Tất cả</a>
           </li>
-->
         {% for item in cat2s %}
         <li class="nav-item">
            <a class="nav-link merchant-tab-item {% if loop.index == 1 %} active {% endif %} " data-toggle="tab"
               href="#menu12">
               <img class="img-fluid merchant-tab-img" src="{{item.img}}" alt="">

               <div class="merchant-tab-name ">{{item.title}}</div>
            </a>
         </li>
         {% endfor %}

      </ul>

      <!-- Tab panes -->
      <div class="tab-content bg-white">
         <div id="home2" class=" tab-pane active">

            <div class=block-content>
               <div class="product-container swiper-container product-slider">
                  <div class="product  swiper-wrapper cb-container">
                     {% for item in range(0,7) %}
                     <div class="product-item-col mb-2 sale-item swiper-slide">

                        <div class="list-card  bg-white rounded overflow-hidden position-relative "
                           onclick="showPlaceInfo(26,'/thanh-toan-momo-guardian')"><a class="link-absolute"
                              href="/thanh-toan-momo-guardian"></a>
                           <div class="list-card-image">

                              <div class="sale-item-desc">
                                 <div class="txt">
                                    Chuỗi cửa hàng bán lẻ các sản phẩm chăm sóc sức khỏe và sắc đẹp
                                 </div>
                              </div>

                              <div class="embed-responsive embed-responsive-1by1"><img
                                    src="https://static.mservice.io/placebrand/s/momo-upload-api-190619141623-636965505832116115.jpg"
                                    class="embed-responsive-img" alt="Guardian"></div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="text-black font-weight-bold sale-item-name">Guardian</div>
                              </div>

                           </div>
                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">Hoàn tiền 0.3%</div>
                              </div>
                           </div>
                        </div>

                     </div>

                     {% endfor %}

                  </div>
                  <div class="swiper-button-next swiper-button-white d-none d-lg-block">
                  </div>
                  <div class="swiper-button-prev swiper-button-white d-none d-lg-block">
                  </div>
               </div>
            </div>


         </div>
         <div id="menu12" class=" tab-pane fade">
            <div class=block-content>
               <div class="product-container swiper-container product-slider">
                  <div class="product swiper-wrapper cb-container">
                     {% for item in range(0,7) %}
                     <div class="product-item-col mb-2 sale-item swiper-slide">

                        <div class="list-card border bg-white rounded overflow-hidden position-relative "
                           onclick="showPlaceInfo(26,'/thanh-toan-momo-guardian')"><a class="link-absolute"
                              href="/thanh-toan-momo-guardian"></a>
                           <div class="list-card-image">

                              <div class="sale-item-desc">
                                 <div class="txt">
                                    Chuỗi cửa hàng bán lẻ các sản phẩm chăm sóc sức khỏe và sắc đẹp
                                 </div>
                              </div>

                              <div class="embed-responsive embed-responsive-1by1"><img
                                    src="https://static.mservice.io/placebrand/s/momo-upload-api-190619141623-636965505832116115.jpg"
                                    class="embed-responsive-img" alt="Guardian"></div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="text-black font-weight-bold sale-item-name">Guardian</div>
                              </div>

                           </div>
                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">Hoàn tiền 0.3%</div>
                              </div>
                           </div>
                        </div>

                     </div>

                     {% endfor %}

                  </div>
                  <div class="swiper-button-next swiper-button-white d-none d-lg-block">
                  </div>
                  <div class="swiper-button-prev swiper-button-white d-none d-lg-block">
                  </div>
               </div>
            </div>
         </div>

      </div>



   </div>
</div>



<section class="section  products-section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">

            <h3 class="font-weight-bold cashback-title2">
               Hoàn tiền siêu to mới
            </h3>

            <div class="sale-items">

               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(26,'/thanh-toan-momo-guardian')"><a class="link-absolute"
                     href="/thanh-toan-momo-guardian"></a>
                  <div class="list-card-image">

                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng bán lẻ các sản phẩm chăm sóc sức khỏe và sắc đẹp
                        </div>
                     </div>

                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190619141623-636965505832116115.jpg"
                           class="embed-responsive-img" alt="Guardian"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class="text-black font-weight-bold sale-item-name">Guardian</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 0.3%</div>
                     </div>
                  </div>
               </div>

               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(32,'/thanh-toan-momo-gs25')"><a class="link-absolute"
                     href="/thanh-toan-momo-gs25"></a>
                  <div class="list-card-image">
                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng tiện lợi đến từ Hàn Quốc
                        </div>
                     </div>

                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190705092536-636979155367552249.jpg"
                           class="embed-responsive-img" alt="GS25"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class=" text-black font-weight-bold sale-item-name">GS25</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 5%</div>
                     </div>
                  </div>
               </div>


               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(18,'/thanh-toan-momo-familymart-viet-nam')"><a class="link-absolute"
                     href="/thanh-toan-momo-familymart-viet-nam"></a>
                  <div class="list-card-image">
                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng tiện lợi đến từ Nhật Bản
                        </div>
                     </div>
                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190612093721-636959290412589576.jpg"
                           class="embed-responsive-img" alt="FamilyMart"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class="text-black font-weight-bold sale-item-name">FamilyMart</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 5%</div>
                     </div>
                  </div>
               </div>


            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">


            <h3 class="font-weight-bold cashback-title2">
               Tất cả
            </h3>

            <div class="row sm-gutters">
               {% for item in det %}
               <div class="col-lg-4 col-sm-6 col-xs-6 ">

                  <div class="cbs-item shadow-sm" data-toggle="modal" data-target="#demoModal">
                     <div class="cbs-img">
                        <img src="{{item.img}}" class="img-fluid" alt="">
                     </div>

                     <div class="cbs-content">
                        <h4 class="name text-truncate">
                           {{item.title}}
                        </h4>
                        <div class="sub text-truncate">
                           {{item.sub}}
                        </div>
                     </div>

                     <div class="cbs-value">
                        {{item.score}}
                     </div>
                  </div>




               </div>

               {% endfor %}

               {% for item in det %}
               <div class="col-lg-4 col-sm-6 col-xs-6 ">

                  <div class="cbs-item shadow-sm">
                     <a href="#" class="link-absolute"></a>
                     <div class="cbs-img">
                        <img src="{{item.img}}" class="img-fluid" alt="">
                     </div>

                     <div class="cbs-content">
                        <h4 class="name text-truncate">
                           {{item.title}}
                        </h4>
                        <div class="sub text-truncate">
                           {{item.sub}}
                        </div>
                     </div>

                     <div class="cbs-value">
                        {{item.score}}
                     </div>
                  </div>




               </div>

               {% endfor %}
            </div>

         </div>
      </div>
   </div>
</section>


<section class="section  products-section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">

            <h3 class="font-weight-bold cashback-title2">
               Hoàn tiền siêu to
            </h3>

            <div class="sale-items">

               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(26,'/thanh-toan-momo-guardian')"><a class="link-absolute"
                     href="/thanh-toan-momo-guardian"></a>
                  <div class="list-card-image">

                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng bán lẻ các sản phẩm chăm sóc sức khỏe và sắc đẹp
                        </div>
                     </div>

                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190619141623-636965505832116115.jpg"
                           class="embed-responsive-img" alt="Guardian"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class="text-black font-weight-bold sale-item-name">Guardian</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 0.3%</div>
                     </div>
                  </div>
               </div>

               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(32,'/thanh-toan-momo-gs25')"><a class="link-absolute"
                     href="/thanh-toan-momo-gs25"></a>
                  <div class="list-card-image">
                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng tiện lợi đến từ Hàn Quốc
                        </div>
                     </div>

                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190705092536-636979155367552249.jpg"
                           class="embed-responsive-img" alt="GS25"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class=" text-black font-weight-bold sale-item-name">GS25</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 5%</div>
                     </div>
                  </div>
               </div>


               <div class="list-card sale-item bg-white rounded overflow-hidden position-relative shadow-sm"
                  onclick="showPlaceInfo(18,'/thanh-toan-momo-familymart-viet-nam')"><a class="link-absolute"
                     href="/thanh-toan-momo-familymart-viet-nam"></a>
                  <div class="list-card-image">
                     <div class="sale-item-desc">
                        <div class="txt">
                           Chuỗi cửa hàng tiện lợi đến từ Nhật Bản
                        </div>
                     </div>
                     <div class="embed-responsive embed-responsive-1by1"><img
                           src="https://static.mservice.io/placebrand/s/momo-upload-api-190612093721-636959290412589576.jpg"
                           class="embed-responsive-img" alt="FamilyMart"></div>
                  </div>
                  <div class="p-3 position-relative">
                     <div class="list-card-body">
                        <div class="text-black font-weight-bold sale-item-name">FamilyMart</div>
                     </div>

                  </div>
                  <div class="row no-gutters align-items-center sale-cashback-box">
                     <div class="col">
                        <div class="sale-cashback">Hoàn tiền 5%</div>
                     </div>
                  </div>
               </div>


            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">


            <h3 class="font-weight-bold cashback-title2">
               Tất cả
            </h3>

            <div class="row sm-gutters">
               {% for item in det %}
               <div class="col-lg-4 col-sm-6 col-xs-6 ">

                  <div class="cbs-item shadow-sm" data-toggle="modal" data-target="#demoModal">
                     <div class="cbs-img">
                        <img src="{{item.img}}" class="img-fluid" alt="">
                     </div>

                     <div class="cbs-content">
                        <h4 class="name text-truncate">
                           {{item.title}}
                        </h4>
                        <div class="sub text-truncate">
                           {{item.sub}}
                        </div>
                     </div>

                     <div class="cbs-value">
                        {{item.score}}
                     </div>
                  </div>




               </div>

               {% endfor %}

               {% for item in det %}
               <div class="col-lg-4 col-sm-6 col-xs-6 ">

                  <div class="cbs-item shadow-sm">
                     <a href="#" class="link-absolute"></a>
                     <div class="cbs-img">
                        <img src="{{item.img}}" class="img-fluid" alt="">
                     </div>

                     <div class="cbs-content">
                        <h4 class="name text-truncate">
                           {{item.title}}
                        </h4>
                        <div class="sub text-truncate">
                           {{item.sub}}
                        </div>
                     </div>

                     <div class="cbs-value">
                        {{item.score}}
                     </div>
                  </div>




               </div>

               {% endfor %}
            </div>

         </div>
      </div>
   </div>
</section>



<div class="container">

   <div class="row ">
      <div class="col-md-12">
         <h3 class="font-weight-bold cashback-title2">
            Tin tức
         </h3>
      </div>
      <div class="col-12">

         <div class="swiper-container cashback-new">
            <div class="swiper-wrapper">
               {% for item in range(0,4) %}
               <div class="swiper-slide">
                  <div class="card offer-card-horizontal border-0 shadow-sm">
                     <div class="row d-flex no-gutters">
                        <div class="  col-md-4 col-12 p-2 p-md-4 ">
                           <img
                              src="https://content.shopback.com/sg/wp-content/uploads/2019/05/30110456/projector-660x420.png"
                              class="card-img" alt="...">
                        </div>
                        <div class="  col-md-8 col-12">
                           <div class="card-body  pl-md-0">
                              <h4 class="">Get flat $.30 cashback using Osahan Pay</h4>
                              <p class="card-text text-secondary">Get flat $.30 cashback on orders above $.99 for 10
                                 orders. No
                                 code required.
                              </p>
                              <p class="card-text"><small class="text-gray">3 ngày trước
                                 </small>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next cashback-swiper-btn swiper-button-black">
               <svg class="svg-inline ">
                  <use xlink:href="svg/svg.svg#svg-angle-right"></use>
               </svg>
            </div>
            <div class="swiper-button-prev cashback-swiper-btn  swiper-button-black">
               <svg class="svg-inline ">
                  <use xlink:href="svg/svg.svg#svg-angle-left"></use>
               </svg>
            </div>
         </div>

      </div>

   </div>
</div>


<br>
<br>


<section class="section d-block d-lg-none">
   <div class="container px-0">

      <ul class="nav  cashback-catmobile" id="myTab" role="tablist">
         {% for item in cats %}
         <li class="nav-item">
            <a class="nav-link {% if loop.index == 1 %} active {% endif %}" id="home-tab" data-toggle="tab" href="#home"
               role="tab" aria-controls="home" aria-selected="true">
               <img class="img-fluid img" src="images/cashback/category/{{item.img}}" alt="">
               <h4 class="title">{{item.title}}</h4>
            </a>
         </li>
         {% endfor %}
      </ul>

      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="cashback-grid mt-0">

               {% for item in range(0,2) %}
               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 30%
                     trên tổng hóa đơn
                  </div>
               </div>


               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo" src="https://www.dalathasfarm.com/assets/images/logo.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 25%
                     trên tổng hóa đơn
                  </div>
               </div>

               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://cloud.shopback.com/t_sd_250_pad,f_auto,fl_lossy,q_auto/sg-store/2561/2561_logo_ac13df55.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 20%
                     trên tổng hóa đơn
                  </div>
               </div>
               <div class="cashback-item">
                  <div class="cashback-item-img">
                     <img class="cashback-logo"
                        src="https://www.vietnamairlines.com/~/media/Images/VNANew/Home/Logo%20Header/VNA_logo_vn.png"
                        alt="Lazada via ShopBack App Coupons &amp; Promo Codes">
                  </div>

                  <div class="cashback-item-name">
                     Hoàn tiền 10%
                     trên tổng hóa đơn
                  </div>
               </div>


               {% endfor %}


            </div>

         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">



         </div>

      </div>
   </div>
</section>


<section class="section d-none pt-2 pb-2  mt-2 products-section">
   <div class="container ">
      <div class="section-pd">
         <div class="section-header text-center">
            <h2>Nổi bật</h2>
            <span class="line"></span>
         </div>
         <div class="row">
            <div class="col-md-12">

               <div class="swiper-container swiper-cashback px-1">
                  <div class="swiper-wrapper">

                     {% for item in range(0,5) %}

                     <div class="swiper-slide">

                        <div
                           class="list-card sale-item bg-white h-100 rounded overflow-hidden position-relative shadow-sm"
                           data-toggle="modal" data-target="#demoModal">
                           <div class="list-card-image">

                              <div class="sale-brand"
                                 style="background-image: url('https://app.momo.vn/icon/momo_app_v2/img/app_icon/ic_cgv.png')">

                              </div>


                              <div class="embed-responsive embed-responsive-1by1">
                                 <img
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-190627134048-636972396481247082.jpg"
                                    class="embed-responsive-img">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="mb-1 text-black font-weight-bold sale-item-name">⚡️20% off everything + 5%
                                    upsized
                                    cashback
                                    (was 3.5%)</div>

                                 <div class="text-gray">Hoa tươi Dalat Hasfarm</div>

                              </div>

                           </div>

                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">
                                    Hoàn tiền 25%
                                 </div>
                              </div>
                              <div class="col-auto">
                                 <div class="sale-cashback-code d-none">
                                    <small class="font-weight-normal">Nhập mã</small>
                                    <span class="font-weight-bold">CGV123</span>
                                 </div>

                              </div>
                           </div>


                        </div>
                     </div>

                     <div class="swiper-slide">

                        <div
                           class="list-card sale-item bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="list-card-image">


                              <div class="sale-brand"
                                 style="background-image: url('https://app.momo.vn:82/momo_app_v2/img/app_icon/icon-liberty-moto.png')">

                              </div>

                              <div class="embed-responsive embed-responsive-1by1">
                                 <img
                                    src="https://static.mservice.io/blogscontents/momo-upload-api-190627134048-636972396481247082.jpg"
                                    class="embed-responsive-img">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <div class="list-card-body">
                                 <div class="mb-1 text-black font-weight-bold">45% off at NamNam. Limited to first 200
                                    redemptions.</div>



                                 <div class="text-gray ">Hoa tươi Dalat Hasfarm</div>

                              </div>

                           </div>

                           <div class="row no-gutters align-items-center sale-cashback-box">
                              <div class="col">
                                 <div class="sale-cashback">
                                    Hoàn tiền 30%
                                 </div>
                              </div>
                              <div class="col-auto">
                                 <div class="sale-cashback-code d-none">
                                    <small class="font-weight-normal">Nhập mã</small>
                                    <span class="font-weight-bold">OSAHAN50</span>
                                 </div>

                              </div>
                           </div>


                        </div>
                     </div>

                     {% endfor %}
                  </div>
                  <!-- Add Pagination -->
                  <!-- Add Arrows -->
                  <div class="swiper-button-next cashback-swiper-btn swiper-button-black">
                     <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                     </svg>
                  </div>
                  <div class="swiper-button-prev cashback-swiper-btn  swiper-button-black">
                     <svg class="svg-inline ">
                        <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                     </svg>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</section>


<section class="section d-none pt-2 pb-2 products-section">
   <div class="container ">
      <div class="section-pd">
         <div class="section-header text-center">
            <h2>Khuyến mãi</h2>
            <span class="line"></span>
         </div>


         <div class="row sm-gutters">
            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/5926/expedia_page_thumbnail_abfb0b6c.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>

            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11300/book-depository_page_thumbnail_27a03738.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>


            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11369/net-a-porter_page_thumbnail_1820abec.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>

            <div class="col-12 col-md-6">
               <a href="" class="cashback-banner">
                  <img
                     src="https://shopily-sg.s3.amazonaws.com/uploads/banners/11663/photobook-worldwide_page_thumbnail_8d1a7c85.png"
                     alt="" class="img-fluid rounded">
               </a>
            </div>


         </div>





      </div>
   </div>
</section>



























{% endblock %}




{% block testJS %}
<script src="js/cashback.js"></script>
<script>
   $("#juno-menu-aim2").menuAim({
      activate: function activate(row) {
         $(row)
            .children()
            .addClass("is-active");
      },
      deactivate: function deactivate(row) {
         $(row)
            .children()
            .removeClass("is-active");
      },
      exitMenu: function exitMenu() {
         $(".cd-dropdown-content")
            .find(".is-active")
            .removeClass("is-active");
         return true;
      },
      submenuDirection: "right"
   });
   $(document).ready(function () {
      // $('#modalSlideUp').modal('show');

      // $('.toast').toast('show');

      $(".merchant-tab .nav-link").on("shown.bs.tab", function (e) {
         var nodesArray2 = Array.prototype.slice.call(
            document.querySelectorAll(".product-slider")
         );
         if (nodesArray2) {
            nodesArray2.forEach(function (e) {
               e.swiper.update();
            });
         }

      });
   }) 
</script>

{% endblock %}