{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}
{% block content %}

{% set page="index" %}


{% set cats = [
    {
    "link" : "",
    "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png",
    "title" : "Cửa hàng tiện lợi",
    "score" : "Hoàn tiền từ 0,3% đến 5%"
    },
     {
    "link" : "",
    "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png",
    "title" : "Cafe/Dessert",
    "score" : "Hoàn tiền từ 0,3% đến 20%"
    },
  
    {
    "link" : "",
    "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_nha_hang@3x.png",
    "title" : "Nhà hàng - Quán ăn",
    "score" : "Hoàn tiền từ 0,3% đến 3%"
    },
    {
    "link" : "",
     "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_giai_tri@3x.png",
    "title" : "Giải trí",
    "score" : "Hoàn tiền từ 0,3% đến 5%"
    },
    {
    "link" : "",
    "img" : "https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_mua_sam@3x.png",
    "title" : "Mua sắm",
    "score" : "Hoàn tiền từ 0,3% đến 5%"
    }
 ]
 
 %}



{% include "layouts/slider.html"
%} {% include "layouts/mobile.html" %}





<div class="container d-none d-lg-block">
    <div class="banner mt-3">

        <div class="swiper-container bannerlong-swiper ">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://static.mservice.io/banner/s1170x96/momo-upload-api-190730113436-637000832764831389.jpg"
                            class="d-block w-100" alt="">
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="">
                        <img src="https://static.mservice.io/banner/s1170x96/momo-upload-api-190730113436-637000832764831389.jpg"
                            class="d-block w-100" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>


    </div>
</div>


<div class="container product-section">
    <h2 class="font-weight-bold cashback-title2 text-capitalize h2">Hoàn tiền tiết kiệm</h2>

    <div class="block-container bg-white shadow-sm">

        <ul class="nav  merchant-tab mb-2 mb-lg-2">

            {% for item in cats %}
            <li class="nav-item">
                <a class="nav-link merchant-tab-item {% if loop.index == 1 %} active {% endif %} " data-toggle="tab"
                    href="#menu12">
                    <img class="img-fluid merchant-tab-img" src="{{item.img}}" alt="">

                    <div class="merchant-tab-name ">{{item.title}}</div>
                </a>
            </li>
            {% endfor %}

        </ul>

        <div class="tab-content">
            <div id="home2" class=" tab-pane active">

                <div class=block-content>
                    <div class="product-container swiper-container product-slider">
                        <div class="product  swiper-wrapper cb-container">
                            {% for item in range(0,4) %}
                            <div class="product-item-col mb-2 sale-item swiper-slide">

                                <div class="list-card  bg-white rounded overflow-hidden position-relative "
                                    onclick="showPlaceInfo(26,'/thanh-toan-momo-guardian')"><a class="link-absolute"
                                        href="/thanh-toan-momo-guardian"></a>
                                    <div class="list-card-image">

                                        <div class="sale-item-desc">
                                            <div class="txt">
                                                Chuỗi cửa hàng bán lẻ các sản phẩm chăm sóc sức khỏe và sắc đẹp
                                            </div>
                                        </div>

                                        <div class="embed-responsive embed-responsive-1by1"><img
                                                src="https://static.mservice.io/placebrand/s/momo-upload-api-190619141623-636965505832116115.jpg"
                                                class="embed-responsive-img" alt="Guardian"></div>
                                    </div>
                                    <div class="p-3 position-relative">
                                        <div class="list-card-body">
                                            <div class="text-black font-weight-bold sale-item-name">Guardian</div>
                                        </div>

                                    </div>
                                    <div class="row no-gutters align-items-center sale-cashback-box">
                                        <div class="col">
                                            <div class="sale-cashback">Hoàn tiền 0.3%</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {% endfor %}
                            <div class="product-item-col mb-2 sale-item swiper-slide">

                                <div class="list-card  bg-white rounded overflow-hidden position-relative ">

                                    <a href="cashback.html" target="_blank" class="view-more">
                                        Xem thêm +
                                        <span>124 cửa hàng</span>
                                    </a>
                                    <div class="list-card-image">
                                        <div class="embed-responsive embed-responsive-1by1"></div>
                                    </div>
                                    <div class="p-3 position-relative">
                                        <div class="list-card-body">
                                            <div class="text-black font-weight-bold sale-item-name">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div
                                        class="row no-gutters align-items-center sale-cashback-box  bg-transparent border-0">
                                        <div class="col">
                                            <div class="sale-cashback">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-button-next swiper-button-white d-none d-lg-block">
                        </div>
                        <div class="swiper-button-prev swiper-button-white d-none d-lg-block">
                        </div>
                    </div>
                </div>


            </div>
            <div id="menu12" class=" tab-pane fade">

            </div>
            <div id="menu22" class=" tab-pane fade">

            </div>
        </div>



    </div>

    <div class="view-all">
        <a href="" class="view-all-btn">
            Xem tất cả
        </a>
    </div>
</div>

<div class="container product-section">
    <div class="block-container block-endow">
        <div class="block-title-endow">
            <h2 class="block-title-endow-txt mb-0">
                <svg class="svg-icon  block-title-endow-icon text-white ">
                    <use xlink:href="svg/svg.svg#svg-endow"></use>
                </svg>

                ƯU ĐÃI MỖI NGÀY
            </h2>
        </div>

        <div class="block-content">
            <div class="product-container swiper-container product-slider">

                <div class="product swiper-wrapper">

                    {% for item in uudaimoingay %}
                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="{{item.image}}" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name">
                                {{item.title}}
                            </div>

                            <div class="product-item-price">
                                <strong class="text-danger">{{item.price}}</strong>
                                <span class="text-small text-black-50">
                                    <del>{{item.oldprice}}</del>
                                </span>
                            </div>

                            <div class="product-item-note">
                                <div class="text-small font-italic text-black-50">
                                    {{item.desc}}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white d-none d-lg-block"></div>
                <div class="swiper-button-prev swiper-button-white d-none d-lg-block"></div>


            </div>


            <div class="block-more text-center d-none d-lg-block">
                <a href="" class="block-more-btn">
                    <span>
                        XEM TẤT CẢ
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>







<div class="banner d-block d-lg-none">
    <img src="images/banner-2.jpg" class="d-block w-100" alt="">
</div>

<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-shopping"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    MUA SẮM
                </h2>
                <div class="block-title-sub">Thanh toán mua sắm với các thương hiệu lớn trên khắp toàn quốc qua Ví MoMo
                </div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container swiper-container product-slider">

                <div class="product swiper-wrapper">
                    {% for item in muasam %}
                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="{{item.image}}" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                {{item.title}}
                            </div>


                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white d-none d-lg-block"></div>
                <div class="swiper-button-prev swiper-button-white d-none d-lg-block"></div>


            </div>



        </div>
    </div>
</div>



<div class="container product-section">
    <div class="block-container  ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-game"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    GIẢI TRÍ
                </h2>
                <div class="block-title-sub">Chỉ cần vài giây, đặt ngay vé xem phim tại bất kì rạp nào của CGV, Galaxy,
                    BHD,
                    MegaCS, Cinebox ... trên toàn quốc.</div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container swiper-container ">

                <div class="product swiper-wrapper">
                    {% for item in range(0,2) %}
                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/product3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Mua vé CGV
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/product4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Mua vé Galaxy
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/product5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Truyền hình trực tuyến
                            </div>


                        </div>
                    </div>
                    {% endfor %}
                </div>



            </div>



        </div>
    </div>
</div>


<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-travel"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    ĐI LẠI
                </h2>
                <div class="block-title-sub">Khỏi phải mệt mỏi xếp hàng, chỉ cần vài giây đặt ngay vé tàu xe, vé máy
                    bay,
                    tour du lịch ngay trên ví MoMo</div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product ">
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-1.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé xe khách
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-2.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé máy bay
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Xe bus
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé tàu lửa
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Taxi
                            </div>


                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>



<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-food"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    ĂN UỐNG
                </h2>
                <div class="block-title-sub">Khỏi phải mệt mỏi xếp hàng, chỉ cần vài giây đặt ngay vé tàu xe, vé máy
                    bay,
                    tour du lịch ngay trên ví MoMo</div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product ">
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-1.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé xe khách
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-2.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé máy bay
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Xe bus
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Vé tàu lửa
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/travel-5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Taxi
                            </div>


                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>

<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-money-transfer"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    CHUYỂN NHẬN TIỀN
                </h2>
                <div class="block-title-sub">Nạp/chuyển tiền 24/7 cực dễ dàng từ các ngân hàng liên kết với MOMO và hệ
                    thống
                    nạp/rút tiền của MOMO trên khắp cả nước.</div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product ">
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/money-1.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Nhận tiền
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/money-2.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Yêu cầu chuyển khoản
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/money-3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Gửi tiền mừng
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/money-4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Chuyển tiền
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/money-5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Nhận tiền
                            </div>


                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>



<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-bill-momo"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    THANH TOÁN HÓA ĐƠN
                </h2>
                <div class="block-title-sub">MoMo hỗ trợ nạp tiền Viettel, Mobiphone, Vinaphone mọi lúc mọi nơi, rẻ hơn
                    3-5%
                    và nạp cho bạn bè</div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product ">
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/thanhtoan-1.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Tiền điện
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/thanhtoan-2.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Tiền nước
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/thanhtoan-3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Tiền internet
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/thanhtoan-4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Điện thoại cố định
                            </div>


                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/thanhtoan-5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name text-center">
                                Truyền hình
                            </div>


                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>




<div class="container product-section">
    <div class="block-container ">
        <div class="block-title row no-gutters align-items-center">
            <div class="col-auto">
                <svg class="svg-icon  block-title-icon text-primary">
                    <use xlink:href="svg/svg.svg#svg-recharge"></use>
                </svg>
            </div>
            <div class="col">
                <h2 class="block-title-txt mb-0">
                    NẠP TIỀN 123
                </h2>
                <div class="block-title-sub">Nạp tiền điện thoại | Thẻ Game | Thẻ Cào... Luôn nhiều ưu đãi, được hoàn
                    tiền
                    ngay
                </div>
            </div>

        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product ">
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/naptien-1.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/naptien-2.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/naptien-3.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/naptien-4.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="images/naptien-5.jpg" class="img-fluid lazyload" alt="">
                                </div>
                            </div>



                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>




<div class="hotnew-container  d-block d-lg-none">
    <ul class="nav nav-tabs nav-fill hotnew-nav">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home1">Câu hỏi thường gặp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu12">Tin tức sự kiện</a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active container hotnew-tab-content" id="home1">

            <div class="hotnew-question">
                <div class="hotnew-question-item">
                    <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <svg class="svg-icon  hotnew-question-icon text-primary">
                                <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                            </svg>
                        </div>
                        <div class="col">
                            <div><strong>Ví điện tử MoMo là gì?</strong></div>
                            <div class="text-small">
                                Ví điện tử MoMo là một giải pháp thanh toàn di động (Mobile Payment) tổng thể mang...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hotnew-question-item">
                    <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <svg class="svg-icon  hotnew-question-icon text-primary">
                                <use xlink:href="svg/svg.svg#svg-wallet"></use>
                            </svg>
                        </div>
                        <div class="col">
                            <div><strong>Tiền trong ví MoMo có phải tiền thật không?</strong></div>
                            <div class="text-small">
                                Tiền trong ví MoMo có giá trị tương đương tiền mặt và bạn có thể nạp/rút dễ dàng...
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="hotnew-question-more">
                <a href="hoidap.html" class="font-italic text-little">
                    Xem tất cả >>
                </a>

                <!-- <a href="" class="block-more-btn sm">
                          <span>
                              XEM TẤT CẢ
                          </span>
                      </a> -->

            </div>

        </div>
        <div class="tab-pane container hotnew-tab-content" id="menu12">
            Chưa có nội dung ...
        </div>
    </div>
</div>






<section class="section-secure ">
    <div class="container product-section">
        <div class="block-container ">
            <div class="block-title text-center ">
                <div class="block-title-secure text-uppercase ">
                    <div class="sa "></div>
                    <div class="sa sa-right"></div>
                    Thanh toán an toàn bảo mật tuyệt đối
                </div>
            </div>

            <div class="block-content">
                <!-- Nav pills -->
                <ul class="nav secure-tab">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#baochungnganhang">Bảo chứng <br
                                class="d-block d-lg-none">ngân
                            hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#baomatdatang">Bảo mật <br
                                class="d-block d-lg-none">đa
                            tầng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#datchuanquocte">Đạt chuẩn <br
                                class="d-block d-lg-none">quốc
                            tế
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="baochungnganhang">
                        <div class="row align-items-center no-gutters">
                            <div class="col-12 col-md-5 offset-md-1">
                                <ul class="pl-4 secure-list">
                                    <li class="">
                                        Tiền trong tài khoản MoMo được bảo chứng bởi Vietcombank.
                                    </li>

                                    <li class="">
                                        Được Ngân Hàng Nhà Nước cấp giấy phép và quản lý dịch vụ Ví điện tử năm 2015.

                                    </li>

                                    <li class="">
                                        Là đối tác chiến lược của các ngân hàng lớn như: Vietcombank, VietinBank,
                                        AgriBank, BIDV, ACB, TPBank, VPBank, EximBank,
                                        OCB, VIB, Shinhan Bank, SCB, SacomBank và các tổ chức thẻ Visa/Master/JCB.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="images/feature/01.png" class="img-fluid d-block mx-auto " alt="">
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane container fade" id="baomatdatang">
                        <div class="row align-items-center no-gutters">
                            <div class="col-12 col-md-5 offset-md-1">
                                <ul class="pl-4 secure-list">
                                    <li class="">
                                        Để đăng nhập, cần nhập mất khẩu 6 số và mã OTP được gửi đến điện thoại. Mỗi lần
                                        thanh toán đều cần nhập lại mật khẩu.
                                    </li>

                                    <li class="">
                                        Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="images/feature/02.png" class="img-fluid d-block mx-auto " alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="datchuanquocte">
                        <div class="row align-items-center no-gutters">
                            <div class="col-12 col-md-5 offset-md-1">
                                <ul class="pl-4 secure-list">
                                    <li class="">
                                        Công nghệ bảo mật của MoMo đáp ứng các tiêu chuẩn quốc tế khắc khe nhât trong
                                        ngành tài chính ngần hàng, đạt chứng nhận bảo
                                        mật toàn cầu PCI DSS cấp độ cao nhất.


                                    </li>

                                    <li class="">
                                        Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="images/feature/03.png" class="img-fluid d-block mx-auto " alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto d-none d-lg-block" style="text-align:center">

                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalNewsletter">ĐĂNG
                    KÝ</button>


                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalNewsletter2">ĐĂNG
                    KÝ 2</button>

            </div>
        </div>
    </div>
</div>





<section class="app-present">
    <div class="container ">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>

<div class="modal fade modal-push" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row no-gutters">
                    <div class="col-auto ">

                        <div class="push-avatar">
                            <img src="images/push-momo-avatar.png" class="img-fluid" alt="">
                        </div>



                    </div>
                    <div class="col ">
                        <div class=" font-weight-normal push-text">
                            Nhận tin tức khuyến mãi, giảm giá hot nhất từ Momo?
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="text-right mt-2">
                            <button class="btn btn-link  btn-link-material mr-2 " data-dismiss="modal"> ĐỂ SAU </button>
                            <button class="btn btn-material "> NHẬN THÔNG BÁO </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>



<div aria-live="polite" aria-atomic="true" autohide="true"
    style="position: fixed; bottom: 15px; right: 15px; z-index: 9999999999;">

    <div role="alert" aria-live="assertive" data-animation="true" aria-atomic="true" class="toast"
        data-autohide="false">
        <button type="button" class="des-toast-close  close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="row no-gutters align-items-center des-toast">
            <div class="col-auto">
                <img src="images/push-momo-avatar.png" width="40" class="rounded " alt="...">
            </div>
            <div class="col">

                <div class="des-toast-content">
                    <div class="des-toast-title text-truncate">Momo thông báo</div>

                    <div class="des-toast-txt">
                        Hello, world! This is a toast message.
                    </div>
                </div>

            </div>
        </div>



    </div>

    <div role="alert" aria-live="assertive" data-animation="true" aria-atomic="true" class="toast"
        data-autohide="false">
        <div class="toast-header">
            <img src="images/push-momo-avatar.png" width="20" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Momo thông báo</strong>
            <!-- <small>11 mins ago</small> -->
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>




{% endblock %}


{% block testJS %}

<script>
    $(document).ready(function () {
        // $('#modalSlideUp').modal('show');

        // $('.toast').toast('show');

        $(".merchant-tab .nav-link").on("shown.bs.tab", function (e) {
            var nodesArray2 = Array.prototype.slice.call(
                document.querySelectorAll(".product-slider")
            );
            if (nodesArray2) {
                nodesArray2.forEach(function (e) {
                    e.swiper.update();
                });
            }

        });


        if ($(".bannerlong-swiper .swiper-slide").length > 1) {
            var swiper = new Swiper('.bannerlong-swiper', {
                pagination: {
                    el: '.swiper-pagination',
                },
                autoplay: {
                    delay: 5000,
                },
                loop: true
            });

        }


    }) 
</script>



{% endblock %}