{% extends 'layouts/application.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}



{% endblock %}

{% block content %}
{% include "layouts/mobile.html" %}


<div class="promo-slider">
    <div class="swiper-container swiper-promo-slider">

        <div class="swiper-wrapper">


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background d-none d-md-block" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>

                        <div class="background d-block d-md-none" style="background-image:url(images/promotion/promo-bg1-mobile.jpg); background-position: right bottom"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto d-none d-md-block">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn download-btn-apple mb-1 mb-sm-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn  download-btn-android shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn mb-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white container text-right"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>


        <div class="mouse-wrapper">
            <div class="mouse">
                <div class="mouse-scroll"></div>
            </div>
        </div>
    </div>

</div>

<div class="cgv-container">


    <div class="guide guide-desktop">
        <div class="container">

            <h2 class="text-center mb-4">Hướng dẫn trên desktop</h2>

            <div class="row no-gutters">
                <div class="col-12 ">
                    <div class="text-center">
                        <div class="guide-step">
                            <div class="guide-step-item active">
                                <div class="guide-step-cont  ">
                                    1

                                </div>

                                <div class="guide-step-info">
                                    Chọn phim yêu thích trên website <a href="https://www.cgv.vn/" target="_blank">cgv.vn</a>
                                </div>

                            </div>


                            <div class="guide-step-item ">
                                <div class="guide-step-cont  ">
                                    2

                                </div>

                                <div class="guide-step-info">
                                    Chọn ví MoMo tại bước thanh toán
                                </div>

                            </div>


                            <div class="guide-step-item ">
                                <div class="guide-step-cont  ">
                                    3

                                </div>

                                <div class="guide-step-info">
                                    Mở màn hình thanh toán Momo với 1 mã QR Code
                                </div>

                            </div>

                            <div class="guide-step-item ">
                                <div class="guide-step-cont  ">
                                    4

                                </div>

                                <div class="guide-step-info">
                                    Mở ví Momo trên điện thoại >> Chọn mục quét mã
                                </div>

                            </div>

                            <div class="guide-step-item ">
                                <div class="guide-step-cont  ">
                                    5

                                </div>

                                <div class="guide-step-info">
                                    Di chuyển điện thoại để quét mã QR trên màn hình
                                </div>

                            </div>

                            <div class="guide-step-item ">
                                <div class="guide-step-cont  ">
                                    6

                                </div>

                                <div class="guide-step-info">
                                    Mở màn hình thanh toán Momo với 1 mã QR Code
                                </div>

                            </div>

                        </div>



                    </div>

                </div>

                <div class="col-12 ">
                    <div class="guide-desktop-slider">
                        <div class="swiper-container guide-device-swiper">

                            <div class="guide-device-stock ">

                            </div>

                            <div class="swiper-wrapper">
                                <div class="swiper-slide ">
                                    <div class="guide-device-item">


                                        <img src="https://airtable.com/images/home/gallery_view.png" class="img-fluid"
                                            alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="guide-device-item">

                                        <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                            <span></span>
                                        </a><img src="https://airtable.com/images/home/grid_view.png" class="img-fluid"
                                            alt=""></div>

                                </div>
                                <div class="swiper-slide">
                                    <div class="guide-device-item"> <img src="https://airtable.com/images/home/calendar_view.png"
                                            class="img-fluid" alt=""></div>

                                </div>



                            </div>

                        </div>


                    </div>

                    <div class="mt-4 text-center">
                        <div class="text-black-50 font-italic">(*) Vé giá 9.000đ sẽ tự động áp dụng tại bước thanh toán
                            vé online CGV bằng Momo, Vui lòng kiểm tra
                            ưu đãi tại màn hình Xác nhận thanh toán của Momo trước khi thanh toán.</div>
                    </div>
                </div>

            </div>


        </div>

    </div>




    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav cgv-tabs">
            <li class="">
                <a class="nav-link active" data-toggle="tab" href="#cgv1">
                    <img src="images/cgv/cgv-tab1-img.png" class="img-fluid d-block mx-auto" alt="">

                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71 37" class="cgv-tabs-act">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #ae006e;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <polygon class="cls-1" points="0 0 37 37 71 0 0 0" />
                                </g>
                            </g>
                        </svg>
                    </div>

                </a>
            </li>
            <li class="">
                <a class="nav-link" data-toggle="tab" href="#cgv2">
                    <img src="images/cgv/cgv-tab2-img.png" class="img-fluid d-block mx-auto" alt="">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71 37" class="cgv-tabs-act">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #ae006e;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <polygon class="cls-1" points="0 0 37 37 71 0 0 0" />
                                </g>
                            </g>
                        </svg>
                    </div>

                </a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content tab-content-cgv">
            <div class="tab-pane container active" id="cgv1">
                <h1 class="font-weight-bold text-primary  text-center">XEM PHIM THẢ GA MỖI CUỐI TUẦN CHỈ 79.000Đ/VÉ
                    CGV

                </h1>



                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <div class="text-center">
                    <h2 class="h1 bg-primary text-white cgv-subtitle d-inline-block mb-4">LỢI ÍCH CỦA THANH TOÁN VÉ XEM
                        PHIM
                        QUA MOMO
                    </h2>
                </div>


                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="cgv-feature">
                            <div class="cgv-feature-icon">
                                <img src="images/cgv/cgv-f1.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                            <div class="cgv-feature-content ">
                                Không cần thẻ tín dụng hay nhập mã số thanh toán dài dòng
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="cgv-feature">
                            <div class="cgv-feature-icon">
                                <img src="images/cgv/cgv-f2.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                            <div class="cgv-feature-content ">
                                Không cần thẻ tín dụng hay nhập mã số thanh toán dài dòng
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="cgv-feature">
                            <div class="cgv-feature-icon">
                                <img src="images/cgv/cgv-f3.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                            <div class="cgv-feature-content ">
                                Không cần thẻ tín dụng hay nhập mã số thanh toán dài dòng, nhập mã số thanh toán dài
                                dòng
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="tab-pane container fade" id="cgv2">.wdwdwdw</div>
        </div>
    </div>


</div>




{% endblock %}