{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}
{% block content %}

{% set page="index" %}


{% include "layouts/mobile.html" %}


<div class="container">

    <div class="challenge-banner mb-4">
        <div class="embed-responsive embed-responsive-21by9">
            <!--<img src="https://irace.vn/races/uploads/5c0c894c8c2c7.png" class="embed-responsive-img" alt="">-->

            <img src="images/challenge/hero.png" class="embed-responsive-img" alt="">
        </div>


    </div>

    <div class="challenge-header">


    </div>


    <div class="row">
        <div class="col-12 ">
            <div class="porlet-container mb-4">

                <div class="porlet-padding text-center countdown-challenge-box">
                    <div class="countdown-challenge-title">
                        Thời gian đăng ký còn lại :
                    </div>

                    <div class="countdown-challenge" data-date="2019/2/25"></div>

                </div>


            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 sticky-content">
            <div class="theiaStickySidebar">
                <div class="porlet-container mb-4">

                    <div class="porlet-padding is-big ">

                        <div class="row align-items-center">
                            <div class="col-12 ">

                                <h1 class="h3 font-weight-bold challenge-title">CHƯƠNG TRÌNH KICK OFF – MOMO CHALLENGE
                                    2019
                                </h1>

                                <div class="text-gray  font-weight-normal challenge-time">
                                    Bắt đầu từ <span class="text-momo2 font-weight-bold">15h00</span> thứ <span
                                        class="text-momo2 font-weight-bold">6</span> ngày <span
                                        class="text-momo2 font-weight-bold">01/03/2019</span>
                                </div>

                            </div>

                        </div>

                        <hr class="challenge-line">

                        <div class="challenge-option">

                            <div class="challenge-option-title  mb-2 text-momo2">
                                Hơn 500 người tham gia
                            </div>

                            <ul class="challenge-option-user list-unstyled">


                                {% for item in range(0,23) %}


                                <li>
                                    <img src="images/challenge/avatar{{loop.index}}.png" class="img-fluid" alt="">
                                </li>

                                {% endfor %}
                                <!--<li>-->
                                    <!--<span>VH</span>-->
                                <!--</li>-->

                                <!--<li class="bg-info">-->
                                    <!--<span>TT</span>-->
                                <!--</li>-->



                                <li class="bg-primary">
                                    <span>+500</span>
                                </li>

                            </ul>

                        </div>

                        <hr class="challenge-line">


                        <div class="challenge-option">

                            <div class="challenge-option-title ">
                                Kiểu cuộc đua
                            </div>

                            <div>
                                <img src="images/challenge/running.png" width="20" class="mr-1"/> Chạy bộ
                            </div>

                        </div>

                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                Địa điểm
                            </div>

                            <div>
                                Mbuilding, số 9 đường số 8, P. Tân phú, Quận 7
                            </div>

                        </div>

                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                Giá
                            </div>

                            <div class="text-momo2">
                                Miễn phí


                            </div>

                        </div>


                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                Cự ly
                            </div>

                            <div>
                                5km, 10km


                            </div>

                        </div>


                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                Hoàn thành trong một lần chạy
                            </div>


                        </div>


                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                Thời gian giới hạn
                            </div>

                            <div>
                                Cut off time: 10KM 2 giờ
                            </div>


                            <div>
                                Cut off time: 05KM 1,5 giờ
                            </div>
                        </div>

                        <div class="challenge-option mb-0">

                            <div class="challenge-option-title">
                                Về cuộc đua
                            </div>
                            <ul class=" pl-3 mb-0">

                                <li>
                                    <strong>MoMo challenge</strong> khởi động cho một năm nhiều thử thách của MoMo.

                                </li>


                                <li>
                                    Mỗi MoMoers tham gia với tinh thần của một tổ chức gắn kết, thử thách bản thân ở
                                    những
                                    giới
                                    hạn mới.

                                </li>

                                <li>
                                    Chương trình cũng sẽ nhận gây <strong>Quỹ Ủng Hộ Trẻ Em Nghèo</strong> tại khu vực
                                    checkin bằng QR code
                                    với
                                    mức ủng hộ <strong>Tùy tâm</strong>.
                                </li>
                            </ul>

                        </div>


                    </div>


                </div>

                <div class="porlet-container mb-4">
                    <div class="porlet-padding is-big  ">


                        <div class="challenge-option-title  mb-2 text-momo2">
                            Phần thưởng
                        </div>

                        <div class="challenge-option">

                            <div class="challenge-option-title">
                                * Giải cá nhân
                            </div>


                            <ul class=" pl-3">

                                <li>
                                    01 áo MoMo Challenge

                                </li>


                                <li>
                                    Huy chương cho VĐV trong bảng xếp hạng nhất; nhì; ba cho từng cự ly và 2 hạng mục
                                    Nam - nữ

                                </li>

                                <li>
                                    Phần thưởng cho 12 VĐV trong bảng xếp hạng Nhất nhì ba:

                                    <ul>
                                        <li>
                                            Cự ly 10KM: Giải nhất 2M; Giải nhì 1,5M; Giải ba 1M
                                        </li>

                                        <li>
                                            Cự ly 5KM: Giải nhất 1,5M; Giải nhì 1M; Giải ba 0,5M

                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    Bốc thăm may mắn 2 chiếc đồng hồ thể thao Garmin
                                </li>
                            </ul>

                        </div>


                        <div class="challenge-option mb-0">

                            <div class="challenge-option-title">
                                * Giải tập thể
                            </div>


                            <ul class=" pl-3 mb-0">

                                <li>
                                    Đơn vị có tỉ lệ tham gia đông nhất: 2.000.000đ

                                </li>

                            </ul>

                        </div>
                        
                        
                        <div class="challenge-gift mt-4">
                            
                            <div class="challenge-gift-img">
                                <img src="images/challenge/garmin-banner.jpg" class="img-fluid mx-auto d-block" alt="">
                            </div>
                            
                            
                            <div class="challenge-gift-desc text-primary">
                                BỐC THĂM 2 ĐỒNG HỒ GARMIN ĐO SỨC KHỎE
                            </div>
                            
                        </div>




                    </div>

                </div>


                <div class="porlet-container">
                    <div class="porlet-padding is-big  ">


                        <div class="challenge-option mb-0">

                            <div class="challenge-option-title">
                                Quy định
                            </div>


                            <ul class=" pl-3 mb-0">

                                <li>
                                    Momoers đăng ký cự ly tham gia và hoàn thành cự ly trong thời gian cut off.

                                </li>


                                <li>
                                    Mỗi đăng ký được ghi nhận đều có tên trong danh sách Bốc thăm trúng thưởng

                                </li>

                                <li>
                                    Mỗi phòng ban cam kết tối thiểu 80% CBNV tham dự, trong đó 80% tham gia chạy + 20%
                                    trong đội hỗ trợ

                                </li>

                                <li>
                                    Lưu ý: Nếu BTC phát hiện trường hợp không trung thực trong quá trình tham gia sự
                                    kiện. Tất cả các kết quả của vận động viên đó sẽ bị HỦY BỎ.
                                </li>
                            </ul>

                        </div>


                    </div>

                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4 sticky-sidebar">
            <div class="theiaStickySidebar">
                <div class="porlet-container mt-4 mt-lg-0 ">
                    <div class="porlet-padding is-big challenge-register">

                        <!--<div class="h3 text-secondary font-weight-normal">142,000 VNĐ</div>-->
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="h3  font-weight-normal">Đăng ký ngay</div>
                            </div>
                            <div class="col-auto">
                            <span class="text-gray">
                                Miễn phí
                            </span>
                            </div>
                        </div>


                        <br>

                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="" aria-describedby="emailHelp"
                                       placeholder="Họ & tên">

                            </div>


                            <div class="form-group">
                                <select name="" class="form-control" id="">
                                    <option value="">Phòng ban</option>
                                    <option value="">Ban điều hành</option>
                                    <option value="">Dự án MoMo Pass</option>
                                    <option value="">Đơn vị kinh doanh</option>
                                    <option value="">Đơn vị kinh doanh Ăn uống & Vận tải</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control " id="" placeholder="Số MoMo">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Địa chỉ email">

                                <div class="invalid-feedback d-block">
                                   Địa chỉ email không hợp lệ
                                </div>
                            </div>


                            <button type="submit" class="challenge-register-submit  btn btn-primary btn-lg btn-block rounded"> <img src="images/challenge/running.png" width="20" class="mr-1">  Đăng ký cuộc đua
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <br>
    <br>

</div>


{% endblock %}


{% block testJS %}

<script>
    $(document).ready(function () {

        var D = $(".countdown-challenge");

        D.length > 0 &&
        D.each(function () {
            var e = $(this),
                i = e.attr("data-date");
            e.countdown(i).on("update.countdown", function (e) {
                $(this).html(
                    e.strftime(
                        '<div class="countdown-challenge-item"><span class="countdown-challenge-time countdown-time-first">%D</span><span class="countdown-challenge-text"> Ngày</span></div><div class="countdown-challenge-item"><span class="countdown-challenge-time">%H</span><span class="countdown-challenge-text"> Giờ</span></div><div class="countdown-challenge-item"><span class="countdown-challenge-time">%M</span><span class="countdown-challenge-text"> Phút</span></div><div class="countdown-challenge-item"><span class="countdown-challenge-time countdown-time-last">%S</span><span class="countdown-challenge-text"> Giây</span></div>'
                    )
                );
            });
        });


    })
</script>


{% endblock %}