{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
   <div class="container">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
         <li class="breadcrumb-item active" aria-current="page">Chi nhánh</li>

         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Khuyến mãi</li>
         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Thông cáo báo chí</li>
         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Hình ảnh - Video</li>
      </ol>


   </div>
</nav>



<div class="branch-hero mb-0" style="background-image: url('images/dtt/banner-web.jpg'); background-color: #c5bce9">
   <div class="container">

      <div class="beanch-hero-feature">

         <div class="branch-feature">
            <div class="num">
               14,028
            </div>
            <div class="txt">
               Cửa hàng chấp nhận thanh toán <strong class="text-primary font-weight-bold">MoMo</strong>
            </div>

            <div class="txt2 text-primary">
               Đã có mặt trên 49 tỉnh/thành
            </div>
         </div>


         <div class="branch-feature d-none">
            <div class="num">
               8h - 17h
            </div>
            <div class="txt">
               Thời gian mở cửa
            </div>

            <div class="txt2 text-primary">
               Kể cả thứ 7 và Chủ Nhật
            </div>
         </div>


         <div class="branch-feature  d-none">
            <div class="num">
               7555
            </div>
            <div class="txt">
               Giao dịch mỗi ngày
            </div>

         </div>



      </div>

   </div>


</div>

<div class="container mt-4">
   <div class="row">
      <div class="col-12 col-md-12">
         <div class="row no-gutters">
            <div class="col-lg col-12">
               <h4 class="mb-3">Tìm điểm chấp nhận thanh toán MoMo </h4>
            </div>
         </div>
         <div class="branch-search-form">
            <form class="needs-validation ng-pristine ng-valid" novalidate="">
               <div class="form-row">
                  <div class="col-6 col-md mb-2">
                     <select name="selectCity" class="form-control  ng-pristine ng-valid ng-not-empty ng-touched"
                        data-live-search="true" id="ddlCity" data-live-search-placeholder="Tìm kiếm"
                        ng-change="GetListDistrict()" ng-model="FilterParams.cityId"
                        ng-options="data.Id as data.CityName for data in Model.ListCity ">
                        <option label="Thành Phố Hồ Chí Minh" value="number:50" selected="selected">Thành Phố Hồ Chí
                           Minh</option>
                        <option label="Hà Nội" value="number:1">Hà Nội</option>
                        <option label="An Giang" value="number:57">An Giang</option>
                        <option label="Bà Rịa - Vũng Tàu" value="number:49">Bà Rịa - Vũng Tàu</option>
                        <option label="Bắc Giang" value="number:15">Bắc Giang</option>
                        <option label="Bạc Liêu" value="number:62">Bạc Liêu</option>
                        <option label="Bắc Ninh" value="number:18">Bắc Ninh</option>
                        <option label="Bến Tre" value="number:53">Bến Tre</option>
                        <option label="Bình Định" value="number:35">Bình Định</option>
                        <option label="Bình Dương" value="number:47">Bình Dương</option>
                        <option label="Bình Phước" value="number:45">Bình Phước</option>
                        <option label="Bình Thuận" value="number:39">Bình Thuận</option>
                        <option label="Cà Mau" value="number:63">Cà Mau</option>
                        <option label="Cần Thơ" value="number:59">Cần Thơ</option>
                        <option label="Đà Nẵng" value="number:32">Đà Nẵng</option>
                        <option label="ĐẮK LẮK" value="number:42">ĐẮK LẮK</option>
                        <option label="Đồng Nai" value="number:48">Đồng Nai</option>
                        <option label="Đồng Tháp" value="number:56">Đồng Tháp</option>
                        <option label="Gia Lai" value="number:41">Gia Lai</option>
                        <option label="Hà Nam" value="number:23">Hà Nam</option>
                        <option label="Hà Tĩnh" value="number:28">Hà Tĩnh</option>
                        <option label="Hải Dương" value="number:19">Hải Dương</option>
                        <option label="Hải Phòng" value="number:20">Hải Phòng</option>
                        <option label="Hậu Giang" value="number:58">Hậu Giang</option>
                        <option label="Khánh Hòa" value="number:37">Khánh Hòa</option>
                        <option label="Kiên Giang" value="number:60">Kiên Giang</option>
                        <option label="Lâm Đồng" value="number:44">Lâm Đồng</option>
                        <option label="Long An" value="number:51">Long An</option>
                        <option label="Nam Định" value="number:25">Nam Định</option>
                        <option label="Nghệ An" value="number:27">Nghệ An</option>
                        <option label="Ninh Bình" value="number:24">Ninh Bình</option>
                        <option label="Ninh Thuận" value="number:38">Ninh Thuận</option>
                        <option label="Phú Thọ" value="number:16">Phú Thọ</option>
                        <option label="Phú Yên" value="number:36">Phú Yên</option>
                        <option label="Quảng Bình" value="number:29">Quảng Bình</option>
                        <option label="Quảng Nam" value="number:33">Quảng Nam</option>
                        <option label="Quảng Ngãi" value="number:34">Quảng Ngãi</option>
                        <option label="Quảng Ninh" value="number:14">Quảng Ninh</option>
                        <option label="Tây Ninh" value="number:46">Tây Ninh</option>
                        <option label="Thái Bình" value="number:22">Thái Bình</option>
                        <option label="Thái Nguyên" value="number:13">Thái Nguyên</option>
                        <option label="Thanh Hóa" value="number:26">Thanh Hóa</option>
                        <option label="Thừa Thiên Huế" value="number:31">Thừa Thiên Huế</option>
                        <option label="Tiền Giang" value="number:52">Tiền Giang</option>
                        <option label="Trà Vinh" value="number:54">Trà Vinh</option>
                        <option label="Tuyên Quang" value="number:4">Tuyên Quang</option>
                        <option label="Vĩnh Long" value="number:55">Vĩnh Long</option>
                        <option label="Vĩnh Phúc" value="number:17">Vĩnh Phúc</option>
                        <option label="Yên Bái" value="number:10">Yên Bái</option>
                     </select>
                  </div>
                  <div class="col-6 col-md mb-2">
                     <select name="selectDistrict" class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                        data-live-search-placeholder="Tìm kiếm" data-live-search="true" id="ddlDistrict"
                        ng-change="GetListWard()" ng-model="FilterParams.districtId"
                        ng-options="data.Id as data.DistrictName for data in Model.ListDistrict">
                        <option label="-Chọn quận/huyện-" value="number:0">-Chọn quận/huyện-</option>
                        <option label="Huyện Bình Chánh" value="number:293" selected="selected">Huyện Bình Chánh
                        </option>
                        <option label="Huyện Củ Chi" value="number:295">Huyện Củ Chi</option>
                        <option label="Huyện Hóc Môn" value="number:296">Huyện Hóc Môn</option>
                        <option label="Huyện Nhà Bè" value="number:297">Huyện Nhà Bè</option>
                        <option label="Quận 1" value="number:274">Quận 1</option>
                        <option label="Quận 10" value="number:291">Quận 10</option>
                        <option label="Quận 11" value="number:685">Quận 11</option>
                        <option label="Quận 12" value="number:483">Quận 12</option>
                        <option label="Quận 2" value="number:283">Quận 2</option>
                        <option label="Quận 3" value="number:284">Quận 3</option>
                        <option label="Quận 4" value="number:285">Quận 4</option>
                        <option label="Quận 5" value="number:275">Quận 5</option>
                        <option label="Quận 6" value="number:276">Quận 6</option>
                        <option label="Quận 7" value="number:277">Quận 7</option>
                        <option label="Quận 8" value="number:278">Quận 8</option>
                        <option label="Quận 9" value="number:279">Quận 9</option>
                        <option label="Quận Bình Tân" value="number:476">Quận Bình Tân</option>
                        <option label="Quận Bình Thạnh" value="number:282">Quận Bình Thạnh</option>
                        <option label="Quận Gò Vấp" value="number:141">Quận Gò Vấp</option>
                        <option label="Quận Phú Nhuận" value="number:690">Quận Phú Nhuận</option>
                        <option label="Quận Tân Bình" value="number:145">Quận Tân Bình</option>
                        <option label="Quận Tân Phú" value="number:146">Quận Tân Phú</option>
                        <option label="Quận Thủ Đức" value="number:289">Quận Thủ Đức</option>
                     </select>
                  </div>

                  <div class="col-6 col-md mb-2">
                     <select class="form-control">
                        <option value="number:293" selected="selected">Ăn uống
                        </option>

                        <option value="number:293">Cửa hàng


                     </select>
                  </div>

                  <div class="col-6 col-md mb-2">
                     <input class="form-control ng-pristine ng-valid ng-empty ng-touched" autocomplete="off"
                        placeholder="Nhập tên/ địa chỉ để tìm" ng-model="FilterParams.name" name="name">
                  </div>
                  <div class="col-12 col-md mb-2 text-center">
                     <input type="submit" ng-disabled="IsLoading" value="Tìm kiếm" class="btn btn-primary"
                        ng-click="FilterStore()">
                  </div>
               </div>
            </form>
            <div class="branch-search-result">
               <h5 class="ng-binding">Có 19 địa điểm tại Huyện Bình Chánh, Thành Phố Hồ Chí Minh</h5>
               <div class="d-flex justify-content-center p-4 ng-hide" ng-show="IsLoading">
                  <div class="spinner-border text-secondary" role="status"><span class="sr-only">Loading...</span></div>
               </div>


               <ul class="list-unstyled">

                  {%  for item in range(0,5) %}
                  <li class="sgf-item">
                     <div class="row no-gutters ">
                        <div class="col-12 col-md-auto  ">
                           <div class="sgf-img ">
                              <img
                                 src="https://app.momo.vn/icon/sdk/Merchant/MOMOH6WA20180727/Logo/1537432703704_7810.jpg"
                                 alt="" class="img-fluid">
                           </div>
                        </div>

                        <div class="col-12 col-md">
                           <div class="sgf-cont">
                              <div class="sgf-pf">
                                 <div class="sgf-tag">CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ CỔNG VÀNG</div>
                                 <h4 class="sgf-title text-capitalize">Trà Sữa Hot&Cold - 9a</h4>
                              </div>
                              <div class="sgf-address text-capitalize">132 9a - Kdc Thung Sơn, Xã Bình Hưng, Huyện Bình
                                 Chánh, Thành Phố Hồ
                                 Chí Minh</div>

                              <ul class="list-inline  sgf-meta">
                                 <li class="list-inline-item">
                                    <svg class="svg-inline  mr-1 ">
                                       <use xlink:href="svg/svg.svg#svg-money-transfer"></use>
                                    </svg> Nhà hàng
                                 </li>

                                 <li class="list-inline-item">

                                    <a href="unsafe:tel://0949801496" ng-show="store.Phone"
                                       class="btn btn-link link-blue p-0 ng-binding"> <svg class="svg-inline  mr-1 ">
                                          <use xlink:href="svg/svg.svg#svg-phone-circle"></use>
                                       </svg> 0949801496 </a>
                                 </li>

                                 <li class="list-inline-item">
                                    <form action="http://maps.google.com/maps" target="_blank"
                                       class="ng-pristine ng-valid">
                                       <input name="saddr" type="hidden" autocomplete="off">
                                       <input type="hidden" name="daddr" value="10.733574,106.6743678"
                                          autocomplete="off">
                                       <button type="submit" value="Get directions" class="btn btn-link link-blue p-0">
                                          <svg class="svg-inline  mr-1 ">
                                             <use xlink:href="svg/svg.svg#svg-compass"></use>
                                          </svg>

                                          Chỉ đường </button>
                                    </form>
                                 </li>
                              </ul>

                           </div>

                        </div>

                        <div class="col-md-auto col-12 text-center">
                           <a href="" class="btn btn-light rounded mt-2 mt-lg-4">
                              Hướng dẫn thanh toán
                           </a>
                        </div>

                     </div>
                  </li>


                  {% endfor %}


               </ul>






               <ul class="list-group list-group-flush store-area d-none" ng-hide="IsLoading">
                  <!-- ngRepeat: store in Model.ListStore -->
                  <li ng-repeat="store in Model.ListStore" class="list-group-item pl-0 ng-scope"
                     ng-class="{active: store.Id == Model.StoreId}">
                     <div class="row no-gutters align-items-center">
                        <div class="col-auto"><img
                              ng-src="https://app.momo.vn/icon/sdk//Merchant/MOMO28GF20180622/Logo/1529657980518_logo_GGG.jpg"
                              width="80px"
                              onerror="this.onerror=null;this.src='https://static.mservice.io/img/momo-noimg.jpg'"
                              src="https://static.mservice.io/img/momo-noimg.jpg"></div>
                        <div class="col mx-4">
                           <h5 class="text-small mb-0 text-primary text-capitalize ng-binding"
                              ng-show="store.CategoryName" ng-bind="store.CategoryName">Nhà hàng</h5>
                           <h5 class="text-small mb-0 text-secondary text-uppercase ng-binding"
                              ng-show="store.BrandName" ng-bind="store.BrandName">công ty cổ phần thương mại dịch vụ
                              cổng vàng </h5>
                           <h4 class="name mb-0 text-capitalize ng-binding" ng-bind="store.StoreName">gogi house satra
                              phạm hùng</h4>
                           <div class="address text-capitalize ng-binding">tầng 1 và tầng 2 tttm satra – c6/27 đường
                              phạm hùng, xã bình hưng, huyện bình chánh, thành phố hồ chí minh</div>
                        </div>
                        <div class="col-12 col-md-auto mx-4"><a href="javascript:void(0)"
                              ng-click="ShowHDTT(store.PaymentMethod)">Hướng dẫn thanh toán</a></div>
                        <div class="col-12 col-md-auto">
                           <div class="info d-flex d-md-block mt-3 mt-md-0">
                              <a href="unsafe:tel://0937580092" ng-show="store.Phone"
                                 class="btn btn-link link-blue pl-0 ng-binding"> <img
                                    src="https://static.mservice.io/styles/desktop/images/dtt/call-answer.svg"
                                    class="mr-1 info-icon" width="15"> 0937580092 </a>
                              <form action="http://maps.google.com/maps" target="_blank" class="ng-pristine ng-valid">
                                 <input name="saddr" type="hidden" autocomplete="off">
                                 <input type="hidden" name="daddr" value="10.733574,106.6743678" autocomplete="off">
                                 <button type="submit" value="Get directions" class="btn btn-link link-blue pl-0"> <img
                                       src="https://static.mservice.io/styles/desktop/images/dtt/compass.svg"
                                       class="mr-1 info-icon" width="15"> Tới địa điểm này </button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- end ngRepeat: store in Model.ListStore -->
                  <li ng-repeat="store in Model.ListStore" class="list-group-item pl-0 ng-scope"
                     ng-class="{active: store.Id == Model.StoreId}">
                     <div class="row no-gutters align-items-center">
                        <div class="col-auto"><img
                              ng-src="https://app.momo.vn/icon/sdk/Merchant/MOMOH6WA20180727/Logo/1537432703704_7810.jpg"
                              width="80px"
                              onerror="this.onerror=null;this.src='https://static.mservice.io/img/momo-noimg.jpg'"
                              src="https://app.momo.vn/icon/sdk/Merchant/MOMOH6WA20180727/Logo/1537432703704_7810.jpg">
                        </div>
                        <div class="col mx-4">
                           <h5 class="text-small mb-0 text-primary text-capitalize ng-binding"
                              ng-show="store.CategoryName" ng-bind="store.CategoryName">Cafe/Dessert</h5>
                           <h5 class="text-small mb-0 text-secondary text-uppercase ng-binding"
                              ng-show="store.BrandName" ng-bind="store.BrandName">trà sữa hot&amp;cold</h5>
                           <h4 class="name mb-0 text-capitalize ng-binding" ng-bind="store.StoreName">trà sữa
                              hot&amp;cold - 9a</h4>
                           <div class="address text-capitalize ng-binding">132 9a - kdc thung sơn, xã bình hưng, huyện
                              bình chánh, thành phố hồ chí minh</div>
                        </div>
                        <div class="col-12 col-md-auto mx-4"><a href="javascript:void(0)"
                              ng-click="ShowHDTT(store.PaymentMethod)">Hướng dẫn thanh toán</a></div>
                        <div class="col-12 col-md-auto">
                           <div class="info d-flex d-md-block mt-3 mt-md-0">
                              <a href="unsafe:tel://0949801496" ng-show="store.Phone"
                                 class="btn btn-link link-blue pl-0 ng-binding"> <img
                                    src="https://static.mservice.io/styles/desktop/images/dtt/call-answer.svg"
                                    class="mr-1 info-icon" width="15"> 0949801496 </a>
                              <form action="http://maps.google.com/maps" target="_blank" class="ng-pristine ng-valid">
                                 <input name="saddr" type="hidden" autocomplete="off">
                                 <input type="hidden" name="daddr" value="10.7298338,106.6524207" autocomplete="off">
                                 <button type="submit" value="Get directions" class="btn btn-link link-blue pl-0"> <img
                                       src="https://static.mservice.io/styles/desktop/images/dtt/compass.svg"
                                       class="mr-1 info-icon" width="15"> Tới địa điểm này </button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </li>

                  <!-- end ngRepeat: store in Model.ListStore -->
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>



<div class="newsletter">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-auto">
            <div class="newsletter-img">
               <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
            </div>

         </div>

         <div class="col">
            <h4>Nhận tin tức từ MoMo !</h4>
            <div class="h5 font-weight-normal mb-0 text-secondary">
               Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
            </div>
         </div>

         <div class="col-12 col-lg-auto d-none d-lg-block" style="text-align:center">
            <div class="input-group newsletter-input" style="display:inline-block">
               <div class="input-group-append" style="display:inline-block"><button class="btn btn-primary"
                     type="button" data-toggle="modal" data-target="#modalNewsletter">ĐĂNG KÝ</button></div>
            </div>
         </div>
      </div>
   </div>
</div>








{% endblock %}