{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}



<div id="fb-root"></div>
<script>
   (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=320653355376196&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>

<script>
   window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
         t._e.push(f);
      };

      return t;
   }(document, "script", "twitter-wjs"));</script>




<nav aria-label="breadcrumb" class="breadcrumb-container">
   <div class="container">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
         <li class="breadcrumb-item"><a href="/hoan-tien/cua-hang-tien-loi">Cửa hàng tiện lợi</a></li>
         <li class="breadcrumb-item active" aria-current="page">FamilyMart</li>
      </ol>
   </div>
</nav>

<section class="dtt-hero" id="dtt-hero">

   <!-- <div class="dtt-hero-bg"
      style="background-image: url(https://i2.wp.com/missgetabout.com/wp-content/uploads/2019/02/IMG_20190203_200846-e1549855251458.jpeg?w=1050)">
   </div> -->
   <div class="dtt-hero-bg"
      style="background-image: url(https://a0.muscache.com/4ea/air/v2/pictures/18c8c827-b4d9-4543-a275-2d09bddafb90.jpg?t=c:w2262-h686,r:w2262-h686-sfit,e:fjpg-c75)">
   </div>

   <div class="dtt-hero-overlay">

   </div>
   <div class="container dtt-hero-dd ">
      <div class="row no-gutters  ">
         <div class="col-md-auto col-12">

            <div class="dtb-header-img shadow-sm d-block mx-auto">
               <img src="https://app.momo.vn/MIS-MS/AppServices/loadPOSMImg?id=2406" class="img-fluid " alt="">
            </div>

         </div>
         <div class="col-md py-2 py-md-0 col-12">
            <div class="container dtt-hero-content ">
               <h1 class="dtt-hero-title h2 font-weight-bold text-truncate ">Ministop VN

                  <span class="cashback-sym ml-2 d-none">
                     <!--  <svg class="svg-inline svg cashback-sym-icon">
                        <use xlink:href="svg/svg.svg#svg-money-transfer"></use>
                     </svg> -->
                     <img src="https://paytmmall.com/massets/IconCashBack.png" class="cashback-sym-img" width="36"
                        alt="">

                     Hoàn tiền 10%
                  </span>

               </h1>
               <div class="dtt-hero-sub  text-truncate h5  font-weight-normal ">
                  Ministop VN là chuỗi cửa hàng tiện lợi quốc tế
               </div>

               <div class="row no-gutters align-items-center sg-type mt-2">

                  <div class="col-auto">
                     <div class="place-item-star mb-0 ">
                        <div class="star-block ">
                           <div class="star-block-hide" style="width: 45px;">
                              <div class="star-block-bg"></div>
                           </div>
                        </div>

                     </div>
                  </div>

                  <div class="col-auto">
                     <div class="ml-2 "> 25 /

                        <small>
                           <svg class="svg-inline svg ">
                              <use xlink:href="svg/svg.svg#svg-user"></use>
                           </svg>

                           125
                        </small>

                     </div>
                  </div>

                  <div class="col-auto ml-4">
                     <a href="" class="btn btn-blue btn-sm sg-type-btn">Ăn uống</a>
                  </div>




               </div>

               <ul class="list-inline mb-0 mt-2 dtt-hero-meta">

                  <li class="list-inline-item mr-4">
                     <svg class="svg-inline svg mr-1 ">
                        <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                     </svg>
                     76 địa điểm trong hệ thống
                  </li>

                  <li class="list-inline-item">

                     <div class="sg-status dtt-status is-open ">

                        <span class="status">

                        </span>

                        <span class="status-txt">Đang mở cửa</span>

                        <span class="ml-2">(00:00 - 23:59)</span>

                     </div>

                  </li>

               </ul>
            </div>
         </div>
         <div class="col-md-auto col-12 py-2 py-md-0  d-none d-lg-block">

            <table border="0" cellpadding="0" cellspacing="0" style=" margin: 0 auto; border-collapse:collapse; "
               width="auto">
               <tbody>
                  <tr>
                     <td width="" style="line-height: 0px;">

                        <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                           style="color:#333332;text-decoration:none; display:block; margin-bottom: 15px;"
                           target="_blank">
                           <img src="https://static.mservice.io/blogscontents/momo-upload-api-appstore-190516140705.png"
                              alt="" style="max-height:38px">
                        </a>


                        <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                           style="color:#333332;text-decoration:none;display:block" target="_blank">
                           <img
                              src="https://static.mservice.io/blogscontents/momo-upload-api-google-play-190516140727.png"
                              alt="" style="max-height:38px">
                        </a>


                     </td>

                     <td class="" width="20"></td>

                     <td width="" style="line-height: 0px;">

                        <img src="https://static.mservice.io/img/momo-upload-api-qr-code-181003004308.png"
                           style="max-height: 90px" alt="">


                     </td>




                  </tr>
               </tbody>
            </table>


         </div>
      </div>
   </div>


</section>
<div class="sg-nav-container shadow-sm mb-2 mb-lg-4">


   <div class="container position-relative">

      <nav class="nav sg-nav " id="navbar-sg">
         <a class="nav-link  is-active" href="#dtt-hero" data-scrollto="#dtt-hero" data-offset="120">Thương hiệu</a>
         <a class="nav-link " href="#uudai" data-scrollto="#uudai" data-offset="120">Ưu đãi</a>


         <a class="nav-link" href="#gioithieu" data-scrollto="#gioithieu" data-offset="120">Giới
            thiệu</a>

         <a class="nav-link" href="#hinhanh" data-scrollto="#hinhanh" data-offset="120">Hình ảnh</a>


         <a class="nav-link" href="#chinhanh" data-scrollto="#chinhanh" data-offset="120">Cửa hàng</a>
         <a class="nav-link" href="#thanhtoan" data-scrollto="#thanhtoan" data-offset="120">Thanh toán</a>
         <a class="nav-link" href="#baiviet" data-scrollto="#baiviet" data-offset="120">Bài viết</a>
         <a class="nav-link" href="#hoidap" data-scrollto="#hoidap" data-offset="120">Hỏi đáp</a>

      </nav>

      <ul class=" list-inline mb-0 sg-social-share ">
         <li class="list-inline-item align-top">
            <div class="fb-like"
               data-href="https://momo.vn/tin-tuc/khuyen-mai/giai-nhiet-mua-nong-don-song-voucher-cung-vi-momo-nhan-ngay-voucher-mua-sam-tai-nguyen-kim-len-den-150000-dong-747"
               data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
         </li>
         <li class="list-inline-item align-top">
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?text= Gi&#x1EA3;i nhi&#x1EC7;t m&#xF9;a n&#xF3;ng - &#x110;&#xF3;n &quot;s&#xF3;ng&quot; voucher: T&#x1EB7;ng th&#x1EBB; qu&#xE0; Nguy&#x1EC5;n Kim 150.000 &#x111;&#x1ED3;ng khi li&#xEA;n k&#x1EBF;t V&#xED; MoMo v&#x1EDB;i ng&#xE2;n h&#xE0;ng"
               data-size="Default">
               Tweet
            </a>
         </li>
      </ul>
   </div>

</div>





<div class="container">


   <div class="row">
      <div class="col-12 col-lg-8 sticky-content2">

         <div class="theiaStickySidebar">

            <div class="card mb-4 mt-4  sg-cb-card  d-block d-lg-none">

               <div class="sg-cb-heading" style="background-image: url(images/cashback/cashback-title-bg.svg)">
                  HOÀN TIỀN TIẾT KIỆM
               </div>


               <div class="card-body  ">

                  <div class="row no-gutters mb-2 mt-2">
                     <div class="col-auto">
                        <div class="sg-cb-txt1">
                           <img src="images/cashback/heo-cashback.svg" class="mr-3" width="50" alt=""></div>
                     </div>
                     <div class="col">
                        <h4>
                           Hoàn tiền lên đến 9.1% <br>
                           tại MoMo App
                        </h4>
                     </div>
                  </div>


                  <div class="sg-cb-txt2">


                     <div><strong>Chi tiết ưu đãi</strong></div>
                     <div>Hoàn tiền 5% trên tổng hoá đơn</div><br>
                     <div><strong>Điều kiện và điều khoản</strong></div>
                     <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết
                        ngân
                        hàng
                        (ngoại trừ thẻ thanh toán quốc tế) </div>
                     <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)
                     </div>
                     <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 1.000.000đ/tháng
                     </div>
                  </div>
                  <!-- 
   
                     <div class="row sm-gutters ">
                        <div class="col-auto mr-1 ">
                           <img src="images/cashback/heo-cashback.svg" class="pb-2" width="50" alt="">
                        </div>
                        <div class="col">
   
   
                        </div>
                     </div> -->

               </div>
            </div>
            <div class="card mb-4">

               <div class="card-body pt-0 pb-0 ">
                  <div class="sg-section ">

                     <h4 class="sg-section-title" id="gioithieu">
                        Giới thiệu cửa hàng
                     </h4>
                     <div class="sg-section-content">
                        <p><strong>Circle K</strong> thành lập từ năm 1951 tại Mỹ và là một trong những chuỗi cửa hàng
                           tiện lợi uy tín và rộng khắp trên thế giới. Cửa hàng Circle K đầu tiên tại Việt Nam khai
                           trương vào năm 2008. Sau hơn 10 năm hoạt động, Circle K Việt Nam hiện là chuỗi cửa hàng tiện
                           lợi lớn nhất với hơn 300 cửa hàng tại các thành phố lớn như Hà Nội, Hồ Chí Minh, Vũng Tàu, Đà
                           Nẵng.</p>
                        <p>Từ ngày 5/3/2018, <strong>Circle K </strong>chính thức áp dụng thanh toán bằng MoMo bằng
                           phương thức Mã Thanh Toán tại mọi chi nhánh.</p>
                     </div>

                  </div>

               </div>
            </div>



            <h4 class="sg-section-title  mb-4 pt-3" id="hinhanh">
               Hình ảnh
            </h4>

            <div class="card mb-4">


               <div class="card-body pt-0 pb-0">

                  <div class="sg-section ">


                     <div class="sg-section-content">
                        <div class="sg-gallery" id="lightgallery-sg">
                           <div class="sg-gallery-col col1">
                              <div class="sg-gallery-feature">
                                 <div class="embed-responsive embed-responsive-16by9  rounded">
                                    <img
                                       src="https://images.foody.vn/res/g74/731931/prof/s576x330/foody-upload-api-foody-mobile-the-alley-jpg-180411141350.jpg"
                                       class="embed-responsive-img " alt="">
                                 </div>
                              </div>
                           </div>
                           <div class="sg-gallery-col col2">
                              <div class="sg-gallery-item">
                                 <div class="embed-responsive embed-responsive-16by9 rounded">
                                    <img
                                       src="https://images.foody.vn/res/g77/763629/s/foody-the-alley-tra-sua-dai-loan-hong-bang-893-636815110932824475.jpg"
                                       class="embed-responsive-img " alt="">
                                 </div>
                              </div>

                              <div class="sg-gallery-item">
                                 <div class="embed-responsive embed-responsive-16by9 rounded">
                                    <img
                                       src="https://images.foody.vn/res/g74/731931/prof/s576x330/foody-upload-api-foody-mobile-the-alley-jpg-180411141350.jpg"
                                       class="embed-responsive-img " alt="">
                                 </div>
                              </div>

                              <div class="sg-gallery-item">
                                 <div class="embed-responsive embed-responsive-16by9 rounded">
                                    <img
                                       src="https://images.foody.vn/res/g77/763629/s/foody-the-alley-tra-sua-dai-loan-hong-bang-801-636926809319840239.jpg"
                                       class="embed-responsive-img " alt="">
                                 </div>
                              </div>


                              <div class="sg-gallery-item">

                                 <div class="embed-responsive embed-responsive-16by9 rounded">
                                    <img
                                       src="https://images.foody.vn/res/g77/763629/s/foody-checkin-the-alley-tra-sua-dai-loan-hong-bang-226-636859370913444555.jpg"
                                       class="embed-responsive-img " alt="">


                                 </div>

                                 <div class="sg-gallery-more">Xem tất cả</div>
                              </div>

                           </div>
                        </div>

                     </div>


                  </div>

               </div>
            </div>



            <div class="row no-gutters align-items-center mb-4 pt-3">
               <div class="col-auto mr-4">
                  <h4 class="sg-section-title mb-0" id="chinhanh">
                     Cửa hàng
                  </h4>
               </div>

               <div class="col-auto mr-4 mt-2 mt-sm-0">

                  <div class="row no-gutters">
                     <div class="col-auto mr-3">
                        <select name="" id="" class="form-control form-control-sm sg-form-filter ">
                           <option value="" selected>Chọn tỉnh/ thành</option>
                           <option value="">Tp. Hồ Chí Minh</option>
                           <option value="">Hà nội</option>
                        </select>
                     </div>
                     <div class="col-auto mr-3">

                        <select name="" id="" class="form-control form-control-sm sg-form-filter">
                           <option value="" selected>Chọn quận/ huyện</option>
                           <option value="">Quận 1</option>
                           <option value="">Quận 2</option>
                        </select>
                     </div>
                  </div>
               </div>

            </div>

            <div class="card mb-4">

               <div class="card-body p-0 ">

                  <div class="row no-gutters">
                     <div class="col-12 ">

                        <div class="dtb-p ">
                           <div class="d-flex justify-content-center p-4">
                              <div class="spinner-border text-secondary " role="status">
                                 <span class="sr-only">Loading...</span>
                              </div>
                           </div>

                           <ul class="list-unstyled mb-0">


                              {%  for item in range(0,5) %}
                              <li class="sgf-item">
                                 <div class="row no-gutters align-items-center ">

                                    <div class="col-auto">
                                       <div class="sgf-item-avatar">
                                          <img src="https://app.momo.vn/MIS-MS/AppServices/loadPOSMImg?id=8316"
                                             class="img-fluid" alt="">
                                       </div>
                                    </div>

                                    <div class="col">
                                       <h4 class="sgf-title text-capitalize">Trà Sữa Hot&Cold - 9a</h4>
                                       <div class="sgf-address text-capitalize">132 9a - Kdc Thung Sơn, Xã Bình Hưng,
                                          Huyện Bình
                                          Chánh, Thành Phố Hồ
                                          Chí Minh</div>




                                    </div>

                                    <div class="col-auto">
                                       <div class="sgf-direction">
                                          <form action="http://maps.google.com/maps" target="_blank"
                                             class="ng-pristine ng-valid">
                                             <input name="saddr" type="hidden" autocomplete="off">
                                             <input type="hidden" name="daddr" value="10.733574,106.6743678"
                                                autocomplete="off">
                                             <button type="submit" value="Get directions" class="btn p-0">
                                                <svg class="svg-inline   ">
                                                   <use xlink:href="svg/svg.svg#svg-compass"></use>
                                                </svg>
                                             </button>
                                          </form>
                                       </div>
                                    </div>



                                 </div>
                              </li>


                              {% endfor %}


                           </ul>

                           <div class="map-place-height d-none" style="height: 350px">
                              <div id="map_right_listing"></div>
                           </div>
                        </div>
                     </div>

                  </div>


               </div>
            </div>



            <h4 class="sg-section-title  mb-4 pt-3" id="thanhtoan">
               Hướng dẫn thanh toán
            </h4>

            <div class="card mb-4">


               <div class="card-body pt-0 pb-0">

                  <div class="sg-section ">


                     <div class="row no-gutters ">
                        <div class="col-12 ">


                           <div class="row manual-device-swiper-container align-items-center">
                              <div class="col-12 col-lg-6 order-2 order-lg-1">

                                 <div class="manual-device d-block" id="hd-sub-img-461233" childId="461233">
                                    <div class="manual-device-stock ">

                                    </div>

                                    <div class="manual-device-slide">
                                       <div class="swiper-container manual-device-swiper" id="hd-sub-swp-461233">
                                          <div class="swiper-wrapper">
                                             <div class="swiper-slide">
                                                <img
                                                   data-src="https://static.mservice.io/img/momo-upload-api-buoc-1-190522181721.jpg"
                                                   class="img-fluid lazyload"
                                                   alt="Ch&#x1ECD;n &quot;M&#xE3; Thanh To&#xE1;n&quot;">
                                             </div>
                                             <div class="swiper-slide">
                                                <img
                                                   data-src="https://static.mservice.io/img/momo-upload-api-buoc-2-190522172522.jpg"
                                                   class="img-fluid lazyload"
                                                   alt="&#x110;&#x1B0;a m&#xE3; cho thu ng&#xE2;n qu&#xE9;t">
                                             </div>
                                             <div class="swiper-slide">
                                                <img
                                                   data-src="https://static.mservice.io/img/momo-upload-api-buoc-3-190522162213.jpg"
                                                   class="img-fluid lazyload"
                                                   alt="Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>


                              </div>


                              <div class="col-12 col-lg-6 order-1 order-lg-2">


                                 <ol class="process list-unstyled manual-process" childId="461233"
                                    id="hd-sub-ctn-461233">

                                    <li class="process_item  active">
                                       <div class="process__number">
                                          <span>1</span>
                                       </div>
                                       <div class="process__body">

                                          <h4 class="process__body-title">Ch&#x1ECD;n &quot;M&#xE3; Thanh
                                             To&#xE1;n&quot;
                                          </h4>
                                          <div class="process__body-content">

                                          </div>
                                       </div>
                                    </li>
                                    <li class="process_item  ">
                                       <div class="process__number">
                                          <span>2</span>
                                       </div>
                                       <div class="process__body">

                                          <h4 class="process__body-title">&#x110;&#x1B0;a m&#xE3; cho thu ng&#xE2;n
                                             qu&#xE9;t</h4>
                                          <div class="process__body-content">
                                             <p>Đưa m&atilde; hiện ra cho thu ng&acirc;n qu&eacute;t để thanh
                                                to&aacute;n.<br />
                                                Nguồn tiền mặc định của h&igrave;nh thức n&agrave;y l&agrave; nguồn tiền
                                                V&iacute; MoMo. H&atilde;y đảm bảo số dư trong V&iacute;&nbsp;lớn hơn số
                                                tiền cần thanh to&aacute;n trước khi tiến h&agrave;nh giao dịch.</p>

                                          </div>
                                       </div>
                                    </li>
                                    <li class="process_item  ">
                                       <div class="process__number">
                                          <span>3</span>
                                       </div>
                                       <div class="process__body">

                                          <h4 class="process__body-title">Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t</h4>
                                          <div class="process__body-content">

                                          </div>
                                       </div>
                                    </li>
                                 </ol>



                              </div>
                           </div>

                        </div>

                     </div>



                  </div>

               </div>
            </div>


            <h4 class="sg-section-title  mb-4 pt-3" id="baiviet">
               Bài viết liên quan</h4>


            <div class="card mb-4">


               <div class="card-body pt-0 pb-0">

                  <div class="sg-section sg-new sg-tintuc">


                     {% for item in range(0,4) %}
                     <div class="sg-tintuc-item ">
                        <div class="sg-tintuc-img embed-responsive embed-responsive-16by9">
                           <a href="tintuc-detail.html" class="link-absolute"></a>
                           <img data-src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg"
                              class="embed-responsive-img lazyloaded" alt=""
                              src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg">
                        </div>

                        <div class="sg-tintuc-content">

                           <h4 class="sg-tintuc-title"><a href="tintuc-detail.html" class="link-black">Có MoMo -
                                 Thanh toán Thẻ Vay
                                 VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>


                           <div class="sg-tintuc-desc">
                              Từ ngày 5/3/2018, Circle K chuỗi cửa hàng tiện lợi lớn nhất Việt Nam chính thức áp dụng
                              thanh toán bằng MoMo.
                           </div>

                           <ul class="new-meta clearfix list-inline mb-0">
                              <li class="list-inline-item">
                                 2 giờ trước
                              </li>

                           </ul>
                        </div>
                     </div>

                     {% endfor %}


                  </div>

               </div>
            </div>

            <h4 class="sg-section-title  mb-4 pt-3" id="hoidap">
               Hỏi đáp</h4>

            <div class="card mb-4">


               <div class="card-body pt-0 pb-0">

                  <div class="sg-section ">




                     <div id="accordion" class="help-center-accordion sg-accordion">
                        <div class="card">
                           <div class="card-header">
                              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                 Ví momo là gì?

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseOne" class="collapse show" data-parent="#accordion">
                              <div class="card-body">
                                 Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động
                                 Trực tuyến
                                 (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để
                                 thanh toán
                                 cho
                                 hơn 200
                                 dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                              </div>
                           </div>
                        </div>

                        <div class="card">
                           <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                 Tiền trong tài khoản MoMo có phải là tiền thật?

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseTwo" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                 <h5>Chưa cập nhập nội dung ...</h5>
                              </div>
                           </div>
                        </div>

                        <div class="card">
                           <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                 Sử dụng MoMo có mất phí không?

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseThree" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                 <h5>Chưa cập nhập nội dung ...</h5>
                              </div>
                           </div>
                        </div>

                        <div class="card">
                           <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                 Tôi bị mất tiền trong tài khoản MoMo

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseFour" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                 <h5>Chưa cập nhập nội dung ...</h5>
                              </div>
                           </div>
                        </div>


                        <div class="card">
                           <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                 Số tài khoản MoMo là gì?

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseFive" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                 <h5>Chưa cập nhập nội dung ...</h5>
                              </div>
                           </div>
                        </div>

                        <div class="card">
                           <div class="card-header">
                              <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                 Số tài khỏan MoMo có an toàn?

                                 <span class="card-link-icon minus">-</span>
                                 <span class="card-link-icon plus">+</span>
                              </a>
                           </div>
                           <div id="collapseSix" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                 <h5>Chưa cập nhập nội dung ...</h5>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>

               </div>
            </div>
         </div>

      </div>

      <div class="col-12 col-lg-4  sticky-sidebar2">
         <div class="theiaStickySidebar">

            <div class="card mb-4 sg-cb-card d-none d-lg-block">

               <div class="sg-cb-heading" style="background-image: url(images/cashback/cashback-title-bg.svg)">
                  HOÀN TIỀN TIẾT KIỆM
               </div>


               <div class="card-body  ">

                  <div class="row no-gutters mb-2 mt-2">
                     <div class="col-auto">
                        <div class="sg-cb-txt1">
                           <img src="images/cashback/heo-cashback.svg" class="mr-3" width="50" alt=""></div>
                     </div>
                     <div class="col">
                        <h4>
                           Hoàn tiền lên đến 9.1% <br>
                           tại MoMo App
                        </h4>
                     </div>
                  </div>


                  <div class="sg-cb-txt2">


                     <div><strong>Chi tiết ưu đãi</strong></div>
                     <div>Hoàn tiền 5% trên tổng hoá đơn</div><br>
                     <div><strong>Điều kiện và điều khoản</strong></div>
                     <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết
                        ngân
                        hàng
                        (ngoại trừ thẻ thanh toán quốc tế) </div>
                     <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)
                     </div>
                     <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 1.000.000đ/tháng
                     </div>
                  </div>
                  <!-- 

                  <div class="row sm-gutters ">
                     <div class="col-auto mr-1 ">
                        <img src="images/cashback/heo-cashback.svg" class="pb-2" width="50" alt="">
                     </div>
                     <div class="col">


                     </div>
                  </div> -->

               </div>
            </div>





            <div class="card mb-4 d-none">
               <div class="card-body py-0 ">
                  <div class="sg-section">
                     <div class="text-center">

                        <h4 class="sg-section-title">
                           Mời bạn theo dõi
                        </h4>

                        <ul class="list-inline sg-share">
                           <li class="list-inline-item">
                              <a href="" class="sg-share-item" data-toggle="tooltip" data-placement="top"
                                 title="Chia sẽ lên Facebook">
                                 <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-facebook"></use>
                                 </svg>
                              </a>
                           </li>

                           <li class="list-inline-item">
                              <a href="" class="sg-share-item" data-toggle="tooltip" data-placement="top"
                                 title="Gửi tin nhắn Messenger">
                                 <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-messenger"></use>
                                 </svg>
                              </a>
                           </li>

                           <li class="list-inline-item">
                              <a href="" class="sg-share-item" data-toggle="tooltip" data-placement="top"
                                 title="Chia sẽ qua Email">
                                 <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-envelope"></use>
                                 </svg>
                              </a>
                           </li>

                           <li class="list-inline-item">
                              <a href="" class="sg-share-item" data-toggle="tooltip" data-placement="top"
                                 title="Chia sẽ lên Twitter">
                                 <svg class="svg-inline svg ">
                                    <use xlink:href="svg/svg.svg#svg-twitter"></use>
                                 </svg>
                              </a>
                           </li>
                        </ul>



                     </div>

                  </div>
               </div>
            </div>

            <div class="card mb-4 d-none">
               <div class="card-body py-0 ">
                  <div class="sg-section">
                     <h4 class="sg-section-title">
                        Hướng dẫn thanh toán (3 bước)
                     </h4>

                     <div class="swiper-container sg-how-swiper sg-how">
                        <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <div class="how-step">
                                 <div class="how-step-title">
                                    <div class="how-step-num">1</div>

                                    <div class="how-step-txt ml-2">
                                       Mở ví MoMo, chọn "Mã thanh toán".
                                    </div>
                                 </div>


                                 <img src="images/dtt/step1.jpg" class="img-fluid mx-auto d-block" alt="">
                              </div>


                           </div>

                           <div class="swiper-slide">
                              <div class="how-step">
                                 <div class="how-step-title">
                                    <div class="how-step-num">2</div>

                                    <div class="how-step-txt ml-2">
                                       Đưa mã QR/barcode cho thu ngân.
                                    </div>
                                 </div>


                                 <img src="images/dtt/step2.jpg" class="img-fluid mx-auto d-block" alt="">

                              </div>
                           </div>

                           <div class="swiper-slide">
                              <div class="how-step">
                                 <div class="how-step-title">
                                    <div class="how-step-num">3</div>

                                    <div class="how-step-txt ml-2">
                                       Nhân viên dùng máy scan quét mã.
                                    </div>
                                 </div>


                                 <img src="images/dtt/step3.jpg" class="img-fluid mx-auto d-block" alt="">

                              </div>
                           </div>

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-black swiper-pagination-bullets"></div>
                     </div>
                  </div>
               </div>
            </div>


            <div class="card mb-4">
               <div class="card-body py-0 ">
                  <div class="sg-section">
                     <h4 class="sg-section-title">
                        Thương hiệu liên quan
                     </h4>


                     <ul class="list-unstyled mb-0">

                        {%  for item in range(0,3) %}
                        <li class="sgf-item">
                           <div class="row no-gutters  ">
                              <div class="col-12 col-md-auto  ">
                                 <div class="sgf-img " style="width: 70px;">
                                    <img
                                       src="https://app.momo.vn/icon/sdk/Merchant/MOMOH6WA20180727/Logo/1537432703704_7810.jpg"
                                       alt="" class="img-fluid">
                                 </div>
                              </div>

                              <div class="col-12 col-md">
                                 <div class="sgf-cont">
                                    <div class="sgf-pf">
                                       <h4 class="sgf-title text-capitalize">FPT Telecom</h4>
                                       <div class="sgf-address text-capitalize">157 địa điểm</div>
                                    </div>




                                 </div>

                              </div>



                           </div>
                        </li>


                        {% endfor %}


                     </ul>


                  </div>
               </div>
            </div>

            <div class="card mb-4">
               <div class="card-body py-0 ">
                  <div class="newsletter newsletter-job ">
                     <div class="row align-items-center no-gutters">
                        <div class="col-auto">
                           <div class="newsletter-img">
                              <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="" width="60">
                           </div>

                        </div>

                        <div class="col">
                           <div class="ml-2">
                              <div class="font-weight-bold">Nhận tin tuyển dụng từ MoMo !</div>
                              <div class="mb-0 text-secondary">
                                 Đừng bỏ lỡ những cơ hội tuyển dụng từ MoMo
                              </div>
                           </div>
                        </div>

                        <div class="col-12 mt-3">
                           <div class="input-group newsletter-input">
                              <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


      </div>
   </div>
</div>

<br>

{% endblock %}

{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>



<script>

   $(document).ready(function () {

      $('body').scrollspy({ target: '#navbar-sg', offset: 130 });
      $(window).on('activate.bs.scrollspy', function () {
         $("#navbar-sg .nav-link.active").addClass("is-active").siblings().removeClass("is-active");
      })
      var sgHow = new Swiper('.sg-how-swiper', {
         pagination: {
            el: '.swiper-pagination',
         },
      });

      $(".sticky-content2, .sticky-sidebar2").theiaStickySidebar({
         // Settings
         additionalMarginTop: 130
      });

   });


   $(".sg-gallery img").wrap(function () {
      if (!$(this).parent().hasClass('swiper-slide')) {
         var temp = "<div class='lightgallery-item embed-responsive-img '";
         var src = "data-src='" + $(this).attr("src") + "'";
         var sub = "";
         if ($(this).attr("alt") != undefined && $(this).attr("alt") != "") {
            sub = " data-sub-html='" + $(this).attr("alt") + "'";
         }

         return temp + src + sub + " ></div>";
      }
   });


   $('#lightgallery-sg').lightGallery({
      pager: false,
      share: false,
      loop: false,
      selector: '.lightgallery-item'
   });


   /*
      function autoHideAvatar() {
         var offsetTop2 = $(".sg-nav-container").position().top;

         var scroll2 = $(window).scrollTop();

         if (scroll2 >= offsetTop2 - 58) {
            $(".sg-nav-avatar").addClass("is-active")
         } else {
            $(".sg-nav-avatar").removeClass("is-active")
         }
      }
      autoHideAvatar(); */

   /* $(window).on('scroll', function () {
      (!window.requestAnimationFrame) ? setTimeout(autoHideAvatar, 250) : requestAnimationFrame(autoHideAvatar);
   }); */
</script>
{% endblock %}