{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

{% set items = [
{
"img" : "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/02/Empty-Wallet-368x276.jpg",
"title" : "LightCoffee.vn - Giảm 10% cho đơn hàng từ 150.000 đồng",
"score" : "5 điểm"
},
{
"img" : "https://lh6.googleusercontent.com/eHrkbCkFDKlKPewmuDAjofxfwlqvx6eOKD-oSaELtSH0IRHKkRfyDYGWVZpVUGz1K0wK5hhWRHpSOaCmy0el-LSxZPSlHJ1vtzsuBytGsmJnSIgEQUiD9Deeu0PjQVXsmgLcR4fH",
"title" : "Ưu đãi miễn phí rút tiền từ MoMo về tài khoản ngân hàng",
"score" : "5 điểm"
},
{
"img" : "https://static.mservice.io/blogscontents/momo-upload-api-9k_770x370%20(1)-190109175839.png",
"title" : "Mua vé CGV bằng Ví MoMo: Chỉ 9.000đ/vé, áp dụng đến 31/3/2019",
"score" : "5 điểm"
},
{
"img" : "https://static.mservice.io/blogscontents/momo-upload-api-12congiap-770-190212092851.jpg",
"title" : "Lắc Xì Ví MoMo nâng giá trị giải thưởng thu thập 12 con giáp lên 5 tỷ đồng",
"score" : "5 điểm"
}
] %}

<nav aria-label="breadcrumb" class="breadcrumb-container d-none">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi nhánh</li>

            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Khuyến mãi</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Thông cáo báo chí</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Hình ảnh - Video</li>
        </ol>


    </div>
</nav>

<div class="branch-hero mb-0" style="background-image: url('images/dtt/banner-web.jpg'); background-color: #c5bce9">
    <div class="container">

        <div class="beanch-hero-feature">

            <div class="branch-feature">
                <div class="num">
                    14,028
                </div>
                <div class="txt">
                    Cửa hàng chấp nhận thanh toán <strong class="text-primary font-weight-bold">MoMo</strong>
                </div>

                <div class="txt2 text-primary">
                    Đã có mặt trên 49 tỉnh/thành
                </div>
            </div>


            <div class="branch-feature d-none">
                <div class="num">
                    8h - 17h
                </div>
                <div class="txt">
                    Thời gian mở cửa
                </div>

                <div class="txt2 text-primary">
                    Kể cả thứ 7 và Chủ Nhật
                </div>
            </div>


            <div class="branch-feature  d-none">
                <div class="num">
                    7555
                </div>
                <div class="txt">
                    Giao dịch mỗi ngày
                </div>

            </div>



        </div>

    </div>


</div>






<div class="bg-white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-lg-auto dtt-col-left  sticky-sidebar">
                <div class="theiaStickySidebar">

                    <button class="dtt-search-expand font-weight-bold d-block d-lg-none" type="button"
                        data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">

                        <svg class="svg-inline svg ">
                            <use xlink:href="svg/svg.svg#svg-controls"></use>
                        </svg>

                        Tìm kiếm
                    </button>




                    <div class="dtt-search collapse " id="collapseExample">


                        <div class="dtt-search-item">

                            <h4 class="dtt-search-title d-none d-lg-block">Tìm kiếm</h4>


                            <div class="dtt-search-rela">
                                <input type="text" class="form-control  shadow-sm" placeholder="Từ khóa tìm kiếm">

                                <svg class="svg-inline svg dtt-search-icon">
                                    <use xlink:href="svg/svg.svg#svg-search"></use>
                                </svg>

                            </div>


                        </div>

                        <div class="dtt-search-item">

                            <h4 class="dtt-search-title d-none d-lg-block">Tỉnh thành</h4>

                            <div class="dtt-search-rela">

                                <div class="shadow-sm">
                                    <select class="form-control  " id="sg-select2-place" name="param">
                                        <option></option>
                                    </select>

                                </div>

                                <svg class="svg-inline svg dtt-search-icon">
                                    <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                </svg>


                            </div>

                        </div>


                        <div class="dtt-search-item">

                            <h4 class="dtt-search-title d-none d-lg-block">Quận huyện</h4>

                            <div class="dtt-search-rela">

                                <div class="shadow-sm">
                                    <select class="form-control" id="sg-select2-province" name="param">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TX">Texas</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="IN">Indiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="OH">Ohio</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WV">West Virginia</option>
                                    </select>
                                </div>

                                <svg class="svg-inline svg dtt-search-icon">
                                    <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                </svg>


                            </div>

                        </div>

                        <div class="dtt-search-item">
                            <a href="" class="btn btn-block btn-blue rounded">
                                <svg class="svg-inline svg   mr-1">
                                    <use xlink:href="svg/svg.svg#svg-search"></use>
                                </svg> Tìm kiếm
                            </a>

                            <button class="btn btn-block btn-blue rounded" type="button" disabled>
                                <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>

                                <span >Tìm kiếm</span>
                            </button>
                        </div>


                    </div>


                </div>

            </div>



            <div class="col-12 col-lg dtt-col-right sticky-content">
                <div class="theiaStickySidebar">







                    <div class="dtt-wrapper">

                        <div class="place-sort-container row no-gutters align-items-center">
                            <div class="col">
                                <div class="place-sort-name">Có <strong> 1124 địa điểm</strong> tại Thành Phố Hồ Chí
                                    Minh, Quận 1</div>

                            </div>

                            <div class="col-auto">

                                <div class="place-filter-openmap">


                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="SwitchMap">
                                        <label class="custom-control-label" for="SwitchMap">Bật bản đồ</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="decoration mt-0 mb-3"></div>


                        <div class="collapse mb-3" id="collapseMap">
                            <div style="" class="map-place-height">
                                <div id="map_right_listing"></div>
                            </div>

                        </div>




                        {% set placeSimple = [
                                {
                                    "img" : "images/dtt/momo-placeholder.jpg",
                                    "title" : "S27 - Lê Lợi",
                                    "cat" : "MiniStop VN",
                                    "address": "38 Lê Lợi, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh, VIỆT NAM",
                                    "phone" : "02839151178"
                                },

                                {
                                    "img" : "images/dtt/momo-placeholder.jpg",
                                    "title" : "Hoàng Yến Cuisine - Ngô Đức Kế",
                                    "cat" : "Hoàng Yến Buffet",
                                    "address": "07-09 Ngô Đức Kế, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh, VIỆT NAM",
                                    "phone" : "02838231101"
                                },

                                {
                                    "img" : "images/dtt/momo-placeholder.jpg",
                                    "title" : "HCM-31-33 Phan Chu Trinh",
                                    "cat" : "Trung Nguyên Legend",
                                    "address": "31 Phan Chu Trinh, Phường Phạm Ngũ Lão, Quận 1, Thành Phố Hồ Chí Minh, VIỆT NAM",
                                    "phone" : "02839151526"
                                },

                                {
                                    "img" : "images/dtt/momo-placeholder.jpg",
                                    "title" : "HCM-159 Trần Quang Khải",
                                    "cat" : "Trung Nguyên Legend",
                                    "address": "159 Trần Quang Khải, Phường Tân Định, Quận 1, Thành Phố Hồ Chí Minh, VIỆT NAM",
                                    "phone" : "02839151178"
                                }
                               
                        ] %}

                        <div class="d-flex justify-content-center p-4">
                            <div class="spinner-border text-secondary " role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>



                      

                        <div class="place-item-grid">



                            {% for item in placeSimple %}
                        

                            <div class="place-item">

                                <div class="place-item-img embed-responsive embed-responsive-16by9">
                                    <img src="{{item.img}}" alt="" class="embed-responsive-img">

                                    <div class="place-item-overlay">
                                        <form action="http://maps.google.com/maps" target="_blank"
                                            class="ng-pristine ng-valid"><input name="saddr" type="hidden"
                                                autocomplete="off"><input type="hidden" name="daddr"
                                                value="10.774267,106.700451" autocomplete="off"> <button type="submit"
                                                value="Get directions" class="btn btn-link link-white px-0">


                                                <svg class="svg-inline svg  ">
                                                    <use xlink:href="svg/svg.svg#svg-compass"></use>
                                                </svg>

                                                Tới địa điểm này
                                            </button>

                                        </form>
                                    </div>
                                </div>

                                <div class="place-item-pd">

                                    <div class="place-item-ct">
                                        <div class="place-item-cat text-uppercase">{{item.cat}}</div>

                                        <h4 class="place-item-name text-truncate">
                                            {{item.title}}
                                        </h4>

                                        <div class="place-item-address">
                                            {{item.address}}
                                        </div>

                                        <div class="place-item-info">

                                            <a href="unsafe:tel://02839151178" ng-show="StoreDetail.Phone"
                                                class="btn btn-link link-blue pl-0 ng-binding">

                                                <svg class="svg-inline svg mr-1 ">
                                                    <use xlink:href="svg/svg.svg#svg-phone-circle"></use>
                                                </svg>

                                                {{item.phone}} </a>



                                        </div>
                                    </div>


                                </div>

                            </div>


                            {% endfor %}


                        </div>

                        <br>
                        <div class="text-center mb-4 pb-4">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>



<script>
    $(document).ready(function () {


        $('#sg-select2-province').select2({
            placeholder: "Chọn quận huyện",
        });

        function formatRepo(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
            if (repo.description) {
                markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
            }
            markup += "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                "</div>" +
                "</div></div>";
            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.full_name || repo.text;
        }

        $("#sg-select2-place").select2({
            placeholder: "Chọn tỉnh thành",
            allowClear: true,

            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });


    })
</script>



{% endblock %}