{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as
macro %} {% block content %} {% include "layouts/mobile.html" %}






<div class="container">


    <div class=" sg-header">

        <div class="row no-gutters  ">
            <div class="col-12 col-md-4">
                <div class="sg-header-img mb-4 mb-md-0">
                    <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded">
                        <img src="https://images.foody.vn/res/g74/731931/prof/s576x330/foody-upload-api-foody-mobile-the-alley-jpg-180411141350.jpg"
                            class="embed-responsive-img " alt="">
                    </div>
                </div>
            </div><!-- col -->
            <div class="col-12 col-md">
                <div class="sg-detail">

                    <div class="breadcrumb-container breadcrumb-small mb-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">TP HCM</a></li>
                                <li class="breadcrumb-item"><a href="#">Quận 1</a></li>
                                <li class="breadcrumb-item active" aria-current="page">The Allay Hồng Bàng</li>
                            </ol>
                        </nav>
                    </div>


                    <h1 class="sg-title ">
                        The Alley Hồng Bàng
                    </h1>


                    <div class="sg-status is-open mt-3">

                        <span class="status ">

                        </span>

                        <span class="status-txt">Đang mở cửa</span>

                        <span class="ml-2">(00:00 - 23:59)</span>

                    </div>

                    <div class="row no-gutters align-items-center sg-type mt-2">
                        <div class="col-auto">
                            <div class="place-item-star mb-0 ">
                                <div class="star-block ">
                                    <div class="star-block-hide" style="width: 45px;">
                                        <div class="star-block-bg"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="ml-2 "> 25</div>
                        </div>

                        <div class="col-auto ml-4">
                            <a href="" class="btn btn-blue btn-sm sg-type-btn">Ăn uống</a>
                        </div>


                    </div>

                    <ul class="list-unstyled mb-0 sg-action">
                        <li class="sg-action-item">
                            <svg class="svg-inline svg-lg mr-2 ">
                                <use xlink:href="svg/svg.svg#svg-map-pin"></use>
                            </svg>

                            12 Tân Trào, Phường Tân Phú, Quận 7

                            <a href="" class="link-blue ml-2">Xem trên bản đồ</a>
                        </li>


                        <li class="sg-action-item">
                            <svg class="svg-inline svg-lg mr-2 ">
                                <use xlink:href="svg/svg.svg#svg-phone-circle"></use>
                            </svg>

                            Số điện thoại :

                            <a href="" class="link-blue">025 364 58552</a>
                        </li>
                    </ul>


                </div>
            </div><!-- col -->

            <div class="col-12 col-md-auto">

                
                <div class="text-center mt-4 mb-2">
                        <a href="" class="btn btn-primary rounded font-weight-bold ">Tải APP MOMO</a>
                </div>
               
            </div>

        </div><!-- row -->
    </div>


    <div class="row">
        <div class="col-12 col-lg-8 order-2 order-lg-1 sticky-content">
            <div class="theiaStickySidebar">

                <nav class="nav sg-nav mb-4" id="navbar-sg">
                    <a class="nav-link is-active" href="#tongquan" data-scrollto="#tongquan" data-offset="120">Tổng
                        quan</a>
                    <a class="nav-link" href="#hinhanh" data-scrollto="#hinhanh" data-offset="120">Hình ảnh - Videos</a>
                    <a class="nav-link" href="#baiviet" data-scrollto="#baiviet" data-offset="120">Bài viết liên
                        quan</a>
                  
                </nav>

                <div class="">

                    <div class="sg-section">
                        <h4 class="sg-section-title" id="tongquan">
                            Giới thiệu
                        </h4>
                        <div class="sg-section-content">
                            <p>
                                Đồ uống của The Alley tạo ra những câu chuyện tuyệt vời trong cuộc sống của bạn. Hãy
                                cùng
                                nhau
                                ôn lại những kỷ niệm đẹp của bạn ngay bây giờ!
                            </p>

                            <p>
                                Những kế hoạch lớn nhỏ thông qua những kinh nghiệm... <br>
                                Bằng tất cả cố gắng chúng tôi kết hợp giữa cuộc sống và sự sáng tạo. <br>
                                Cống hiến cho các sự kiện văn hoá và nghệ thuật, <br>
                                phát triển các thiết kế sống động và ấm cúng, <br>
                                để đạt được khoảnh khắc cảm xúc tuyệt vời trong cuộc sống. <br>
                            </p>
                        </div>
                    </div>


                    <div class="sg-section">
                        <h4 class="sg-section-title">
                            Tiện ích
                        </h4>
                        <div class="sg-section-content">
                            <div class="row no-gutters ">

                                <div class="col-4 col-md-3">

                                    <div class="sg-uti">
                                        <img src="https://s3-ap-southeast-1.amazonaws.com/traveloka/imageResource/2017/06/07/1496833833458-7b6ab67bc5df6ef9f2caee150aae1f43.png"
                                            class="sg-uti-icon" alt="">
                                        <span class="sg-uti-txt">
                                            Wifi
                                        </span>
                                    </div>

                                </div>
                                <div class="col-4 col-md-3">
                                    <div class="sg-uti">
                                        <img src="https://s3-ap-southeast-1.amazonaws.com/traveloka/imageResource/2017/06/07/1496833756238-56e24fb64a964d38b8f393bf093a77a9.png"
                                            class="sg-uti-icon" alt="">
                                        <span class="sg-uti-txt">
                                            Đậu xe hơi
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3">
                                    <div class="sg-uti">
                                        <img src="https://s3-ap-southeast-1.amazonaws.com/traveloka/imageResource/2016/12/21/1482301381776-c014a3111a6de5236d903c93b7647e4c.png"
                                            class="sg-uti-icon" alt="">
                                        <span class="sg-uti-txt">
                                            Lễ tân 24h
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="sg-section">
                        <h4 class="sg-section-title">
                            Bản đồ vị trí
                        </h4>
                        <div class="sg-section-content">

                            <div id="single-job-map-container">
                                <div id="singleListingMap" data-latitude="51.507717" data-longitude="-0.131095"></div>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="sg-section">
                        <h4 class="sg-section-title" id="hinhanh">
                            Hình ảnh - videos
                        </h4>
                        <div class="sg-section-content">
                            <div class="sg-gallery" id="lightgallery-sg">
                                <div class="sg-gallery-col col1">
                                    <div class="sg-gallery-feature">
                                        <div class="embed-responsive embed-responsive-16by9  rounded">
                                            <img src="https://images.foody.vn/res/g74/731931/prof/s576x330/foody-upload-api-foody-mobile-the-alley-jpg-180411141350.jpg"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="sg-gallery-col col2">
                                    <div class="sg-gallery-item">
                                        <div class="embed-responsive embed-responsive-16by9 rounded">
                                            <img src="https://images.foody.vn/res/g77/763629/s/foody-the-alley-tra-sua-dai-loan-hong-bang-893-636815110932824475.jpg"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>

                                    <div class="sg-gallery-item">
                                        <div class="embed-responsive embed-responsive-16by9 rounded">
                                            <img src="https://images.foody.vn/res/g74/731931/prof/s576x330/foody-upload-api-foody-mobile-the-alley-jpg-180411141350.jpg"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>

                                    <div class="sg-gallery-item">
                                        <div class="embed-responsive embed-responsive-16by9 rounded">
                                            <img src="https://images.foody.vn/res/g77/763629/s/foody-the-alley-tra-sua-dai-loan-hong-bang-801-636926809319840239.jpg"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>


                                    <div class="sg-gallery-item">

                                        <div class="embed-responsive embed-responsive-16by9 rounded">
                                            <img src="https://images.foody.vn/res/g77/763629/s/foody-checkin-the-alley-tra-sua-dai-loan-hong-bang-226-636859370913444555.jpg"
                                                class="embed-responsive-img " alt="">


                                        </div>

                                        <div class="sg-gallery-more">Xem tất cả</div>
                                    </div>

                                </div>
                            </div>





                        </div>
                    </div>



                    <hr>

                    <div class="sg-section">
                        <h4 class="sg-section-title" id="baiviet">
                            Bài viết liên quan
                        </h4>
                        <div class="sg-section-content">



                            <div class="row">

                                {% for item in range(0,3) %}
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="new-item ">
                                        <div class="new-item-img embed-responsive embed-responsive-16by9">
                                            <a href="tintuc-detail.html" class="link-absolute"></a>
                                            <img data-src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg"
                                                class="embed-responsive-img lazyload" alt="">

                                            <div class="new-cat">
                                                <a href="">TIN KHUYẾN MÃI</a>
                                            </div>
                                        </div>

                                        <div class="new-item-content">

                                            <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                    class="link-black">Có
                                                    MoMo -
                                                    Thanh toán Thẻ Vay
                                                    VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                            <ul class="new-meta clearfix list-inline mb-0">
                                                <li class="list-inline-item">
                                                    2 giờ trước
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="svg-icon  new-meta-svg">
                                                        <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                    </svg> 0 bình luận
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>




                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2 sticky-sidebar">
            <div class="theiaStickySidebar">

                <div class="sg-section">
                    <h4 class="sg-section-title" id="huongdan">
                        Hướng dẫn thanh toán (3 bước)
                    </h4>

                    <div class="swiper-container sg-how-swiper sg-how">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="how-step">
                                    <div class="how-step-title">
                                        <div class="how-step-num">1</div>

                                        <div class="how-step-txt ml-2">
                                            Mở ví MoMo, chọn "Mã thanh toán".
                                        </div>
                                    </div>


                                    <img src="images/dtt/step1.jpg" class="img-fluid mx-auto d-block" alt="">
                                </div>


                            </div>

                            <div class="swiper-slide">
                                <div class="how-step">
                                    <div class="how-step-title">
                                        <div class="how-step-num">2</div>

                                        <div class="how-step-txt ml-2">
                                            Đưa mã QR/barcode cho thu ngân.
                                        </div>
                                    </div>


                                    <img src="images/dtt/step2.jpg" class="img-fluid mx-auto d-block" alt="">

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="how-step">
                                    <div class="how-step-title">
                                        <div class="how-step-num">3</div>

                                        <div class="how-step-txt ml-2">
                                            Nhân viên dùng máy scan quét mã.
                                        </div>
                                    </div>


                                    <img src="images/dtt/step3.jpg" class="img-fluid mx-auto d-block" alt="">

                                </div>
                            </div>

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-black swiper-pagination-bullets"></div>
                    </div>
                </div>

                <div class="sg-section d-none d-lg-block">
                    <h4 class="sg-section-title">
                        Kết quả bình chọn
                    </h4>

                    <div class="sg-section-content">

                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="sg-score">
                                    4.5
                                </div>
                            </div>
                            <div class="col ml-4">

                                <div class="font-weight-bold  text-primary">Rất tốt</div>

                                <div class="row no-gutters align-items-center sg-type ">
                                    <div class="col-auto">
                                        <div class="place-item-star mb-0 ">
                                            <div class="star-block ">
                                                <div class="star-block-hide" style="width: 45px;">
                                                    <div class="star-block-bg"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="ml-2 "> 2556 lượt bình chọn </div>
                                    </div>



                                </div>

                            </div>
                        </div>


                        <div class="sg-progress mt-3">
                            <div class="row no-gutters align-items-center sg-progress-item">
                                <div class="col-auto">
                                    <div class="sg-progress-t1">Tuyệt vời</div>
                                </div>
                                <div class="col-auto">
                                    <div class="sg-progress-t2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <div class="text-success ml-4">
                                        250
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center sg-progress-item">
                                <div class="col-auto">
                                    <div class="sg-progress-t1">Rất tốt</div>
                                </div>
                                <div class="col-auto">
                                    <div class="sg-progress-t2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <div class="text-success ml-4">
                                        189
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center sg-progress-item">
                                <div class="col-auto">
                                    <div class="sg-progress-t1">Trung bình</div>
                                </div>
                                <div class="col-auto">
                                    <div class="sg-progress-t2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <div class="text-success ml-4">
                                        56
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center sg-progress-item">
                                <div class="col-auto">
                                    <div class="sg-progress-t1">Tệ</div>
                                </div>
                                <div class="col-auto">
                                    <div class="sg-progress-t2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 15%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <div class="text-success ml-4">
                                        17
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center sg-progress-item">
                                <div class="col-auto">
                                    <div class="sg-progress-t1">Rất tệ</div>
                                </div>
                                <div class="col-auto">
                                    <div class="sg-progress-t2">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 5%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <div class="text-success ml-4">
                                        6
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="sg-section d-none">
                    <div class="coupon-widget"
                        style="background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-770x370-tiki500%20-%20copy-190510095535.jpg);">
                        <a href="#" class="coupon-top">
                            <h3>Nhận ngay thẻ quà tặng lên đến 500.000Đ mua sắm Tiki</h3>
                            <div class="coupon-valid-untill">Hết ngày 31/07/2019</div>
                            <div class="coupon-how-to-use">Mỗi user chỉ được áp dụng 1 lần / tháng.</div>
                        </a>
                        <div class="coupon-bottom">
                            <div class="coupon-code">FREETIKINOW</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>








{% endblock %}{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>


<script>

    $(document).ready(function () {
        $('body').scrollspy({ target: '#navbar-sg', offset: 130 });
        $(window).on('activate.bs.scrollspy', function () {
            $("#navbar-sg .nav-link.active").addClass("is-active").siblings().removeClass("is-active");
        })
       

        var sgHow = new Swiper('.sg-how-swiper', {
            pagination: {
                el: '.swiper-pagination',
            },
        });

    });

    function singleListingMap() {

        var myLatlng = new google.maps.LatLng({
            lng: $('#singleListingMap').data('longitude'),
            lat: $('#singleListingMap').data('latitude'),
        });

        var single_map = new google.maps.Map(document.getElementById('singleListingMap'), {
            zoom: 15,
            center: myLatlng,
            scrollwheel: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            panControl: false,
            navigationControl: false,
            streetViewControl: false,
            styles: [{
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#747474" }, { "lightness": "23" }]
            }, {
                "featureType": "poi.attraction",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#f38eb0" }]
            }, {
                "featureType": "poi.government",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#ced7db" }]
            }, {
                "featureType": "poi.medical",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#ffa5a8" }]
            }, {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#c7e5c8" }]
            }, {
                "featureType": "poi.place_of_worship",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#d6cbc7" }]
            }, {
                "featureType": "poi.school",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#c4c9e8" }]
            }, {
                "featureType": "poi.sports_complex",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#b1eaf1" }]
            }, {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [{ "lightness": "100" }]
            }, {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [{ "visibility": "off" }, { "lightness": "100" }]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#ffd4a5" }]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [{ "color": "#ffe9d2" }]
            }, {
                "featureType": "road.local",
                "elementType": "all",
                "stylers": [{ "visibility": "simplified" }]
            }, {
                "featureType": "road.local",
                "elementType": "geometry.fill",
                "stylers": [{ "weight": "3.00" }]
            }, {
                "featureType": "road.local",
                "elementType": "geometry.stroke",
                "stylers": [{ "weight": "0.30" }]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text",
                "stylers": [{ "visibility": "on" }]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#747474" }, { "lightness": "36" }]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text.stroke",
                "stylers": [{ "color": "#e9e5dc" }, { "lightness": "30" }]
            }, {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [{ "visibility": "on" }, { "lightness": "100" }]
            }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#d2e7f7" }] }]
        });

        marker = new google.maps.Marker({
            position: myLatlng,
            map: single_map,
            icon: {
                url: "images/dtt/pins/Marker.svg",
                scaledSize: new google.maps.Size(40, 40)
            }
        });


    }

    // Single Listing Map Init
    var single_map = document.getElementById('singleListingMap');
    if (typeof (single_map) != 'undefined' && single_map != null) {
        google.maps.event.addDomListener(window, 'load', singleListingMap);
    }

    $(document).ready(function () {


        $(".sg-gallery img").wrap(function () {
            if (!$(this).parent().hasClass('swiper-slide')) {
                var temp = "<div class='lightgallery-item embed-responsive-img '";
                var src = "data-src='" + $(this).attr("src") + "'";
                var sub = "";
                if ($(this).attr("alt") != undefined && $(this).attr("alt") != "") {
                    sub = " data-sub-html='" + $(this).attr("alt") + "'";
                }

                return temp + src + sub + " ></div>";
            }
        });


        $('#lightgallery-sg').lightGallery({
            pager: false,
            share: false,
            loop: false,
            selector: '.lightgallery-item'
        });
        // data-spy="scroll" data-target="#navbar-sg" data-offset="130"



    });

</script>

{% endblock %}