{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

{% set items = [
{
"img" : "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/02/Empty-Wallet-368x276.jpg",
"title" : "LightCoffee.vn - Giảm 10% cho đơn hàng từ 150.000 đồng",
"score" : "5 điểm"
},
{
"img" : "https://lh6.googleusercontent.com/eHrkbCkFDKlKPewmuDAjofxfwlqvx6eOKD-oSaELtSH0IRHKkRfyDYGWVZpVUGz1K0wK5hhWRHpSOaCmy0el-LSxZPSlHJ1vtzsuBytGsmJnSIgEQUiD9Deeu0PjQVXsmgLcR4fH",
"title" : "Ưu đãi miễn phí rút tiền từ MoMo về tài khoản ngân hàng",
"score" : "5 điểm"
},
{
"img" : "https://static.mservice.io/blogscontents/momo-upload-api-9k_770x370%20(1)-190109175839.png",
"title" : "Mua vé CGV bằng Ví MoMo: Chỉ 9.000đ/vé, áp dụng đến 31/3/2019",
"score" : "5 điểm"
},
{
"img" : "https://static.mservice.io/blogscontents/momo-upload-api-12congiap-770-190212092851.jpg",
"title" : "Lắc Xì Ví MoMo nâng giá trị giải thưởng thu thập 12 con giáp lên 5 tỷ đồng",
"score" : "5 điểm"
}
] %}

<nav aria-label="breadcrumb" class="breadcrumb-container d-none">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi nhánh</li>

            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Khuyến mãi</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Thông cáo báo chí</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Hình ảnh - Video</li>
        </ol>


    </div>
</nav>

<div class="bg-white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-lg-auto dtt-col-left  sticky-sidebar">
                <div class="theiaStickySidebar">


                    {% include "layouts/diemthanhtoan-sidenav.html" %}
                </div>

            </div>



            <div class="col-12 col-lg dtt-col-right sticky-content">
                <div class="theiaStickySidebar">







                    <div class="dtt-wrapper">

                        <div class="place-sort-container row no-gutters align-items-center">
                            <div class="col">
                                <div class="place-sort-name">Kết quả tìm kiếm cho "Siêu thị" <strong>133 địa điểm
                                    </strong></div>

                            </div>

                            <div class="col-auto">

                                <div class="place-filter-openmap">


                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="SwitchMap">
                                        <label class="custom-control-label" for="SwitchMap">Bật bản đồ</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="decoration mt-0 mb-3"></div>


                        <div class="collapse mb-3" id="collapseMap">
                            <div style="" class="map-place-height">
                                <div id="map_right_listing"></div>
                            </div>

                        </div>






                        <div class="place-item-grid">

                            {% for item in mapLocation %}


                            <div class="place-item">
                                <a href="diemthanhtoan-detail.html" target="_blank" class="link-absolute"></a>
                                <div class="place-item-img embed-responsive embed-responsive-16by9">
                                    <img src="{{ item.StoreImages }}" alt="" class="embed-responsive-img">
                                </div>

                                <div class="place-item-pd">

                                    <div class="place-item-ct">
                                        <div class="place-item-cat text-uppercase"> {{ item.StoreType }}</div>

                                        <h4 class="place-item-name text-truncate">
                                            {{ item.StoreName }}
                                        </h4>

                                        <div class="place-item-address text-truncate">
                                            {{ item.Address }}
                                        </div>

                                        {% set star = item.Star * 10 %}
                                        <div class="place-item-star">
                                            <div class="star-block align-middle">
                                                <div class="star-block-hide" style="width: {{star}}px;">
                                                    <div class="star-block-bg"></div>

                                                </div>
                                            </div>


                                            <span class="align-middle"> {{item.StarCount}}</span>
                                        </div>


                                    </div>


                                </div>

                            </div>



                            {% endfor %}
                        </div>



                        <div class="text-center mb-4 pb-4">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>



<script>
    $(document).ready(function () {

        function formatRepo(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
            if (repo.description) {
                markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
            }
            markup += "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                "</div>" +
                "</div></div>";
            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.full_name || repo.text;
        }

        $("#sg-select2-place").select2({
            placeholder: "Search for git repositories",
            allowClear: true,

            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });


    })
</script>



{% endblock %}