{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as
macro %} {% block content %} {% include "layouts/mobile.html" %}


<div class="single-place-header" data-background-image="images/single-job.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="single-place-header-inner">


                    <div class="left-side">
                        <div class="header-image"><img
                                src="images/dtt/ddt-1.png" class="img-fluid" alt=""></div>

                        <div class="header-details">
                            <div class="breadcrumb-container breadcrumb-small">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                                    </ol>
                                </nav>
                            </div>

                            <h3>THE ALLEY HỒNG BÀNG</h3>
                            <h5 class="single-place-type ">Siêu thị - <a href="diemthanhtoan-category.html"
                                                                         class="link-blue">Chi nhánh</a></h5>

                            <ul class="list-inline header-meta mt-3 mb-0">

                                <li class="list-inline-item">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                    </svg>

                                    12 Tân Trào, Phường Tân Phú, Quận 7
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="right-side">
                        <div class="single-place-box">
                            <div class="status">

                                <div class="place-item-status is-open">

                                    <span class="status ">

                                    </span>

                                    <span class="status-txt">Đang mở cửa</span>


                                </div>

                            </div>
                            <div class="time">(00:00 - 23:59)</div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="background-image-container" style="background-image: url('images/dtt/ddt-avatar1.jpg');"></div>
</div>


<div class="bg-white place-detail-container">
    <div class="container">


        <div class="row">
            <div class="col-12 col-lg-9">


                <div class="single-place-section">
                    <h4 class="title">Thông tin địa điểm</h4>

                    <p class="text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                        maecenas accumsan lacus vel facilisis.

                    </p>
                    <p class="text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                        maecenas accumsan lacus vel facilisis.
                    </p>


                    <div class="single-place-gallery">


                        <div class="swiper-container swiper-single-place">
                            <div class="swiper-wrapper mfp-gallery-container">


                                {% for item in range(0,5) %}


                                <div class="swiper-slide">

                                    <div class="embed-responsive embed-responsive-16by9">

                                        <img data-src="images/dtt/ddt-avatar1.jpg" alt=""
                                             class="embed-responsive-img swiper-lazy img-fluid ">

                                        <div class="swiper-lazy-preloader "></div>
                                    </div>

                                </div>

                                {% endfor %}


                            </div>
                            <!-- Add Scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>


                    </div>

                </div>


                <div class="single-place-section">
                    <h4 class="title">Vị trí</h4>

                    <div id="single-job-map-container">
                        <div id="singleListingMap" data-latitude="51.507717" data-longitude="-0.131095"></div>
                    </div>


                </div>


                <div class="single-place-section mb-0">
                    <div class="single-place-relative">
                        <h4 class="title">Địa điểm liên quan</h4>


                        <div class="place-item-grid">

                            {% for item in mapLocation %}

                            {% if loop.index < 4 %}


                            <div class="place-item">
                                <a href="diemthanhtoan-detail.html" target="_blank" class="link-absolute"></a>
                                <div class="place-item-img embed-responsive embed-responsive-16by9">
                                    <img src="{{ item.StoreImages }}" alt="" class="embed-responsive-img">
                                </div>

                                <div class="place-item-pd">

                                    <div class="place-item-ct">
                                        <div class="place-item-cat text-uppercase"> {{ item.StoreType }}</div>

                                        <h4 class="place-item-name text-truncate">
                                            {{ item.StoreName }}
                                        </h4>

                                        <div class="place-item-address text-truncate">
                                            {{ item.Address }}
                                        </div>


                                    </div>


                                </div>

                            </div>

                            {% endif %}

                            {% endfor %}
                        </div>


                    </div>
                </div>


            </div>


            <div class="col-12 col-lg-3">
                <div class="single-place-phone mb-4">
                    <a href="" class="btn btn-primary btn-block btn-lg rounded">

                        <svg class="svg-inline svg ">
                            <use xlink:href="svg/svg.svg#svg-phone-circle"></use>
                        </svg>

                        025 364 58552
                    </a>
                </div>

                <div class="single-place-widget mb-4">
                    <div class="p-4">


                        <ul class=" list-unstyled mb-0 single-place-widget h5 font-weight-normal">
                            <li class="mb-3">
                                <a href="javascript:;" class="link-gray">
                                    <svg class="svg-inline svg mr-1 ">
                                        <use xlink:href="svg/svg.svg#svg-map-pin"></use>
                                    </svg>
                                    Xem trên bản đồ</a>
                            </li>

                            <li>
                                <a href="" class="link-gray">
                                    <svg class="svg-inline svg mr-1">
                                        <use xlink:href="svg/svg.svg#svg-compass"></use>
                                    </svg>

                                    Chỉ đường</a>
                            </li>
                        </ul>

                    </div>


                </div>


                <div class="single-place-widget mb-4">

                    <div class="px-4 py-2 rounded-top bg-lightgray">Hướng dẫn thanh toán</div>

                    <div class="p-4">

                        <div class="single-place-how">
                            <div class="how-step">
                                <div class="how-step-title">
                                    <div class="how-step-num">1</div>

                                    <div class="how-step-txt ml-2">
                                        Mở ví MoMo, chọn "Mã thanh toán".
                                    </div>
                                </div>


                                <img src="images/dtt/step1.jpg" class="img-fluid mx-auto d-block" alt="">

                            </div>

                            <div class="how-step">
                                <div class="how-step-title">
                                    <div class="how-step-num">2</div>

                                    <div class="how-step-txt ml-2">
                                        Đưa mã QR/barcode cho thu ngân.
                                    </div>
                                </div>


                                <img src="images/dtt/step2.jpg" class="img-fluid mx-auto d-block" alt="">

                            </div>

                            <div class="how-step">
                                <div class="how-step-title">
                                    <div class="how-step-num">3</div>

                                    <div class="how-step-txt ml-2">
                                        Nhân viên dùng máy scan quét mã.
                                    </div>
                                </div>


                                <img src="images/dtt/step3.jpg" class="img-fluid mx-auto d-block" alt="">

                            </div>

                        </div>


                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>


<script>


    function singleListingMap() {

        var myLatlng = new google.maps.LatLng({
            lng: $('#singleListingMap').data('longitude'),
            lat: $('#singleListingMap').data('latitude'),
        });

        var single_map = new google.maps.Map(document.getElementById('singleListingMap'), {
            zoom: 15,
            center: myLatlng,
            scrollwheel: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            panControl: false,
            navigationControl: false,
            streetViewControl: false,
            styles: [{
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [{"color": "#747474"}, {"lightness": "23"}]
            }, {
                "featureType": "poi.attraction",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#f38eb0"}]
            }, {
                "featureType": "poi.government",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ced7db"}]
            }, {
                "featureType": "poi.medical",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffa5a8"}]
            }, {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#c7e5c8"}]
            }, {
                "featureType": "poi.place_of_worship",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#d6cbc7"}]
            }, {
                "featureType": "poi.school",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#c4c9e8"}]
            }, {
                "featureType": "poi.sports_complex",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#b1eaf1"}]
            }, {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [{"lightness": "100"}]
            }, {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [{"visibility": "off"}, {"lightness": "100"}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffd4a5"}]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffe9d2"}]
            }, {
                "featureType": "road.local",
                "elementType": "all",
                "stylers": [{"visibility": "simplified"}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry.fill",
                "stylers": [{"weight": "3.00"}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry.stroke",
                "stylers": [{"weight": "0.30"}]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text",
                "stylers": [{"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [{"color": "#747474"}, {"lightness": "36"}]
            }, {
                "featureType": "road.local",
                "elementType": "labels.text.stroke",
                "stylers": [{"color": "#e9e5dc"}, {"lightness": "30"}]
            }, {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [{"visibility": "on"}, {"lightness": "100"}]
            }, {"featureType": "water", "elementType": "all", "stylers": [{"color": "#d2e7f7"}]}]
        });

        marker = new google.maps.Marker({
            position: myLatlng,
            map: single_map,
            icon: {
                url: "images/dtt/pins/Marker.svg",
                scaledSize: new google.maps.Size(40, 40)
            }
        });


    }

    // Single Listing Map Init
    var single_map = document.getElementById('singleListingMap');
    if (typeof (single_map) != 'undefined' && single_map != null) {
        google.maps.event.addDomListener(window, 'load', singleListingMap);
    }
</script>

{% endblock %}
