{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="hoidap.html">Hỏi đáp</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý ứng dụng và tài khoản</li>
        </ol>
    </div>
</nav>


<div class="page-hero"
     style="background-image: url('https://static.mservice.io/styles/desktop/images/tintuc/tintuc-head-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center page-hero-title font-weight-normal">
                    Đối tác
                </h1>

            </div>
        </div>

    </div>
</div>

<div class="help-topic-container pt-3">
    <div class="container">
        <div class="row no-gutters help-topic-border">
            <div class="col-12 col-lg-3 help-topic-border-right sticky-content">
                <div class="theiaStickySidebar">
                    <div class="topic-sidenav-btn-group d-flex d-lg-none">
                        <button class="btn btn-light topic-sidenav-btn btn-block font-weight-bold " type="button"
                                data-toggle="collapse" data-target="#helpTopic" aria-expanded="false"
                                aria-controls="helpTopic">

                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30"
                                 focusable="false">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
                            </svg>
                        </button>

                        <div class="topic-search text-left">
                            <span>Danh mục</span>
                        </div>

                    </div>

                    <div class="help-topic-sidenav collapse" id="helpTopic">

                        <div class="topic-sidenav">
                            <ul class="topic-sidenav-list list-unstyled general-sidenav-list">
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav32" style=color:#ae2070
                                       role="button" aria-expanded="false" aria-controls="topicSidenav32"
                                       class="text-uppercase topic-sidenav-expand  ">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-momo-logo"></use>
                                        </svg>

                                        Gi&#x1EDB;i thi&#x1EC7;u c&#xF4;ng ty
                                    </a>
                                    <div class="collapse show" id="topicSidenav32">
                                        <ul class="list-unstyled sub">
                                            <li class=active>
                                                <a href="/gioi-thieu/gioi-thieu-chung">Gi&#x1EDB;i Thi&#x1EC7;u
                                                    Chung</a>
                                            </li>
                                            <li>
                                                <a href="/gioi-thieu/su-kien-thanh-tuu">S&#x1EF1; Ki&#x1EC7;n Th&#xE0;nh
                                                    T&#x1EF1;u</a>
                                            </li>
                                            <li>
                                                <a href="/gioi-thieu/doi-tac">&#x110;&#x1ED1;i T&#xE1;c</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav36" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav36"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-bill-momo"></use>
                                        </svg>

                                        &#x110;i&#x1EC3;m giao d&#x1ECB;ch Momo
                                    </a>
                                    <div class="collapse " id="topicSidenav36">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/gioi-thieu-chung">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u Chung</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/gioi-thieu-cac-dich-vu">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u D&#x1ECB;ch V&#x1EE5;</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/bieu-phi">Bi&#x1EC3;u
                                                    Ph&#xED;</a>
                                            </li>
                                            <li>
                                                <a href="/dich-vu-tai-diem-giao-dich/dinh-danh">&#x110;&#x1ECB;nh
                                                    Danh</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav37" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav37"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-momo-hand"></use>
                                        </svg>

                                        &#x1EE8;ng d&#x1EE5;ng v&#xED; Momo
                                    </a>
                                    <div class="collapse " id="topicSidenav37">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/ung-dung-momo/gioi-thieu-cac-ung-dung-momo">Gi&#x1EDB;i
                                                    Thi&#x1EC7;u V&#xED; MoMo</a>
                                            </li>
                                            <li>
                                                <a href="/huong-dan/huong-dan-chung-ctgr69">C&#xE1;c H&#x1B0;&#x1EDB;ng
                                                    D&#x1EAB;n C&#x1EA7;n Thi&#x1EBF;t</a>
                                            </li>
                                            <li>
                                                <a href="/ung-dung-momo/dich-vu-tren-ung-dung-momo">D&#x1ECB;ch V&#x1EE5;
                                                    Tr&#xEA;n V&#xED; MoMo</a>
                                            </li>
                                            <li>
                                                <a href="/huong-dan/lien-ket-ngan-hang-ctgr67">C&#xE1;c Ng&#xE2;n H&#xE0;ng
                                                    K&#x1EBF;t N&#x1ED1;i</a>
                                            </li>
                                            <li>
                                                <a href="/ung-dung-momo/bieu-phi">Bi&#x1EC3;u Ph&#xED;</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#topicSidenav38" role="button"
                                       aria-expanded="false" aria-controls="topicSidenav38"
                                       class="text-uppercase topic-sidenav-expand  collapsed">

                                        <svg class="svg-icon topic-sidenav-expand-icon  ">
                                            <use xlink:href="#svg-angle-up"></use>
                                        </svg>

                                        <svg class="svg-icon topic-sidenav-icon  ">
                                            <use xlink:href="#svg-handshake"></use>
                                        </svg>

                                        Kh&#xE1;ch h&#xE0;ng doanh nghi&#x1EC7;p
                                    </a>
                                    <div class="collapse " id="topicSidenav38">
                                        <ul class="list-unstyled sub">
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/vi-sao-chon-chung-toi">V&#xEC; sao
                                                    ch&#x1ECD;n ch&#xFA;ng t&#xF4;i</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/tien-ich">Ti&#x1EC7;n &#xED;ch</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/dich-vu-cung-cap">D&#x1ECB;ch v&#x1EE5;
                                                    cung c&#x1EA5;p</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/doi-tac">&#x110;&#x1ED1;i
                                                    t&#xE1;c</a>
                                            </li>
                                            <li>
                                                <a href="/khach-hang-doanh-nghiep/lien-he-hop-tac">Li&#xEA;n h&#x1EC7;
                                                    h&#x1EE3;p t&#xE1;c</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/timdiemgiaodich" class="text-uppercase">
                                        <svg class="svg-icon topic-sidenav-icon ">
                                            <use xlink:href="#svg-money-transfer"></use>
                                        </svg>
                                        T&#xEC;m &#x110;i&#x1EC3;m Giao D&#x1ECB;ch
                                    </a>
                                </li>
                                <li>
                                    <a href="/timdiemthanhtoan" class="text-uppercase">
                                        <svg class="svg-icon topic-sidenav-icon ">
                                            <use xlink:href="#svg-wallet"></use>
                                        </svg>
                                        T&#xEC;m &#x111;i&#x1EC3;m thanh to&#xE1;n
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <div class="topic-sidenav d-none d-lg-block">
                            <a href="/lienhe">
                                <h2 class="topic-sidenav-title mb-2">Liên hệ với Momo</h2>
                            </a>

                            <div class="topic-sidenav-content">
                                <div class="help-contact-hotline mb-3">
                                    Hotline CSKH từ <strong>8:00 - 17:00 </strong>
                                    <div class="mt-1">
                                        <a href="tel:1900 5454 41" class="block-more-btn auto">
                    <span>
                        <svg class="svg-icon svg-icon-15 mr-2">
                            <use xlink:href="#svg-phone"></use>
                        </svg>
                        GỌI NGAY
                    </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="help-contact-hotline ">
                                    Chat trực tuyến từ <strong>
                                    8:00 - 21:00
                                </strong>
                                    <div class="mt-1">
                                        <a href="https://www.facebook.com/messages/t/vimomo" target="_blank"
                                           class="block-more-btn auto facebook">
                    <span>
                        <svg class="svg-icon svg-icon-15 mr-2 ">
                            <use xlink:href="#svg-messenger"></use>
                        </svg>
                        CHAT VỚI MOMO
                    </span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9 sticky-sidebar">
                <div class="theiaStickySidebar">

                    <div class="topic-wrapper">

                        <div class="topic-content">
                            <div class="topic-content-head  d-none d-lg-block">
                                <h2 class="topic-content-name font-weight-bold">Đối tác</h2>
                            </div>


                            <div class="text-center mt-4 pt-4 pb-3">
                                <h4 class="font-weight-bold text-uppercase text-primary">Thanh toán hóa đơn</h4>
                            </div>


                            <div class="doitac-list">

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/fpt.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/evn.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/th.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/vinaphone.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/evn.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/th.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/vinaphone.png" alt="">
                                </div>

                            </div>


                            <hr>

                            <div class="text-center mt-4 pt-4 pb-3">
                                <h4 class="font-weight-bold text-uppercase text-primary">DỊCH VỤ THU HỘ</h4>
                            </div>


                            <div class="doitac-list">

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/fpt.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/evn.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/th.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/vinaphone.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/evn.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/th.png" alt="">
                                </div>

                                <div class="doitac-list-item shadow-sm">
                                    <img src="images/doitac/vinaphone.png" alt="">
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}