{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}
{% block content %}

{% set peoples = [  
{  
   "cusName":"NGUYEN DUY PHUONG",
   "phoneNumber":"******34028",
   "message":"Đóng góp",
   "amount":5000.0
},
{  
   "cusName":"HUYNH MY NGOC",
   "phoneNumber":"******6895",
   "message":"Đóng góp",
   "amount":3000.0
},
{  
   "cusName":"Dương Ngọc Kim Liên",
   "phoneNumber":"******9649",
   "message":"Đóng góp",
   "amount":13291.0
},
{  
   "cusName":"LAM HUNG",
   "phoneNumber":"******6825",
   "message":"Đóng góp",
   "amount":5000.0
},
{  
   "cusName":"Vũ Trường Giang",
   "phoneNumber":"******0560",
   "message":"Đóng góp",
   "amount":3000.0
},
{  
   "cusName":"Dương Hoàng Việt",
   "phoneNumber":"******7791",
   "message":"Đóng góp",
   "amount":3788.0
},
{  
   "cusName":"LE PHU",
   "phoneNumber":"******0645",
   "message":"Đóng góp",
   "amount":5000.0
},
{  
   "cusName":"Doanthithachthao",
   "phoneNumber":"******9792",
   "message":"Ok",
   "amount":1700.0
},
{  
   "cusName":"NGUYEN LE HOANG HAI",
   "phoneNumber":"******0755",
   "message":"Chúc các bé mau khoẻ",
   "amount":10612.0
},
{  
   "cusName":"BUI THI THUY LINH",
   "phoneNumber":"******2702",
   "message":"Nguyện cho em bình an...",
   "amount":11738.0
}
] %}


{% include "layouts/mobile.html" %}


<div class=" don-header">
    <div class="container">
        <div class="row no-gutters  ">
            <div class="col-12 col-lg-5">
                <div class="don-header-img mb-0 ">
                    <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded">
                        <img src="https://static.mservice.io/blogscontents/momo-upload-api-190715174808-636988096883121977.jpg"
                            class="embed-responsive-img " alt="">
                    </div>

                    <div class="don-gallery don-lightGallery">

                        {% set images = [
                            "https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg",
                            "https://static.mservice.io/blogscontents/momo-upload-api-190715170229-636988069495497917.jpg",
                            "https://static.mservice.io/blogscontents/momo-upload-api-190715170329-636988070090506155.jpg",
                            "https://static.mservice.io/blogscontents/momo-upload-api-190715170252-636988069728133296.jpg"
                            
                            ] %}

                        {% for item in images %}

                        <a href="{{item}}" class="don-gallery-item">
                            <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded">
                                <img src="{{item}}" class="embed-responsive-img " alt="">
                            </div>
                        </a>

                        {% endfor %}

                        <a href="https://static.mservice.io/blogscontents/momo-upload-api-190715170329-636988070090506155.jpg"
                            class="don-gallery-item last-child">
                            <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded">
                                <div class="overlay"> 5+ </div>

                                <img src="https://static.mservice.io/blogscontents/momo-upload-api-190715170329-636988070090506155.jpg"
                                    class="embed-responsive-img " alt="">
                            </div>
                        </a>


                        <!-- HInh load more -->

                        <a href="https://static.mservice.io/blogscontents/momo-upload-api-190715170329-636988070090506155.jpg"
                            class="don-gallery-item d-none ">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190715170329-636988070090506155.jpg"
                                class="embed-responsive-img " alt="">
                        </a>

                    </div>

                </div>


            </div><!-- col -->
            <div class="col-12 col-lg-7">
                <div class="don-detail">

                    <!-- <div class="breadcrumb-container breadcrumb-small mb-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ước mơ của Thúy</li>
                            </ol>
                        </nav>
                    </div> -->

                    <h3 class="don-subheading">HỖ TRỢ BỆNH NHÂN UNG THƯ NHÍ</h3>


                    <h1 class="don-title ">
                        Ước mơ của Thúy
                    </h1>

                    <div class="don-sub">
                        "Ước mơ của Thúy" là chương trình được thành lập bởi báo Tuổi Trẻ tiếp nối nguyện vọng của cô
                        nhằm gây quỹ và hỗ trợ các bệnh nhi ung thư, không chỉ về vật chất mà quan trọng hơn là những
                        giá trị tinh thần, giúp các em vơi đi nỗi đau và tiếp tục nỗ lực phấn đấu vượt qua số phận.
                    </div>


                    <div class=" don-item-footer don-header-footer row no-gutters ">
                        <div class="col-12 col-lg-12 col-xl mb-3 mb-xl-0">
                            <div class="don-item-quote">

                                <div class="icon">
                                    <img src="images/donation/like.png" alt="">
                                </div>

                                <div class="label">Đã quyên góp</div>
                                <div class="number">
                                    <span class="text-primary ">85.352.000đ</span> / 300.000.000đ
                                </div>


                                <div class="mt-2">
                                    <div class="progress">
                                        <div class="progress-bar " role="progressbar" style="width: 40%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-auto">
                            <div class="don-item-quote ">

                                <div class="icon">
                                    <img src="images/donation/peoples.png" alt="">
                                </div>

                                <div class="label">Lượt quyên góp</div>
                                <div class="number">1.307</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="don-item-quote ">

                                <div class="icon icon-logo">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190703170431-636977702717561442.png"
                                        alt="">
                                </div>

                                <div class="label">Đơn vị tổ chức</div>
                                <div class="number">Báo tuổi trẻ</div>
                            </div>
                        </div>

                    </div>


                    <div class=" donation-cta">
                        <a href="" class="btn btn-success btn-lg rounded font-weight-bold " data-toggle="modal"
                            data-target="#modalDonation">Quyên góp chương trình
                            này</a>
                    </div>



                </div>
            </div><!-- col -->

        </div><!-- row -->
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-12 col-lg-8 sticky-content">
            <div class="theiaStickySidebar">
                <div class="card mb-4">

                    <div class="card-body  ">

                        <h3 class="don-section-title" id="">
                            Nội dung chiến dịch
                        </h3>
                        <div class=" don-section-content">



                            <div class="">
                                <p style="text-align:justify"><em>“Khó có ai có thể đứng vững nếu biết trước một ngày
                                        không
                                        xa mình sẽ không còn tồn tại nữa; khó có ai lạc quan sống khi phải đồng hành
                                        cùng
                                        căn bệnh ung thư và khó có ai dám nghĩ rằng mình sẽ làm được những việc ý nghĩa
                                        trong những tháng ngày còn lại. Nhưng, đối với Lê Thanh Thúy, dẫu biết rằng một
                                        ngày
                                        không mong đợi sẽ đến, mỗi ngày Thúy vẫn ráng sống thật vui với nụ cười trên
                                        môi,
                                        vẫn nặng tình với những sẻ chia cùng những người đồng cảnh ngộ và vẫn lạc quan
                                        cùng
                                        điều ước có một phép màu làm tan biến đi những tế bào ung thư…”</em> Trích trong
                                    cuốn “<strong>Xin hãy cho con thêm thời gian</strong>” của <strong>Lê Thanh
                                        Thúy.</strong></p>
                                <p style="text-align:justify">Thúy là biểu tượng cho tinh thần vượt lên số phận để sống
                                    trọn
                                    vẹn từng ngày. Cô tạo ấn tượng với mọi người bằng hành trình 4 năm đấu tranh với căn
                                    bệnh ung thư vô cùng quyết liệt, bằng nụ cười luôn nở trên môi tới tận lúc từ trần.
                                    Trong 4 năm ấy cô đã tham gia nhiều&nbsp;tổ chức và hoạt động cho các bệnh nhi ung
                                    thư.&nbsp;</p>
                                <p style="text-align:justify">Chuyện về <strong>Lê Thanh Thúy</strong> không chỉ đơn
                                    thuần
                                    là câu chuyện của một bạn trẻ tiêu biểu với mong muốn, khát khao sống mãnh liệt, lại
                                    phải chống chọi với căn bệnh quái ác. Mà đó còn là những bài học quý báu về nghị lực
                                    và
                                    sự lạc quan trong cuộc sống.&nbsp;</p>
                                <p style="text-align:justify"><strong>"Ước mơ của Thúy"</strong> là chương trình được
                                    thành
                                    lập bởi <strong>báo Tuổi Trẻ</strong> tiếp nối nguyện vọng của cô nhằm gây quỹ và hỗ
                                    trợ
                                    các bệnh nhi ung thư, không chỉ về vật chất mà quan trọng hơn là những giá trị tinh
                                    thần, giúp các em vơi đi nỗi đau và tiếp tục nỗ lực phấn đấu vượt qua số phận.</p>
                                <p style="text-align:justify">Hoạt động chính của quỹ bao gồm: Chúc mừng sinh nhật, tặng
                                    quà
                                    ước nguyện, hỗ trợ kinh phí điều trị bệnh, ngày hội hoa hướng dương “Vì bệnh nhi ung
                                    thư”…</p>





                            </div>


                            <p>Kính chào các cô chú!</p>
                            <p><strong style="color: rgb(0, 0, 0); background-color: transparent;">The Firebook 2019
                                    là dự án gây quỹ và từ thiện được tổ chức và điều hành bởi các bạn học sinh THPT
                                    trên địa bàn thành phố Hà Nội.</strong></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Chúng con được
                                    hưởng sự giáo dục đầy đủ về cả vật chất và tinh thần của những đứa trẻ thành
                                    phố, tuy nhiên cũng là học sinh, các bạn nhỏ ở các tỉnh vùng cao nghèo như Lào
                                    Cai, Sapa, Lai Châu, Sơn La, Lai Châu... lại không có được sự may mắn ấy. Với
                                    các em đủ ăn, đủ mặc đã là một điều may mắn. Hãy cho các em cái cần câu cơm thay
                                    vì con cá tức miếng ăn, áo mặc qua ngày. </span></p>
                            <p><strong style="color: rgb(0, 0, 0); background-color: transparent;">Báo chí nói gì về
                                    The Firebook?</strong></p>
                            <p><a href="https://baotintuc.vn/anh/the-firebook-gay-quy-ung-ho-sach-cho-tre-em-vung-cao-sapa-20180812134357736.htm"
                                    target="_blank">https://baotintuc.vn/anh/the-firebook-gay-quy-ung-ho-sach-cho-tre-em-vung-cao-sapa-20180812134357736.htm</a>
                            </p>
                            <p><img
                                    src="https://kindmate.net/Uploads/2019/07/09/5d2443656b842-37368503_1755677027861297_2388024000082083840_n.jpg">
                            </p>
                            <p>Các em nhỏ ấy mang trong mình đầy hoài bão, ước mơ được vươn tới những miền tri thức
                                rộng lớn, nhưng ước mơ đó lại không thể thực hiện được do sự thiếu thốn về điều kiện
                                vật chất. Các em phải sống trong điều kiện vùng núi khó khăn, gian khổ, nhưng lúc
                                nào cũng cháy trong mình ngọn lửa đam mê, hiếu học. Các em ngày ngày đội nắng đi mưa
                                đến trường, không quản đường xa, khúc khuỷu, gập ghềnh. Năm ngoái chúng con đã lên
                                đây, được chứng kiến tận mắt cảnh này mà không thể cầm được nước mắt. Các em chăm
                                chú nghe giảng, cùng mọi người vui chơi tươi cười trong bộ quần áo cũ kĩ cùng với
                                đôi dép đã nát và khuôn mặt lấm lem. Tinh thần ấy đã giúp chúng con có động lực tiếp
                                tục dự án The Firebook năm nay, với mục đích lan truyền ngọn lửa tri thức tới nhiều
                                địa điểm hơn nữa.</p>
                            <p><strong style="background-color: transparent; color: rgb(0, 0, 0);">The Firebook ra
                                    đời với sứ mệnh "Truyền ngọn lửa ham học, tri thức tới những mái trường vùng
                                    cao", chỉ khi thế hệ trẻ ở có hiểu biết, các em mới tự mình thoát nghèo.
                                </strong><img
                                    src="https://kindmate.net/Uploads/2019/06/20/5d0af6754de6e-48362553_1959844264111238_5435691720551432192_n.jpg">
                            </p>
                            <ul>
                                <li><span style="color: rgb(0, 0, 0); background-color: transparent;">Đây là dự án
                                        phi lợi nhuận hướng đến việc giúp đỡ và nâng cao chất lượng giáo dục tại các
                                        vùng cao còn gặp nhiều khó khăn.&nbsp;</span></li>
                                <li><span style="color: rgb(0, 0, 0); background-color: transparent;">The Firebook
                                        2018 đã thành công với </span><span style="color: rgb(28, 30, 33);">31,500,000
                                        đồng tiền mặt ủng hộ cho dự
                                        án</span><span style="color: rgb(28, 30, 33); background-color: transparent;">;
                                    </span><span style="color: rgb(28, 30, 33);">hơn 1000 đầu sách từ các nhà hảo
                                        tâm trên khắp toàn quốc gửi về</span><span
                                        style="color: rgb(28, 30, 33); background-color: transparent;"> và
                                    </span><span style="color: rgb(28, 30, 33);">50 máy tính bỏ túi; 150 bàn chải,
                                        kem đánh răng, xà bông; 500 chiếc cặp sách, bút, vở gửi tới cho các em nhỏ
                                        trên vùng cao Sapa.</span></li>
                            </ul>
                            <p><img src="https://kindmate.net/Uploads/2019/06/20/5d0aeb971809f-the-fire-book-veo-1.jpg">
                            </p>
                            <p><br></p>
                            <p><strong>THE FIREBOOK 2019 ĐÃ TRỞ LẠI </strong></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Nhận thấy những khó
                                    han vẫn còn đang hiện hữu ở rất nhiều vùng cao, sâu xa, cũng như rút kinh
                                    nghiệm, phát triển từ Firebook 2018, The Firebook 2019 đã trở lại với mục tiêu
                                    đưa việc đến trường cũng như học tập của các em nhỏ ở vùng núi cao trở nên dễ
                                    dàng và hiệu quả hơn.&nbsp;Dự án của chúng con hướng đến việc quyên góp sách vở,
                                    đồ dùng để giúp cho các em nhỏ khó khăn có nguồn kiến thức bổ ích để học tập và
                                    rèn luyện thói quen đọc sách, tinh thần hiếu học.</span></p>
                            <p><img src="https://kindmate.net/Uploads/2019/06/20/5d0b015d84d3e-NHEM NHEM.jpg"></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Thêm vào đó, dự án
                                    năm nay sẽ mở rộng thêm bằng cách ủng hộ dép, ủng để việc đi lại của các em nhỏ
                                    trở nên dễ dàng hơn, đặc biệt là ở vùng cao với địa hình hiểm trở.&nbsp;Ngoài
                                    ra, qua chuyến đi thực tế giao lưu với các em nhỏ, ban tổ chức hi vọng sẽ có thể
                                    giúp các em có nhận thức rõ ràng hơn về giáo dục, nạn buôn bán người, các kỹ
                                    năng sống khác,… mà có thể các em không được dạy ở trường.</span></p>
                            <p><strong>Điểm trường mà The Firebook 2019 lựa chọn để kêu gọi sự giúp đỡ là:</strong>
                            </p>
                            <p><strong style="color: rgb(0, 0, 0); background-color: transparent;">&nbsp;2 Điểm
                                    trường Hát Khoang, Hát Láu ở </strong><strong style="color: rgb(29, 33, 41);">xã
                                    Mường Mùn - Tuần Giáo - Điện Biên</strong></p>
                            <p><span style="color: rgb(51, 51, 51);">Tỷ lệ hộ nghèo đa chiều ở Mường Mùn đang thuộc
                                    hàng "cao ngất ngưởng", nhưng căn cứ vào những gì mà đồng bào ở đây đang sở hữu
                                    thì tỷ lệ đó không có nhiều "ý nghĩa" lắm: Về lương thực, tuy cây lúa, cây ngô
                                    năng suất không được cao như ở nơi khác. Người dân ở đây chiếm phần lớn là đồng
                                    bào dân tộc Mông, Khơ Mú, còn dân tộc Thái chiếm tỷ lệ rất nhỏ), hầu hết phải
                                    sống trong cảnh cơ sở hạ tầng hết sức khó khăn, thiếu thốn, thời tiết vô cùng
                                    khắc nghiệt, kinh tế còn phụ thuộc nhiều vào thiên nhiên.</span></p>
                            <p><strong style="color: rgb(51, 51, 51);">Các em học sinh Mường Mùn thiếu thốn rất
                                    nhiều về sách vở học tập, thiếu cả các kiến thức tự bảo vệ bản thân. </strong>
                            </p>
                            <p class="ql-align-justify"><img
                                    src="https://kindmate.net/Uploads/2019/07/09/5d243dc543321-ảnh 2.png"></p>
                            <p><strong>Mục tiêu của chúng con tại 2 điểm trường này là:</strong></p>
                            <ul>
                                <li>Xây dựng hai thư viện với khoảng 300 đầu đầu sách: Sách giáo khoa, sách kĩ năng
                                    sống và bảo vệ bản thân, truyện tranh, truyện dân tộc</li>
                                <li>Trao tặng 200 phần quà cho các em học sinh bao gồm: Vở, xà phòng, kem đánh răng,
                                    bàn chải đánh răng, ủng, áo mưa...</li>
                                <li>Các tiết học kĩ năng tự vệ, kĩ năng đọc sách và học tập cho các em nhỏ</li>
                            </ul>
                            <p><strong>Chúng con rất cần sự giúp đỡ của các cô chú: </strong></p>
                            <p><img src="https://kindmate.net/Uploads/2019/07/10/5d2569c98515e-image001.jpg"></p>
                            <p>Chúng con chỉ là những học sinh cấp III, ngoài sức trẻ và số tiền tiết kiệm ít ỏi của
                                bản thân, chúng con không có gì hơn. Chúng con rất mong nhận được sự ủng hộ của các
                                cô chú và các bạn cho dự án lần này.</p>
                            <p>Chúng con cam kết sẽ sử dụng toàn bộ vật dụng và tiền mặt quyên góp được theo đúng
                                mục đích của dự án là giúp đỡ các em nhỏ. Hiệu quả của dự án, chúng con sẽ cập nhật
                                thường xuyên tới các cô chú.</p>
                            <p>Các cô chú, các bạn có thể ủng hộ trực tiếp cho dự án trên trang kindmate này, hoặc
                                mang sách để ủng hộ trực tiếp tại:</p>
                            <p><strong>SỰ KIỆN GÂY QUỸ THE FIREBOOK 2019</strong></p>
                            <p><strong>Thời gian: 9h - 17h Ngày 21/7/2019 tại trường THPT Nhân Chính</strong></p>
                            <p><strong>------------------</strong></p>
                            <p><strong>&#65279;</strong><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">Thông tin liên
                                    hệ</span></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Lê Khánh Huy :
                                    0344991058 (Trưởng Ban tổ chức/Truyền thông)</span></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Đặng Diệu Linh:
                                    0966332496 (Trưởng Ban tổ chức)</span></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Email:
                                    thefirebook188@gmail.com</span></p>
                            <p><span style="color: rgb(0, 0, 0); background-color: transparent;">Địa chỉ: Tầng 3, 27
                                    Lê Văn Lương, Quận Cầu Giấy, Hà Nội.</span></p>


                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-4 sticky-sidebar">

            <div class="theiaStickySidebar">

                <div class="card  mb-4">

                    <div class="card-body  ">

                        <h3 class="don-section-title" id="">
                            Quét mã QR bên dưới.
                        </h3>

                        <div>
                            <img src="images/donation/download.png" width="250" class="img-fluid mx-auto d-block"
                                alt="">
                        </div>

                    </div>
                </div>
                <div class="card  mb-4">

                    <div class="card-body  ">

                        <h3 class="don-section-title" id="">
                            Các chương trình quyên góp khác
                        </h3>


                        <div class="row no-gutters mb-4 position-relative ">
                            <a href="" class="link-absolute"></a>
                            <div class="col-auto">
                                <div class="embed-responsive embed-responsive-16by9" style="width: 110px;">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190715174808-636988096883121977.jpg"
                                        alt="" class="embed-responsive-img">
                                </div>
                            </div>
                            <div class="col ml-3">
                                <div class="font-weight-bold d-block mb-1 h5 text-blue">Ước mơ của Thuý</div>
                                <div class="text-gray text-little" style="line-height: 1.3">
                                    Quỹ học bổng quyên góp dành cho những học sinh nghèo hiếu học vùng sâu vùng xa
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters mb-4 position-relative ">
                            <a href="" class="link-absolute"></a>
                            <div class="col-auto">
                                <div class="embed-responsive embed-responsive-16by9" style="width: 110px;">
                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-190715174808-636988096883121977.jpg"
                                        alt="" class="embed-responsive-img">
                                </div>
                            </div>
                            <div class="col ml-3">
                                <div class="font-weight-bold d-block mb-1 h5 text-blue">Ước mơ của Thuý</div>
                                <div class="text-gray text-little" style="line-height: 1.3">
                                    Quỹ học bổng quyên góp dành cho những học sinh nghèo hiếu học vùng sâu vùng xa
                                </div>
                            </div>
                        </div>





                    </div>
                </div>

                <div class="card  mb-4">

                    <div class="card-body  ">

                        <h3 class="don-section-title" id="">
                            Các nhà hảo tâm
                        </h3>
                        <div class=" don-section-content">
                            <div class="don-peoples">

                                {% for item in peoples %}

                                <div class="don-people">
                                    <div class="don-people-i">
                                        <div class="don-people-i-l">
                                            <div class="name">
                                                {{ item.cusName }}
                                            </div>
                                            <div class="phone">
                                                {{ item.phoneNumber }}

                                            </div>
                                        </div>
                                        <div class="don-people-i-r">
                                            <div class="money">
                                                {{ item.amount }}₫
                                            </div>
                                        </div>
                                    </div>
                                    <div class="don-people-m">
                                        {{ item.message }}
                                    </div>
                                </div>

                                {% endfor %}
                            </div>

                            <div class="mt-4 text-center">
                                <a href="#donationList" class="btn btn-outline-secondary" data-toggle="modal">Xem
                                    thêm</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade modal-lunar  " id="modalDonation" tabindex="-1" role="dialog" aria-labelledby="demoModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-6 bg-img rounded-left m-h-50 d-sm-block d-lg-flex align-items-center"
                        style="background-color: #fbd2d0">

                        <img src="images/donation/download.png" class="img-fluid d-block mx-auto py-4" alt="">

                    </div>
                    <div class="col-md-6 py-5 px-sm-5 my-auto ">

                        <h3 class="mb-4 ">Thực hiện thao tác hướng dẫn sau để quyên góp
                        </h3>
                        <ul class="list-unstyled mb-0 don-qr-step">
                            <li>
                                <strong>Bước 1</strong> : Đăng nhập ứng dụng MoMo
                            </li>

                            <li>
                                <strong>Bước 2</strong> : Bấm chọn icon góc phải trên cùng và tiến hành quét mã QR này
                            </li>

                            <li>
                                <strong>Bước 3 </strong> : Chọn số tiền và nhập lới nhắn, sau đó bấm Quyên Góp
                            </li>

                            <li>
                                <strong> Bước 4</strong> : Bấm xác nhận để hoàn tất
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->


<!-- Modal -->
<div class="modal fade modal-lunar  " id="donationList" tabindex="-1" role="dialog" aria-labelledby="demoModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md  " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">Danh sách các nhà hảo tâm (1245)</h4>
                <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="mr-0">&times;</span>
                      </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12  m-h-50 px-3 py-2 ">
                            <!-- <h4>Danh sách các nhà hảo tâm (1245)</h4> -->

                            <div class="don-peoples don-peoples-popup">

                                {% for item in peoples %}

                                <div class="don-people">
                                    <div class="don-people-i">
                                        <div class="don-people-i-l">
                                            <div class="name">
                                                {{ item.cusName }}
                                            </div>
                                            <div class="phone">
                                                {{ item.phoneNumber }}

                                            </div>
                                        </div>
                                        <div class="don-people-i-r">
                                            <div class="money">
                                                {{ item.amount }}₫
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="don-people-m">
                                            {{ item.message }}
                                        </div> -->
                                </div>

                                <div class="don-people">
                                    <div class="don-people-i">
                                        <div class="don-people-i-l">
                                            <div class="name">
                                                {{ item.cusName }}
                                            </div>
                                            <div class="phone">
                                                {{ item.phoneNumber }}

                                            </div>
                                        </div>
                                        <div class="don-people-i-r">
                                            <div class="money">
                                                {{ item.amount }}₫
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {% endfor %}
                            </div>

                            <div class="mt-4 text-center">
                                <a href="#donationList" class="btn btn-outline-secondary" data-toggle="modal">Xem
                                    thêm</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->




{% endblock %}


{% block testJS %}



<script>

    $(document).ready(function () {
        $('.don-lightGallery').lightGallery({
            thumbnail: true
        });

    });

</script>

{% endblock %}