{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}
{% block content %}


{% include "layouts/mobile.html" %}



<div class="don-slider">



    <div class="swiper-container don-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide "
                style="background-image: url('https://d25oniaj7o2jcw.cloudfront.net/hero-george-large-20190213.jpg')">
            </div>
            <div class="swiper-slide "
                style="background-image: url('https://d25oniaj7o2jcw.cloudfront.net/hero-emergency-large-20190213.jpg')">
            </div>

        </div>
    </div>


    <div class="container don-slider-content">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-6">
                <div class="don-slider-title">
                    Minh bạch quyên góp <br>
                    Dễ dàng ủng hộ
                </div>

                <div class="don-slider-txt">
                    MoMo là một nền tảng gây quỹ cộng đồng - nơi mọi cá nhân, tổ chức đều có thể tự tạo một trang web
                    gây quỹ nhanh chóng và chuyên nghiệp
                </div>

                <div class="don-slider-btn">
                    <a href="" class="btn btn-success rounded btn-lg ">Xem thêm </a>
                </div>
            </div>
        </div>
    </div>


</div>

<section class="don-section">
    <div class="container">
        <h2 class="don-section-heading font-weight-bold mb-4">Danh sách chương trình</h2>
        <div class="don-items row">
            <div class="col-12 col-lg-4">
                <div class="don-item shadow-sm">
                    <a href="donation-detail.html" class="link-absolute"></a>
                    <div class="don-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="embed-responsive-img" alt="">
                        </div>
                    </div>
                    <div class="don-item-content">
                        <div class="don-item-name">
                            Tiếp sức đến trường
                        </div>

                        <div class="don-item-sub">
                            Không để nghèo khó chặn đứng ước mơ của những tân sinh viên khó khăn nhưng có khát khao vươn
                            lên, học bổng 'Tiếp sức đến trường' của báo Tuổi Trẻ tiếp tục đến với tân sinh viên 63 tỉnh,
                            thành trên cả nước.
                        </div>

                        <div class="don-item-money">
                            Đã quyên góp được <strong>98.000.000đ</strong> / 300.000.000đ
                        </div>

                        <div class="don-item-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class=" don-item-footer row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Lượt quyên góp</div>
                                    <div class="number">138</div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Thời hạn còn</div>
                                    <div class="number">5 Ngày</div>
                                </div>
                            </div>

                            <div class="col text-right">
                                <a href="donation-item.html" class="btn btn-outline-primary don-item-btn rounded">
                                    Quyên góp
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="don-item shadow-sm">
                    <a href="donation-detail.html" class="link-absolute"></a>
                    <div class="don-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="embed-responsive-img" alt="">
                        </div>
                    </div>
                    <div class="don-item-content">
                        <div class="don-item-name">
                            Tiếp sức đến trường
                        </div>

                        <div class="don-item-sub">
                            Không để nghèo khó chặn đứng ước mơ của những tân sinh viên khó khăn nhưng có khát khao vươn
                            lên, học bổng 'Tiếp sức đến trường' của báo Tuổi Trẻ tiếp tục đến với tân sinh viên 63 tỉnh,
                            thành trên cả nước.
                        </div>

                        <div class="don-item-money">
                            Đã quyên góp được <strong>300.000.000đ</strong> / 300.000.000đ
                        </div>

                        <div class="don-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class=" don-item-footer row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Lượt quyên góp</div>
                                    <div class="number">138</div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Thời hạn còn</div>
                                    <div class="number">5 Ngày</div>
                                </div>
                            </div>

                            <div class="col text-right">
                                <div class="don-item-quote mr-3">
                                    <div class="label text-success font-weight-bold">
                                        Đã đạt mục tiêu
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="don-item shadow-sm">
                    <!-- <a href="donation-detail.html" class="link-absolute"></a> -->
                    <div class="don-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
                                class="embed-responsive-img" alt="">
                        </div>
                    </div>
                    <div class="don-item-content">
                        <div class="don-item-name">
                            Tiếp sức đến trường
                        </div>

                        <div class="don-item-sub">
                            Không để nghèo khó chặn đứng ước mơ của những tân sinh viên khó khăn nhưng có khát khao vươn
                            lên, học bổng 'Tiếp sức đến trường' của báo Tuổi Trẻ tiếp tục đến với tân sinh viên 63 tỉnh,
                            thành trên cả nước.
                        </div>

                        <div class="don-item-money">
                            Đã quyên góp được <strong>30.000.000đ</strong> / 300.000.000đ
                        </div>

                        <div class="don-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class=" don-item-footer row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Lượt quyên góp</div>
                                    <div class="number">138</div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="don-item-quote mr-3">
                                    <div class="label">Đạt được</div>
                                    <div class="number">33%</div>
                                </div>
                            </div>

                            <div class="col text-right">
                                <div class="don-item-quote mr-3">
                                    <div class="label text-secondary font-weight-bold">
                                        Đã hết thời hạn
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}


{% block testJS %}



<script>
    $(document).ready(function () {
        var donSwiper = new Swiper('.don-swiper', {
            effect: 'fade',
            speed: 2000,
            allowTouchMove: false,
            fadeEffect: {
                crossFade: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
        });
    });
</script>

{% endblock %}