{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}



<div id="fb-root"></div>
<script>
   (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=320653355376196&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>

<script>
   window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
         t._e.push(f);
      };

      return t;
   }(document, "script", "twitter-wjs"));</script>




<nav aria-label="breadcrumb" class="breadcrumb-container">
   <div class="container">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
         <li class="breadcrumb-item"><a href="/hoan-tien/cua-hang-tien-loi">Cửa hàng tiện lợi</a></li>
         <li class="breadcrumb-item active" aria-current="page">FamilyMart</li>
      </ol>
   </div>
</nav>

<section class="dtt-hero" id="dtt-hero">

   <!-- <div class="dtt-hero-bg"
      style="background-image: url(https://i2.wp.com/missgetabout.com/wp-content/uploads/2019/02/IMG_20190203_200846-e1549855251458.jpeg?w=1050)">
   </div> -->
   <div class="dtt-hero-bg" style="background-image: url(images/feature/hero-mobifone.png)">
   </div>

   <div class="dtt-hero-overlay">

   </div>
   <div class="container dtt-hero-dd ">
      <div class="row no-gutters  ">
         <div class="col-md-auto col-12">

            <div class="dtb-header-img shadow-sm d-block mx-auto">
               <img src="images/feature/dienluc.jpg" class="img-fluid " alt="">
            </div>

         </div>
         <div class="col-md py-2 py-md-0 col-12 mt-3">
            <div class="container dtt-hero-content ">
               <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                     <h1 class="dtt-hero-title h2 font-weight-bold text-truncate mb-0 ">Điện lực miền Nam
                     </h1>
                  </div>
                  <div class="col-auto">

                     <a href="" class="btn btn-blue btn-sm sg-type-btn ml-2">Thanh toán tiền điện</a>

                  </div>

               </div>



               <div class="dtt-hero-sub  text-truncate h5  font-weight-normal ">
                  Tập đoàn điện lực lớn nhất Việt Nam với 85000 mạng lưới điện khắp cả nước.
               </div>

               <div class="row no-gutters align-items-center sg-type mt-2">

                  <div class="col-auto">
                     <div class="place-item-star mb-0 ">
                        <div class="star-block ">
                           <div class="star-block-hide" style="width: 45px;">
                              <div class="star-block-bg"></div>
                           </div>
                        </div>

                     </div>
                  </div>

                  <div class="col-auto">
                     <div class="ml-2 "> 25 /

                        <small>
                           <svg class="svg-inline svg text-warning ">
                              <use xlink:href="svg/svg.svg#svg-user"></use>
                           </svg>

                           125 người đánh giá
                        </small>

                     </div>
                  </div>





               </div>


            </div>
         </div>
         <div class="col-md-auto col-12 py-2 py-md-0  d-none d-lg-block">

            <table border="0" cellpadding="0" cellspacing="0" style=" margin: 0 auto; border-collapse:collapse; "
               width="auto">
               <tbody>
                  <tr>
                     <td width="" style="line-height: 0px;">

                        <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                           style="color:#333332;text-decoration:none; display:block; margin-bottom: 15px;"
                           target="_blank">
                           <img src="https://static.mservice.io/blogscontents/momo-upload-api-appstore-190516140705.png"
                              alt="" style="max-height:38px">
                        </a>


                        <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                           style="color:#333332;text-decoration:none;display:block" target="_blank">
                           <img
                              src="https://static.mservice.io/blogscontents/momo-upload-api-google-play-190516140727.png"
                              alt="" style="max-height:38px">
                        </a>


                     </td>

                     <td class="" width="20"></td>

                     <td width="" style="line-height: 0px;">

                        <img src="https://static.mservice.io/img/momo-upload-api-qr-code-181003004308.png"
                           style="max-height: 90px" alt="">


                     </td>




                  </tr>
               </tbody>
            </table>


         </div>
      </div>
   </div>


</section>
<div class="sg-nav-container shadow-sm mb-2 mb-lg-4">


   <div class="container position-relative">

      <nav class="nav sg-nav " id="navbar-sg">
         <a class="nav-link  is-active" href="#dtt-hero" data-scrollto="#dtt-hero" data-offset="120">Thương hiệu</a>


         <a class="nav-link" href="#gioithieu" data-scrollto="#gioithieu" data-offset="120">Giới
            thiệu</a>
         <a class="nav-link" href="#uudai" data-scrollto="#uudai" data-offset="120">Ưu đãi</a>

         <a class="nav-link" href="#baiviet" data-scrollto="#baiviet" data-offset="120">Bài viết</a>
         <a class="nav-link" href="#hoidap" data-scrollto="#hoidap" data-offset="120">Hỏi đáp</a>

      </nav>

      <ul class=" list-inline mb-0 sg-social-share ">
         <li class="list-inline-item align-top">
            <div class="fb-like"
               data-href="https://momo.vn/tin-tuc/khuyen-mai/giai-nhiet-mua-nong-don-song-voucher-cung-vi-momo-nhan-ngay-voucher-mua-sam-tai-nguyen-kim-len-den-150000-dong-747"
               data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
         </li>
         <li class="list-inline-item align-top">
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?text= Gi&#x1EA3;i nhi&#x1EC7;t m&#xF9;a n&#xF3;ng - &#x110;&#xF3;n &quot;s&#xF3;ng&quot; voucher: T&#x1EB7;ng th&#x1EBB; qu&#xE0; Nguy&#x1EC5;n Kim 150.000 &#x111;&#x1ED3;ng khi li&#xEA;n k&#x1EBF;t V&#xED; MoMo v&#x1EDB;i ng&#xE2;n h&#xE0;ng"
               data-size="Default">
               Tweet
            </a>
         </li>
      </ul>
   </div>

</div>





<div class="container">


   <div class="row">
      <div class="col-12 col-lg-8 sticky-content2">

         <div class="theiaStickySidebar">
            <!-- Nav tabs -->


            <div class="alert alert-warning mb-3" role="alert">

               <a href="" class="alert-close">
                  <svg class="svg-inline">
                     <use xlink:href="svg/svg.svg#svg-error"></use>
                  </svg>
               </a>
               <div class="row no-gutters align-items-center">

                  <div class="col">
                     <h4 class="alert-title font-weight-bold mb-1">
                        Giúp chúng tôi hiểu bạn hơn
                     </h4>

                     <div>
                        Trải nghiệm phiên bản cá nhân hoá bằng cách cho chúng tôi biết những dịch vụ thanh toán bạn quan
                        tâm và khu vực bạn đang sinh sống
                     </div>

                  </div>
                  <div class="col-auto">
                     <a href="" class="btn btn-blue ml-2 ">Bắt đầu ngay</a>
                  </div>

               </div>
            </div>


            <h4 class="sg-section-title font-weight-bold  mb-3 pt-3" id="gioithieu">
               Giới thiệu về Điện lực miền Nam
            </h4>

            <div class="card mb-4">

               <div class="card-body pt-0 pb-0 ">
                  <div class="sg-section ">


                     <div class="sg-section-content">
                        <p>
                           Tổng công ty Điện lực miền Nam quản lý lưới điện phân phối từ 110 kV trở xuống và kinh doanh
                           bán điện trên địa bàn 21 tỉnh / thành phố phía Nam với các nhiệm vụ và chỉ tiêu kinh tế kỹ
                           thuật (kể cả Đồng Nai) như sau

                        </p>

                        <p>
                           21 Tỉnh/Thành phố phía Nam: An Giang, Bà Rịa - Vũng Tàu, Bạc Liêu, Bến Tre, Bình Dương, Bình
                           Phước, Bình Thuận, Cà Mau, Cần Thơ, Đồng Nai, Đồng Tháp, Hậu Giang, Kiên Giang, Lâm Đồng,
                           Long An, Ninh Thuận, Sóc Trăng, Tây Ninh, Tiền

                        </p>


                        <div class="text-center p-0">
                           <a href="" class="text-blue ">
                              Xem thêm
                              <span class="text-small">
                                 <svg class="svg-inline ml-1  ">
                                    <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                                 </svg>
                              </span>
                           </a>
                        </div>
                     </div>

                  </div>

               </div>
            </div>



            <h4 class="sg-section-title font-weight-bold  mb-3 pt-3" id="gioithieu">
               Khu vực có hỗ trợ thanh toán
            </h4>

            <div class="card mb-4">

               <div class="card-body pt-1 pb-1 ">
                  <div class="row no-gutters ft-tinhthanh">
                     <div class="col-6 ">
                        Đồng Nai
                     </div>
                     <div class="col-6">
                        Sóc Trăng
                     </div>

                     <div class="col-6">
                        Cần Thơ
                     </div>
                     <div class="col-6">
                        Trà Vinh
                     </div>

                     <div class="col-6">
                        Bình Dương
                     </div>
                     <div class="col-6">
                        Long An
                     </div>


                     <div class="col-6">
                        Lâm Đồng
                     </div>
                     <div class="col-6">
                        Bà Rịa - Vũng Tàu
                     </div>
                  </div>


                  <div class="text-center p-2 d-none">
                     <a href="" class="text-blue ">
                        Xem thêm
                        <span class="text-small">
                           <svg class="svg-inline ml-1  ">
                              <use xlink:href="svg/svg.svg#svg-angle-down"></use>
                           </svg>
                        </span>
                     </a>
                  </div>

               </div>
            </div>




            <h4 class="sg-section-title  mb-4 pt-3" id="thanhtoan">
               Hướng dẫn thanh toán
            </h4>


            <div class="card mb-4">


               <div class="card-body pt-0 pb-0">


                  <div class="sg-section ">




                     <div class="row no-gutters ">
                        <div class="col-12 ">

                           <ul class="nav desnav">
                              <li class="nav-item">
                                 <a class="nav-link active" data-toggle="tab" href="#huongdan1">Thanh toán tiền điện</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" data-toggle="tab" href="#huongdan2">Thống kê chi phí</a>
                              </li>
                           </ul>



                           <!-- Tab panes -->
                           <div class="tab-content">
                              <div class="tab-pane active container" id="huongdan1">


                                 <div class="row manual-device-swiper-container align-items-center">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">

                                       <div class="manual-device d-block" id="hd-sub-img-461233" childId="461233">
                                          <div class="manual-device-stock ">

                                          </div>

                                          <div class="manual-device-slide">
                                             <div class="swiper-container manual-device-swiper" id="hd-sub-swp-461233">
                                                <div class="swiper-wrapper">
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-1-190522181721.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="Ch&#x1ECD;n &quot;M&#xE3; Thanh To&#xE1;n&quot;">
                                                   </div>
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-2-190522172522.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="&#x110;&#x1B0;a m&#xE3; cho thu ng&#xE2;n qu&#xE9;t">
                                                   </div>
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-3-190522162213.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>


                                    </div>


                                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                                       <ol class="process list-unstyled manual-process" childId="461233"
                                          id="hd-sub-ctn-461233">

                                          <li class="process_item  active">
                                             <div class="process__number">
                                                <span>1</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">Ch&#x1ECD;n &quot;M&#xE3; Thanh
                                                   To&#xE1;n&quot;
                                                </h4>
                                                <div class="process__body-content">

                                                </div>
                                             </div>
                                          </li>
                                          <li class="process_item  ">
                                             <div class="process__number">
                                                <span>2</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">&#x110;&#x1B0;a m&#xE3; cho thu
                                                   ng&#xE2;n
                                                   qu&#xE9;t</h4>
                                                <div class="process__body-content">
                                                   <p>Đưa m&atilde; hiện ra cho thu ng&acirc;n qu&eacute;t để thanh
                                                      to&aacute;n.<br />
                                                      Nguồn tiền mặc định của h&igrave;nh thức n&agrave;y l&agrave;
                                                      nguồn tiền
                                                      V&iacute; MoMo. H&atilde;y đảm bảo số dư trong V&iacute;&nbsp;lớn
                                                      hơn số
                                                      tiền cần thanh to&aacute;n trước khi tiến h&agrave;nh giao dịch.
                                                   </p>

                                                </div>
                                             </div>
                                          </li>
                                          <li class="process_item  ">
                                             <div class="process__number">
                                                <span>3</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t
                                                </h4>
                                                <div class="process__body-content">

                                                </div>
                                             </div>
                                          </li>
                                       </ol>



                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane container" id="huongdan2">
                                 <div class="row manual-device-swiper-container align-items-center">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">

                                       <div class="manual-device d-block" id="hd-sub-img-461233" childId="461233">
                                          <div class="manual-device-stock ">

                                          </div>

                                          <div class="manual-device-slide">
                                             <div class="swiper-container manual-device-swiper" id="hd-sub-swp-461233">
                                                <div class="swiper-wrapper">
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-1-190522181721.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="Ch&#x1ECD;n &quot;M&#xE3; Thanh To&#xE1;n&quot;">
                                                   </div>
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-2-190522172522.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="&#x110;&#x1B0;a m&#xE3; cho thu ng&#xE2;n qu&#xE9;t">
                                                   </div>
                                                   <div class="swiper-slide">
                                                      <img
                                                         data-src="https://static.mservice.io/img/momo-upload-api-buoc-3-190522162213.jpg"
                                                         class="img-fluid lazyload"
                                                         alt="Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>


                                    </div>


                                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                                       <ol class="process list-unstyled manual-process" childId="461233"
                                          id="hd-sub-ctn-461233">

                                          <li class="process_item  active">
                                             <div class="process__number">
                                                <span>1</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">Ch&#x1ECD;n &quot;M&#xE3; Thanh
                                                   To&#xE1;n&quot;
                                                </h4>
                                                <div class="process__body-content">

                                                </div>
                                             </div>
                                          </li>
                                          <li class="process_item  ">
                                             <div class="process__number">
                                                <span>2</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">&#x110;&#x1B0;a m&#xE3; cho thu
                                                   ng&#xE2;n
                                                   qu&#xE9;t</h4>
                                                <div class="process__body-content">
                                                   <p>Đưa m&atilde; hiện ra cho thu ng&acirc;n qu&eacute;t để thanh
                                                      to&aacute;n.<br />
                                                      Nguồn tiền mặc định của h&igrave;nh thức n&agrave;y l&agrave;
                                                      nguồn tiền
                                                      V&iacute; MoMo. H&atilde;y đảm bảo số dư trong V&iacute;&nbsp;lớn
                                                      hơn số
                                                      tiền cần thanh to&aacute;n trước khi tiến h&agrave;nh giao dịch.
                                                   </p>

                                                </div>
                                             </div>
                                          </li>
                                          <li class="process_item  ">
                                             <div class="process__number">
                                                <span>3</span>
                                             </div>
                                             <div class="process__body">

                                                <h4 class="process__body-title">Thanh to&#xE1;n ho&#xE0;n t&#x1EA5;t
                                                </h4>
                                                <div class="process__body-content">

                                                </div>
                                             </div>
                                          </li>
                                       </ol>



                                    </div>
                                 </div>
                              </div>
                           </div>



                        </div>

                     </div>



                  </div>

               </div>
            </div>


            <h4 class="sg-section-title  mb-4 pt-3" id="uudai">
               Tin tức - sự kiện</h4>

            <div class="card mb-4">
               <div class="card-body">
                  <div class="row">

                     {% for item in range(0,6) %}
                     <div class="col-4">
                        <div class="new-item ">
                           <div class="new-item-img embed-responsive embed-responsive-16by9">
                              <a href="tintuc-detail.html" class="link-absolute"></a>
                              <img data-src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg"
                                 class="embed-responsive-img lazyload" alt="">

                              <div class="new-cat">
                                 <a href="">TIN KHUYẾN MÃI</a>
                              </div>
                           </div>

                           <div class="new-item-content">

                              <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo -
                                    Thanh toán Thẻ Vay
                                    VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                              <ul class="new-meta clearfix list-inline mb-0">
                                 <li class="list-inline-item">
                                    2 giờ trước
                                 </li>
                                 <li class="list-inline-item">
                                    <svg class="svg-icon  new-meta-svg">
                                       <use xlink:href="svg/svg.svg#svg-chat"></use>
                                    </svg> 0 bình luận
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     {% endfor %}

                  </div>

                  <div class="text-center">
                     <a href="" class="btn btn-outline-blue rounded btn-sm">Xem tất cả</a>
                  </div>

               </div>
            </div>


            <h4 class="sg-section-title  mb-4 pt-3" id="hoidap">
               Hỏi đáp</h4>

            <ul class="nav desnav">
               <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#hoidap1">Nạp tiền điện thoại trả trước</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#hoidap2">Nạp tiền điện thoại trả sau</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#hoidap3">Nạp data 3G/4G</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#hoidap4">Mua mã thẻ cào</a>
               </li>
            </ul>

            <div class="tab-content">
               <div class="tab-pane active " id="hoidap1">

                  <div id="accordion" class=" des-accordion">
                     <div class="card ">
                        <div class="card-header">
                           <a class="card-link" data-toggle="collapse" href="#collapseOne">
                              Ví momo là gì?

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                           <div class="card-body">
                              Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động
                              Trực tuyến
                              (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để
                              thanh toán
                              cho
                              hơn 200
                              dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                           </div>
                        </div>
                     </div>

                     <div class="card">
                        <div class="card-header">
                           <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                              Tiền trong tài khoản MoMo có phải là tiền thật?

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                           <div class="card-body">
                              <h5>Chưa cập nhập nội dung ...</h5>
                           </div>
                        </div>
                     </div>

                     <div class="card">
                        <div class="card-header">
                           <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                              Sử dụng MoMo có mất phí không?

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                           <div class="card-body">
                              <h5>Chưa cập nhập nội dung ...</h5>
                           </div>
                        </div>
                     </div>

                     <div class="card">
                        <div class="card-header">
                           <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                              Tôi bị mất tiền trong tài khoản MoMo

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                           <div class="card-body">
                              <h5>Chưa cập nhập nội dung ...</h5>
                           </div>
                        </div>
                     </div>


                     <div class="card">
                        <div class="card-header">
                           <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                              Số tài khoản MoMo là gì?

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                           <div class="card-body">
                              <h5>Chưa cập nhập nội dung ...</h5>
                           </div>
                        </div>
                     </div>

                     <div class="card">
                        <div class="card-header">
                           <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                              Số tài khỏan MoMo có an toàn?

                              <span class="card-link-icon minus">-</span>
                              <span class="card-link-icon plus">+</span>
                           </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                           <div class="card-body">
                              <h5>Chưa cập nhập nội dung ...</h5>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <div class="tab-pane " id="hoidap2">...</div>
               <div class="tab-pane " id="hoidap3">...</div>
               <div class="tab-pane " id="hoidap4">...</div>
            </div>

         </div>

      </div>

      <div class="col-12 col-lg-4  sticky-sidebar2">
         <div class="theiaStickySidebar">

            <div class="card mb-4 sg-cb-card ft-cb-card d-none d-lg-block">

               <div class="sg-cb-heading" style="background-image: url(images/feature/feature-sale.png)">
                  Chương trình khuyến mãi
                  Mobifone đang diễn ra
               </div>


               <div class="card-body  ">


                  <div class="sg-cb-txt2 mt-4">


                     <div><strong>Chi tiết ưu đãi</strong></div>
                     <div>Hoàn tiền 5% trên tổng hoá đơn</div><br>
                     <div><strong>Điều kiện và điều khoản</strong></div>
                     <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết
                        ngân
                        hàng
                        (ngoại trừ thẻ thanh toán quốc tế) </div>
                     <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)
                     </div>
                     <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 1.000.000đ/tháng
                     </div>
                  </div>


                  <div class="text-center mt-3">
                     <a href="" class="btn btn-primary ">Nạp tiền ngay</a>

                  </div>
                  <!-- 

                  <div class="row sm-gutters ">
                     <div class="col-auto mr-1 ">
                        <img src="images/cashback/heo-cashback.svg" class="pb-2" width="50" alt="">
                     </div>
                     <div class="col">


                     </div>
                  </div> -->

               </div>
            </div>

            <div class="card mb-4">


               <div class="card-body  ">

                  <div class="text-center mb-2">
                     <img src="images/feature/gift-register.png" class="img-fluid d-block mx-auto" alt="" width="130">
                  </div>

                  <div class="text-center mb-3">
                     Hơn ***** người đã đăng kí nhận các chương trình khuyến mãi từ Ví MoMo. Nhận các khuyến mãi hấp
                     dẫn từ
                     các đối tác của Ví MoMo và đừng bỏ lỡ bất kì cơ hội nào.
                  </div>
                  <div class="row no-gutters align-items-center mb-2">
                     <div class="col-auto">
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="customRadioInline1" name="customRadioInline1"
                              class="custom-control-input">
                           <label class="custom-control-label" for="customRadioInline1">Anh</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="customRadioInline2" name="customRadioInline1"
                              class="custom-control-input">
                           <label class="custom-control-label" for="customRadioInline2">Chị</label>
                        </div>

                     </div>
                     <div class="col">
                        <input type="text" class="form-control " placeholder="Họ tên">

                     </div>
                  </div>

                  <input type="email" class="form-control mb-3" placeholder="Địa chỉ email">

                  <div class="text-center">
                     <a href="" class="btn btn-primary">Đăng ký nhận tin</a>
                  </div>


               </div>
            </div>



            <div class="card mb-4">
               <div class="card-body py-0 ">
                  <div class="sg-section">
                     <h4 class="sg-section-title mb-0">
                        Thương hiệu liên quan
                     </h4>


                     <ul class="list-unstyled mb-0">

                        <li class="sgf-item">
                           <div class="row no-gutters  ">
                              <div class="col-12 col-md-auto  ">
                                 <div class="sgf-img " style="width: 50px;">
                                    <img
                                       src="https://app.momo.vn/icon/sdk/Merchant/MOMOH6WA20180727/Logo/1537432703704_7810.jpg"
                                       alt="" class="img-fluid">
                                 </div>
                              </div>

                              <div class="col-12 col-md">
                                 <div class="sgf-cont">
                                    <div class="sgf-pf">
                                       <h4 class="sgf-title mb-0 text-capitalize">Điện lực miền Bắc</h4>
                                       <div class="sgf-address text-capitalize">Tổng công ty điện lực tại khu vực Bắ...</div>
                                    </div>

                                 </div>

                              </div>



                           </div>
                        </li>



                     </ul>

                  </div>
               </div>
            </div>

         </div>


      </div>
   </div>
</div>

<br>

{% endblock %}

{% block testJS %}

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>



<script>

   $(document).ready(function () {

      $('body').scrollspy({ target: '#navbar-sg', offset: 130 });
      $(window).on('activate.bs.scrollspy', function () {
         $("#navbar-sg .nav-link.active").addClass("is-active").siblings().removeClass("is-active");
      })
      var sgHow = new Swiper('.sg-how-swiper', {
         pagination: {
            el: '.swiper-pagination',
         },
      });

      $(".sticky-content2, .sticky-sidebar2").theiaStickySidebar({
         // Settings
         additionalMarginTop: 130
      });

   });


   $(".sg-gallery img").wrap(function () {
      if (!$(this).parent().hasClass('swiper-slide')) {
         var temp = "<div class='lightgallery-item embed-responsive-img '";
         var src = "data-src='" + $(this).attr("src") + "'";
         var sub = "";
         if ($(this).attr("alt") != undefined && $(this).attr("alt") != "") {
            sub = " data-sub-html='" + $(this).attr("alt") + "'";
         }

         return temp + src + sub + " ></div>";
      }
   });


   $('#lightgallery-sg').lightGallery({
      pager: false,
      share: false,
      loop: false,
      selector: '.lightgallery-item'
   });


   /*
      function autoHideAvatar() {
         var offsetTop2 = $(".sg-nav-container").position().top;

         var scroll2 = $(window).scrollTop();

         if (scroll2 >= offsetTop2 - 58) {
            $(".sg-nav-avatar").addClass("is-active")
         } else {
            $(".sg-nav-avatar").removeClass("is-active")
         }
      }
      autoHideAvatar(); */

   /* $(window).on('scroll', function () {
      (!window.requestAnimationFrame) ? setTimeout(autoHideAvatar, 250) : requestAnimationFrame(autoHideAvatar);
   }); */
</script>
{% endblock %}