{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
   <div class="container">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
         <li class="breadcrumb-item active" aria-current="page">Thanh toán hóa đơn</li>

         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Khuyến mãi</li>
         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Thông cáo báo chí</li>
         <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Hình ảnh - Video</li>
      </ol>


   </div>
</nav>


<div class="ft-hero-swiper swiper-container">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div>
            <img src="images/feature/ft-banner.jpg" class="img-fluid d-block mx-auto" alt="">
         </div>
      </div>
      <div class="swiper-slide">
         <div>
            <img src="images/feature/ft-banner.jpg" class="img-fluid d-block mx-auto" alt="">
         </div>
      </div>

   </div>

   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
</div>


<div class="feature-categories ">
   <div class="container">
      <h4 class="text-center font-weight-bold mb-4">CÁC NHÀ MẠNG VIỄN THÔNG</h4>

      <ul class="clearfix feature-categories-list">
         <li class="is-active">
            <a href="">
               <img src="https://static.mservice.io/img/momo-upload-api-ic_mobifone@3x-181218160800.png" class="icon" alt="" />
               Mobifone
            </a>
         </li>
         <li>
            <a href="">
               <img src="https://static.mservice.io/img/momo-upload-api-ic_vinaphone@3x-181218163535.png" class="icon" alt="" />
              Viettel
            </a>
         </li>
         <li>
            <a href="">
               <img src="https://static.mservice.io/img/momo-upload-api-ic_gmobile@3x-181218174923.png" class="icon" alt="" />
               GMobile
            </a>
         </li>
         <li>
            <a href="">
               <img src="https://static.mservice.io/img/momo-upload-api-ic_vietnammobile@3x-181218174732.png" class="icon" alt="" />
               
               Vietnamobile
                        
            </a>
         </li>
         <li>
            <a href="">
               <img src=" https://static.mservice.io/img/momo-upload-api-ic_viettel@3x-181218153720.png" class="icon" alt="" />
               Viettel
            </a>
         </li>
      </ul>
   </div>
   <!-- /container -->
</div>



<div class="ft-section bg-white">

   <div class="container">
      <div class="row align-items-center ">

         <div class="col-12 col-lg-6">

            <div class="text-center mb-4 mb-lg-0">
               <img src="images/feature/ft-1.png" class="img-fluid d-block mx-auto ft-img2 shadow" alt="" width="500">
            </div>
         </div>
         <div class="col-12 col-lg-5">
            <!-- <div class="ft-section-cat text-primary">HÓA ĐƠN</div> -->
            <h2 class="font-weight-bold ft-section-title  text-center">
               Thanh toán đơn giản - nhanh chóng  <br>
               với ví MoMo
            </h2>

            <div class="ft-dash mx-auto">

            </div>

            <h4 class="ft-hero-sub  font-weight-light text-center ">
               Mua mã thẻ hoặc nạp trực tiếp, thanh toán thuê bao trả sau cực nhanh chóng chỉ với 3 bước. Bạn sẽ nhận được mã thẻ hoặc tiền nạp trực tiếp ngay sau khi bấm thanh toán.
            </h4>


         </div>

      </div>
   </div>

</div>






<div class="ft-section bg-light" >

   <div class="container">
      <div class="row align-items-center">
         <div class="col-12 col-lg-5 order-lg-1 order-2">
            <!-- <div class="ft-section-cat text-primary">NẠP TIỀN</div> -->
            <h2 class="font-weight-bold ft-section-title text-center  ">
               Hưởng ưu đãi hoàn tiền và <br>
               được tặng thêm data
            </h2>
            <div class="ft-dash mx-auto">

            </div>
            <h4 class="ft-hero-sub  font-weight-light text-center">
               Mua mã thẻ hoặc nạp trực tiếp, thanh toán thuê bao trả sau cực nhanh chóng chỉ với 3 bước. Bạn sẽ nhận được mã thẻ hoặc tiền nạp trực tiếp ngay sau khi bấm thanh toán.
            </h4>


         </div>
         <div class="col-12 col-lg-6 order-lg-2 order-1">

            <div class="text-center mb-4 mb-lg-0">
               <img src="images/feature/ft-2.png" width="500" class="shadow img-fluid d-block mx-auto ft-img2" alt="">
            </div>
         </div>


      </div>
   </div>

</div>






<section class="section-secure mt-0">
   <div class="container product-section">
       <div class="block-container ">
           <div class="block-title text-center ">
               <div class="block-title-secure text-uppercase ">
                   <div class="sa "></div>
                   <div class="sa sa-right"></div>
                   Thanh toán an toàn bảo mật tuyệt đối
               </div>
           </div>

           <div class="block-content">
               <!-- Nav pills -->
               <ul class="nav secure-tab">
                   <li class="nav-item">
                       <a class="nav-link active" data-toggle="pill" href="#baochungnganhang">Bảo chứng <br
                               class="d-block d-lg-none">ngân
                           hàng
                       </a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" data-toggle="pill" href="#baomatdatang">Bảo mật <br
                               class="d-block d-lg-none">đa
                           tầng
                       </a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" data-toggle="pill" href="#datchuanquocte">Đạt chuẩn <br
                               class="d-block d-lg-none">quốc
                           tế
                       </a>
                   </li>
               </ul>

               <!-- Tab panes -->
               <div class="tab-content">
                   <div class="tab-pane container active" id="baochungnganhang">
                       <div class="row align-items-center no-gutters">
                           <div class="col-12 col-md-5 offset-md-1">
                               <ul class="pl-4 secure-list">
                                   <li class="">
                                       Tiền trong tài khoản MoMo được bảo chứng bởi Vietcombank.
                                   </li>

                                   <li class="">
                                       Được Ngân Hàng Nhà Nước cấp giấy phép và quản lý dịch vụ Ví điện tử năm 2015.

                                   </li>

                                   <li class="">
                                       Là đối tác chiến lược của các ngân hàng lớn như: Vietcombank, VietinBank,
                                       AgriBank, BIDV, ACB, TPBank, VPBank, EximBank,
                                       OCB, VIB, Shinhan Bank, SCB, SacomBank và các tổ chức thẻ Visa/Master/JCB.
                                   </li>
                               </ul>
                           </div>
                           <div class="col-12 col-md-6">
                               <img src="images/feature/01.png" class="img-fluid d-block mx-auto " alt="">
                           </div>
                       </div>

                   </div>
                   <div class="tab-pane container fade" id="baomatdatang">
                       <div class="row align-items-center no-gutters">
                           <div class="col-12 col-md-5 offset-md-1">
                               <ul class="pl-4 secure-list">
                                   <li class="">
                                       Để đăng nhập, cần nhập mất khẩu 6 số và mã OTP được gửi đến điện thoại. Mỗi lần
                                       thanh toán đều cần nhập lại mật khẩu.
                                   </li>

                                   <li class="">
                                       Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                                   </li>
                               </ul>
                           </div>
                           <div class="col-12 col-md-6">
                               <img src="images/feature/02.png" class="img-fluid d-block mx-auto " alt="">
                           </div>
                       </div>
                   </div>
                   <div class="tab-pane container fade" id="datchuanquocte">
                       <div class="row align-items-center no-gutters">
                           <div class="col-12 col-md-5 offset-md-1">
                               <ul class="pl-4 secure-list">
                                   <li class="">
                                       Công nghệ bảo mật của MoMo đáp ứng các tiêu chuẩn quốc tế khắc khe nhât trong
                                       ngành tài chính ngần hàng, đạt chứng nhận bảo
                                       mật toàn cầu PCI DSS cấp độ cao nhất.


                                   </li>

                                   <li class="">
                                       Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
                                   </li>
                               </ul>
                           </div>
                           <div class="col-12 col-md-6">
                               <img src="images/feature/03.png" class="img-fluid d-block mx-auto " alt="">
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>





<div class="newsletter">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-auto">
            <div class="newsletter-img">
               <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
            </div>

         </div>

         <div class="col">
            <h4>Nhận tin tức từ MoMo !</h4>
            <div class="h5 font-weight-normal mb-0 text-secondary">
               Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
            </div>
         </div>

         <div class="col-12 col-lg-auto">
            <div class="input-group newsletter-input">
               <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
               <div class="input-group-append">
                  <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


{% endblock %}


{% block testJS %}

<script>

   $(document).ready(function (e) {



      var swiper = new Swiper('.ft-hero-swiper', {
         pagination: {
            el: '.swiper-pagination',
         },
      });

   });

</script>

{% endblock %}