{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as
macro %} {% block content %} {% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Thanh toán hóa đơn
            </li>

            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">
                Khuyến mãi
            </li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">
                Thông cáo báo chí
            </li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">
                Hình ảnh - Video
            </li>
        </ol>
    </div>
</nav>

<div
        class="feature-hero"
        style="background-image: url('https://static.mservice.io/img/momo-upload-api-bg-service-1-181220172301.png') "
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1">
                <h1 class="font-weight-bold feature-hero-title text-white">
                    Thanh toán tiền điện
                </h1>

                <h4 class="feature-hero-sub text-white">
                    Thanh toán hóa đơn Điện nhanh chóng - tiện lợi, bảo mật an toàn, mọi
                    lúc mọi nơi bằng Ví MoMo
                </h4>

                <div class="row no-gutters align-items-center feature-hero-app">
                    <div class="col-auto d-none d-md-block mb-3 mb-lg-0 ">
                        <div class="pro-qrcode">
                            <img
                                    src="images/promotion/QR-code.svg"
                                    class="img-fluid"
                                    alt=""
                            />
                        </div>
                    </div>

                    <div class="col-auto">
                        <ul class="list-unstyled mb-0">
                            <li class="">
                                <a href="#" class="download-btn mb-1 mb-sm-4 shadow-sm">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-apple"></use>
                                    </svg>
                                    <span class="inner"
                                    ><span class="avail">Available on</span>
                    <span class="store-name">App store</span></span
                                    >
                                </a>
                            </li>

                            <li class="">
                                <a href="#" class="download-btn shadow-sm">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                    </svg>
                                    <span class="inner"
                                    ><span class="avail">Available on</span>
                    <span class="store-name">Google play</span></span
                                    >
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 align-self-bottom">
                <img
                        src="https://static.mservice.io/img/momo-upload-api-icon-tt-dien-181220172150.png"
                        class="img-fluid d-block ml-auto"
                        alt=""
                />
            </div>
        </div>
    </div>
</div>

<div class="feature-categories">
    <div class="container">
        <h4>CHỌN DỊCH VỤ THANH TOÁN</h4>

        <ul class="clearfix feature-categories-list">
            <li class="is-active">
                <a href="">
                    <img
                            src="images/feature/icon/ic_hoa don dien@3x.png"
                            class="icon"
                            alt=""
                    />
                    Tiền điện
                </a>
            </li>
            <li>
                <a href="">
                    <img
                            src="images/feature/icon/ic_hoa don nuoc@3x.png"
                            class="icon"
                            alt=""
                    />
                    Tiền nước
                </a>
            </li>
            <li>
                <a href="">
                    <img
                            src="images/feature/icon/ic_internet@3x.png"
                            class="icon"
                            alt=""
                    />
                    Tiền Internet
                </a>
            </li>
            <li>
                <a href="">
                    <img
                            src="images/feature/icon/ic_dien thoai co dinh@3x.png"
                            class="icon"
                            alt=""
                    />
                    Điện thoại cố định
                </a>
            </li>
            <li>
                <a href="">
                    <img
                            src="images/feature/icon/ic_truyen hinh cap@3x.png"
                            class="icon"
                            alt=""
                    />
                    Truyền hình
                </a>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>

<div class="feature-quaranty">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="text-center  font-weight-bold h1 title">
                    Giới thiệu về tiện ích thanh toán hóa đơn bằng ví MoMo
                </h2>

                <div class="text-center feature-benefit-txt">
                    Hàng tháng phải thanh toán hóa đơn điện, nước, Internet, truyền hình
                    cáp. Hãy sử dụng MoMo ngay để trải nghiệm những tiện ích không ngờ:
                    Được nhắc thanh toán mỗi kỳ, dễ dàng so sánh chỉ số tăng giảm, lại còn
                    được tích điểm đổi quà hấp dẫn. Trải nghiệm ngay!
                </div>
            </div>
        </div>
        <br/>
        <div class="row align-items-center">
            <div class="col-12 col-md-5">
                <img
                        src="https://static.mservice.io/Images/2018/06/14/kv-hoan-tien_141149343.png"
                        class="img-fluid"
                        alt=""
                />
            </div>
            <div class="col-12 col-md-7">
                <div class="feature-benefit">
                    <h3 class="feature-benefit-title">
                        <span class="order">01</span>
                        Có MoMo nhắc thanh toán, chẳng sợ anh 'nợ' ghé thăm
                    </h3>
                    <div class="feature-benefit-txt">
                        Chỉ cần nhập mã hóa đơn 1 lần duy nhất, MoMo sẽ lưu thông tin hóa
                        đơn và nhắc thanh toán mỗi tháng trước khi hóa đơn được gửi đến nhà.
                        Quên đi nỗi lo bị cắt dịch vụ vì trễ hạn.
                    </div>
                </div>

                <div class="feature-benefit">
                    <h3 class="feature-benefit-title">
                        <span class="order">02</span>
                        Biểu đồ thông minh giúp bạn theo dõi chỉ số tăng giảm
                    </h3>
                    <div class="feature-benefit-txt">
                        Thông tin thanh toán được lưu lại mỗi kỳ dưới dạng biểu đồ, giúp bạn
                        dễ dàng so sánh chỉ số tăng giảm giữa các kỳ, cân đối chi tiêu giữa
                        các tháng.
                    </div>
                </div>

                <div class="feature-benefit">
                    <h3 class="feature-benefit-title">
                        <span class="order">03</span>
                        Tích điểm mỗi lần thanh toán
                    </h3>
                    <div class="feature-benefit-txt">
                        Số tiền phải trả cho hóa đơn điện, nước mỗi tháng không ít. Chỉ duy
                        nhất tại Ví MoMo, bạn được tích điểm mỗi lần thanh toán để đổi lấy
                        hàng trăm phần quà hấp dẫn. Mở Ví MoMo, truy cập 'Ví của tôi' để
                        kiểm tra điểm thưởng và truy cập 'Ưu đãi' để đổi điểm lấy quà.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-quaranty bg-white">
    <div class="container">
        <h2 class="text-center  font-weight-bold h1 title">
            Thanh Toán An Toàn, Bảo Mật Tuyệt Đối
        </h2>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="feature-quaranty-item">
                    <div class="text-center img">
                        <img
                                src="https://momo.vn/welcome/img/bao-mat.png"
                                class="d-block mx-auto"
                                alt=""
                        />
                    </div>

                    <h4 class="name">Tuân thủ chuẩn bảo mật quốc tế</h4>

                    <ul class="list-unstyled">
                        <li>
                            Đạt tiêu chuẩn Bảo mật toàn cầu PCI DSS được tổ chức tài chính
                            hàng đầu thế giới tuân thủ.
                        </li>
                        <li>
                            Bảo mật kép với mã OTP và mật khẩu 6 chữ số.
                        </li>
                        <li>
                            Đường truyền bảo mật theo chuẩn GlobalSign.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature-quaranty-item">
                    <div class="text-center img">
                        <img
                                src="https://momo.vn/welcome/img/bank.png"
                                class="d-block mx-auto"
                                alt=""
                        />
                    </div>

                    <h4 class="name">Chứng thực bởi ngân hàng nhà nước</h4>

                    <ul class="list-unstyled">
                        <li>
                            Được Ngân hàng Nhà Nước Việt Nam cấp phép và quản lý.
                        </li>
                        <li>
                            Tiền trong Ví có giá trị 100% là tiền thật, được bảo chứng bởi
                            Vietcombank.
                        </li>
                        <li>
                            Là đối tác của hầu hết các ngân hàng lớn tại Việt Nam.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature-quaranty-item">
                    <div class="text-center img">
                        <img
                                src="https://momo.vn/welcome/img/account.png"
                                class="d-block mx-auto"
                                alt=""
                        />
                    </div>

                    <h4 class="name">Kiểm soát tài khoản và sao kê thông minh</h4>

                    <ul class="list-unstyled">
                        <li>
                            Tự động cập nhật số dư ngay sau mỗi giao dịch, dễ dàng xem lại
                            lịch sử và thống kê giá trị giao dịch ngay trên ứng dụng
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="manual-page  container  feature-howtouse">
    <h2 class="text-center  font-weight-bold h1 title mb-4 pt-4">
        Hướng dẫn thanh toán tiền điện trên app MoMo
    </h2>

    <!-- Tab panes -->
    <div class="bg-white pt-4 pb-4">
        <div class="container">
            <!-- Nav pills -->
            <nav class="nav manual-page-tab" role="tablist">
                <a class="nav-link nav-item active" data-toggle="pill" href="#home"
                >Cài đặt ví Momo</a
                >
                <a class="nav-link nav-item" data-toggle="pill" href="#menu1"
                >Liên kết ngân hàng</a
                >
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2"
                >Chuyển tiền mừng</a
                >

                <a class="nav-link nav-item" data-toggle="pill" href="#menu1"
                >Cài đặt email</a
                >
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2"
                >Thanh toán điện nước</a
                >
            </nav>

            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <div class="manual-device">
                                <div class="manual-device-stock "></div>

                                <div class="manual-device-slide">
                                    <div class="swiper-container manual-device-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a
                                                        class="video-play-button popup-youtube"
                                                        href="https://www.youtube.com/watch?v=xr4wyxiH6bM"
                                                >
                                                    <span></span>
                                                </a>

                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                            <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 order-1 order-lg-2">
                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời
                                            chúc ý nghĩa từ danh sách gợi ý của Momo.
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập số tiền bạn muốn gửi tới người nhận
                                        </h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa
                                                chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu
                                                1.000đ, tối đa 20.000.000đ), hoặc chọn 1 số tiền đẹp từ
                                                danh sách gợi ý của Momo
                                            </p>
                                            <p>
                                                - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác
                                                nhau và hệ thống sẽ tự động lựa chọn ngẫu nhiên trong 2
                                                số tiền đó để gửi đến người nhận. Sau khi bạn hoàn tất
                                                việc gửi tiền mừng bàn và người nhận mới biết được số
                                                tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả
                                                bạn và người nhận;.
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn người nhận tiền mừng
                                        </h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn.
                                            Chọn người nhận tiền mừng bằng cách nhập số điện thoại
                                            hoặc tìm tên trong danh bạ
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập lời chúc của bạn (không bắt buộc)
                                        </h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng
                                            sinh nhật, tốt nghiệp, tri ân ...) có thể vuốt ngang hoặc
                                            bấm vào xem tất cả...
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn biểu tượng "Gửi tiền mừng"
                                        </h4>
                                        <div class="process__body-content">
                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="tab-pane  fade" id="menu1">
                    <div class="bank-select-bg">
                        <div
                                class="row align-items-center no-gutters justify-content-center"
                        >
                            <div class="col-12">
                                <div
                                        class="mb-3 d-none font-weight-bold text-uppercase text-gray text-center "
                                >
                                    Chọn ngân hàng liên kết
                                </div>

                                <div class="payment-list">
                                    <div class="payment-item">
                                        <input
                                                class="payment-check"
                                                type="radio"
                                                name="payOption"
                                                id="payvietcombank"
                                                value=""
                                                checked=""
                                        />
                                        <label for="payvietcombank">
                                            <div class="payment-icon ">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="icon"
                                                />
                                            </div>

                                            <span class="payment-cur">Vietcombank</span>
                                        </label>
                                    </div>

                                    <div class="payment-item">
                                        <input
                                                class="payment-check"
                                                type="radio"
                                                name="payOption"
                                                id="payBIDV"
                                                value=""
                                        />
                                        <label for="payBIDV">
                                            <div class="payment-icon ">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="icon"
                                                />
                                            </div>

                                            <span class="payment-cur">BIDV</span>
                                        </label>
                                    </div>

                                    <div class="payment-item">
                                        <input
                                                class="payment-check"
                                                type="radio"
                                                name="payOption"
                                                id="payAgribank"
                                                value=""
                                        />
                                        <label for="payAgribank">
                                            <div class="payment-icon ">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="icon"
                                                />
                                            </div>

                                            <span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% for item in range(0,5) %}

                                    <div class="payment-item">
                                        <input
                                                class="payment-check"
                                                type="radio"
                                                name="payOption"
                                                id=""
                                                value=""
                                        />
                                        <label for="">
                                            <div class="payment-icon ">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="icon"
                                                />
                                            </div>

                                            <span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-auto d-none">
                                <div class="bank-select">
                                    <div class="btn-group">
                                        <button
                                                type="button"
                                                class="btn btn-outline-info dropdown-toggle bank-select-btn"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                        >
                                            <img
                                                    src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img"
                                                    width="24"
                                            />

                                            Vietcombank
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="img"
                                                        width="24"
                                                />

                                                Vietcombank
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="img"
                                                        width="24"
                                                />

                                                BIDV
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="img"
                                                        width="24"
                                                />

                                                Agribank
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img
                                                        src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/37/37/373774ec-1882-4735-a22b-bee3eef62ace/vtb-logo-web.png__48x48_q95_crop_subsampling-2.png"
                                                        alt="img"
                                                        width="24"
                                                />

                                                VietinBank
                                            </a>
                                        </div>
                                    </div>

                                    <div class="bank-select-item"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="text-center d-block d-sm-none mb-2">
                        Hướng dẫn liên kết ngân hàng Vietcombank
                    </h4>

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <div class="manual-device">
                                <div class="manual-device-stock "></div>

                                <div class="manual-device-slide">
                                    <div class="swiper-container manual-device-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a
                                                        class="video-play-button popup-youtube"
                                                        href="https://www.youtube.com/watch?v=xr4wyxiH6bM"
                                                >
                                                    <span></span>
                                                </a>

                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                                    <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 order-1 order-lg-2">
                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời
                                            chúc ý nghĩa từ danh sách gợi ý của Momo.
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập số tiền bạn muốn gửi tới người nhận
                                        </h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa
                                                chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu
                                                1.000đ, tối đa 20.000.000đ), hoặc chọn 1 số tiền đẹp từ
                                                danh sách gợi ý của Momo
                                            </p>
                                            <p>
                                                - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác
                                                nhau và hệ thống sẽ tự động lựa chọn ngẫu nhiên trong 2
                                                số tiền đó để gửi đến người nhận. Sau khi bạn hoàn tất
                                                việc gửi tiền mừng bàn và người nhận mới biết được số
                                                tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả
                                                bạn và người nhận;.
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn người nhận tiền mừng
                                        </h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn.
                                            Chọn người nhận tiền mừng bằng cách nhập số điện thoại
                                            hoặc tìm tên trong danh bạ
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập lời chúc của bạn (không bắt buộc)
                                        </h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng
                                            sinh nhật, tốt nghiệp, tri ân ...) có thể vuốt ngang hoặc
                                            bấm vào xem tất cả...
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn biểu tượng "Gửi tiền mừng"
                                        </h4>
                                        <div class="process__body-content">
                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="tab-pane container fade" id="menu2">
                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <div class="manual-device">
                                <div class="manual-device-stock "></div>

                                <div class="manual-device-slide">
                                    <div class="swiper-container manual-device-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a
                                                        class="video-play-button popup-youtube"
                                                        href="https://www.youtube.com/watch?v=xr4wyxiH6bM"
                                                >
                                                    <span></span>
                                                </a>

                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>

                                            <div class="swiper-slide">
                                                <img
                                                        src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                        class="img-fluid"
                                                        alt=""
                                                />
                                            </div>
                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                                    <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 order-1 order-lg-2">
                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời
                                            chúc ý nghĩa từ danh sách gợi ý của Momo.
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập số tiền bạn muốn gửi tới người nhận
                                        </h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa
                                                chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu
                                                1.000đ, tối đa 20.000.000đ), hoặc chọn 1 số tiền đẹp từ
                                                danh sách gợi ý của Momo
                                            </p>
                                            <p>
                                                - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác
                                                nhau và hệ thống sẽ tự động lựa chọn ngẫu nhiên trong 2
                                                số tiền đó để gửi đến người nhận. Sau khi bạn hoàn tất
                                                việc gửi tiền mừng bàn và người nhận mới biết được số
                                                tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả
                                                bạn và người nhận;.
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn người nhận tiền mừng
                                        </h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn.
                                            Chọn người nhận tiền mừng bằng cách nhập số điện thoại
                                            hoặc tìm tên trong danh bạ
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Nhập lời chúc của bạn (không bắt buộc)
                                        </h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng
                                            sinh nhật, tốt nghiệp, tri ân ...) có thể vuốt ngang hoặc
                                            bấm vào xem tất cả...
                                        </div>
                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">
                                            Chọn biểu tượng "Gửi tiền mừng"
                                        </h4>
                                        <div class="process__body-content">
                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="feature-quaranty">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="text-center  font-weight-bold h1 title">
                    Ð?i tác thanh toán
                </h2>
            </div>
        </div>

        <div class="ft-doitac-container shadow-sm">
            <div class="row   ">
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-adsl%20fpt-181227150517.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="ADSL FPT">

                        <h4 class="ft-doitac-name font-weight-bold">
                            ADSL FPT
                        </h4>


                        <div class="text-gray">
                            <p style="text-align: justify;"><span style="font-size:14px;">Thanh toán du?c cho hóa don Internet ADSL c?a FPT trên ph?m vi toàn qu?c.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150059.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Toàn Qu?c">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Toàn Qu?c
                        </h4>


                        <div class="text-gray">
                            <p style="text-align: justify;"><span style="font-size:14px;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh/ MyTV cho VNPT toàn qu?c.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150157.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT H? Chí Minh">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT H? Chí Minh
                        </h4>


                        <div class="text-gray">
                            <p style="text-align: justify;"><span style="font-size:14px;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh/ MyTV c?a&nbsp;VNPT H? Chí Minh.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150119.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Hà N?i">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Hà N?i
                        </h4>


                        <div class="text-gray">
                            <p><span style="font-size: 14px; text-align: justify;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh/ MyTV c?a&nbsp;VNPT Hà N?i.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150124.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Ðà N?ng">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Ðà N?ng
                        </h4>


                        <div class="text-gray">
                            <p><span style="font-size: 14px; text-align: justify;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh/ MyTV c?a&nbsp;VNPT Ðà N?ng</span><span style="font-size: 14px; text-align: justify;">.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150129.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Qu?ng Ngãi">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Qu?ng Ngãi
                        </h4>


                        <div class="text-gray">

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150134.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Qu?ng Bình">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Qu?ng Bình
                        </h4>


                        <div class="text-gray">

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150139.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Qu?ng Nam">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Qu?ng Nam
                        </h4>


                        <div class="text-gray">

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150146.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Hu?">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Hu?
                        </h4>


                        <div class="text-gray">

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227150151.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="VNPT Ðaklak">

                        <h4 class="ft-doitac-name font-weight-bold">
                            VNPT Ðaklak
                        </h4>


                        <div class="text-gray">

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-stc-spt-181227151047.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="ADSL STC - SPT">

                        <h4 class="ft-doitac-name font-weight-bold">
                            ADSL STC - SPT
                        </h4>


                        <div class="text-gray">
                            <p><span style="font-size: 14px; text-align: justify;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh c?a ADSL STC - SPT.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-sst-nsg-181227151152.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="SST - Nam Sài Gòn">

                        <h4 class="ft-doitac-name font-weight-bold">
                            SST - Nam Sài Gòn
                        </h4>


                        <div class="text-gray">
                            <p style="text-align: justify;"><span style="font-size:14px;">Thanh toán du?c cho hóa don&nbsp;Internet/ Ði?n tho?i c? d?nh c?a&nbsp;SST - Nam Sài Gòn.</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-vnpt-181227151036.jpg" class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="Fiber VNN">

                        <h4 class="ft-doitac-name font-weight-bold">
                            Fiber VNN
                        </h4>


                        <div class="text-gray">
                            <p style="text-align: justify;"><span style="font-size:14px;">Thanh toán du?c d?ch v? tr? tru?c Internet FiberVNN - VNPT TP. H? Chí Minh.</span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-quaranty">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="text-center  font-weight-bold h1 title">
                    Đối tác thanh toán
                </h2>
            </div>
        </div>

        <div class="ft-doitac-container shadow-sm">
            <div class="row   ">
                {% for item in range(0,2) %}
                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-hcm-181227154244.jpg"
                             class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="Nước Hồ Chí Minh">

                        <h4 class="ft-doitac-name font-weight-bold">Nước Hồ Chí Minh
                        </h4>


                        <div class="text-gray">
                            Thanh toán được cho hóa đơn Nước của tất cả các khu vực Quận, Huyện thuộc TP. Hồ Chí Minh.
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-da_nang-181227154945.jpg"
                             class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="Nước Hồ Chí Minh">

                        <h4 class="ft-doitac-name font-weight-bold">Nước Đà Nẵng
                        </h4>


                        <div class="text-gray">
                            Thanh toán được cho hóa đơn Điện của tất cả các khu vực thuộc TP. Đà Nẵng.
                        </div>
                    </div>
                </div>


                <div class="col-6 col-lg-4">
                    <div class="ft-doitac">

                        <img src="https://static.mservice.io/img/momo-upload-api-can_tho-181227154253.jpg"
                             class="img-fluid d-block mx-auto normal ft-doitac-img" width="60" alt="Nước Hồ Chí Minh">

                        <h4 class="ft-doitac-name font-weight-bold">Nước Cần Thơ

                        </h4>


                        <div class="text-gray">
                            Công ty cổ phần CANTHOWASSCO.
                            Thanh toán được cho hóa đơn Nước của tất cả các khu vực TP. Cần Thơ.
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>


<div class="bg-white feature-padding ">
    <div class="container ">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Tin tức</strong> Liên quan</h4>
            <a href="#" class="section-title-more">
                Xem thêm
                <svg class="svg-icon ">
                    <use xlink:href="svg/svg.svg#svg-dot-matrix"></use>
                </svg>
            </a>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Tận hưởng từng khoảnh khắc cuộc sống với Mylife Coffee và
                                MoMo</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Có MoMo - Thanh toán Thẻ Vay Có MoMo: Đi taxi VINASUN không cần
                                tiền mặt</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Tận hưởng từng khoảnh khắc cuộc sống với Mylife Coffee và
                                MoMo</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Có MoMo - Thanh toán Thẻ Vay Có MoMo: Đi taxi VINASUN không cần
                                tiền mặt</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Tin tức</strong> Khuyến mãi</h4>
            <a href="#" class="section-title-more">
                Xem thêm
                <svg class="svg-icon ">
                    <use xlink:href="svg/svg.svg#svg-dot-matrix"></use>
                </svg>
            </a>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Tận hưởng từng khoảnh khắc cuộc sống với Mylife Coffee và
                                MoMo</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Có MoMo - Thanh toán Thẻ Vay Có MoMo: Đi taxi VINASUN không cần
                                tiền mặt</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Tận hưởng từng khoảnh khắc cuộc sống với Mylife Coffee và
                                MoMo</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img
                                data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                                class="embed-responsive-img lazyloaded"
                                alt=""
                                src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg"
                        />
                    </div>

                    <div class="new-item-content">
                        <h4 class="new-item-title">
                            <a href="tintuc-detail.html" class="link-black"
                            >Có MoMo - Thanh toán Thẻ Vay Có MoMo: Đi taxi VINASUN không cần
                                tiền mặt</a
                            >
                        </h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg>
                                0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img
                            src="images/tintuc/newsletter-icon.png"
                            class="img-fluid"
                            alt=""
                    />
                </div>
            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto">
                <div class="input-group newsletter-input">
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Nhập Email"
                            aria-label="Nhập Email"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
