{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hỏi đáp</li>
        </ol>
    </div>
</nav>


<div class="help-center-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center help-center-title font-weight-normal">
                    HỎI ĐÁP - HƯỚNG DẪN
                </h1>

                <div class="input-group ">
                    <div class="input-group-prepend">
                        <button class="btn btn-link bg-white" type="button">
                            <svg class="svg-icon  svg-icon-20 text-black-50">
                                <use xlink:href="svg/svg.svg#svg-search"></use>
                            </svg>
                        </button>
                    </div>
                    <input type="text" class="form-control form-control-lg border-0 help-center-input" placeholder="Chào bạn, Ví MoMo có thể giúp gì được cho bạn?"
                        aria-label="Chào bạn, Ví MoMo có thể giúp gì được cho bạn?">


                </div>
            </div>
        </div>




    </div>
</div>


<div class="bg-white help-center-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="help-center">

                    <h2 class="text-center h4 font-weight-bold text-primary ">CÂU HỎI THƯỜNG GẶP</h2>

                    <!-- Nav tabs -->
                    <ul class="scrollmenu nav help-center-nav">
                        <li class="scrollmenu-item">
                            <a class="nav-link active" data-toggle="tab" href="#menu1">Tổng quan</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Tài khoản</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Nạp/Rút tiền</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu4">Thanh toán</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu5">Khuyến mãi</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu6">Bảo mật</a>
                        </li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="menu1">

                            <div id="accordion" class="help-center-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                            Ví momo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động
                                            Trực tuyến
                                            (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để
                                            thanh toán
                                            cho
                                            hơn 200
                                            dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                                            <div class="help-center-a-social">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-auto">Chia sẻ</div>
                                                    <div class="col">
                                                        <ul class="list-inline mb-0 ml-2">
                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-facebook">
                                                                    <svg class="svg-icon svg-icon-20 ">
                                                                        <use xlink:href="svg/svg.svg#svg-facebook-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>

                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-google-plus">
                                                                    <svg class="svg-icon  svg-icon-20  ">
                                                                        <use xlink:href="svg/svg.svg#svg-google-plus-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-auto">
                                                        <a href="" class="help-center-a-detail"> <svg class="svg-icon">
                                                                <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                            </svg>
                                                            Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                            Tiền trong tài khoản MoMo có phải là tiền thật?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                            Sử dụng MoMo có mất phí không?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                            Tôi bị mất tiền trong tài khoản MoMo

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                            Số tài khoản MoMo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                            Số tài khỏan MoMo có an toàn?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane container fade" id="menu2">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>
                        <div class="tab-pane container fade" id="menu3">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu4">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu5">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu6">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>
                    </div>


                    <div class="block-more text-center mt-4">
                        <a href="" class="block-more-btn">
                            <span>
                                XEM TẤT CẢ
                            </span>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


<div class="help-answer-container">
    <div class="container">
        <h2 class="text-center h4 font-weight-bold text-primary ">CÂU HỎI THEO CHỦ ĐỀ</h2>
        <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar sit amet risus
            vel hendreri</h5>


        <div class="row md-gutters help-answer">
            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item ">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-1.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Thông tin cơ bản</h4>

                    <div class="help-answer-txt">
                        Dành cho người mới bắt đầu
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item ">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-2.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Quản lý ứng dụng và tài khoản</h4>

                    <div class="help-answer-txt">
                        Xác thực tài khoản, cài đặt và mật khẩu
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item ">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-3.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Nạp/rút tiền</h4>

                    <div class="help-answer-txt">
                        Qua tài khoản ngân hàng & Điểm Nạp/rút
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-4.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Thanh toán
                        và mua sắm</h4>

                    <div class="help-answer-txt">
                        Thanh toán và mua sắm
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-1.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Chuyển, nhận tiền</h4>

                    <div class="help-answer-txt">
                        Cách xử lý khi gặp sự cố
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-2.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Khuyến mãi</h4>

                    <div class="help-answer-txt">
                        Thẻ quà tặng, chương trình tích điểm đổi quà
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-3.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">Sự cố và khiếu nại</h4>

                    <div class="help-answer-txt">
                        Cách xử lý khi gặp sự cố
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-6 col-lg-3 help-answer-col">
                <div class="help-answer-item">

                    <div class="help-answer-img">
                        <img src="images/hoidap/answer-icon-4.png" class="img-fluid" alt="">
                    </div>

                    <h4 class="help-answer-name">An toàn bảo mật</h4>

                    <div class="help-answer-txt">
                        Chính sách và công nghệ bảo mật
                    </div>
                    <div class="help-answer-btn">
                        <a href="hoidap-chude.html" class="block-more-btn">
                            <span>
                                XEM NGAY
                            </span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<section class="help-more-container ">
    <div class="container">
        <div class="block-title text-center ">
            <div class="block-title-secure text-uppercase ">
                <div class="sa "></div>
                <div class="sa sa-right"></div>
                Momo có thể giúp gì được cho bạn ?
            </div>
        </div>



        <div class="row md-gutters">
            <div class="col-md-4 col-12 help-more-col">
                <div class="help-more-item">
                    <a href="" class="link-absolute"></a>
                    <div class="help-more-img">
                        <img src="images/hoidap/note.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <h4 class="help-more-name">Tôi muốn liên kết ngân hàng
                        phải làm sao?</h4>

                    <div class="help-more-txt">
                        Morbi sit amet metus eleifend lectus laoreet sodales
                        Ac non lorem Donec vulputate augue nisl
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-12 help-more-col">
                <div class="help-more-item">
                    <a href="" class="link-absolute"></a>
                    <div class="help-more-img">
                        <img src="images/hoidap/note.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <h4 class="help-more-name">Tôi muốn liên kết ngân hàng
                        phải làm sao?</h4>

                    <div class="help-more-txt">
                        Morbi sit amet metus eleifend lectus laoreet sodales
                        Ac non lorem Donec vulputate augue nisl
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-12 help-more-col">
                <div class="help-more-item">
                    <a href="" class="link-absolute"></a>
                    <div class="help-more-img">
                        <img src="images/hoidap/note.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <h4 class="help-more-name">Tôi muốn liên kết ngân hàng
                        phải làm sao?</h4>

                    <div class="help-more-txt">
                        Morbi sit amet metus eleifend lectus laoreet sodales
                        Ac non lorem Donec vulputate augue nisl
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>


<div class="help-contact-container ">
    <div class="container">
        <div class="help-contact">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <h2 class=" h4 font-weight-bold text-primary mb-4 ">LIÊN HỆ VỚI MOMO</h2>
                    <div class="mb-4">
                        Bạn đang gặp khó khăn cần được hỗ trợ hay cần đóng góp ý kiến cho bộ phận khách hàng? hãy liên
                        hệ với momo qua bộ phận chăm sóc khách hàng hoặc qua dịch vụ chat miễn phí. Chúng tôi sẽ giải
                        quyết vấn đề của bạn nhanh nhất có thể !
                    </div>

                    <div class="row no-gutters ">
                        <div class="col-12 col-sm-auto text-nowrap">
                            <div class="help-contact-hotline">
                                Hotline CSKH từ <strong>8:00 - 17:00 </strong>
                                <div class="mt-1">
                                    <a href="tel:1900 5454 41" class="block-more-btn auto facebook">
                                        <span>
                                            <svg class="svg-icon svg-icon-15 mr-2">
                                                <use xlink:href="#svg-phone"></use>
                                            </svg>
                                            GỌI NGAY
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-auto text-nowrap">
                            <div class="help-contact-hotline two">
                                Hướng dẫn trợ giúp trên
                                <div class="mt-1">
                                    <a href="tel:1900 5454 41" class="block-more-btn auto">
                                        <span>


                                            <svg class="svg-icon svg-icon-15 mr-2">
                                                <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                                            </svg>
                                            Ứng dụng Ví MoMo
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-auto text-nowrap">
                            <div class="help-contact-hotline two">
                                Email hỗ trợ
                                <div class="mt-1">
                                    <a class="font-weight-normal text-blue" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-12">
                    <img src="images/hoidap/contact-bg.png" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}