{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="hoidap.html">Hỏi đáp</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý ứng dụng và tài khoản</li>
        </ol>
    </div>
</nav>

<div class="help-topic-container">
    <div class="container">
        <div class="row no-gutters help-topic-border">
            <div class="col-12 col-lg-3 help-topic-border-right sticky-content">
                <div class="theiaStickySidebar">
                    {% include "layouts/hoidap-sidenav.html" %}
                </div>
            </div>

            <div class="col-12 col-lg-9 sticky-sidebar">
                <div class="theiaStickySidebar">

                    <div class="topic-wrapper">
                        <div class="topic-search d-none d-lg-block">
                            <form class="form-inline justify-content-end ">
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control border-0" placeholder="Tìm theo câu hỏi, chủ đề"
                                        aria-label="" aria-describedby="">
                                    <div class="input-group-append">
                                        <button class="btn btn-link bg-white" type="button">
                                            <svg class="svg-icon  svg-icon-20 text-black-50">
                                                <use xlink:href="svg/svg.svg#svg-search"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="topic-content">
                            <!-- <div class="topic-content-head">
                            <h1 class="topic-content-name font-weight-bold">Quản lý ứng dụng và tài khoản</h1>
                            <h4 class="topic-content-sub">Xác thực tài khoản, cài đặt và mật khẩu</h4>
                        </div> -->


                            <div class="topic-content-list">
                                <h2 class="topic-content-cat">Tải, xóa, cập nhập ứng dụng</h2>

                                <div class="topic-content-items">

                                    <div class="topic-content-item topic-content-promo">
                                        <a href="hoidap-chude-detail.html" class="link">



                                            <div class="name">
                                                <img src="images/action/favorite.svg" class="promo-icon" alt="" width="12">

                                                Khi gỡ bỏ ứng dụng trên điện thoại thì tiền trong tài khoản MoMo và
                                                thông tin giao dịch có bị
                                                mất hay không?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Cách cập nhật phiên bản ứng dụng MoMo mới nhất
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi có thể kiểm tra phiên bản ứng dụng MoMo ở đâu?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi bị khóa tài khoản
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi muốn thay đổi mật khẩu
                                            </div>


                                        </a>
                                    </div>
                                </div>

                            </div>


                            <div class="topic-content-list">
                                <h2 class="topic-content-cat">Đăng ký, đăng nhập và đổi tài khoản</h2>

                                <div class="topic-content-items">

                                    <div class="topic-content-item topic-content-promo">
                                        <a href="hoidap-chude-detail.html" class="link">



                                            <div class="name">
                                                <img src="images/action/favorite.svg" class="promo-icon" alt="" width="12">

                                                Khi gỡ bỏ ứng dụng trên điện thoại thì tiền trong tài khoản MoMo và
                                                thông tin giao dịch có bị
                                                mất hay không?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Cách cập nhật phiên bản ứng dụng MoMo mới nhất
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi có thể kiểm tra phiên bản ứng dụng MoMo ở đâu?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi bị khóa tài khoản
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi muốn thay đổi mật khẩu
                                            </div>


                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="topic-content-list">
                                <h2 class="topic-content-cat">Mật khẩu, xác thực tài khoản & emai </h2>

                                <div class="topic-content-items">

                                    <div class="topic-content-item topic-content-promo">
                                        <a href="hoidap-chude-detail.html" class="link">



                                            <div class="name">
                                                <img src="images/action/favorite.svg" class="promo-icon" alt="" width="12">

                                                Khi gỡ bỏ ứng dụng trên điện thoại thì tiền trong tài khoản MoMo và
                                                thông tin giao dịch có bị
                                                mất hay không?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Cách cập nhật phiên bản ứng dụng MoMo mới nhất
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi có thể kiểm tra phiên bản ứng dụng MoMo ở đâu?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi bị khóa tài khoản
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi muốn thay đổi mật khẩu
                                            </div>


                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-content-list">
                                <h2 class="topic-content-cat">Khóa, hủy, mở lại tài khoản</h2>

                                <div class="topic-content-items">

                                    <div class="topic-content-item topic-content-promo">
                                        <a href="hoidap-chude-detail.html" class="link">



                                            <div class="name">
                                                <img src="images/action/favorite.svg" class="promo-icon" alt="" width="12">

                                                Khi gỡ bỏ ứng dụng trên điện thoại thì tiền trong tài khoản MoMo và
                                                thông tin giao dịch có bị
                                                mất hay không?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Cách cập nhật phiên bản ứng dụng MoMo mới nhất
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi có thể kiểm tra phiên bản ứng dụng MoMo ở đâu?
                                            </div>
                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi bị khóa tài khoản
                                            </div>


                                        </a>
                                    </div>

                                    <div class="topic-content-item">
                                        <a href="hoidap-chude-detail.html" class="link">
                                            <div class="name">
                                                Tôi muốn thay đổi mật khẩu
                                            </div>


                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="block-more text-center mt-2 d-none">
                                <a href="" class="block-more-btn">
                                    <span>
                                        XEM THÊM
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}