{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="hoidap.html">Hỏi đáp</a></li>
            <li class="breadcrumb-item"><a href="hoidap-chude.html">Câu hỏi theo chủ đề</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý ứng dụng và tài khoản</li>
        </ol>
    </div>
</nav>

<div class="help-topic-container">
    <div class="container">
        <div class="row no-gutters help-topic-border">
            <div class="col-12 col-lg-3 help-topic-border-right sticky-content">
                <div class="theiaStickySidebar">
                    {% include "layouts/hoidap-sidenav.html" %}
                </div>
            </div>

            <div class="col-12 col-lg-9 sticky-sidebar">
                <div class="theiaStickySidebar">
                    <div class="topic-wrapper">
                        <div class="topic-search">
                            <a href="hoidap-chude.html" class="topic-search-back d-none d-lg-block">
                                <svg class="svg-icon ">
                                    <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                                </svg> Quay lại
                            </a>
                            <form class="form-inline justify-content-end ">
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control border-0" placeholder="Tìm theo câu hỏi, chủ đề"
                                        aria-label="" aria-describedby="">
                                    <div class="input-group-append">
                                        <button class="btn btn-link bg-white" type="button">
                                            <svg class="svg-icon  svg-icon-20 text-black-50">
                                                <use xlink:href="svg/svg.svg#svg-search"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="topic-content">
                            <div class="topic-content-head">
                                <h1 class="topic-content-name font-weight-bold">Tôi bị khóa tài khoản</h1>
                            </div>

                            <div class="topic-content-list">
                                <div class="topic-post">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget accumsan
                                        est,
                                        eu
                                        pellentesque sapien. Nunc sodales justo sit amet velit viverra, eleifend varius
                                        ligula
                                        rhoncus. Ut egestas metus ac neque fermentum, id gravida ipsum accumsan. Sed
                                        cursus
                                        leo
                                        in nisl posuere dignissim. Sed rhoncus maximus posuere. Quisque quis maximus
                                        massa,
                                        quis auctor arcu. Vivamus condimentum porta nunc, eget iaculis enim rutrum vel.
                                        Phasellus sit amet magna vel neque posuere dignissim. Ut iaculis facilisis
                                        purus.
                                        Duis
                                        id accumsan tellus. Aliquam aliquam neque eget efficitur tempor. Aliquam
                                        condimentum
                                        bibendum libero, vitae pellentesque dui porttitor non. Proin ex nulla, dapibus
                                        id
                                        ante
                                        nec, consectetur elementum magna. Nam at magna vel arcu euismod lobortis sed
                                        vitae
                                        leo.

                                    </p>

                                    <p>

                                        In pellentesque libero vel nisl aliquet, at tempor felis tempor. Curabitur a
                                        libero
                                        a
                                        ante ullamcorper sagittis. Donec aliquam ante sem, nec vestibulum augue posuere
                                        a.
                                        Vestibulum laoreet cursus orci ut dignissim. Proin elementum imperdiet gravida.
                                        Etiam

                                    </p>


                                    <p>
                                        <img src="images/hoidap/hinhmau.jpg" class="img-fluid d-block mx-center" alt="">
                                    </p>


                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget accumsan
                                        est,
                                        eu
                                        pellentesque sapien. Nunc sodales justo sit amet velit viverra, eleifend varius
                                        ligula
                                        rhoncus. Ut egestas metus ac neque fermentum, id gravida ipsum accumsan. Sed
                                        cursus
                                        leo
                                        in nisl posuere dignissim. Sed rhoncus maximus posuere. Quisque quis maximus
                                        massa,
                                        quis auctor arcu. Vivamus condimentum porta nunc, eget iaculis enim rutrum vel.
                                        Phasellus sit amet magna vel neque posuere dignissim. Ut iaculis facilisis
                                        purus.
                                        Duis
                                        id accumsan tellus. Aliquam aliquam neque eget efficitur tempor. Aliquam
                                        condimentum
                                        bibendum libero, vitae pellentesque dui porttitor non. Proin ex nulla, dapibus
                                        id
                                        ante
                                        nec, consectetur elementum magna. Nam at magna vel arcu euismod lobortis sed
                                        vitae
                                        leo.

                                    </p>

                                    <p>

                                        In pellentesque libero vel nisl aliquet, at tempor felis tempor. Curabitur a
                                        libero
                                        a
                                        ante ullamcorper sagittis. Donec aliquam ante sem, nec vestibulum augue posuere
                                        a.
                                        Vestibulum laoreet cursus orci ut dignissim. Proin elementum imperdiet gravida.
                                        Etiam

                                    </p>
                                </div>


                                <div class="topic-post-back">
                                    <a href="hoidap-chude.html" class="">
                                        <svg class="svg-icon ">
                                            <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                                        </svg> Quay lại
                                    </a>
                                </div>

                                <div class="topic-relative">
                                    <h4 class="topic-relative-title h5">Bài viết liên quan :</h4>
                                    <ul class="list-unstyled topic-relative-list mb-0">
                                        <li>
                                            <a href="">
                                                Tài khoản của tôi tự động đăng xuất <small class="text-body">(25/08/2018)</small></a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Thay đổi mật khẩu không thành công <small class="text-body">(14/08/2018)</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Yêu cầu nhập mật khẩu liên tục <small class="text-body">(11/08/2018)</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}