{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>


        </ol>


    </div>
</nav>


<div class="page-hero d-none" style="background-image: url('images/tintuc/tintuc-head-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center page-hero-title font-weight-normal">
                    LIÊN HỆ CÔNG TY
                </h1>

            </div>
        </div>

    </div>
</div>


<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19864.623539539858!2d-0.1407216728393208!3d51.51178603603532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb878e81b3%3A0x91f10fa364452046!2sCovent+Garden%2C+Londra+WC2E+8BG%2C+Regno+Unito!5e0!3m2!1sit!2ses!4v1538380105649"
    width="600" height="450" allowfullscreen id="map_iframe"></iframe>


<div class="container lienhe-container">
    <div class="row justify-content-center">

        <div class="col-xl-5 col-lg-6 pr-xl-5">
            <div class="main_title_3">
                <h2 class="mb-3">Gửi thông tin liên hệ</h2>
            </div>
            <form method="post" action="" id="contactform" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Họ và tên </label>
                            <input class="form-control" type="text" name="name_contact">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email </label>
                            <input class="form-control" type="email" name="lastname_contact">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input class="form-control" type="text" name="email_contact">
                        </div>
                    </div>
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input class="form-control" type="text" name="phone_contact">
                        </div>
                    </div>
                </div>
                <!-- /row -->
                <div class="form-group">
                    <label>Nội dung liên hệ</label>
                    <textarea class="form-control" id="message_contact" name="message_contact"
                        style="height:150px;"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Are you human? 3 + 1 =</label>
                            <input class="form-control" type="text" id="verify_contact" name="verify_contact">
                        </div>
                    </div>
                </div>
                <div class="mt-3"><input type="submit" value="Gửi thông tin" class="btn btn-primary"
                        id="submit-contact"></div>
            </form>
        </div>
        <div class="col-xl-5 col-lg-6 pl-xl-5">
            <div class="box_contacts">
                <img src="images/linehe/question.svg" width="46" class="d-block mx-auto" alt="">
                <h2>Cần hỗ trợ ?</h2>
                <div>
                    <div class="footer-btn-app light">
                        <a target="_blank"
                            href="https://momo.vn/huong-dan/huong-dan-gui-yeu-cau-ho-tro-bang-tinh-nang-tro-giup"
                            class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="mr-2">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fba-1">
                                    Hướng dẫn trợ giúp
                                </div>

                                <div class="fba-2">
                                    Trên ứng dụng
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="tel: 1900 5454 41">1900 5454 41</a> - <a href="mailto:hotro@momo.vn">hotro@momo.vn</a>
            </div>

            <div class="box_contacts">
                <img src="images/linehe/house.svg" width="46" class="d-block mx-auto" alt="">

                <h2>Địa chỉ</h2>

                <div class="text-left">
                    <h5 class="text-primary">Tại TP Hồ Chí Minh</h5>
                    <div>
                        Tầng M, tòa nhà PetroLand - 12 Tân Trào, Q.7, TP HCM
                    </div>
                    <div>
                        Tel: <a href="">+84 8 5414 7667</a>
                    </div>

                    <div>
                        Fax: <a href="">+84 8 5414 7557</a>
                    </div>

                    <hr>

                    <h5 class="text-primary">Tại Hà Nội:</h5>
                    <div>
                        Tầng 5, Tòa nhà HiPT, Số 152 Thụy Khuê, Tây Hồ, Hà Nội
                    </div>
                    <div>
                        Tel: <a href="">+84 4 37739898</a>
                    </div>


                    <hr>
                    <h5 class="text-primary">Tại Đà Nẵng:</h5>
                    <div>
                        25 Nguyễn Văn Linh, Q. Hải Châu
                    </div>
                    <div>
                        Tel: <a href="">+84 5 113582582</a>
                    </div>

                    <div>
                        Fax: <a href="">+84 5 113586685</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto">
                <div class="input-group newsletter-input">
                    <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}