{% extends 'layouts/microsite.html' %}
{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="lixi-wrapper">

    <div class="lixi-hero">
        <img src="images/lixi/lixi-hero1.png" class="img-fluid mx-auto  d-none d-lg-block" alt="">

        <img src="images/lixi/lixi-hero1.png" class="img-fluid mx-auto d-block d-lg-none" alt="">


        <!--<div class="lixi-longden">-->
        <!--<img src="images/lixi/longden-double.png" class="d-block mx-auto" alt="">-->
        <!--</div>-->
    </div>

    <div class="container mt-4">
        <div class="lixi-quote rounded" style="background-image: url('images/lixi/bg-quote.png')">
            <div class="text-white font-weight-normal">Khách hàng mới Ví MoMo</div>
        </div>
    </div>


    <div class="container mt-4">
        <div style="overflow: hidden">
            <ul class="nav nav-pills nav-justified lixi-tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Lắc lì xì</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Gửi lì xì</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Đòi lì xì</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Giật lì xì</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Mã lì xì</a>
                </li>
            </ul>
        </div>
        <div class="tab-content bg-white p-4" id="myTabContent">
            <div class="tab-pane fade show active pt-4 pb-4" id="home" role="tabpanel" aria-labelledby="home-tab">


                <div class="row manual-device-swiper-container">
                    <div class="col-12 col-lg-6 order-2 order-lg-1">


                        <div class="manual-device">

                            <div class="manual-device-stock ">

                            </div>

                            <div class="manual-device-slide">

                                <div class="swiper-container manual-device-swiper">


                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">

                                            <a class="video-play-button popup-youtube"
                                               href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                <span></span>
                                            </a>


                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>
                                        <div class="swiper-slide">

                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>


                                        <div class="swiper-slide">
                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>


                                        <div class="swiper-slide">
                                            <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                 class="img-fluid" alt="">
                                        </div>

                                    </div>
                                    <!-- Add Navigation -->
                                    <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                    <div class="swiper-button-next swiper-button-white"></div> -->
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-lg-6 order-1 order-lg-2">


                        <ol class="process list-unstyled manual-process">
                            <li class="process_item active">
                                <div class="process__number">
                                    <span>1</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Xác nhận</h4>
                                    <div class="process__body-content">
                                        Kiểm tra thông tin và bấm "Xác nhận"
                                    </div>
                                </div>
                            </li>
                            <li class="process_item">
                                <div class="process__number">
                                    <span>2</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập lời chúc</h4>

                                    <div class="process__body-content">
                                        Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                        danh sách gợi ý của Momo.
                                    </div>

                                </div>
                            </li>
                            <li class="process_item">
                                <div class="process__number">
                                    <span>3</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                    <div class="process__body-content">
                                        <p>
                                            Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                        </p>
                                        <p>
                                            - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                            20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                        </p>
                                        <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                            sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                            nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                            biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                            và người nhận;.</p>


                                    </div>

                                </div>
                            </li>


                            <li class="process_item">
                                <div class="process__number">
                                    <span>4</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                    <div class="process__body-content">
                                        Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                        tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                    </div>

                                </div>
                            </li>


                            <li class="process_item">
                                <div class="process__number">
                                    <span>5</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                    <div class="process__body-content">
                                        Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                        nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                    </div>


                                </div>
                            </li>

                            <li class="process_item">
                                <div class="process__number">
                                    <span>6</span>
                                </div>
                                <div class="process__body">
                                    <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                    <div class="process__body-content">

                                        Kiểm tra lại thông tin và bấm "Xác nhận"
                                    </div>

                                </div>
                            </li>
                        </ol>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            </div>
        </div>

    </div>


    <div class="container mt-4">
        <div style="overflow: hidden">
            <ul class="nav nav-pills  lixi-tab">
                <li class="nav-item">
                    <a class="nav-link active px-4">Đối tác chương trình</a>
                </li>

            </ul>
        </div>

        <div class="bg-white mb-4">


            <div class="lixi-taitro">
                <a href="" class="link-absolute" data-toggle="modal" data-target="#exampleModal"></a>
                {% for item in range(0,4) %}
                <div class="lixi-taitro-item">
                    <img src="images/lixi/logo1.png" class="img-fluid d-block mx-auto" alt="">
                </div>

                <div class="lixi-taitro-item">
                    <img src="images/lixi/logo2.png" class="img-fluid d-block mx-auto" alt="">
                </div>
                {% endfor %}

            </div>


        </div>
    </div>


    <div class="container mt-4">
        <div style="overflow: hidden">
            <ul class="nav nav-pills  lixi-tab">
                <li class="nav-item">
                    <a class="nav-link active px-4">Đối tác chương trình</a>
                </li>

            </ul>
        </div>

        <div class="bg-white mb-4">


            <div class="lixi-taitro">
                <a href="" class="link-absolute" data-toggle="modal" data-target="#exampleModal"></a>
                {% for item in range(0,4) %}
                <div class="lixi-taitro-item2">
                    <img src="images/lixi/logo1.png" class="img-fluid d-block mx-auto" alt="">
                </div>

                <div class="lixi-taitro-item2">
                    <img src="images/lixi/logo2.png" class="img-fluid d-block mx-auto" alt="">
                </div>
                {% endfor %}

            </div>


        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nhà tài trợ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="https://www.phuclong.com.vn/timthumb.php?src=/images/logo_1.png&w=70&h=53&zc=1&q=80&s=1" alt="">
                            </div>
                            <div class="col-md-6 ">
                                <p>
                                    Trong suốt quá trình hoạt động và phát triển, đội ngũ quản lý và nhân viên của Phúc Long Coffee & Tea, qua bao thế hệ, đã cùng nhau xây dựng, nuôi dưỡng niềm đam mê dành cho trà & cà phê với mong muốn được thử thách bản thân trong ngành dịch vụ năng động và sáng tạo.


                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <div class="container mb-4 ">
        <div class=" bg-white">
            <div class="promo-block-title text-white text-uppercase h4 text-center promo-block-lixi">
                Thể lệ chương trình
            </div>

            <div id="promotionThele" class="help-center-accordion promotion-accordion">


                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                            Đối tượng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele1" class="collapse show" data-parent="#promotionThele">
                        <div class="card-body">
                            Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành Android hoặc iOS. Có tài khoản
                            ngân
                            hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank, OCB, Eximbank, VIB, thẻ nội
                            địa
                            Sacombank, Shinhan Bank hoặc SCB.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele2">
                            Điều kiện tham gia

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele2" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele3">
                            Các bước thực hiện

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele3" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele4">
                            Cơ cấu quà tặng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele4" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele5">
                            Quy định về thẻ quà tặng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele5" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row pt-4 pb-4">
                <div class="col-12 col-xl-8 offset-xl-2">
                    <div class="help-center">

                        <h2 class="text-center h4 font-weight-bold text-primary ">CÂU HỎI THƯỜNG GẶP</h2>

                        <!-- Nav tabs -->
                        <ul class="scrollmenu nav help-center-nav">
                            <li class="scrollmenu-item">
                                <a class="nav-link active" data-toggle="tab" href="#menu1">Thể lệ chương trình</a>
                            </li>
                            <li class="scrollmenu-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">Cách nhận thưởng</a>
                            </li>
                            <li class="scrollmenu-item">
                                <a class="nav-link" data-toggle="tab" href="#menu3">Giỏ quà hơn 1 triệu</a>
                            </li>

                            <li class="scrollmenu-item">
                                <a class="nav-link" data-toggle="tab" href="#menu4">Cách sử dụng quà</a>
                            </li>
                            <!--
                                                    <li class="scrollmenu-item">
                                                        <a class="nav-link" data-toggle="tab" href="#menu4">Cách sử dụng quà</a>
                                                    </li> -->


                        </ul>


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="menu1">

                                <div id="accordion" class="help-center-accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                                Ví momo là gì?

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">
                                                Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di
                                                động
                                                Trực tuyến
                                                (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản
                                                MoMo để
                                                thanh toán
                                                cho
                                                hơn 200
                                                dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                                                <div class="help-center-a-social">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-auto">Chia sẻ</div>
                                                        <div class="col">
                                                            <ul class="list-inline mb-0 ml-2">
                                                                <li class="list-inline-item">
                                                                    <a href="" class=" text-facebook">
                                                                        <svg class="svg-icon svg-icon-20 ">
                                                                            <use xlink:href="svg/svg.svg#svg-facebook-circle"></use>
                                                                        </svg>
                                                                    </a>
                                                                </li>

                                                                <li class="list-inline-item">
                                                                    <a href="" class=" text-google-plus">
                                                                        <svg class="svg-icon  svg-icon-20  ">
                                                                            <use xlink:href="svg/svg.svg#svg-google-plus-circle"></use>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-auto">
                                                            <a href="" class="help-center-a-detail">
                                                                <svg class="svg-icon">
                                                                    <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                                </svg>
                                                                Xem chi tiết</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse"
                                               href="#collapseTwo">
                                                Tiền trong tài khoản MoMo có phải là tiền thật?

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h5>Chưa cập nhập nội dung ...</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse"
                                               href="#collapseThree">
                                                Sử dụng MoMo có mất phí không?

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h5>Chưa cập nhập nội dung ...</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse"
                                               href="#collapseFour">
                                                Tôi bị mất tiền trong tài khoản MoMo

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h5>Chưa cập nhập nội dung ...</h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse"
                                               href="#collapseFive">
                                                Số tài khoản MoMo là gì?

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h5>Chưa cập nhập nội dung ...</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse"
                                               href="#collapseSix">
                                                Số tài khỏan MoMo có an toàn?

                                                <span class="card-link-icon minus">-</span>
                                                <span class="card-link-icon plus">+</span>
                                            </a>
                                        </div>
                                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h5>Chưa cập nhập nội dung ...</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane container fade" id="menu2">
                                <h4>Đang cập nhập nội dung</h4>
                            </div>
                            <div class="tab-pane container fade" id="menu3">
                                <h4>Đang cập nhập nội dung</h4>
                            </div>

                            <div class="tab-pane container fade" id="menu4">
                                <h4>Đang cập nhập nội dung</h4>
                            </div>


                        </div>


                    </div>
                </div>
            </div>



        </div>

    </div>


</div>

{% endblock %}