{% extends 'layouts/microsite.html' %}
{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="lixi-wrapper">

    <div class="lixi-hero">
        <img src="images/lixi/lixi-hero1.png" class="img-fluid mx-auto  d-none d-lg-block" alt="">

        <img src="images/lixi/lixi-hero1.png" class="img-fluid mx-auto d-block d-lg-none" alt="">


        <!--<div class="lixi-longden">-->
        <!--<img src="images/lixi/longden-double.png" class="d-block mx-auto" alt="">-->
        <!--</div>-->
    </div>


    <div class="container mt-4 mb-2">
        <img src="images/lixi/bangxephang.png" class="img-fluid mx-auto d-block" alt="">
    </div>

    <div class="container mt-4">
        <div style="overflow: hidden">
            <ul class="nav nav-pills nav-justified lixi-tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Tuần 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Tuần 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Tuần 3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Tuần 4</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Tuần 5</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Tuần 6</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Tuần 7</a>
                </li>


            </ul>
        </div>
        <div class="tab-content bg-white " id="myTabContent">
            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">

                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 70px">Hạng</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Lượt</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in range(0,10) %}
                    <tr>
                        <th scope="row">  {{loop.index}} </th>
                        <td>Nguyễn Văn A</td>
                        <td>****1234</td>
                        <td>1</td>
                    </tr>

                    {% endfor %}


                    </tbody>
                </table>


            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            </div>
        </div>

    </div>


</div>


{% endblock %}