{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}




{% block content %}


<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body maillist">
                    <div class=" maillist-title">Chúng tôi quan tâm đến bạn, và vì vậy để Ví MoMo hiểu bạn hơn.</div>
                    <br>
                    <div class="maillist-sub mb-3">
                        Bạn vui lòng chọn các dịch vụ quan tâm :
                    </div>
                    {% set mailList = [
                        {
                          
                            "title" : "Cafe/Dessert"
                    
                        },
                        {
                          
                            "title" : "Nhà hàng"
                    
                        },
                        {
                          
                            "title" : "Giải trí"
                    
                        },
                        {
                          
                            "title" : "Mua sắm"
                    
                        },
                        {
                          
                            "title" : "Siêu thị"
                    
                        },
                        {
                          
                            "title" : "Du lịch"
                        
                            }
                ]
                
                %}

                    <div class="maillist-item-container">
                        {% for item in mailList %}
                        <div class="maillist-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{loop.index}}">
                                <label class="custom-control-label" for="customCheck{{loop.index}}">

                                    <h4 class="maillist-item-name">{{item.title}}</h4>

                                    <div class=" maillist-item-txt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </label>
                            </div>
                        </div>

                        {% endfor %}



                    </div>

                    <div class="text-right mt-3 ">
                        <a href="#" class="btn link-gray font-weight-bold btn-link mr-3">Hủy</a>
                        <a href="#" class="btn btn-primary font-weight-bold">Đăng ký</a>

                    </div>




                </div>
            </div>
        </div>
    </div>

</div>


<br>
<br>


{% endblock %}