{% extends 'layouts/microsite-layout.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}


{% endblock %}

{% block content %}

{% include "layouts/mapbank-style.html" %}

<div class="wrapper" style="padding-top: 0px !important; transform: none;">
    <div class="post-wrapper" style="transform: none;">
        <div class="container" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-12 col-lg-8 sticky-content"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar"
                         style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                        <article>
                            <div class="post-body">
                                <div class="full-content">

                                    <div class="mapbank-container">

                                        <div class="mapbank">

                                            <div class="mb-4">
                                                Đây là những ngân hàng có hợp tác và liên kết trực tiếp với Ví MoMo
                                            </div>


                                            <div class="mapbank-feature">
                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_gift-190327102500.png" class="mapbank-feature-img img-free" width="43" alt="">
                                                    <!--<img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_gift%202-190327101513.png" class="mapbank-feature-img img-free" width="43" alt="">-->

                                                    <div class="mapbank-feature-name">
                                                        Ưu đãi hấp dẫn
                                                    </div>
                                                    <div class="para">
                                                        Tặng đến 300.000đ thanh toán các dịch vụ trên MoMo (áp dụng cho
                                                        khách hàng nạp tiền lần đầu)
                                                    </div>
                                                    <div class="para">
                                                        Miễn phí nạp tiền và không tốn phí thường niên
                                                    </div>

                                                    <div class="para">
                                                        Chiết khấu nạp điện thoại đến 5%, tích điểm thưởng - đổi quà
                                                        tặng, ưu đãi mua vé xem phim, mua sắm thỏa thích,...
                                                    </div>

                                                </div>


                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_safe-190327102811.png" class="mapbank-feature-img img-free" width="43" alt="">

                                                    <div class="mapbank-feature-name">
                                                        An toàn tuyệt đối
                                                    </div>
                                                    <div class="para">
                                                        Mọi thông tin đều được mã hóa an toàn, không lưu thông tin thẻ

                                                    </div>
                                                    <div class="para">
                                                        Bảo mật đa tầng, đạt chuẩn bảo mật quốc tế

                                                    </div>



                                                </div>


                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_time-190327102855.png" class="mapbank-feature-img img-free" width="43" alt="">

                                                    <div class="mapbank-feature-name">
                                                        Nạp - Chuyển - Rút tiền 24/7
                                                    </div>
                                                    <div class="para">
                                                        Nạp - chuyển - rút tiền nhanh chóng, tiện lợi, hoàn toàn miễn phí

                                                    </div>
                                                    <div class="para">
                                                        Hỗ trợ 24/7, mọi lúc mọi nơi


                                                    </div>

                                                    <div class="para">
                                                        Rút tiền về Ngân hàng liên kết miễn phí 3 lần/tháng
                                                    </div>



                                                </div>
                                            </div>

                                        </div>


                                        <div class="mapbank-footer">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}