{% extends 'layouts/microsite-layout.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}


{% endblock %}

{% block content %}

{% include "layouts/mapbank-style.html" %}

<div class="wrapper" style="padding-top: 0px !important; transform: none;">
    <div class="post-wrapper" style="transform: none;">
        <div class="container" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-12 col-lg-8 sticky-content"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar"
                         style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                        <article>
                            <div class="post-body">
                                <div class="full-content">

                                    <div class="mapbank-container">

                                        <div class="mapbank">

                                            <div class="mb-4">
                                                Hỗ trợ thanh toán cho tất cả các thẻ. Sử dụng tiền mặt để nạp tiền vào Ví MIỄN PHÍ tại hơn 5.000 điểm nạp rút của MoMo trên toàn quốc.

                                            </div>


                                            <div class="mapbank-feature">
                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_tick-190327104614.png" class="mapbank-feature-img img-free" width="43" alt="">

                                                    <div class="mapbank-feature-name">
                                                        Lợi ích tuyệt vời
                                                    </div>

                                                    <div class="para">
                                                        Tiện lợi - Dễ dàng - Nhanh chóng
                                                    </div>


                                                </div>


                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_gift%202-190327104743.png" class="mapbank-feature-img img-free" width="43" alt="">

                                                    <div class="mapbank-feature-name">
                                                        Ưu đãi hấp dẫn
                                                    </div>
                                                    <div class="para">
                                                        Chiết khấu nạp điện thoại đến 5%

                                                    </div>
                                                    <div class="para">
                                                        Ưu đãi mua vé xem phim, tích điểm thưởng - đổi quà tặng,...


                                                    </div>



                                                </div>


                                             
                                            </div>

                                            <div>

                                                <strong class="d-block">Lưu ý:</strong>

                                                Theo quy định của Ngân hàng Nhà nước, để thực hiện thanh toán trên ví điện tử, bạn cần thêm thông tin ngân hàng, thẻ ATM nội địa hoặc thẻ ghi nợ quốc tế Visa/Master hoặc JCB.
                                            </div>

                                        </div>


                                        <div class="mapbank-footer">
                                            <a href="momo://?source=mobileweb&amp;action=market&amp;refId=MainNonBankToBank" class="mapbank-cta">
                                                Thêm thông tin ngay
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}