{% extends 'layouts/microsite-layout.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}


{% endblock %}

{% block content %}
{% include "layouts/mapbank-style.html" %}


<div class="wrapper" style="padding-top: 0px !important; transform: none;">
    <div class="post-wrapper" style="transform: none;">
        <div class="container" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-12 col-lg-8 sticky-content"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar"
                         style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                        <article>
                            <div class="post-body">
                                <div class="full-content">

                                    <div class="mapbank-container">

                                        <div class="mapbank">

                                            <div class="mb-4">
                                                Hỗ trợ thanh toán cho tất cả các thẻ. Đối với thẻ Credit Card, Prepaid Card, Master Debit (5485 66), MoMo không hỗ trợ nạp tiền vào Ví (phí 2.200đ + 1,5% /lần nạp)
                                            </div>


                                            <div class="mapbank-feature">
                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_gift-190327102500.png" class="mapbank-feature-img img-free" width="43" alt="">
                                                    <!--<img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_gift%202-190327101513.png" class="mapbank-feature-img img-free" width="43" alt="">-->

                                                    <div class="mapbank-feature-name">
                                                        Ưu đãi hấp dẫn
                                                    </div>
                                                    <div class="para">
                                                        Chiết khấu nạp điện thoại đến 5%

                                                    </div>
                                                    <div class="para">
                                                        Ưu đãi mua vé xem phim, tích điểm thưởng - đổi quà tặng,...
                                                    </div>


                                                </div>


                                                <div class="mapbank-feature-item">

                                                    <img src="https://static.mservice.io/blogscontents/momo-upload-api-ic_safe-190327102811.png" class="mapbank-feature-img img-free" width="43" alt="">

                                                    <div class="mapbank-feature-name">
                                                        An toàn tuyệt đối
                                                    </div>
                                                    <div class="para">
                                                        Mọi thông tin đều được mã hóa an toàn, không lưu thông tin thẻ

                                                    </div>
                                                    <div class="para">
                                                        Bảo mật đa tầng, đạt chuẩn bảo mật quốc tế

                                                    </div>



                                                </div>


                                             
                                            </div>

                                        </div>


                                        <div class="mapbank-footer">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}