{% extends 'layouts/application.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}



{% endblock %}

{% block content %}
{% include "layouts/mobile.html" %}

<div class="promo-slider">
    <div class="swiper-container swiper-promo-slider">

        <div class="swiper-wrapper">


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background d-none d-md-block" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>

                        <div class="background d-block d-md-none" style="background-image:url(images/promotion/promo-bg1-mobile.jpg); background-position: right bottom"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto d-none d-md-block">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn download-btn-apple mb-1 mb-sm-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn  download-btn-android shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn mb-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white container text-right"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>


        <div class="mouse-wrapper">
            <div class="mouse">
                <div class="mouse-scroll"></div>
            </div>
        </div>
    </div>

</div>



<div class="promo-quote-container " style="background-image: url(images/promotion/quote-bg.png)">
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col col-sm-auto">
                <div class="promo-quote text-right">
                    <h2 class="promo-quote-title font-weight-normal ">Thích thì ... xem phim GALAXY thôi!</h2>
                    <div class="h4 mb-0 font-weight-light text-white promo-quote-sub">
                        Tặng ngay hai vé xem phim Galaxy giá chỉ
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-auto">
                <img src="images/promotion/1d.png" class="img-fluid mx-2 promo-quote-img" width="64" alt="">
            </div>
        </div>
    </div>
</div>

<div class=" bg-white pt-0 pb-4">
    <div class="promo-combo-container  pt-2 pt-sm-4">

        <div class="container">
            <div class="promo-block">
                <div class="promo-block-title text-white text-uppercase h4 text-center">
                    combo quà tặng từ galaxy Tổng giá trị 1.000.000đ
                </div>

                <div class="promo-content">

                    <div class="promo-features">
                        {% for item in range(0,3) %}
                        <div class="promo-feature-item">

                            <a href="" class="link-absolute"></a>


                            <div class="promo-feature embed-responsive ">

                                <div class="promo-feature-overlay">
                                    <h4 class="mb-0 font-weight-normal text-white">Điều kiện sử dụng</h4>
                                </div>

                                <div class="promo-feature-img">
                                    <img src="images/promotion/tt1d-galaxy.png" class="img-fluid d-block mx-auto" alt="">
                                </div>
                            </div>

                            <div class="promo-feature-badge embed-responsive">
                                <div class="embed-responsive-item">
                                    <div class="row no-gutters align-items-center content">
                                        <div class="col txt">
                                            Khách hàng chỉ thanh toán
                                        </div>
                                        <div class="col-auto thumb" class="">
                                            <img src="images/promotion/tt1d-text.png" class="img-fluid d-block mx-auto"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="promo-feature-content h5 mb-0">
                                <div class="text-secondary txt1 ">
                                    Refill bắp nước Galaxy
                                </div>
                                <h3 class="text-danger txt2">Trị giá: 50.000 đồng</h3>

                            </div>
                        </div>


                        {% endfor %}

                    </div>


                    <div class="promo-gift mt-1 mt-sm-4">
                        {% for item in range(0,8) %}
                        <div class="promo-feature-item">

                            <a href="" class="link-absolute"></a>


                            <div class="promo-feature embed-responsive ">

                                <div class="promo-feature-overlay">
                                    <h4 class="mb-0 font-weight-normal text-white">Điều kiện sử dụng</h4>
                                </div>

                                <div class="promo-feature-img">
                                    <img src="images/promotion/circle-k.png" class="img-fluid d-block mx-auto" alt="">
                                </div>
                            </div>

                            <div class="promo-feature-badge embed-responsive">
                                <div class="embed-responsive-item">
                                    <div class="row no-gutters align-items-center content">
                                        <div class="col txt">
                                            Khách hàng chỉ thanh toán
                                        </div>
                                        <div class="col-auto thumb" class="">
                                            <img src="images/promotion/tt1d-text.png" class="img-fluid d-block mx-auto"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="promo-feature-content h5 mb-0">
                                <div class="text-secondary txt1 ">
                                   Thẻ quà Phúc Long
                                </div>
                                <h3 class="text-danger txt2">Trị giá: 50.000 đồng</h3>

                            </div>
                        </div>
                        {% endfor %}
                    </div>







                </div>
            </div>
        </div>

    </div>


    <div class="bg-white pt-2 pt-sm-4">
        <div class="container">
            <div class="promo-block-title text-white text-uppercase h4 text-center">
                Thể lệ
            </div>

            <div id="promotionThele" class="help-center-accordion promotion-accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                            Đối tượng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele1" class="collapse show" data-parent="#promotionThele">
                        <div class="card-body">
                            Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành Android hoặc iOS. Có tài khoản
                            ngân
                            hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank, OCB, Eximbank, VIB, thẻ nội
                            địa
                            Sacombank, Shinhan Bank hoặc SCB.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele2">
                            Điều kiện tham gia

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele2" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele3">
                            Các bước thực hiện

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele3" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele4">
                            Cơ cấu quà tặng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele4" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#promotionThele5">
                            Quy định về thẻ quà tặng

                            <span class="card-link-icon minus">-</span>
                            <span class="card-link-icon plus">+</span>
                        </a>
                    </div>
                    <div id="promotionThele5" class="collapse" data-parent="#promotionThele">
                        <div class="card-body">
                            <div>Chưa cập nhập nội dung ...</div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>



<div class="promotion-how" style="background-image: url(images/promotion/huongdan-bg.jpg)">

    <!-- Tab panes -->
    <div class=" pt-4 pb-4">

        <div class="container">

            <h2 class="text-center text-uppercase text-white mt-4 mb-4 promotion-how-title">hướng dẫn cách nhận và sử
                dụng gói quà tặng</h2>


            <nav class="nav manual-page-tab" role="tablist">
                <a class="nav-link nav-item active" data-toggle="pill" href="#home">Cài đặt ví Momo</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Liên kết ngân hàng</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Chuyển tiền mừng</a>

                <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Cài đặt email</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Thanh toán điện nước</a>
            </nav>



            <div class="tab-content">
                <div class="tab-pane  active" id="home">

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">


                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                        <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="tab-pane  fade" id="menu1">
                    <div class="bank-select-bg">
                        <div class="row align-items-center no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="mb-3 d-none font-weight-bold text-uppercase text-gray text-center ">
                                    Chọn ngân hàng liên kết
                                </div>

                                <div class="payment-list">

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payvietcombank" value="" checked="">
                                        <label for="payvietcombank">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Vietcombank</span>
                                        </label>
                                    </div>

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payBIDV" value="">
                                        <label for="payBIDV">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">BIDV</span>
                                        </label>
                                    </div>

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payAgribank" value="">
                                        <label for="payAgribank">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% for item in range(0,5) %}

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="" value="">
                                        <label for="">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% endfor %}



                                </div>
                            </div>
                            <div class="col-auto d-none">
                                <div class="bank-select">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-info dropdown-toggle bank-select-btn"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                alt="img" width="24">

                                            Vietcombank
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                Vietcombank
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                BIDV
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                Agribank
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/37/37/373774ec-1882-4735-a22b-bee3eef62ace/vtb-logo-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                VietinBank
                                            </a>


                                        </div>
                                    </div>


                                    <div class="bank-select-item">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="text-center d-block d-sm-none mb-2">
                        Hướng dẫn liên kết ngân hàng Vietcombank
                    </h4>

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">



                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="tab-pane container fade" id="menu2">

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">


                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>





<div class="bg-white help-center-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="help-center">

                    <h2 class="text-center h4 font-weight-bold text-primary ">CÂU HỎI THƯỜNG GẶP</h2>

                    <!-- Nav tabs -->
                    <ul class="scrollmenu nav help-center-nav">
                        <li class="scrollmenu-item">
                            <a class="nav-link active" data-toggle="tab" href="#menu1">Thể lệ chương trình</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Cách nhận thưởng</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Giỏ quà hơn 1 triệu</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu4">Cách sử dụng quà</a>
                        </li>
<!--
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu4">Cách sử dụng quà</a>
                        </li> -->


                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="menu1">

                            <div id="accordion" class="help-center-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                            Ví momo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động
                                            Trực tuyến
                                            (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để
                                            thanh toán
                                            cho
                                            hơn 200
                                            dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                                            <div class="help-center-a-social">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-auto">Chia sẻ</div>
                                                    <div class="col">
                                                        <ul class="list-inline mb-0 ml-2">
                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-facebook">
                                                                    <svg class="svg-icon svg-icon-20 ">
                                                                        <use xlink:href="svg/svg.svg#svg-facebook-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>

                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-google-plus">
                                                                    <svg class="svg-icon  svg-icon-20  ">
                                                                        <use xlink:href="svg/svg.svg#svg-google-plus-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-auto">
                                                        <a href="" class="help-center-a-detail"> <svg class="svg-icon">
                                                                <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                            </svg>
                                                            Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                            Tiền trong tài khoản MoMo có phải là tiền thật?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                            Sử dụng MoMo có mất phí không?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                            Tôi bị mất tiền trong tài khoản MoMo

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                            Số tài khoản MoMo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                            Số tài khỏan MoMo có an toàn?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane container fade" id="menu2">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>
                        <div class="tab-pane container fade" id="menu3">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu4">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>


                    </div>


                    <div class="block-more text-center mt-4">
                        <a href="" class="block-more-btn">
                            <span>
                                XEM TẤT CẢ
                            </span>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<section class="app-present">
    <div class="container ">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>




<div class="bottom-promotion">
    <div class="bottom-promotion-close">
            <span aria-hidden="true">&times;</span>
    </div>

    <!-- <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/DYeZlgeMCQY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div> -->

    <a class="link-absolute popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
        <span></span>
    </a>
    <img src="images/Momo-khuyen-mai-2016.jpg" class="img-fluid" alt="">
</div>



{% endblock %}