{% extends 'layouts/application.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}



{% endblock %}

{% block content %}
{% include "layouts/mobile.html" %}

<!-- <nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hướng dẫn</li>
        </ol>
    </div>
</nav> -->


<div class="promo-slider">
    <div class="swiper-container swiper-promo-slider">

        <div class="swiper-wrapper">


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background d-none d-md-block" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>

                        <div class="background d-block d-md-none" style="background-image:url(images/promotion/promo-bg1-mobile.jpg); background-position: right bottom"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto d-none d-md-block">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn mb-1 mb-sm-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background" style="background-image:url(images/promotion/promo-bg1.jpg)"></div>
                    </div>
                </div>


                <div class="container swiper-promo-height">
                    <div class=" promo-slider-content ">
                        <h2 class="h1 text-primary promo-slider-title" data-swiper-parallax="-15%"> Tải ví MoMo
                            <br> nhận ngay 1.000.000đ
                        </h2>
                        <h4 class=" text-primary promo-slider-sub font-weight-normal mt-3">Thanh
                            toán tất cả sản phẩm dịch
                            vụ giá chỉ 1đ</h4>

                        <p class="promo-slider-txt h4 font-weight-normal text-gray ">Tải
                            miễn phí tại</p>

                        <div class="row no-gutters align-items-center" d>
                            <div class="col-auto">
                                <div class="pro-qrcode">
                                    <img src="images/promotion/QR-code.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-auto">

                                <ul class="list-unstyled mb-0">
                                    <li class="">

                                        <a href="#" class="download-btn mb-4 shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-apple"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">App
                                                    store</span></span>
                                        </a>

                                    </li>

                                    <li class="">

                                        <a href="#" class="download-btn shadow-sm">
                                            <svg class="svg-inline svg  ">
                                                <use xlink:href="svg/svg.svg#svg-google-play"></use>
                                            </svg>
                                            <span class="inner"><span class="avail">Available on</span>
                                                <span class="store-name">Google
                                                    play</span></span>
                                        </a>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white container text-right"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>


        <div class="mouse-wrapper">
            <div class="mouse">
                <div class="mouse-scroll"></div>
            </div>
        </div>
    </div>

</div>



<div class="promo-quote-container " style="background-image: url(images/promotion/quote-bg.png)">
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col col-sm-auto">
                <div class="promo-quote text-right">
                    <h2 class="promo-quote-title font-weight-normal ">Thích thì ... xem phim GALAXY thôi!</h2>
                    <div class="h4 mb-0 font-weight-light text-white promo-quote-sub">
                        Tặng ngay hai vé xem phim Galaxy giá chỉ
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-auto">
                <img src="images/promotion/1d.png" class="img-fluid mx-2 promo-quote-img" width="64" alt="">
            </div>
        </div>
    </div>
</div>




<div class="container promo-countdown-container">

    <h3 class="text-center countdown-title "> Chương trình sẽ bắt đầu trong </h3>
    <div class="promo-countdown-box">
        <div class="countdown-s2" data-date="2018/12/05"></div>

    </div>

</div>

<section class="app-present">
    <div class="container text-uppercase">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>
{% endblock %}