{% extends 'layouts/application.html' %}
{% import 'macros/helpers.html' as macro %}


{% block testCSS %}



{% endblock %}

{% block content %}
{% include "layouts/mobile.html" %}

<!-- <nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hướng dẫn</li>
        </ol>
    </div>
</nav> -->


<div class="promo-slider">
    <div class="swiper-container swiper-container-full swiper-promo-slider">

        <div class="swiper-wrapper">


            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background " style="background-image:url(images/banner/Banner-website.jpg)"></div>

                    </div>
                </div>


                <div class="container ">
                    <div class="row swiper-promo-height align-items-center no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="banner2 d-none">

                                <div class="banner2-txt1">Tải ví MoMo, Tặng ngay</div>
                                <div class="banner2-img1">
                                    <img src="images/banner/txt-100.png" class="img-fluid" alt="">
                                </div>

                                <div class="row align-items-center">
                                    <div class="col col-md-6 col-lg text-right">
                                        <div class="banner2-txt2">
                                            1 triệu cơ hội mua sắm mỗi ngày <br>
                                            tất cả các sản phẩm dịch vụ
                                        </div>

                                    </div>
                                    <div class="col-auto col-md-6 col-lg-auto">
                                        <div class="position-relative banner2-img2">
                                            <div class="banner2-txt3">
                                                Từ nay <br>
                                                đến 31/10
                                            </div>
                                            <img src="images/banner/txt-chitu-1.png" class="img-fluid" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="banner2-noidung">
                                <img src="images/banner/noidung1.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 align-self-end">
                            <div class="position-relative d-none d-lg-block mt-4">

                                <img src="images/banner/banner-img.png" class="img-fluid d-block mx-auto" alt="">
                            </div>

                            <div class="d-block d-lg-none">
                                <div class="banner2-img-mobile">
                                    <img src="images/banner/banner-img-mobile.png" class="img-fluid d-block mx-auto"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="swiper-slide fit">

                <div class="slider-wrapper">
                    <div class="background-wrapper" data-swiper-parallax="30%">
                        <div class="background " style="background-image:url(images/banner/Banner-website.jpg)"></div>

                    </div>
                </div>


                <div class="container ">
                    <div class="row swiper-promo-height align-items-center no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="banner2 d-none">

                                <div class="banner2-txt1">Tải ví MoMo, Tặng ngay</div>
                                <div class="banner2-img1">
                                    <img src="images/banner/txt-100.png" class="img-fluid" alt="">
                                </div>

                                <div class="row align-items-center">
                                    <div class="col col-md-6 col-lg text-right">
                                        <div class="banner2-txt2">
                                            1 triệu cơ hội mua sắm mỗi ngày <br>
                                            tất cả các sản phẩm dịch vụ
                                        </div>

                                    </div>
                                    <div class="col-auto col-md-6 col-lg-auto">
                                        <div class="position-relative banner2-img2">
                                            <div class="banner2-txt3">
                                                Từ nay <br>
                                                đến 31/10
                                            </div>
                                            <img src="images/banner/txt-chitu-1.png" class="img-fluid" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="banner2-noidung">
                                <img src="images/banner/noidung1.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 align-self-end">
                            <div class="position-relative d-none d-lg-block">

                                <img src="images/banner/banner-img.png" class="img-fluid d-block mx-auto" alt="">
                            </div>

                            <div class="d-block d-lg-none">
                                <div class="banner2-img-mobile">
                                    <img src="images/banner/banner-img-mobile.png" class="img-fluid d-block mx-auto"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white container text-right"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>


        <div class="mouse-wrapper">
            <div class="mouse">
                <div class="mouse-scroll"></div>
            </div>
        </div>
    </div>

</div>



<div class="promo-quote-container " style="background-image: url(images/promotion/quote-bg.png)">
    <div class="container">
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col col-sm-auto">
                <div class="promo-quote text-right">
                    <h2 class="promo-quote-title font-weight-normal ">Thích thì ... xem phim GALAXY thôi!</h2>
                    <div class="h4 mb-0 font-weight-light text-white promo-quote-sub">
                        Tặng ngay hai vé xem phim Galaxy giá chỉ
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-auto">
                <img src="images/promotion/1d.png" class="img-fluid mx-2 promo-quote-img" width="64" alt="">
            </div>
        </div>
    </div>
</div>



<div class="container product-section">
    <div class="block-container block-endow">
        <div class="block-title-endow">
            <h2 class="block-title-endow-txt mb-0">
                <svg class="svg-icon  block-title-endow-icon text-white ">
                    <use xlink:href="svg/svg.svg#svg-endow"></use>
                </svg>

                ƯU ĐÃI MỖI NGÀY
            </h2>
        </div>

        <div class="block-content">
            <div class="product-container ">

                <div class="product product-grid">

                    {% for item in uudaimoingay %}
                    <div class="product-item-col ">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="{{item.image}}" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name">
                                {{item.title}}
                            </div>

                            <div class="product-item-price">
                                <strong class="text-danger">{{item.price}}</strong>
                                <span class="text-small text-black-50">
                                    <del>{{item.oldprice}}</del>
                                </span>
                            </div>

                            <div class="product-item-note">
                                <div class="text-small font-italic text-black-50">
                                    {{item.desc}}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    {% for item in uudaimoingay %}
                    <div class="product-item-col swiper-slide">
                        <div class="product-item  ">
                            <div class="embed-responsive embed-responsive-product">
                                <div class="embed-responsive-img">
                                    <img data-src="{{item.image}}" class="img-fluid lazyload" alt="">
                                </div>
                            </div>

                            <div class="product-item-name">
                                {{item.title}}
                            </div>

                            <div class="product-item-price">
                                <strong class="text-danger">{{item.price}}</strong>
                                <span class="text-small text-black-50">
                                    <del>{{item.oldprice}}</del>
                                </span>
                            </div>

                            <div class="product-item-note">
                                <div class="text-small font-italic text-black-50">
                                    {{item.desc}}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white d-none d-lg-block"></div>
                <div class="swiper-button-prev swiper-button-white d-none d-lg-block"></div>


            </div>


            <div class="block-more text-center d-none d-lg-block">
                <a href="" class="block-more-btn">
                    <span>
                        XEM TẤT CẢ
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="promotion-how" style="background-image: url(images/promotion/huongdan-bg.jpg)">

    <!-- Tab panes -->
    <div class=" pt-4 pb-4">

        <div class="container">

            <h2 class="text-center text-uppercase text-white mt-4 mb-4 promotion-how-title">hướng dẫn cách nhận và sử
                dụng gói quà tặng</h2>


            <nav class="nav manual-page-tab" role="tablist">
                <a class="nav-link nav-item active" data-toggle="pill" href="#home">Cài đặt ví Momo</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Liên kết ngân hàng</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Chuyển tiền mừng</a>

                <a class="nav-link nav-item" data-toggle="pill" href="#menu1">Cài đặt email</a>
                <a class="nav-link nav-item" data-toggle="pill" href="#menu2">Thanh toán điện nước</a>
            </nav>



            <div class="tab-content">
                <div class="tab-pane  active" id="home">

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">


                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                        <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="tab-pane  fade" id="menu1">
                    <div class="bank-select-bg">
                        <div class="row align-items-center no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="mb-3 d-none font-weight-bold text-uppercase text-gray text-center ">
                                    Chọn ngân hàng liên kết
                                </div>

                                <div class="payment-list">

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payvietcombank" value="" checked="">
                                        <label for="payvietcombank">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Vietcombank</span>
                                        </label>
                                    </div>

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payBIDV" value="">
                                        <label for="payBIDV">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">BIDV</span>
                                        </label>
                                    </div>

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="payAgribank" value="">
                                        <label for="payAgribank">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% for item in range(0,5) %}

                                    <div class="payment-item"><input class="payment-check" type="radio" name="payOption"
                                            id="" value="">
                                        <label for="">
                                            <div class="payment-icon "><img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="icon"></div><span class="payment-cur">Agribank</span>
                                        </label>
                                    </div>

                                    {% endfor %}



                                </div>
                            </div>
                            <div class="col-auto d-none">
                                <div class="bank-select">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-info dropdown-toggle bank-select-btn"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                alt="img" width="24">

                                            Vietcombank
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/d0/cc/d0ccbd8f-d0c6-4b19-aeed-3276bf476e7a/vcb-trans-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                Vietcombank
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/55/29/5529b6a3-4ef5-478e-9d85-96a4f0824101/bidv-logo.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                BIDV
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/3b/45/3b456584-dfb5-4640-b20a-5ddc7981668f/agri-48.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                Agribank
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <img src="https://cdn.airpay.vn/web_resources/airpayvn_v2/media/filer_public_thumbnails/filer_public/37/37/373774ec-1882-4735-a22b-bee3eef62ace/vtb-logo-web.png__48x48_q95_crop_subsampling-2.png"
                                                    alt="img" width="24">

                                                VietinBank
                                            </a>


                                        </div>
                                    </div>


                                    <div class="bank-select-item">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="text-center d-block d-sm-none mb-2">
                        Hướng dẫn liên kết ngân hàng Vietcombank
                    </h4>

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">



                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="tab-pane container fade" id="menu2">

                    <div class="row manual-device-swiper-container">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">


                            <div class="manual-device">

                                <div class="manual-device-stock ">

                                </div>

                                <div class="manual-device-slide">

                                    <div class="swiper-container manual-device-swiper">


                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                                <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xr4wyxiH6bM">
                                                    <span></span>
                                                </a>


                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">

                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>



                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>


                                            <div class="swiper-slide">
                                                <img src="http://27.0.15.83:9010/img/momo-upload-api-b1-180921160920.png"
                                                    class="img-fluid" alt="">
                                            </div>

                                        </div>
                                        <!-- Add Navigation -->
                                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-6 order-1 order-lg-2">





                            <ol class="process list-unstyled manual-process">
                                <li class="process_item active">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Xác nhận</h4>
                                        <div class="process__body-content">
                                            Kiểm tra thông tin và bấm "Xác nhận"
                                        </div>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc</h4>

                                        <div class="process__body-content">
                                            Nhập lời chúc của bạn(không bắt buộc), có thể chọn 1 lời chúc ý nghĩa từ
                                            danh sách gợi ý của Momo.
                                        </div>

                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập số tiền bạn muốn gửi tới người nhận</h4>

                                        <div class="process__body-content">
                                            <p>
                                                Nhập số tiền mừng bạn muốn gửi tới người nhận, có 2 lựa chọn :
                                            </p>
                                            <p>
                                                - Số tiền cố định : Nhập số tiền bạn muốn (tối thiểu 1.000đ, tối đa
                                                20.000.000đ), hoặc chọn 1 số tiền đẹp từ danh sách gợi ý của Momo
                                            </p>
                                            <p> - Số tiền ngẫu nhiên: Bnaj chọn ít nhất 2 số tiền khác nhau và hệ thống
                                                sẽ tự động lựa chọn ngẫu nhiên trong 2 số tiền đó để gửi đến người
                                                nhận. Sau khi bạn hoàn tất việc gửi tiền mừng bàn và người nhận mới
                                                biết được số tiền mừng. HÌnh thức này mang bất ngờ thú vị có cho cả bạn
                                                và người nhận;.</p>


                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>4</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title"> Chọn người nhận tiền mừng</h4>
                                        <div class="process__body-content">
                                            Cho phép ứng dụng truy cập vào danh bạ điện thoại của bạn. Chọn người nhận
                                            tiền mừng bằng cách nhập số điện thoại hoặc tìm tên trong danh bạ
                                        </div>

                                    </div>
                                </li>


                                <li class="process_item">
                                    <div class="process__number">
                                        <span>5</span>
                                    </div>
                                    <div class="process__body">

                                        <h4 class="process__body-title">Nhập lời chúc của bạn (không bắt buộc)</h4>

                                        <div class="process__body-content">
                                            Chọn mẫu thiệp thích hợp với mục đích của bạn(Chúc mừng sinh nhật, tốt
                                            nghiệp, tri ân ...) có thể vuốt ngang hoặc bấm vào xem tất cả...
                                        </div>


                                    </div>
                                </li>

                                <li class="process_item">
                                    <div class="process__number">
                                        <span>6</span>
                                    </div>
                                    <div class="process__body">
                                        <h4 class="process__body-title">Chọn biểu tượng "Gửi tiền mừng"</h4>
                                        <div class="process__body-content">

                                            Kiểm tra lại thông tin và bấm "Xác nhận"
                                        </div>

                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>





<div class="bg-white help-center-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="help-center">

                    <h2 class="text-center h4 font-weight-bold text-primary ">CÂU HỎI THƯỜNG GẶP</h2>

                    <!-- Nav tabs -->
                    <ul class="scrollmenu nav help-center-nav">
                        <li class="scrollmenu-item">
                            <a class="nav-link active" data-toggle="tab" href="#menu1">Tổng quan</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Tài khoản</a>
                        </li>
                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Nạp/Rút tiền</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu4">Thanh toán</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu5">Khuyến mãi</a>
                        </li>

                        <li class="scrollmenu-item">
                            <a class="nav-link" data-toggle="tab" href="#menu6">Bảo mật</a>
                        </li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="menu1">

                            <div id="accordion" class="help-center-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                            Ví momo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Ứng dụng Ví điện tử MoMo là sản phẩm của Công ty Cổ phần Dịch vụ Di động
                                            Trực tuyến
                                            (M_Service). Ứng dụng cho phép bạn tạo và nạp tiền vào tài khoản MoMo để
                                            thanh toán
                                            cho
                                            hơn 200
                                            dịch vụ như nạp tiền điện thoại, thanh toán điện nước, thanh toán.


                                            <div class="help-center-a-social">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-auto">Chia sẻ</div>
                                                    <div class="col">
                                                        <ul class="list-inline mb-0 ml-2">
                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-facebook">
                                                                    <svg class="svg-icon svg-icon-20 ">
                                                                        <use xlink:href="svg/svg.svg#svg-facebook-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>

                                                            <li class="list-inline-item">
                                                                <a href="" class=" text-google-plus">
                                                                    <svg class="svg-icon  svg-icon-20  ">
                                                                        <use xlink:href="svg/svg.svg#svg-google-plus-circle"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-auto">
                                                        <a href="" class="help-center-a-detail"> <svg class="svg-icon">
                                                                <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                                            </svg>
                                                            Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                            Tiền trong tài khoản MoMo có phải là tiền thật?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                            Sử dụng MoMo có mất phí không?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                            Tôi bị mất tiền trong tài khoản MoMo

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                            Số tài khoản MoMo là gì?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                            Số tài khỏan MoMo có an toàn?

                                            <span class="card-link-icon minus">-</span>
                                            <span class="card-link-icon plus">+</span>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h5>Chưa cập nhập nội dung ...</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane container fade" id="menu2">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>
                        <div class="tab-pane container fade" id="menu3">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu4">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu5">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>

                        <div class="tab-pane container fade" id="menu6">
                            <h4>Đang cập nhập nội dung</h4>
                        </div>
                    </div>


                    <div class="block-more text-center mt-4">
                        <a href="" class="block-more-btn">
                            <span>
                                XEM TẤT CẢ
                            </span>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<section class="app-present">
    <div class="container text-uppercase">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>



<div class="bottom-promotion bottom-promotion2">
    <div class="bottom-promotion-close">
        <span aria-hidden="true">&times;</span>
    </div>
    <div class="bottom-promotion-close2">
        <span aria-hidden="true">&times;</span>
    </div>

    <div class="bottom-promotion2-content">
        <div class="content1">
            <img src="https://static.mservice.io/Images/2018/09/10/kv-vnpt-website_101135301.png" class="img-fluid" alt="">
        </div>

        <div class="content2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DYeZlgeMCQY" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>





</div>


{% endblock %}