{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tìm kiếm</li>
        </ol>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col-12 ">

            <div class="pt-3 mt-4 mb-4">

                <div class="h3 mb-4 text-black-50 font-weight-normal">
                    Tìm kiếm : <strong class="text-dark">Bánh mì</strong>
                </div>

                <div class="row" id="posts">
                    {% for item in range(0,3) %}
                    <div class="col-12 col-md-6 col-lg-4 post">
                        <div class="new-item ">
                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                <a href="" class="link-absolute"></a>
                                <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                                    alt="">


                            </div>

                            <div class="new-item-content">

                                <h4 class="new-item-title clearfix"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                                        cuộc sống
                                        với Mylife Coffee và MoMo</a></h4>

                            </div>
                        </div>
                    </div>


                    {% endfor %}



                </div>

                <!-- Infinity Scroll Loader
								============================================= -->
                <div class="row clearfix">
                    <div class="col-md-12 text-center">
                        <div class="page-load-status ">
                            <div class="infinite-scroll-request">
                                <div class="loading loading-lg "></div>
                            </div>
                        </div>

                        <!-- Infinity Scroll Button
                                                    ============================================= -->
                        <a href="search-data-2.html" class=" load-next-posts">Load
                            more...</a>
                    </div>
                </div>


            </div>


        </div>
    </div>


</div>




{% endblock %}



{% block testJS %}


<script>

    // Infinity Scroll
    jQuery(window).on('load', function () {

        var nextPenSlugs = [
            'search-data-2.html',
            'search-data-2.html',
            'search-data-2.html',
        ];

        function getPenPath() {
            var slug = nextPenSlugs[this.loadCount];
            if (slug) {
                return 'http://localhost:3000/' + slug;
            }
        }

        var $container = $('#posts');

        $container.infiniteScroll({
            // options
            path: getPenPath,
            append: '.post',
            history: false,
            status: '.page-load-status'
        });




    });
</script>


{% endblock %}