{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}


<div class="container">
    <div class="mt-4 mb-4 border-0 p-4 bg-white shadow-sm">
        <h3>Button</h3>

        <div class="mb-3">
            <button type="button" class="btn btn-gradient">XEM THÊM</button>
            <button type="button" class="btn btn-gradient btn-sm">XEM THÊM</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>


        <div class="mb-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>


        <div class="mb-3">
            <button type="button" class="btn btn-outline-primary">Normal button</button>
            <button type="button" class="btn btn-outline-primary btn-sm">Small button</button>

        </div>

    </div>
</div>
<div class="container mt-4 mb-4">
    <a href="" class="btn btn-primary btn-lg btn-animation">
        Large button animation
    </a>
</div>


{% endblock %}