{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="tintuc.html">Tin tức</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ký kết & công bố hợp tác chiến lực ví momo</li>
        </ol>
    </div>
</nav>
<div class="post-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-3 sticky-sidebar">



                <div class="theiaStickySidebar">




                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modal-catalog-btn " data-toggle="modal" data-target="#modalCatalogMenu">
                        <svg class="svg-icon svg-inline">
                            <use xlink:href="svg/svg.svg#svg-line-menu"></use>
                        </svg> Danh mục
                    </button>


                    <!-- Modal -->
                    <div class="modal fade modal-catalog-menu" id="modalCatalogMenu" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Danh mục bài viết</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="new-catalog" id="newCatalog">
                                        <nav class="nav new-catalog-list" id="list-example">

                                            <a href="#item-1" data-scrollto="#item-1" data-offset="70" class="new-catalog-item nav-link active">
                                                <h4 class="new-catalog-label">CHƯƠNG 1:</h4>
                                                <h3 class="new-catalog-name">Giới thiệu về Ví MoMo</h3>
                                            </a>

                                            <nav class="new-catalog-sub nav">
                                                <a class="nav-link new-catalog-sub-item" href="#item-1-1" data-scrollto="#item-1-1"
                                                    data-offset="80">Ví MoMo là gì?</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-1-2" data-scrollto="#item-1-2"
                                                    data-offset="80">Sử dụng MoMo có tốn phí
                                                    không? Có an toàn không?</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-1-3" data-scrollto="#item-1-3"
                                                    data-offset="80">Tiền trong MoMo là tiền thật
                                                    hay tiền ảo?</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-1-4" data-scrollto="#item-1-4"
                                                    data-offset="80">Dùng MoMo trả tiền/thanh toán
                                                    có được giảm giá/chiết khấu không?</a>
                                            </nav>


                                            <a href="#item-2" class=" new-catalog-item  nav-link" data-scrollto="#item-2"
                                                data-offset="70">
                                                <h4 class="new-catalog-label">CHƯƠNG 2:</h4>
                                                <h3 class="new-catalog-name">Hướng dẫn sử dụng Ví MoMo</h3>
                                            </a>

                                            <nav class="new-catalog-sub nav">
                                                <a class="nav-link new-catalog-sub-item" href="#item-2-1" data-scrollto="#item-2-1"
                                                    data-offset="80">Hướng dẫn tải và đăng ký tài
                                                    khoản Ví MoMo</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-2-2" data-scrollto="#item-2-2"
                                                    data-offset="80">Thông tin cơ bản khi sử dụng
                                                    MoMo</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-2-3" data-scrollto="#item-2-3"
                                                    data-offset="80">Cách nạp/rút tiền từ Ví MoMo</a>

                                            </nav>


                                            <a href="#item-3" class="new-catalog-item  nav-link">

                                                <h4 class="new-catalog-label">CHƯƠNG 3:</h4>
                                                <h3 class="new-catalog-name">Các dịch vụ bạn có thể sử dụng trên Ví
                                                    MoMo</h3>
                                            </a>

                                            <nav class="new-catalog-sub nav">
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-1">Cách nạp tiền
                                                    điện thoại di
                                                    động</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-2">Chuyển/nhận
                                                    tiền</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Thanh toán
                                                    hóa đơn</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Mua vé xem
                                                    phim</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Thanh toán
                                                    vay tiêu dùng</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Vận tải, du
                                                    lịch</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Đặt món trực
                                                    tuyến</a>
                                                <a class="nav-link new-catalog-sub-item" href="#item-3-3">Dịch vụ khác</a>

                                            </nav>

                                            <a href="#item-3" class="new-catalog-item  nav-link">

                                                <h4 class="new-catalog-label">CHƯƠNG 4:</h4>
                                                <h3 class="new-catalog-name">Ưu đãi dành riêng cho chủ thẻ/tài khoản
                                                    Vietcombank khi sử
                                                    dụng MoMo</h3>
                                            </a>

                                        </nav>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>


            <div class="col-12 col-lg-9 sticky-content ">
                <div class="theiaStickySidebar">
                    <article class="" data-spy="scroll" data-target="#list-example" data-offset="70">

                        <h1 class="post-title">Khách hàng MoMo (nhà mạng Viettel) nhận OTP từ đầu số tên “Verify”</h1>

                        <ul class="new-meta post-meta clearfix list-inline ">
                            <li class="list-inline-item d-none d-md-inline-block">
                                <a href="" class="post-meta-img" style="background-image: url(https://images.foody.vn/usr/g95/945545/avt/c60x60/pebap_lovely-avatar-591-636714187958334953.jpg)">
                                </a>
                            </li>
                            <li class="list-inline-item ">

                                by

                                <a href="">Hoàng Trúc</a>
                            </li>
                            <li class="list-inline-item">
                                - 2 giờ trước <a href="">Tin sự kiện</a>
                            </li>
                            <li class="list-inline-item d-none d-md-inline-block">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>

                        <div class="fancy-title title-border" id="item-1">
                            <div class="text-black-50">Chương 1</div>
                            <h3 class="text-primary">Giới thiệu về ví Momo</h3>
                        </div>

                        <div class="post-body">
                            <p>
                                Cho
                                các khách hàng Ví MoMo sở hữu đầu số Viettel chính thức đổi từ tên “MOMO” thành
                                “Verify”.
                                Thay đổi này chỉ áp dụng riêng đối với Nhà mạng Viettel, các nhà mạng còn lại
                                (Mobifone,
                                VinaPhone, Gmobile và Vinamobile...) vẫn giữ nguyên.
                            </p>

                            <p>
                                Cho
                                các khách hàng Ví MoMo sở hữu đầu số Viettel chính thức đổi từ tên “MOMO” thành
                                “Verify”.
                                Thay đổi này chỉ áp dụng riêng đối với Nhà mạng Viettel, các nhà mạng còn lại
                                (Mobifone,
                                VinaPhone, Gmobile và Vinamobile...) vẫn giữ nguyên.
                            </p>
                        </div>

                        <div id="item-1-1" class="title-block">
                            <h4><span>
                                    Ví MoMo là gì?
                                </span></h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>


                        <div id="item-1-2" class="title-block">
                            <h4>Sử dụng MoMo có tốn phí
                                không? Có an toàn không?</h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>


                        <div id="item-1-3" class="title-block">
                            <h4>Tiền trong MoMo là tiền thật
                                hay tiền ảo?</h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>




                        <div id="item-1-4" class="title-block">
                            <h4>Dùng MoMo trả tiền/thanh toán
                                có được giảm giá/chiết khấu không?</h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>

                        <br>
                        <br>


                        <div class="fancy-title title-border " id="item-2">
                            <div class="text-black-50">Chương 2</div>
                            <h3 class="text-primary">Hướng dẫn sử dụng Ví MoMo</h3>
                        </div>

                        <div class="post-body">
                            <p>
                                Cho
                                các khách hàng Ví MoMo sở hữu đầu số Viettel chính thức đổi từ tên “MOMO” thành
                                “Verify”.
                                Thay đổi này chỉ áp dụng riêng đối với Nhà mạng Viettel, các nhà mạng còn lại
                                (Mobifone,
                                VinaPhone, Gmobile và Vinamobile...) vẫn giữ nguyên.
                            </p>

                            <p>
                                Cho
                                các khách hàng Ví MoMo sở hữu đầu số Viettel chính thức đổi từ tên “MOMO” thành
                                “Verify”.
                                Thay đổi này chỉ áp dụng riêng đối với Nhà mạng Viettel, các nhà mạng còn lại
                                (Mobifone,
                                VinaPhone, Gmobile và Vinamobile...) vẫn giữ nguyên.
                            </p>
                        </div>

                        <div id="item-2-1" class="title-block">
                            <h4><span>
                                    Hướng dẫn tải và đăng ký tài
                                    khoản Ví MoMo
                                </span></h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>


                        <div id="item-2-2" class="title-block">
                            <h4>Thông tin cơ bản khi sử dụng
                                MoMo</h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>


                        <div id="item-2-3" class="title-block">
                            <h4>Cách nạp/rút tiền từ Ví MoMo</h4>
                        </div>

                        <div class="post-body">
                            {% include "layouts/blog-mau.html" %}
                        </div>



                    </article>
                </div>
            </div>


        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 ">

                <div class="pt-3 mt-4">
                    <div class="section-title">
                        <h4 class="section-title-text"><strong>Tin</strong> liên quan</h4>

                    </div>

                    <div class="row">
                        {% for item in range(0,3) %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="new-item ">
                                <div class="new-item-img embed-responsive embed-responsive-16by9">
                                    <a href="" class="link-absolute"></a>
                                    <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png"
                                        class="embed-responsive-img lazyload" alt="">


                                </div>

                                <div class="new-item-content">

                                    <h4 class="new-item-title"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                                            cuộc sống
                                            với Mylife Coffee và MoMo</a></h4>

                                    <ul class="new-meta clearfix list-inline mb-0">
                                        <li class="list-inline-item">
                                            2 giờ trước
                                        </li>
                                        <li class="list-inline-item">
                                            <svg class="svg-icon  new-meta-svg">
                                                <use xlink:href="svg/svg.svg#svg-chat"></use>
                                            </svg> 0 bình luận
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6  col-lg-4">
                            <div class="new-item ">
                                <div class="new-item-img embed-responsive embed-responsive-16by9">
                                    <a href="" class="link-absolute"></a>
                                    <img data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg" class="embed-responsive-img lazyload"
                                        alt="">


                                </div>

                                <div class="new-item-content">

                                    <h4 class="new-item-title"><a href="" class="link-black">Có MoMo - Thanh toán Thẻ
                                            Vay
                                            Có MoMo: Đi taxi VINASUN không cần tiền mặt</a></h4>

                                    <ul class="new-meta clearfix list-inline mb-0">
                                        <li class="list-inline-item">
                                            28/07/2018
                                        </li>
                                        <li class="list-inline-item">
                                            <svg class="svg-icon  new-meta-svg">
                                                <use xlink:href="svg/svg.svg#svg-chat"></use>
                                            </svg> 0 bình luận
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>


    </div>

</div>



<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto">
                <div class="input-group newsletter-input">
                    <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}