{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>

            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Khuyến mãi</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Thông cáo báo chí</li>
            <li class="breadcrumb-item breadcrumb-cat " aria-current="page">Hình ảnh - Video</li>
        </ol>


    </div>
</nav>


<div class="page-hero" style="background-image: url('images/tintuc/tintuc-head-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center page-hero-title font-weight-normal">
                    TIN TỨC
                </h1>
                <h4 class="text-center text-white  page-hero-sub font-weight-normal">Dành riêng cho thành viên MoMo</h4>

            </div>
        </div>

    </div>
</div>


<div class="bg-white new-wrapper">
    <div class="container">

    <div class="row">
            <div class="col-12 col-lg-8">

                <div class="new-feature" style="background-image: url(https://momo.vn/Contents/Images/background.png)">

                    <div class="new-feature-content">
                        <div class="new-cat">
                            <a href="">TIN TỨC SỰ KIỆN</a>
                        </div>

                        <h3 class="new-feature-title"><a href="tintuc-detail.html" class="">
                                Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                            </a></h3>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                1 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 2 bình luận
                            </li>
                        </ul>

                    </div>

                </div>


                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="new-item ">
                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <img data-src="https://static.mservice.io/Images/2018/09/19/kv-ve-tau-50_19101426.jpg"
                                    class="embed-responsive-img lazyload" alt="">

                                <div class="new-cat">
                                    <a href="">TIN KHUYẾN MÃI</a>
                                </div>
                            </div>

                            <div class="new-item-content">

                                <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo -
                                        Thanh toán Thẻ Vay
                                        VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                <ul class="new-meta clearfix list-inline mb-0">
                                    <li class="list-inline-item">
                                        2 giờ trước
                                    </li>
                                    <li class="list-inline-item">
                                        <svg class="svg-icon  new-meta-svg">
                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                        </svg> 0 bình luận
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="new-item ">
                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <img src="https://momo.vn/Images/2018/08/25/kv-vissan-3-1200x628_251235518.png" class="embed-responsive-img"
                                    alt="">

                                <div class="new-cat">
                                    <a href="">TIN KHUYẾN MÃI</a>
                                </div>
                            </div>

                            <div class="new-item-content">

                                <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo, có
                                        sức sống mỗi ngày
                                        từ Vissan!</a></h4>

                                <ul class="new-meta clearfix list-inline mb-0">
                                    <li class="list-inline-item">
                                        2 giờ trước
                                    </li>
                                    <li class="list-inline-item">
                                        <svg class="svg-icon  new-meta-svg">
                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                        </svg> 0 bình luận
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="new-item ">
                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <img data-src="https://momo.vn/Images/2018/08/11/bh-vietinbank-1200x628_11100863.png"
                                    class="embed-responsive-img lazyload" alt="">
                                <div class="new-cat">
                                    <a href="">TIN KHUYẾN MÃI</a>
                                </div>

                            </div>

                            <div class="new-item-content">

                                <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Mua bảo hiểm
                                        VietinBank ngay
                                        trên ứng dụng Ví MoMo</a></h4>

                                <ul class="new-meta clearfix list-inline mb-0">
                                    <li class="list-inline-item">
                                        2 giờ trước
                                    </li>
                                    <li class="list-inline-item">
                                        <svg class="svg-icon  new-meta-svg">
                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                        </svg> 0 bình luận
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <div class="col-12 col-lg-4 new-hotnew-col d-none d-lg-block">
                <div class="hotnew-container">
                    <ul class="nav nav-tabs nav-fill hotnew-nav">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#new-tuyendung">Tuyển dụng</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#new-question">Câu hỏi thường gặp</a>
                        </li>

                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active " id="new-tuyendung">
                            {% for item in range(0,3) %}
                            <div class="new-jobs row no-gutters align-items-center">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <div class="new-jobs-icon col-auto">
                                    <img class="img-fluid" src="http://workscout.in/wp-content/uploads/2018/03/placeholder.png"
                                        alt="Rose Clinic">
                                </div>

                                <div class="col">
                                    <div class="new-jobs-content ">
                                        <h4 class="new-jobs-title">Nhân viên chăm sóc
                                            khách hàng full-time
                                        </h4>
                                        <div class="new-jobs-location">TP. HCM</div>
                                        <div class="new-jobs-date">
                                            <span class="text-black-50">Hạn nộp</span>
                                            30/08/2018
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="new-jobs row no-gutters align-items-center">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <div class="new-jobs-icon col-auto">
                                    <img class="img-fluid" src="http://workscout.in/wp-content/uploads/2018/03/placeholder.png"
                                        alt="Rose Clinic">
                                </div>

                                <div class="col">
                                    <div class="new-jobs-content ">
                                        <h4 class="new-jobs-title">Nhân viên chăm sóc
                                            khách hàng full-time
                                        </h4>
                                        <div class="new-jobs-location">TP. HCM</div>
                                        <div class="new-jobs-date">
                                            <span class="text-black-50">Hạn nộp</span>
                                            30/08/2018
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="tab-pane   hotnew-tab-content" id="new-question">

                            <div class="hotnew-question">
                                {% for item in range(0,3) %}
                                <div class="hotnew-question-item">
                                    <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <svg class="svg-icon  hotnew-question-icon text-primary">
                                                <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                                            </svg>
                                        </div>
                                        <div class="col">
                                            <div><strong>Ví điện tử MoMo là gì?</strong></div>
                                            <div class="text-small">
                                                Ví điện tử MoMo là một giải pháp thanh toàn di động (Mobile Payment)
                                                tổng thể mang...
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hotnew-question-item">
                                    <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <svg class="svg-icon  hotnew-question-icon text-primary">
                                                <use xlink:href="svg/svg.svg#svg-wallet"></use>
                                            </svg>
                                        </div>
                                        <div class="col">
                                            <div><strong>Tiền trong ví MoMo có phải tiền thật không?</strong></div>
                                            <div class="text-small">
                                                Tiền trong ví MoMo có giá trị tương đương tiền mặt và bạn có thể
                                                nạp/rút dễ dàng...
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <br>

    <div class="container section-space">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Tin tức</strong> Sự kiện</h4>
            <a href="#" class="section-title-more">

                Xem thêm
                <svg class="svg-icon ">
                    <use xlink:href="svg/svg.svg#svg-dot-matrix"></use>
                </svg>
            </a>
        </div>

        <div class="row">
            {% for item in range(0,2) %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Tận hưởng từng
                                khoảnh khắc cuộc sống
                                với Mylife Coffee và MoMo</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo - Thanh toán
                                Thẻ Vay
                                Có MoMo: Đi taxi VINASUN không cần tiền mặt</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container section-space">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Tin tức</strong> Khuyến mãi </h4>
            <a href="#" class="section-title-more">

                Xem thêm
                <svg class="svg-icon ">
                    <use xlink:href="svg/svg.svg#svg-dot-matrix"></use>
                </svg>
            </a>
        </div>

        <div class="row">
            {% for item in range(0,2) %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Tận hưởng từng
                                khoảnh khắc cuộc sống
                                với Mylife Coffee và MoMo</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo - Thanh toán
                                Thẻ Vay
                                Có MoMo: Đi taxi VINASUN không cần tiền mặt</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container section-space">
        <div class="section-title">
            <h4 class="section-title-text"><strong>Thông cáo</strong> Báo chí</h4>
            <a href="#" class="section-title-more">

                Xem thêm
                <svg class="svg-icon ">
                    <use xlink:href="svg/svg.svg#svg-dot-matrix"></use>
                </svg>
            </a>
        </div>

        <div class="row">
            {% for item in range(0,2) %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Tận hưởng từng
                                khoảnh khắc cuộc sống
                                với Mylife Coffee và MoMo</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                2 giờ trước
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="new-item ">
                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                        <a href="tintuc-detail.html" class="link-absolute"></a>
                        <img data-src="https://momo.vn/Images/2018/07/30/kv-588x331px_30104868.jpg" class="embed-responsive-img lazyload"
                            alt="">


                    </div>

                    <div class="new-item-content">

                        <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo - Thanh toán
                                Thẻ Vay
                                Có MoMo: Đi taxi VINASUN không cần tiền mặt</a></h4>

                        <ul class="new-meta clearfix list-inline mb-0">
                            <li class="list-inline-item">
                                28/07/2018
                            </li>
                            <li class="list-inline-item">
                                <svg class="svg-icon  new-meta-svg">
                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                </svg> 0 bình luận
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>






<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto">
                <div class="input-group newsletter-input">
                    <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}