{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
    </div>
</nav>


<div class="page-hero" style="background-image: url('images/tintuc/tintuc-head-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h1 class=" text-white text-center page-hero-title font-weight-normal">
                    TIN TỨC
                </h1>
                <h4 class="text-center text-white  page-hero-sub font-weight-normal">Dành riêng cho thành viên MoMo</h4>

            </div>
        </div>

    </div>
</div>



<div class="bg-white new-wrapper">
    <div class="container">
        <ul class="nav secure-tab">
            <li class="nav-item">
                <a class="nav-link active" href="">Tin tức sự kiện
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Khuyến mãi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Thông cáo báo chí
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Hình ảnh - Video
                </a>
            </li>
        </ul>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-8 sticky-content">

                <div class="theiaStickySidebar">

                    <div class="new-feature" style="background-image: url(https://momo.vn/Contents/Images/background.png)">

                        <div class="new-feature-content">
                            <div class="new-cat">
                                <a href="">TIN TỨC SỰ KIỆN</a>
                            </div>

                            <h3 class="new-feature-title"><a href="tintuc-detail.html" class="">
                                    Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                                </a></h3>



                            <ul class="new-meta clearfix list-inline mb-0">
                                <li class="list-inline-item">
                                    1 giờ trước
                                </li>
                                <li class="list-inline-item">
                                    <svg class="svg-icon  new-meta-svg">
                                        <use xlink:href="svg/svg.svg#svg-chat"></use>
                                    </svg> 2 bình luận
                                </li>
                            </ul>

                        </div>

                    </div>




                    <div class="row pt-3">
                        <div class="col-12 ">
                            <div class="new-item new-item-horizontal clearfix ">
                                <div class="new-item-img embed-responsive embed-responsive-16by9">
                                    <a href="tintuc-detail.html" class="link-absolute"></a>
                                    <img data-src="https://momo.vn/Images/2018/09/01/kv-vietcredit-website_1958453.png"
                                        class="embed-responsive-img lazyload" alt="">


                                </div>

                                <div class="new-item-content">

                                    <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo
                                            -
                                            Thanh toán Thẻ Vay
                                            VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                    <ul class="new-meta  list-inline mb-0">
                                        <li class="list-inline-item">
                                            2 giờ trước
                                        </li>
                                        <li class="list-inline-item">
                                            <svg class="svg-icon  new-meta-svg">
                                                <use xlink:href="svg/svg.svg#svg-chat"></use>
                                            </svg> 0 bình luận
                                        </li>
                                    </ul>


                                    <div class="new-item-short">
                                        Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork
                                        vegan,
                                        gentrify minim elit semiotics non messenger bag Austin which roasted ...
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="new-item new-item-horizontal clearfix">
                                <div class="new-item-img embed-responsive embed-responsive-16by9">
                                    <a href="tintuc-detail.html" class="link-absolute"></a>
                                    <img src="https://momo.vn/Images/2018/08/25/kv-vissan-3-1200x628_251235518.png"
                                        class="embed-responsive-img" alt="">


                                </div>

                                <div class="new-item-content">

                                    <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Có MoMo,
                                            có
                                            sức sống mỗi ngày
                                            từ Vissan!</a></h4>

                                    <ul class="new-meta  list-inline mb-0">
                                        <li class="list-inline-item">
                                            2 giờ trước
                                        </li>
                                        <li class="list-inline-item">
                                            <svg class="svg-icon  new-meta-svg">
                                                <use xlink:href="svg/svg.svg#svg-chat"></use>
                                            </svg> 0 bình luận
                                        </li>
                                    </ul>


                                    <div class="new-item-short">
                                        Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork
                                        vegan,
                                        gentrify minim elit semiotics non messenger bag Austin which roasted ...
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="new-item new-item-horizontal clearfix">
                                <div class="new-item-img embed-responsive embed-responsive-16by9">
                                    <a href="tintuc-detail.html" class="link-absolute"></a>
                                    <img data-src="https://momo.vn/Images/2018/08/11/bh-vietinbank-1200x628_11100863.png"
                                        class="embed-responsive-img lazyload" alt="">


                                </div>

                                <div class="new-item-content">

                                    <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Mua bảo
                                            hiểm
                                            VietinBank ngay
                                            trên ứng dụng Ví MoMo</a></h4>

                                    <ul class="new-meta  list-inline mb-0">
                                        <li class="list-inline-item">
                                            2 giờ trước
                                        </li>
                                        <li class="list-inline-item">
                                            <svg class="svg-icon  new-meta-svg">
                                                <use xlink:href="svg/svg.svg#svg-chat"></use>
                                            </svg> 0 bình luận
                                        </li>
                                    </ul>


                                    <div class="new-item-short">
                                        Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork
                                        vegan,
                                        gentrify minim elit semiotics non messenger bag Austin which roasted ...
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">

                            <div class="block-more text-center d-none d-lg-block">
                                <a href="" class="block-more-btn">
                                    <span>
                                        XEM THÊM
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>



                </div>
            </div>



            <div class="col-12 col-lg-4 sticky-sidebar">
                <div class="theiaStickySidebar">

                    <div class="porlet-container mb-2 mb-sm-3">
                        <div class="porlet-title-space gray">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <h4 class="porlet-title text-uppercase text-truncate mb-0">Khuyến mãi mới </h4>

                                </div>
                                <div class="col-auto">
                                    <a href="" class="porlet-title-more text-small text-white"> > Xem thêm </a>

                                </div>
                            </div>
                        </div>

                        <div class="salenew-container">
                            <div class="salenew clearfix">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <div class="salenew-img embed-responsive embed-responsive-16by9">

                                    <img data-src="https://momo.vn/Images/2018/09/01/kv-vietcredit-website_1958453.png"
                                        class="embed-responsive-img lazyload" alt="">
                                </div>
                                <div class="text mt-2 salenew-content">
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan.
                                </div>
                            </div>

                            <div class="salenew clearfix">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <div class="salenew-img embed-responsive embed-responsive-16by9">

                                    <img data-src="https://momo.vn/Images/2018/09/01/kv-vietcredit-website_1958453.png"
                                        class="embed-responsive-img lazyload" alt="">
                                </div>
                                <div class="text mt-2 salenew-content">
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan.
                                </div>
                            </div>

                            <div class="salenew clearfix ">
                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                <div class="salenew-img embed-responsive embed-responsive-16by9">

                                    <img data-src="https://momo.vn/Images/2018/09/01/kv-vietcredit-website_1958453.png"
                                        class="embed-responsive-img lazyload" alt="">
                                </div>
                                <div class="text mt-2 salenew-content">
                                    Lumbersexual meh sustainable Thundercats meditation kogi. Tilde Pitchfork vegan.
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="porlet-container mb-4">
                        <div class="porlet-title-space gray mb-2 mb-sm-3">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <h4 class="porlet-title text-uppercase text-truncate mb-0">Bài blog mới </h4>

                                </div>
                                <div class="col-auto">
                                    <a href="" class="porlet-title-more text-small text-white"> > Xem thêm </a>

                                </div>
                            </div>
                        </div>

                        <div class="porlet-padding pt-1 pb-1">
                            {% for item in range(0,5) %}
                            <ul class="list-post list-unstyled">
                                <li class="clearfix">
                                    <div class="new-item new-item-horizontal-small clearfix">
                                        <div class="new-item-img embed-responsive embed-responsive-1by1">
                                            <a href="tintuc-detail.html" class="link-absolute"></a>
                                            <img data-src="https://momo.vn/Images/2018/08/11/bh-vietinbank-1200x628_11100863.png"
                                                class="embed-responsive-img lazyload" alt="">
                                        </div>

                                        <div class="new-item-content">

                                            <h4 class="new-item-title"><a href="tintuc-detail.html" class="link-black">Mua
                                                    bảo
                                                    hiểm
                                                    VietinBank ngay
                                                    trên ứng dụng Ví MoMo</a></h4>

                                            <ul class="new-meta  list-inline mb-0">
                                                <li class="list-inline-item">
                                                    2 giờ trước
                                                </li>

                                            </ul>


                                        </div>
                                    </div>
                                </li>



                            </ul>

                            {% endfor %}
                        </div>

                    </div>

                </div>







            </div>
        </div>


    </div>


</div>





<div class="newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="newsletter-img">
                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="col">
                <h4>Nhận tin tức từ MoMo !</h4>
                <div class="h5 font-weight-normal mb-0 text-secondary">
                    Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ MoMo
                </div>
            </div>

            <div class="col-12 col-lg-auto">
                <div class="input-group newsletter-input">
                    <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}