{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tuyển dụng</li>
        </ol>
    </div>
</nav>


<div class="section hero-section hero-section-job transparent " style="background-image: url('images/tuyendung/teambuilding-momo.jpg');">
    <div class="inner">
        <div class="container">
            <div class="job-search-form">
                <h2 class="text-white job-search-heading h1">Hợp tác cùng MOMO</h2>

                <h3 class=" job-search-sub h4 ">
                    Hơn <span>15<sup>+</sup></span>vị trí đang chờ bạn
                </h3>
                <form class="form-inline">
                    <div class="form-group ">
                        <input type="text" class="form-control" id="" placeholder="Nhập chức danh, công việc, vị trí">

                    </div>
                    <div class="form-group">
                        <select name="" id="" class="form-control ">
                            <option>Tất cả vị trí</option>
                            <option>TP. HCM</option>
                            <option>Đà Nẵng</option>
                            <option>Nha Trang</option>
                        </select>
                    </div>
                    <button type="submit" class="btn job-search-btn"> <svg class="svg-icon  svg-icon-22 text-white">
                            <use xlink:href="svg/svg.svg#svg-search"></use>
                        </svg> Tìm kiếm</button>
                </form>


                <div class="job-keywords  text-white">
                    <div class="job-keywords-name">Từ khóa thông dụng : </div>
                    <a href="#0" class="button  ">Thiết kế</a>
                    <a href="#0" class="button ">IT Developer</a>
                    <a href="#0" class="button ">Chăm sóc khách hàng</a>
                    <a href="#0" class="button ">Kế toán</a>

                </div>
                <!-- end .keywords -->
            </div> <!-- end .job-search-form -->
        </div> <!-- end .container -->
        <div class="features-bar d-none">
            <div class="container">
                <div class="features-bar-inner flex space-between">
                    <div class="features-box self-center">
                        <h3>Leading the industry</h3>
                        <a href="about.html">About us<i class="ion-ios-arrow-thin-right"></i></a>
                    </div> <!-- end .feature-box -->
                    <div class="features-box-icon flex no-wrap">
                        <img src="images/feature-icon01.png" alt="cup-icon" class="img-responsive self-center">
                        <div class="content self-center">
                            <h3>High average salary</h3>
                            <a href="#0">Learn more<i class="ion-ios-arrow-thin-right"></i></a>
                        </div> <!-- end .content -->
                    </div> <!-- end .feature-box-icon -->
                    <div class="features-box-icon flex no-wrap">
                        <img src="images/feature-icon02.png" alt="cup-icon" class="img-responsive self-center">
                        <div class="content self-center">
                            <h3>2,500,000+ candidates</h3>
                            <a href="#0">Our community<i class="ion-ios-arrow-thin-right"></i></a>
                        </div> <!-- end .content -->
                    </div> <!-- end .feature-box-icon -->
                    <div class="user-profile-icon self-center">
                        <img src="images/profile-icon01.png" alt="profile-icon" class="img-responsive self-center">
                    </div> <!-- end .profile-icon -->
                </div> <!-- end .features-bar-inner -->
            </div> <!-- end .container -->
        </div> <!-- end .features-bar -->
    </div> <!-- end .inner -->
</div>


<div class="container">

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="porlet-container mb-4">
                <div class="porlet-title-space">
                    <h4 class="porlet-title text-uppercase ">Danh sách công việc</h4>
                </div>


                <div class="listings-container">
                    {% for item in range(0,5) %}
                    <a href="tuyendung-detail.html" class="job-listing" >

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-logo">
                                <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt="" class="img-fluid">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Nhân Viên Chăm Sóc Khách Hàng - Trực Tổng Đài Viên</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span>Kinh doanh thị trường</span> - Chi nhánh Tp.HCM
                                </div>

                            </div>


                            <div class="job-listing-exprite">
                                Hạn nộp <br> <span>10/09/2018</span>
                            </div>

                        </div>

                    </a>


                    <a href="tuyendung-detail.html" class="job-listing" >

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-logo">
                                <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt="" class="img-fluid">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Kế toán tổng hợp</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span>Kinh doanh thị trường</span> - Chi nhánh Tp.HCM
                                </div>

                            </div>


                            <div class="job-listing-exprite">
                                Hạn nộp <br> <span>10/09/2018</span>
                            </div>

                        </div>

                    </a>
                    {% endfor %}

                    <div class="block-more text-center pt-4 pb-4">

                       


                        <a href="" class="block-more-btn">
                            <span>
                                XEM THÊM
                            </span>
                        </a>
                    </div>

                    <div class="text-center pt-3 pb-3">
                            <!-- <div class="loading"></div> -->
                        <div class="loading loading-lg"></div>
                       </div>


                </div>

            </div>

        </div>
        <div class="col-12 col-lg-4">
            <div class="porlet-container mb-4">
                <div class="porlet-title-space">
                    <h4 class="porlet-title text-uppercase text-success">Vị trí tuyển dụng</h4>
                </div>
                <ul class="list-unstyled jobs-position">
                    {% for item in range(0,2) %}

                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Senior Java developer
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Nhân viên chăm sóc khách hàng
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Product Owner
                                </div>
                            </div>
                        </div>
                    </li>


                    {% endfor %}

                </ul>
            </div>


            <div class="porlet-container mb-4">
                <div class="newsletter newsletter-job ">
                    <div class="container">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <div class="newsletter-img">
                                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="" width="60">
                                </div>

                            </div>

                            <div class="col">
                                <div class="ml-2">
                                    <div class="font-weight-bold">Nhận tin tuyển dụng từ MoMo !</div>
                                    <div class="mb-0 text-secondary">
                                        Đừng bỏ lỡ những cơ hội tuyển dụng từ MoMo
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="input-group newsletter-input">
                                    <input type="text" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>






        </div>
    </div>

</div>






<section class="app-present">
    <div class="container text-uppercase">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="modalNopdon" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Nộp đơn ứng tuyển</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Chức
                            danh</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">Trưởng phòng kinh doanh</div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for="">Nơi
                            làm việc</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">Hồ Chí Minh</div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Người
                            liên hệ</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">People Operation Team</div>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <legend><span>Thông tin liên hệ </span></legend>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Họ và tên</label>
                            <div class="col-sm-8"><input class="form-control" placeholder="Họ và tên" type="text"></div>
                        </div>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Email</label>
                            <div class="col-sm-8"><input class="form-control" placeholder="Địa chỉ email" type="email"></div>
                        </div>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Điện thoại</label>
                            <div class="col-sm-8"><input class="form-control is-invalid" placeholder="Điện thoại của bạn"
                                    type="text">

                                <div class="invalid-feedback">
                                    Số điện thoại không hợp lệ
                                </div>

                            </div>
                        </div>

                    </fieldset>



                    <fieldset class="form-group">
                        <legend><span>Hồ sơ của bạn</span></legend>
                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Đính kèm Hồ sơ cá
                                nhân</label>
                            <div class="col-sm-8">

                                <div class="file-input">
                                    <img src="images/folder.svg" class="file-input-img" alt="">
                                    <input type="file">
                                </div>



                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Hỗ trợ định dạng *.doc, *.docx, *.pdf và không quá 2MB
                                </small>

                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Ứng tuyển</button>
            </div>
        </div>
    </div>
</div>




{% endblock %}