{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}
{% include "layouts/mobile.html" %}

<nav aria-label="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="tuyendung.html">Tuyển dụng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tuyển dụng</li>
        </ol>
    </div>
</nav>




<div class="container mt-4">

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="porlet-container mb-2">

                <div class="porlet-padding is-big border-bottom">

                    <div class="row align-items-center">
                        <div class="col-12 col-lg">

                            <h1 class="h2 font-weight-bold job-title">Nhân viên chăm sóc khách hàng</h1>

                            <ul class="list-inline mb-0 job-exprite ">
                                <li class="list-inline-item ">
                                    <svg class="svg-icon  text-black-50 ">
                                        <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
                                    </svg>
                                    Chi nhánh TP. HCM
                                </li>
                                <li class="list-inline-item">
                                    <svg class="svg-icon   ">
                                        <use xlink:href="svg/svg.svg#svg-calendar-alt"></use>
                                    </svg>
                                    Hết hạn ngày: 10/10/2018
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto">
                            <div class=" job-top-btn">
                                <a href="" class="btn btn-info" data-toggle="modal" data-target="#modalNopdon">NỘP HỒ
                                    SƠ</a>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="porlet-padding is-big border-bottom">



                    <ul class="list-unstyled job-review">
                        <li>
                            <span> Số lượng tuyển :</span> <strong>2</strong>
                        </li>
                        <li>
                            <span>Yêu cầu kinh nghiệm:</span> <strong> chưa có kinh nghiệm</strong>
                        </li>
                        <li>
                            <span>Trình dộ học vấn:</span> <strong>Đại học</strong>
                        </li>
                        <li>
                            <span>Mức lương:</span> <strong>Cạnh tranh</strong>
                        </li>
                        <!-- <li> <span>Hạn nộp:</span> <strong>10/9/2018</strong></li> -->
                        <li><span>Nơi làm việc:</span> <strong>Lầu M, Tòa nhà Petroland, số 12, đường Tân Trào, Phường
                                Tân Phú,
                                Quận 7</strong></li>
                    </ul>

                </div>

                <div class="porlet-padding is-big ">
                    <div class="job-desc">
                        <h4>Mô tả công việc</h4>

                        <ul class="list-circle">
                            <li>
                                Lịch làm việc phân công theo ca, bao gồm 4 ca luân phiên: <strong>
                                    7h - 15h; 9h - 17h; 13h - 21h; 14h -> 22h; Ca đêm: 22h - 7h
                                </strong>

                            </li>
                            <li>
                                Tiếp nhận và tư vấn khách hàng qua các kênh CSKH của Cty : <strong>
                                    CallCenter, Chatbox, Facebook, Email, Ứng dụng Momo
                                </strong>

                            </li>
                            <li>
                                Tư vấn thông tin, hướng dẫn sử dụng và giải đáp các thắc mắc của khách hàng về sản
                                phẩm,
                                dịch vụ của công ty.

                            </li>

                            <li>
                                Ghi nhận thông tin phản ánh của khách hàng vào hệ thống.
                            </li>
                        </ul>
                    </div>


                    <div class="job-desc">
                        <h4>Yêu cầu công việc</h4>

                        <ul class="list-circle row no-gutters">
                            <li class="col-12 col-lg-6 w- pr-2">
                                Tin học văn phòng cơ bản

                            </li>
                            <li class="col-12 col-lg-6 pr-2">
                                Kỹ năng giao tiếp, lắng nghe

                            </li>
                            <li class="col-12 col-lg-6 pr-2">
                                Kiên nhẫn, điềm tĩnh, hoà nhã

                            </li>

                            <li class="col-12 col-lg-6 pr-2">
                                Ham học hỏi

                            </li>

                            <li class="col-12 col-lg-6 pr-2">
                                Giao tiếp tiếng Anh trung cấp

                            </li>

                            <li class="col-12 col-lg-6 pr-2">
                                Hòa đồng với các đồng nghiệp

                            </li>

                        </ul>
                    </div>


                    <div class="job-desc">
                        <h4>Quyền lợi</h4>

                        <ul class="list-circle">
                            <li class="">
                                BHYT, BHXH, khám sức khỏe định kỳ hàng năm

                            </li>
                            <li class="">
                                Teambuilding hàng năm

                            </li>
                            <li class="">
                                Quà thưởng sinh nhật, tiệc cuối năm

                            </li>

                            <li class="">
                                PVI sau 18 tháng.

                            </li>

                            <li class="">
                                Thu nhập cơ bản: 5tr/tháng

                            </li>



                        </ul>
                    </div>

                    <div class="text-center">
                        <a href="" class="btn btn-lg btn-info" data-toggle="modal" data-target="#modalNopdon">NỘP HỒ
                            SƠ</a>
                    </div>



                </div>


            </div>

            <div class="porlet-container mb-4">
                <div class="porlet-title-space">
                    <h4 class="porlet-title text-uppercase ">Các vị trí làm việc khác</h4>
                </div>
                <div class="listings-container">
                    {% for item in range(0,1) %}
                    <a href="#" class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-logo">
                                <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                    class="img-fluid">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Nhân Viên Chăm Sóc Khách Hàng - Trực Tổng Đài Viên</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span>Kinh doanh thị trường</span> - Chi nhánh Tp.HCM
                                </div>

                            </div>


                            <div class="job-listing-exprite">
                                Hạn nộp <br> <span>10/09/2018</span>
                            </div>

                        </div>

                    </a>


                    <a href="#" class="job-listing" data-toggle="modal" data-target="#modalNopdon">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-logo">
                                <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                    class="img-fluid">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Kế toán tổng hợp</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span>Kinh doanh thị trường</span> - Chi nhánh Tp.HCM
                                </div>

                            </div>


                            <div class="job-listing-exprite">
                                Hạn nộp <br> <span>10/09/2018</span>
                            </div>

                        </div>

                    </a>
                    {% endfor %}



                </div>
            </div>




        </div>
        <div class="col-12 col-lg-4">
            <div class="porlet-container mb-4">
                <div class="porlet-title-space">
                    <h4 class="porlet-title text-uppercase text-success">Vị trí tuyển dụng</h4>
                </div>
                <ul class="list-unstyled jobs-position">
                    {% for item in range(0,2) %}

                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Senior Java developer
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Nhân viên chăm sóc khách hàng
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="jobs-position-item">
                        <a href="" class="link-absolute"></a>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="job-position-logo">
                                    <img src="http://www.vasterad.com/themes/hireo/images/company-logo-05.png" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="col">
                                <div class="job-position-name">
                                    Product Owner
                                </div>
                            </div>
                        </div>
                    </li>


                    {% endfor %}

                </ul>
            </div>


            <div class="porlet-container mb-4">
                <div class="newsletter newsletter-job ">
                    <div class="container">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <div class="newsletter-img">
                                    <img src="images/tintuc/newsletter-icon.png" class="img-fluid" alt="" width="60">
                                </div>

                            </div>

                            <div class="col">
                                <div class="ml-2">
                                    <div class="font-weight-bold">Nhận tin tuyển dụng từ MoMo !</div>
                                    <div class="mb-0 text-secondary">
                                        Đừng bỏ lỡ những cơ hội tuyển dụng từ MoMo
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="input-group newsletter-input">
                                    <input type="text" class="form-control" placeholder="Nhập Email"
                                        aria-label="Nhập Email">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">ĐĂNG KÝ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>






        </div>
    </div>

</div>






<section class="app-present">
    <div class="container text-uppercase">
        <div class="app-present-row">
            <div class="app-present-txt">
                Tải ứng dụng momo ngay !<br class="d-block d-lg-none"> cơ hội nhận quà lên đến 100.000đ
            </div>
            <div class="app-present-btn">
                <a href="" class="btn btn-light text-primary font-weight-bold ">TẢI NGAY</a>
            </div>
        </div>

    </div>
</section>


<!-- Modal -->
<div class="modal fade modal-lunar  " id="modalNopdon" tabindex="-1" role="dialog" aria-labelledby="demoModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-md " role="document">
        <div class="modal-content">

            <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>


            <div class="">
                <div class="bg-img m-h-30"
                    style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-190620102436-636966230764953171.jpg')">

                </div>
                <div class="pull-up-lg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10 mx-auto pb-5">
                                <div class="bg-light rounded shadow-sm px-3 py-3">
                                    <h2 class="pt-sm-3  text-center">Nộp đơn ứng tuyển
                                    </h2>
                                   
                                    <form class="">

                                        <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Chức
                                                danh</label>
                                            <div class="col-sm-8">
                                                <div class="font-weight-bold">Trưởng phòng kinh doanh</div>
                                            </div>
                                        </div>
                    
                                        <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for="">Nơi
                                                làm việc</label>
                                            <div class="col-sm-8">
                                                <div class="font-weight-bold">Hồ Chí Minh</div>
                                            </div>
                                        </div>
                    
                                        <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Người
                                                liên hệ</label>
                                            <div class="col-sm-8">
                                                <div class="font-weight-bold">People Operation Team</div>
                                            </div>
                                        </div>
                    
                                        <fieldset class="form-group">
                                            <legend><span style="background-color: #f5f5f5;">Thông tin liên hệ </span></legend>
                    
                                            <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Họ và tên</label>
                                                <div class="col-sm-8"><input class="form-control" placeholder="Họ và tên" type="text"></div>
                                            </div>
                    
                                            <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Email</label>
                                                <div class="col-sm-8"><input class="form-control" placeholder="Địa chỉ email" type="email">
                                                </div>
                                            </div>
                    
                                            <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Điện thoại</label>
                                                <div class="col-sm-8"><input class="form-control is-invalid"
                                                        placeholder="Điện thoại của bạn" type="text">
                    
                                                    <div class="invalid-feedback">
                                                        Số điện thoại không hợp lệ
                                                    </div>
                    
                                                </div>
                                            </div>
                    
                                        </fieldset>
                    
                    
                    
                                        <fieldset class="form-group">
                                            <legend><span style="background-color: #f5f5f5;">Hồ sơ của bạn</span></legend>
                                            <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Đính kèm Hồ sơ cá
                                                    nhân</label>
                                                <div class="col-sm-8">
                    
                                                    <div class="file-input">
                                                        <img src="images/folder.svg" class="file-input-img" alt="">
                                                        <input type="file">
                                                    </div>
                    
                    
                    
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                        Hỗ trợ định dạng *.doc, *.docx, *.pdf và không quá 2MB
                                                    </small>
                    
                                                </div>
                                            </div>
                                        </fieldset>

                                        <button type="submit" class="btn btn-primary rounded btn-block btn-cta" data-dismiss="modal" aria-label="Close">Đăng ký </button>
                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->



<!-- <div class="modal fade" id="modalNopdon2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Nộp đơn ứng tuyển</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Chức
                            danh</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">Trưởng phòng kinh doanh</div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for="">Nơi
                            làm việc</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">Hồ Chí Minh</div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center"><label class="col-form-label col-sm-4" for=""> Người
                            liên hệ</label>
                        <div class="col-sm-8">
                            <div class="font-weight-bold">People Operation Team</div>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <legend><span>Thông tin liên hệ </span></legend>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Họ và tên</label>
                            <div class="col-sm-8"><input class="form-control" placeholder="Họ và tên" type="text"></div>
                        </div>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Email</label>
                            <div class="col-sm-8"><input class="form-control" placeholder="Địa chỉ email" type="email">
                            </div>
                        </div>

                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Điện thoại</label>
                            <div class="col-sm-8"><input class="form-control is-invalid"
                                    placeholder="Điện thoại của bạn" type="text">

                                <div class="invalid-feedback">
                                    Số điện thoại không hợp lệ
                                </div>

                            </div>
                        </div>

                    </fieldset>



                    <fieldset class="form-group">
                        <legend><span>Hồ sơ của bạn</span></legend>
                        <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Đính kèm Hồ sơ cá
                                nhân</label>
                            <div class="col-sm-8">

                                <div class="file-input">
                                    <img src="images/folder.svg" class="file-input-img" alt="">
                                    <input type="file">
                                </div>



                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Hỗ trợ định dạng *.doc, *.docx, *.pdf và không quá 2MB
                                </small>

                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Ứng tuyển</button>
            </div>
        </div>
    </div>
</div>


 -->

{% endblock %}