{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %}




{% block content %}


<div class="unsub-wrapper">

    <div class="unsub">
        <div class="unsub-content">
            <div class="text-center px-0 px-lg-4">

                <div class="mb-4">
                    <img src="images/mail/email.svg" class="img-fluid d-block mx-auto" width="60" alt="">
                </div>

                <h1 class="unsub-header mb-3"> You’ve unsubscribed</h1>
                <p class="unsub-message"> You’ll no longer receive emails from LinkedIn with a summary of your
                    notifications </p>



            </div>


            <div class="unsub-footer">
                <span class="unsub-footer-question"> Unsubscribed by accident?</span>
                <form class="unsub-footer-action" action="/psettings/email-resubscribe" method="GET"><input
                        type="hidden" name="loid" id="loid"
                        value=""><button
                        class="btn btn-link px-0 py-0" type="submit"> Subscribe again</button></form>
            </div>
        </div>
    </div>


    <div class="unsub">
            <div class="unsub-content">
                <div class="text-center px-0 px-lg-4">
    
                    <div class="mb-4">
                        <img src="images/mail/momo-mail.svg" class="img-fluid d-block mx-auto" width="120" alt="">
                    </div>
    
                    <h1 class="unsub-header mb-3"> Welcome back!</h1>
                    <p class="unsub-message"> You have opted back in to receive LinkedIn emails with a summary of your notifications </p>
    
    
    
                </div>
    
    
                <div class="unsub-footer">
                    <a href="momo.vn" class="btn btn-link" > Quay về trang chủ</a>
                </div>
            </div>
        </div>


</div>








{% endblock %}


