.alert {
  padding: 15px 20px;
  background: $highlight;
  position: relative;
}

.alert-title {
  font-size: 16px;
}

.alert-close {
  font-size: 20px;
  color: gray("900");
  position: absolute;
  z-index: 1;
  line-height: 1;
  top: -5px;
  right: -5px;
  opacity: 0.5;
}
