.breadcrumb-container{
    background: white;
    font-size: 13px;
    .breadcrumb{
        background: white;
        padding: 7px 0;
        margin-bottom: 0;
        a{
            font-weight: 500;
        }
        white-space: nowrap;
        overflow-y: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            width: 0 !important;
            height: 0 !important;
          }
    }
    .breadcrumb-item.active {
        color: gray("900");
    }



    &.breadcrumb-small{
        background: transparent;
        font-size: 12px;
       
        .have-sticky-breadcrumb &{
            // box-shadow: none !important;
            // position: relative !important;
            // top: 0;
        }
        .breadcrumb{
            background: transparent;
            padding: 0;
            margin-bottom: 0;
            a{
                font-weight: normal;
                color: gray("500");
            }

        }
        .breadcrumb-item.active {
            color: gray("800") !important;
            font-weight: normal;
        }


        .breadcrumb-item{
           
            &:hover{
                a{
                    color: gray("800") !important;
                
                }
            }
        }

        .breadcrumb-item + .breadcrumb-item{
            padding-left: 26px;
            position: relative;
            color: gray("500");
            &:before {
                position: absolute;
                left: 11px;
                content: "›";
                font-size: 16px;
                color: gray("500");
                top: 0px;
                line-height: 1;
            }

           
        }

    }
}
.breadcrumb-item{
    display: inline-block;
}

.breadcrumb-item + .breadcrumb-item{
    padding-left: 25px;
    position: relative;
    font-weight: bold;
    &:before {
        position: absolute;
        left: 10px;
        content: "›";
        font-size: 22px;
        color: gray("800");
        top: -2px;
        line-height: 1;
    }
}

.breadcrumb-item.breadcrumb-cat{

    padding-left: 20px;
    font-weight: normal;
    color: gray("800");
    position: relative;

    &:before {
        position: absolute;
        left: 10px;
        line-height: 1;
        content :"";
        height: 95%;
        width: 1px;
        top: 1px;
        background: gray("400");
        padding: 0;
    }
    a{
        color: inherit;
    }
}


