.btn-animation{
  box-shadow: 0 0 0 0 color("momo");
  cursor: pointer;
  animation: apppulse 1.8s infinite cubic-bezier(0.66,0,0,1);
  animation-delay: 0.3s;
  position: relative;
  z-index: 0;

}

@keyframes apppulse {
  to {
    box-shadow: 0 0 0 8px rgba(color("momo"),0);
  }
}


.btn{
  //@include media-breakpoint-down(sm){
    max-width: 100%;
    white-space: inherit;
  //}
}


.bootstrap-select{
  .btn{
    background-color: white;
    border-radius: 3px;
    border: 1px solid gray("400");
    padding: 0.375rem 10px;
    color: gray("900") !important;
  }
  .btn.dropdown-toggle{
    background-color: white;
  }
  .bs-searchbox{
    margin-bottom: 5px;
    .form-control{
      font-size: 12px;
      padding: 5px 10px;
      height: auto;
      background: gray("200");
      border: none;
    }
  }
}

.selectpicker{

}





.btn-function{
  display: block;
  border: 1px solid gray("300");
  color: color("blue");
  font-size: 12px;
  background: white;
  @include hover-focus-active(){
    background: white;
    border: 1px solid gray("300");
    color: color("blue");
    background: rgba(color("blue"), 0.05);
  }
}