.embed-responsive-slider {
  &::before {
    padding-top: percentage(30/79);
  }
}

.embed-responsive-product {
  &::before {
    padding-top: percentage(244/210);
  }
}

.embed-responsive-img {
  background: gray("100");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}
