.svg-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
  }
  
  .svg-icon-20 {
    width: 20px;
    height: 20px;
  }
  
  .svg-icon-15 {
    width: 15px;
    height: 15px;
  }
  
  .svg-icon-22 {
    width: 22px;
    height: 22px;
  }
  .svg-icon-10 {
    width: 10px;
    height: 10px;
  }
  
  .svg-icon-8 {
    width: 8px;
    height: 8px;
  }
  
  .svg-icon-18 {
    width: 18px;
    height: 18px;
  }
  
  .svg-gray-50 {
    fill: gray("500");
  }
  
  .svg-gray-40 {
    fill: gray("400");
  }
  
  // .svg-circle{
  //   display: flex;
  //   width: 1em;
  //   height: 1em;
  //   // vertical-align: middle;
  //   overflow: visible;
  //   border-radius: 50%;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   background: gray("500");
  //   color: white;
  //   .svg-inline{
  //     font-size: 0.6em;
  //   }
  // }
  
  
  
  svg:not(:root).svg-inline {
    overflow: visible;
  }
  
  .svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
    &.svg-w {
      width: 1.25em;
    }
  }
  
  .svg-inline.svg-w-1 {
    width: 0.0625em;
  }
  .svg-inline.svg-w-2 {
    width: 0.125em;
  }
  .svg-inline.svg-w-3 {
    width: 0.1875em;
  }
  .svg-inline.svg-w-4 {
    width: 0.25em;
  }
  .svg-inline.svg-w-5 {
    width: 0.3125em;
  }
  .svg-inline.svg-w-6 {
    width: 0.375em;
  }
  .svg-inline.svg-w-7 {
    width: 0.4375em;
  }
  .svg-inline.svg-w-8 {
    width: 0.5em;
  }
  .svg-inline.svg-w-9 {
    width: 0.5625em;
  }
  .svg-inline.svg-w-10 {
    width: 0.625em;
  }
  .svg-inline.svg-w-11 {
    width: 0.6875em;
  }
  .svg-inline.svg-w-12 {
    width: 0.75em;
  }
  .svg-inline.svg-w-13 {
    width: 0.8125em;
  }
  .svg-inline.svg-w-14 {
    width: 0.875em;
  }
  .svg-inline.svg-w-15 {
    width: 0.9375em;
  }
  .svg-inline.svg-w-16 {
    width: 1em;
  }
  .svg-inline.svg-w-17 {
    width: 1.0625em;
  }
  .svg-inline.svg-w-18 {
    width: 1.125em;
  }
  .svg-inline.svg-w-19 {
    width: 1.1875em;
  }
  .svg-inline.svg-w-20 {
    width: 1.25em;
  }
  
  .svg-lg {
    font-size: 1.2em;
    line-height: 0.65em;
    vertical-align: -0.17em;
  }
  
  .svg-xs {
    font-size: 0.75em;
  }
  
  .svg-sm {
    font-size: 0.875em;
  }
  
  .svg-md {
    font-size: 28px;
  }
  
  .svg-1x {
    font-size: 1em;
  }
  
  .svg-2x {
    font-size: 2em;
  }
  
  .svg-3x {
    font-size: 3em;
  }
  
  
  
  .svg-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg)
  }
  
  .svg-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg)
  }
  
  .svg-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    transform: rotate(270deg)
  }
  
  .svg-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    transform: scaleX(-1)
  }
  
  .svg-flip-vertical {
    transform: scaleY(-1)
  }
  
  .svg-flip-horizontal.fa-flip-vertical,.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
  }
  
  .svg-flip-horizontal.fa-flip-vertical {
    transform: scale(-1)
  }
  
  :root .svg-flip-horizontal,:root .svg-flip-vertical,:root .svg-rotate-90,:root .svg-rotate-180,:root .svg-rotate-270 {
    -webkit-filter: none;
    filter: none
  }
  