<div class="col-12 col-md-6 col-lg-4 post">
    <div class="new-item ">
        <div class="new-item-img embed-responsive embed-responsive-16by9">
            <a href="" class="link-absolute"></a>
            <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                alt="">


        </div>

        <div class="new-item-content clearfix">

            <h4 class="new-item-title"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                    cuộc sống
                    với Mylife Coffee và MoMo</a></h4>

        </div>
    </div>
</div>

<div class="col-12 col-md-6 col-lg-4 post">
    <div class="new-item ">
        <div class="new-item-img embed-responsive embed-responsive-16by9">
            <a href="" class="link-absolute"></a>
            <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                alt="">


        </div>

        <div class="new-item-content clearfix">

            <h4 class="new-item-title"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                    cuộc sống
                    với Mylife Coffee và MoMo</a></h4>

        </div>
    </div>
</div>

<div class="col-12 col-md-6 col-lg-4 post">
    <div class="new-item ">
        <div class="new-item-img embed-responsive embed-responsive-16by9">
            <a href="" class="link-absolute"></a>
            <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                alt="">


        </div>

        <div class="new-item-content clearfix">

            <h4 class="new-item-title"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                    cuộc sống
                    với Mylife Coffee và MoMo</a></h4>

        </div>
    </div>
</div>

<div class="col-12 col-md-6 col-lg-4 post">
    <div class="new-item ">
        <div class="new-item-img embed-responsive embed-responsive-16by9">
            <a href="" class="link-absolute"></a>
            <img data-src="https://momo.vn/Images/2018/08/02/momo_mylife_580x303_2144714.png" class="embed-responsive-img lazyload"
                alt="">


        </div>

        <div class="new-item-content clearfix">

            <h4 class="new-item-title"><a href="" class="link-black">Tận hưởng từng khoảnh khắc
                    cuộc sống
                    với Mylife Coffee và MoMo</a></h4>

        </div>
    </div>
</div>