// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff ;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
$gray-800: #424242 ;
$gray-900: #212121 ;
$black:    #000 ;
$rfs-rem-value: 14;
$enable-responsive-font-sizes: true;
// $rfs-font-size-unit: "px";


/*

$white:    #fff !default;
$gray-100: #f4a6bd !default;
$gray-200: #ef83ab !default;
$gray-300: #eb609d !default;
$gray-400: #eb609d !default;
$gray-500: #E83E8C !default;
$gray-600: #b92f71 !default;
$gray-700: #7c1d4c !default;
$gray-800: #460d28 !default;
$gray-900: #2f0617 !default;
$black:    #000 !default;

*/


$grays: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue:    #288AD6 ;
$indigo:  #3b2d38 ;
$purple:  rgb(88,86,214) ;
$pink:    rgb(255,45,85) ;
$red:     rgb(255,59,48) ;
$orange:  rgb(255,149,0) ;
$yellow:  rgb(255,204,0) ;
$green:   #00b964 ;
$teal:    rgb(90,200,250) ;
$cyan:    #17a2b8 ;
$highlight:    #FFFBE8 ;

$momo:  #AE2070;
$momo2:  #F02475 ;


$colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "momo":  $momo,
    "momo2":  $momo2
  ),
  $colors
);


$font-family-sans-serif:      Roboto, sans-serif;
$font-family-monospace:       monospace ;
$font-family-base:            $font-family-sans-serif ;


$primary:       $momo ;
$secondary:     $gray-600 ;
$success:       $green ;
$info:          $blue ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $gray-800 ;

$theme-colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "blue":       $info,
  ),
  $theme-colors
);


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white ;
$body-color:                $gray-900 ;

// Links
//
// Style anchor elements.

$link-color:                theme-color("primary") ;
$link-decoration:           none ;
$link-hover-color:          darken($link-color, 15%) ;
$link-hover-decoration:     none ;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem ;


$spinner-border-width:         3px;

$spinner-border-width-sm: 2px;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3)
                ),
                $spacers
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) ;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) ;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 ;
$grid-gutter-width:           30px ;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 ;
$line-height-sm:              1.5 ;

$border-width:                1px ;
$border-color:                $gray-300 ;

$border-radius:               .25rem ;
$border-radius-lg:            .3rem ;
$border-radius-sm:            .2rem ;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) ;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) ;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) ;

$component-active-color:      $white ;
$component-active-bg:         theme-color("primary") ;

$caret-width:                 .3em ;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;

$transition-base:             all .2s ease-in-out ;
$transition-fade:             opacity .15s linear ;
$transition-collapse:         height .35s ease ;


$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
            (
                            (21 9),
                            (16 9),
                            (4 3),
                            (1 1),
            ),
    $embed-responsive-aspect-ratios
);


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      Roboto, "Helvetica Neue", Arial, sans-serif ;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:            $font-family-sans-serif ;
// stylelint-enable value-keyword-case

$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) ;
$font-size-sm:                ($font-size-base * .875) ;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal ;
$line-height-base:            1.5 ;

$h1-font-size:                2.6rem ;
$h2-font-size:                1.75rem ;
$h3-font-size:                1.5rem ;
$h4-font-size:                1.25rem;
$h5-font-size:                1rem;
$h6-font-size:                0.75rem ;

$headings-font-family:        inherit ;
$headings-font-weight:        500 ;
$headings-line-height:        1.4 ;
$headings-color:              $black ;



$display1-size:               6rem ;
$display2-size:               5.5rem ;
$display3-size:               4.5rem ;
$display4-size:               3.5rem ;

$display1-weight:             300 ;
$display2-weight:             300 ;
$display3-weight:             300 ;
$display4-weight:             300 ;
$display-line-height:         $headings-line-height ;

$lead-font-size:              ($font-size-base * 1.25) ;
$lead-font-weight:            300 ;

$small-font-size:             12px ;

$text-muted:                  $gray-600 ;


$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;

$hr-border-color:             rgba($black, .1) ;
$hr-border-width:             $border-width ;

$mark-padding:                .2em ;

$dt-font-weight:              $font-weight-bold ;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) ;
$nested-kbd-font-weight:      $font-weight-bold ;

$list-inline-padding:         .5rem ;

$mark-bg:                     #fcf8e3 ;

$hr-margin-y:                 $spacer ;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       0;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      $border-width !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y ;
// $btn-padding-x:               $input-btn-padding-x ;
$btn-padding-x:               20px ;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm ;
$btn-padding-x-sm:             20px ;
$btn-font-size-sm:            $input-btn-font-size-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg ;
$btn-padding-x-lg:             30px ;
$btn-font-size-lg:            $input-btn-font-size-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

// $btn-border-width:            $input-btn-border-width ;
$btn-border-width:            1px ;

$btn-font-weight:             $font-weight-normal ;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) ;
$btn-focus-width:             0 ;
$btn-focus-box-shadow:        0 ;
$btn-disabled-opacity:        .65 ;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) ;

$btn-link-disabled-color:     $gray-600 ;

$btn-block-spacing-y:         .5rem ;

// Allows for customizing button radius independently from global border radius
// $btn-border-radius:           $border-radius;
// $btn-border-radius-lg:        $border-radius-lg ;
// $btn-border-radius-sm:        $border-radius-sm ;

$btn-border-radius:           20px;
$btn-border-radius-sm:        20px ;
$btn-border-radius-lg:        20px ;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out ;

$navbar-dark-color:                 rgba($white, .95) ;
$navbar-dark-hover-color:           rgba($white, .95) ;






$card-spacer-y:                     1.5rem ;
$card-spacer-x:                     1.5rem ;
$card-border-width:                0 ;
$card-border-color:                 rgba($black, .125) ;



// Progress bars

$progress-height:                   6px ;
$progress-font-size:                $font-size-base * .75 ;
$progress-bg:                       $gray-300 ;
$progress-border-radius:            $border-radius ;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) ;
$progress-bar-color:                $white ;
$progress-bar-bg:                   theme-color("primary") ;
$progress-bar-animation-timing:     1s linear infinite;
$progress-bar-transition:           width .6s ease ;
