
@import 'abstracts/variables';

@import 'bootstrap-override/bootstrap';

@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'base/class';
@import 'base/typography';


@import 'components/buttons';
@import 'components/dropdown';
@import 'components/svg';
@import 'components/embed';
@import 'components/breadcrumb';
@import 'components/modal';
@import 'components/loading';
@import 'components/toasts';
@import 'components/alert';


@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/navigation';
@import 'layout/menu';
@import 'layout/slider';
@import 'layout/porlet';
@import 'layout/prontera';
@import 'layout/socialShare';
@import 'layout/mockup';
@import 'layout/scrollbar';
@import 'layout/card';

@import 'vendor/swiper/swiper';
@import 'vendor/select2/select2';
@import 'vendor/sweetalert2';
@import 'vendor/magnific-popup';
@import 'vendor/rating';
@import 'vendor/lightgallery';
@import 'vendor/lunar-modal/lunar';

@import 'components/sweetalert';
@import 'components/decoration';


@import 'pages/home';
@import 'pages/responsive';
@import 'pages/hoidap';
@import 'pages/tintuc';
@import 'pages/tuyendung';
@import 'pages/404';
@import 'pages/huongdan';
@import 'pages/promotion';
@import 'pages/search';
@import 'pages/lienhe';
@import 'pages/cgv';
@import 'pages/feature';
@import 'pages/chinhanh';
@import 'pages/lixi';
@import 'pages/challenge';
@import 'pages/diemthanhtoan';
@import 'pages/unsubscribe';
@import 'pages/cashback';
@import 'pages/donation';
@import 'pages/category';



/*

.post-wrapper {
  padding: 0 !important;
}
.mapbank-container {
  font-size: 15px;
  line-height: 1.4;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 15px 5px;
}

.mapbank {
  flex: 1;
}

.mapbank-feature{

}

.mapbank-feature-item{
  overflow: hidden;
  padding-left: 60px;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  &:not(:last-child){
    &:after{
      content: "";
      height: 100%;
      width: 0;
      border-left: 1px dashed gray("300");
      position: absolute;
      left: 22px;
      top: 0;
      z-index: -1;
    }
  }
  .para{
    //color: gray("700");

    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
}

.mapbank-feature-name{
  font-weight: bold;
  margin-bottom: 8px;
}

.post-body  .mapbank-feature-img{
  width: 43px !important;
  height: 43px !important;
  position: absolute;
  left: 0;
  top: 0;
}

.mapbank-footer{

}

.mapbank-cta{
  height: 45px;
  line-height: 45px;
  display: block;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  background: #b0006d;
  border-radius: 5px;
  transition: all 0.1s;
  @include hover-focus-active(){
    color: white;
    background: lighten(#b0006d,5%);
  }
}*/
