/**
 * These values will not show up in content, but can be
 * queried by JavaScript to know which breakpoint is active.
 * Add or remove as many breakpoints as you like.
 */
body:before {
  content: "smartphone";
  display: none;
  /* Prevent from displaying. */
}

html {
  font-size: 14px;
}



body {
  position: relative;
}
.ios {
  .download-btn-android {
    display: none;
  }
}

.android {
  .download-btn-apple {
    display: none;
  }
}

a {
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@include media-breakpoint-up(md) {
  body:before {
    content: "tablet";
  }
}

@include media-breakpoint-up(lg) {
  body:before {
    content: "desktop";
  }
}
@include media-breakpoint-down(sm) {
 /*  h1,
  .h1 {
    font-size: 2.4375rem;
    line-height: 2.6875rem;
  }

  h2,
  .h2 {
    font-size: 1.859375rem;
    line-height: 2.20625rem;
  }

  h3,
  .h3 {
    font-size: 1.3125rem;
    line-height: 1.71875rem;
  }

  h4,
  .h4 {
    font-size: 1.09375rem;
    line-height: 1.7125rem;
  }

  h5,
  .h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 0.75rem;
    line-height: 1.23125rem;
  } */
}

.wrapper,
body {
  // background: #f4f4f4;
  background: #f7f8fa;
  // background: gray("200");
}

.wrapper {
  padding-top: 54px;

  @include media-breakpoint-down(md) {
    padding-top: 48px;
  }
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}

.text-small {
  font-size: $small-font-size;
}

.text-read{
  font-size: 15px;
  line-height: 1.6;
}

.text-little {
  font-size: 13px;
}

.link-white {
  color: gray("300");

  @include hover-focus() {
    color: white;
  }
}

.link-dark {
  color: gray("900");
  @include hover-focus() {
    color: color("momo");
  }
}

.link-black {
  color: $black;
  @include hover-focus() {
    color: color("momo");
  }
}

.link-light {
  color: white;

  @include hover-focus() {
    color: color("momo");
  }
}

.link-gray {
  color: gray("500");

  @include hover-focus() {
    color: gray("900");
  }
}

.link-blue {
  color: color("blue");
  @include hover-focus() {
    color: darken(color("blue"), 10%);
  }
}

.text-gray {
  color: gray("600");
}

.text-blue{
  color: color("blue");
}

.text-momo2{
  color: $momo2;
}

.text-facebook {
  &:hover {
    color: #4267b2;
  }
}

.bg-gray{
  background: gray("500");
}

.bg-lightgray{
  background: gray("300");
}

.text-google-plus {
  &:hover {
    color: #db4437;
  }
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
}

.scrollmenu {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  white-space: nowrap;
}

.scrollmenu-item {
  display: inline-block;
}

.md-gutters.row {
  margin-right: -10px;
  margin-left: -10px;

  > .col,
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media-breakpoint-down(sm) {
    margin-right: -5px;
    margin-left: -5px;

    > .col,
    > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.sm-gutters.row {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.col{
  min-width: 0;
}


@include media-breakpoint-down(sm) {
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;

    > .col,
    > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
//Shadow Udemy
.shadow-s1{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}