
/* Justify Border Title
-----------------------------------------------------------------*/

.fancy-title {
  position: relative;
  margin-bottom: 20px;
}

.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding-right: 15px;
  margin-bottom: 0;
}

.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
  padding-right: 10px;
}

.fancy-title.title-double-border:before,
.fancy-title.title-border:before,
.fancy-title.title-border-color:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 3px double #e5e5e5;
  left: auto;
  top: 46%;
  right: 0;
}

.fancy-title.title-border:before {
  top: 49%;
  border-top: 1px solid #eee;
}

.fancy-title.title-border-color:before {
  top: 49%;
  border-top: 1px solid color("momo");
  opacity: 0.6;
}

/* Block Titles
-----------------------------------------------------------------*/

.title-block {
  padding: 2px 0 3px 15px;
  border-left: 4px solid color("momo");
  margin-bottom: 15px;
  margin-top: 20px;
}

.title-block-right {
  padding: 2px 15px 3px 0;
  border-left: 0;
  border-right: 7px solid color("momo");
  text-align: right;
}

.title-block h1,
.title-block h2,
.title-block h3,
.title-block h4 {
  margin-bottom: 0;
}

.title-block > span {
  display: block;
  margin-top: 4px;
  color: #555;
  font-weight: 300;
}

.title-block h1 + span {
  font-size: 22px;
}

.title-block h2 + span {
  font-size: 19px;
}

.title-block h3 + span {
  font-size: 17px;
}
.title-block h4{
  font-size: 18px;
}
.title-block h4 + span {
  font-size: 14px;
  margin-top: 3px;
}
