{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="theme-color" content="#ae2070">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">




    {% block CSS %}
    <link rel="stylesheet" href="stylesheets/core.css">

    {% endblock %}


    {% block testCSS %}
    {% endblock %}
 
    <!-- load combined svg file (with symbols) into body-->
    <script>
        (function (doc) {
            var scripts = doc.getElementsByTagName('script')
            var script = scripts[scripts.length - 1]
            var xhr = new XMLHttpRequest()
            xhr.onload = function () {
                var div = doc.createElement('div')
                div.innerHTML = this.responseText
                div.style.display = 'none'
                div.style.width = 0
                div.style.height = 0
                script.parentNode.insertBefore(div, script)
            }
            xhr.open('get', 'svg/svg.svg', true)
            xhr.send()
        })(document)
    </script>
</head>


<body class=" have-sticky-breadcrumb" data-spy="scroll" data-target="#list-example" data-offset="90">
    <div class="wrapper">

        {% block header %}
        {% include "layouts/header.html" %}
        {% endblock %}


        {% block content %}


        {% endblock %}

        {% block footer %}
        {% include "layouts/footer.html" %}
        {% endblock %}


        {% block modal %}
        {% include "layouts/modal.html" %}
        {% endblock %}

    </div>

    {% block javascript %}

    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="javascripts/app.js"></script>

    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/theia-sticky-sidebar.min.js"></script>
    <script src="js/jquery.infinitescroll.js"></script>
    <script src="js/star-rating.min.js"></script>

    <script src="js/lightgallery-all.min.js"></script>
    <script src="js/select2.min.js"></script>
    <!-- <script src="js/bodyScrollLock.js"></script> -->

    <script src="js/custom.js"></script>



    {% endblock %}

    {% block testJS %}
    {% endblock %}

</body>

</html>