<div class="full-content">

    <table align="center" class="tblImage" style="width:580px">
        <tbody>
            <tr>
                <td><img alt="" src="https://static.mservice.io/Images/2017/10/19/bidv_191213471.jpg"
                        style="height:435px; width:580px"></td>
            </tr>
            <tr>
                <td class="Image" style="display: none;">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <p><strong>Để đăng ký BIDV online, khách hàng chỉ cần thực hiện 3 bước:</strong></p>

    <p><em>Bước 1:</em> Truy cập <a href="https://ebank.bidv.com.vn/DKNHDT/dk_bidvonline.htm">https://ebank.bidv.com.vn/DKNHDT/dk_bidvonline.htm</a></p>

    <p><em>Bước 2:</em> Điền các thông tin cá nhân</p>

    <p><em>Bước 3:</em> Nhận &amp; nhập mã xác thực (OTP) để hoàn tất đăng ký BIDV Online.</p>

    <p><strong><em>Sau khi tạo đơn đăng ký thành công, cán bộ BIDV sẽ liên hệ để xác thực
                thông tin. Sau khi xác thực đủ thông tin, BIDV sẽ hỗ trợ kích hoạt dịch vụ
                BIDV Online.</em></strong></p>

    <p>Đăng ký thành công dịch vụ BIDV Online, thực hiện liên kết tài khoản với Ví MoMo để
        nhận ngay Thẻ quà tặng đến 100.000Đ trải nghiệm Thanh toán/Mua sắm siêu tiện ích
        trên MoMo.</p>

    <p><strong>Hướng dẫn chi tiết Liên kết tài khoản:</strong></p>

    <p><em>Bước 1:</em> Đăng nhập MoMo, Chọn <strong>“Liên kết tài khoản”</strong></p>

    <p><em>Bước 2:</em> Chọn Logo <strong>BIDV</strong> và điền thông tin theo hướng dẫn</p>

    <p><em>Bước 3:</em> Quay lại màn hình chính, chọn <strong>“Nạp tiền vào Ví”</strong>
        (chỉ 10.000Đ) từ BIDV để xác nhận tài khoản <em>(số tiền này có thể rút ra khỏi Ví
            hoặc thanh toán tất cả các dịch vụ trên MoMo)</em></p>

    <p>Quà tặng 100.000Đ có thể dùng cho chính mình hoặc cho bạn bè/người thân.&nbsp;</p>

    <p>Ngoài ra, đừng quên để liên kết thành công số điện thoại liên kết ví phải trùng với
        số SMS Banking đã đăng ký.</p>

    <p>Để được hỗ trợ nhanh nhất bạn có thể liên hệ: <strong>1900 5454 41 - (028) 399 171
            99 </strong>hoặc <strong>hotro@momo.vn</strong>.</p>

</div>