<button class="dtt-search-expand font-weight-bold d-block d-lg-none" type="button" data-toggle="collapse"
   data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

   <svg class="svg-inline svg ">
      <use xlink:href="svg/svg.svg#svg-controls"></use>
   </svg>

   Tìm kiếm
</button>




<div class="dtt-search collapse " id="collapseExample">

   <div class="dtt-search-item mb-3">

      <ul class="list-unstyled mb-0 dtt-search-tab ">
         <li class="is-active">
            <a href="diemthanhtoan.html" class="dtt-search-head">

               <svg class="svg-inline svg svg-lg ">
                  <use xlink:href="svg/svg.svg#svg-compass"></use>
               </svg>

               Địa điểm phổ biến</a>
         </li>
         <li>
            <a href="diemthanhtoan-list.html" class="dtt-search-head">

               <svg class="svg-inline svg svg-lg ">
                  <use xlink:href="svg/svg.svg#svg-map-pin"></use>
               </svg>

               Gần tôi</a>
         </li>
      </ul>

   </div>

   <hr class="pt-0 mb-4">


   <div class="dtt-search-item">

      <h4 class="dtt-search-title d-none d-lg-block">Tìm kiếm</h4>


      <div class="dtt-search-rela">
         <input type="text" class="form-control  shadow-sm" placeholder="Từ khóa tìm kiếm">

         <svg class="svg-inline svg dtt-search-icon">
            <use xlink:href="svg/svg.svg#svg-search"></use>
         </svg>

      </div>


   </div>

   <div class="dtt-search-item">

      <h4 class="dtt-search-title d-none d-lg-block">Vị trí</h4>





      <div class="dtt-search-rela">



         <div class="shadow-sm">
            <select class="form-control  " id="sg-select2-place" name="param">
               <option></option>
            </select>

         </div>


         <svg class="svg-inline svg dtt-search-icon">
            <use xlink:href="svg/svg.svg#svg-map-marker-alt"></use>
         </svg>


      </div>




   </div>

   <div class="dtt-search-item">

      <h4 class="dtt-search-title d-none d-lg-block">Danh mục</h4>


      <ul class="list-unstyled dtt-search-check">
         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck1">
               <label class="custom-control-label" for="customCheck1">Tất cả</label>
            </div>
         </li>

         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck2">
               <label class="custom-control-label" for="customCheck2">Cafe/ Dessert</label>
            </div>
         </li>

         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck3">
               <label class="custom-control-label" for="customCheck3">Nhà hàng</label>
            </div>
         </li>

         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck4">
               <label class="custom-control-label" for="customCheck4">Giải trí</label>
            </div>
         </li>

         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck5">
               <label class="custom-control-label" for="customCheck5">Mua sắm</label>
            </div>
         </li>
         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck6">
               <label class="custom-control-label" for="customCheck6">Siêu thị</label>
            </div>
         </li>

         <li>
            <div class="custom-control custom-checkbox">
               <input type="checkbox" class="custom-control-input" id="customCheck7">
               <label class="custom-control-label" for="customCheck7">Du lịch</label>
            </div>
         </li>

      </ul>


   </div>


</div>