<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <h4 class="font-weight-bold footer-heading">
                            Chăm sóc khách hàng
                        </h4>

                        <div class="footer-btn-app">
                            <a target="_blank"
                                href="https://momo.vn/huong-dan/huong-dan-gui-yeu-cau-ho-tro-bang-tinh-nang-tro-giup"
                                class="link-absolute"></a>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="mr-2">
                                        <svg class="svg-inline svg ">
                                            <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="fba-1">
                                        Hướng dẫn trợ giúp trên
                                    </div>

                                    <div class="fba-2">
                                         Ứng dụng Ví MoMo
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="footer-care mt-2 mt-lg-2">
                            <div class="footer-care-txt d-inline">Hotline : </div>
                            <a href="tel:1900 5454 41" class="footer-call-num link-white">1900 5454 41</a> <small>
                                <i>(1000
                                    đ/phút)</i></small>
                        </div>

                        <div class="footer-care mt-2 mt-lg-2">
                            <div class="footer-care-txt d-inline">Email : </div>
                            <a class="d-inline footer-care-link font-weight-normal" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>
                        </div>



                    </div>


                    <div class="col-12 col-md-12 col-lg-6">
                        <h4 class="font-weight-bold footer-heading mt-3 mt-md-0">
                            Tải ứng dụng ví MoMo
                        </h4>

                        <div class="row sm-gutters flex-nowrap">
                            <div class="col-auto">
                                <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank"> <img
                                        src="https://static.mservice.io/img/tai-appstore.png" width="130"
                                        class="img-fluid" alt=""> </a>
                            </div>
                            <div class="col-auto">
                                <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                    class="link-white" target="_blank"> <img
                                        src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                        class="img-fluid" alt=""> </a>
                            </div>
                        </div>

                        <h4 class="font-weight-bold footer-heading mt-2 pt-4">
                            Kết nối ví MoMo
                        </h4>

                        <ul class="list-inline footer-social-list">
                            <li class="list-inline-item mb-2"><a href="https://www.facebook.com/vimomo" target="_blank">
                                    <img src="images/social/facebook.svg" alt="" width="26"> </a></li>


                            <li class="list-inline-item mb-2"><a href="https://www.linkedin.com/company/momo-mservice/"
                                    target="_blank">
                                    <img src="images/social/linkedin.svg" alt="" width="26">
                                </a></li>

                            <li class="list-inline-item mb-2"><a
                                    href="https://www.youtube.com/channel/UCKHHW-qL2JoZqcSNm1jPlqw" target="_blank">
                                    <img src="images/social/youtube.svg" alt="" width="26"> </a></li>
                            <li class="list-inline-item mb-2">
                                <a href="https://goo.gl/maps/Ygs1fnycKwq" target="_blank">
                                    <img src="images/social/google-plus.svg" alt="" width="26">
                                </a></li>
                        </ul>






                    </div>
                </div>

                <div class="row">
                    <div class="col-6">

                        <h4 class="font-weight-bold footer-heading  mb-2">
                            Tổng đài gọi ra
                        </h4>

                        <a class="d-inline-block link-white" href="tel:028.7306.5555"> 028.7306.5555 </a>
                    </div>
                    <div class="col-6">
                        <h4 class="font-weight-bold footer-heading mb-2">
                            Hỗ trợ doanh nghiệp
                        </h4>

                        <a class="d-inline-block link-white" href="https://business.momo.vn/" target="_blank">
                            business.momo.vn </a>
                    </div>
                </div>


            </div>




            <div class="col-12 col-md-6 col-lg-4">

                <div class="row sm-gutters align-top mt-3 mt-md-0">
                    <div class="col-auto">
                        <img src="images/push-momo-avatar.png" class="rounded" width="40" alt="">
                    </div>
                    <div class="col">
                        <h4 class="font-weight-bold footer-heading">
                            Công ty cổ phần dịch vụ
                            di động trực tuyến (viết tắt M_Service)
                        </h4>
                    </div>
                </div>

                <div class="mt-2">
                    Lầu M, Toà nhà Petroland, 12 Tân Trào,
                    P. Tân Phú, Q.7, Tp. Hồ Chí Minh
                </div>

                <div class="mt-2 mt-lg-4">
                    <div class="text-white">
                        Chứng nhận
                    </div>
                    <div class="mt-2">
                        <a rel="nofollow" href="http://online.gov.vn/AppDisplay.aspx?DocId=163" target="_blank"> <img
                                class="img-fluid  d-lg-block " alt="chứng nhận"
                                src="https://static.mservice.io/styles/desktop/images/bocongthuong.png"></a>
                    </div>
                </div>

            </div>


        </div>
    </div>
</footer>
<div class="copyright text-center">
    ©Copyright M_Service 2018
</div>



<div id="back-to-top" style="display: block;">


    <a class="top arrow" href="#top" data-toggle="tooltip" data-placement="left" title="Lên đầu trang">
        <svg class="svg-inline svg  ">
            <use xlink:href="svg/svg.svg#svg-angle-up"></use>
        </svg>
    </a>
    <div class="call">
        <div class="call-mobile">
            <img src="images/call-icon.svg" width="34" alt="">
        </div>
        <a href="tel:1900 5454 41">
            <img src="images/call-icon.svg" width="34" alt="">

            <div class="text-dark mt-2">
                Hotline
            </div>
            <div class=" font-weight-bold">
                1900 5454 41
            </div>
        </a>
    </div>

    <!--<div class="face">-->
    <!--<a href="https://www.facebook.com/vimomo/" data-toggle="tooltip" data-placement="left" title="Chia sẽ Facebook">-->
    <!--<img src="images/facebook.svg" width="34" alt="">-->
    <!--</a>-->

    <!--</div>-->


</div>


<div class="contact-float-btn d-none ">

    <div class="contact-float-chat messenger">
        <div class="icon-w ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 504.7 504.7">
                <path
                    d="M253 0.4C113.8 0.4 0 104.8 0 233.7 0 307.1 37 372.6 93 415.4v89l86.8-47.1c22.9 6.3 47.6 9.8 72.8 9.8 139.2 0 252.2-104.5 252.2-233.3S392.1 0.4 253 0.4zM278 314.6l-64.2-68.4L88.6 314.6 226.4 168.4l65.7 68.4 123.7-68.4L278 314.6z"
                    fill="#3AD5F9" />
                <path
                    d="M253 19.6C113.8 19.6 0 104.8 0 233.7 0 307.1 37 372.6 93 415.4v89l86.8-47.1c22.9 6.3 47.6 9.8 72.8 9.8 139.2 0 252.2-104.5 252.2-233.3S392.1 19.6 253 19.6zM278 314.6l-64.2-68.4L88.6 314.6 226.4 168.4l65.7 68.4 123.7-68.4L278 314.6z"
                    fill="#0382F9" />
                <polygon points="401.1 176.5 283.4 227.8 292.1 236.8 " fill="#0656F7" />
                <path
                    d="M413 171.3L278 314.6l-56.2-60 -115.7 50.4 -17.5 9.6 3.1-3.3L27.2 339c16.2 29.6 38.4 55.8 65.8 76.4v89l86.8-47.1c22.9 6.3 47.6 9.8 72.8 9.8 139.2 0 252.2-104.5 252.2-233.3 0-33.2-8.8-64.1-22.3-92.7L413 171.3z"
                    fill="#0656F7" />
            </svg>
        </div>
        <span>Live chat</span>
    </div>
    <div class="contact-float-chat">
        <div class="icon-w">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 76">
                <path fill="#e0078c"
                    d="M62 31c0 1.1-0.9 2-2 2H16c-1.1 0-2-0.9-2-2 0-1.1 0.9-2 2-2h44C61.1 29 62 29.9 62 31zM47.8 39H16c-1.1 0-2 0.9-2 2s0.9 2 2 2h31.8c1.1 0 2-0.9 2-2S48.9 39 47.8 39zM60 19H16c-1.1 0-2 0.9-2 2 0 1.1 0.9 2 2 2h44c1.1 0 2-0.9 2-2C62 19.9 61.1 19 60 19zM76 7v48c0 1.1-0.9 2-2 2H35l-13.6 13.4c-0.5 0.6-3.4 1.4-3.4-1.4v-12H2c-1.1 0-2-0.9-2-2v-48c0-1.1 0.9-2 2-2h72C75.1 5 76 5.9 76 7zM72 9H4v44h16c1.1 0 2 0.9 2 2v9.2l10.8-10.6c0.4-0.4 0.9-0.6 1.4-0.6H72V9z" />
            </svg>
        </div>
        <span>Liên hệ</span>
    </div>

</div>

<div class="contact-float-overlay"></div>

<div class="contact-float-panel">
    <div class="fcp-content">
        <div class="close-customizer-btn">
            <span aria-hidden="true">&times;</span>
        </div>

        <div class="fcp-group-header text-primary text-center">
            Liên hệ
        </div>

        <div class="fcp-content-form">
            <form method="post" action="" id="contactform" autocomplete="off">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name_contact" placeholder="Tên">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" name="email_contact" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group">
                            <input class="form-control" type="email" name="lastname_contact" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="message_contact" name="message_contact" style="height:150px;"
                        placeholder="Nội dung"></textarea>
                </div>

                <div class="mt-3 text-center"><input type="submit" value="Gửi thông tin" class="btn btn-primary"
                        id="submit-contact"></div>
            </form>

        </div>

    </div>
</div>