<div class="izlude fixed-top d-none d-lg-block">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container">
            <a class="navbar-brand izlude-logo" href="index.html">

                <img src="https://static.mservice.io/img/logo-momo.png" width="40" style="" alt="">

            </a>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse izlude-collapse" id="navbarSupportedContent">

                <div>
                    <div class="juno-menu">

                        <a href="#" class="juno-menu-btn">
                            <svg class="svg-icon  juno-menu-icon">
                                <use xlink:href="#svg-menu-grid"></use>
                            </svg>
                            Dịch vụ
                        </a>


                        <ul class="list-unstyled juno-menu-list  juno-menu-category" id="juno-menu-aim">

                            {% for item in danhmuc %}
                            <li class="juno-menu-item">
                                <a href="" class="juno-menu-link">
                                    <svg class="juno-menu-arrow svg-inline">
                                        <use xlink:href="svg/svg.svg#svg-angle-right"></use>
                                    </svg>

                                    <svg class="svg-icon  juno-menu-svg">
                                        <use xlink:href="{{item.icon}}"></use>
                                    </svg>
                                    {{item.name}}

                                </a>

                                <ul class="list-unstyled juno-menu-list juno-menu-list-secondary ">
                                    <li>
                                        <ul class="list-unstyled juno-menu-list-sub">

                                            {% for item2 in item.list %}
                                            <li class="juno-menu-item">
                                                <a href="" class="juno-menu-link no-icon">
                                                    {{item2.title}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                            {% endfor %}


                        </ul>


                    </div>
                </div>

                <form class="form-inline  izlude-search" method="get" autocomplete="off"
                    action="https://momo.vn/tim-kiem">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control search-quick-input" placeholder="Bạn tìm gì ..."
                            aria-label="" aria-describedby="" name="q">
                        <div class="input-group-append izlude-search-btn ">
                            <button class="btn " type="button">
                                <svg class="svg-inline">
                                    <use xlink:href="svg/svg.svg#svg-search"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <ul class="search-quick">
                     

                    </ul>

               

                    <div class="search-recent d-none ">

                        <div class="search-recent-subtitle">Gợi ý tìm kiếm</div>

                        <div class="search-items">
                            {% for item in range(0,3) %}
                            <div class="search-item active">
                                <a href="" class="link-absolute"></a>
                                <div class="search-item-image embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-img">
                                        <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                            alt="">
                                    </div>

                                </div>
                                <div class="search-item-content">
                                    <div class="search-item-name">Trà sữa Chamichi Vietnam</div>
                                    <div class="search-item-meta">Menu mới & menu Noel</div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>

                        <div class="search-recent-subtitle">Đã xem gần đây
                            <a href="" class="more">Xem thêm</a>
                        </div>


                        <div class="search-items">
                            {% for item in range(0,3) %}
                            <div class="search-item">
                                <a href="" class="link-absolute"></a>
                                <div class="search-item-image embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-img">
                                        <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                            alt="">
                                    </div>

                                </div>
                                <div class="search-item-content">
                                    <div class="search-item-name">Trà sữa Chamichi Vietnam</div>
                                    <div class="search-item-meta">Menu mới & menu Noel</div>

                                </div>
                            </div>

                            {% endfor %}

                        </div>


                    </div>

                    <div class="search-result d-none">

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Từ khóa
                            </div>
                            <div class="search-result-content">
                                <div class="search-result-keyword-container">
                                    <a href="" class="link-absolute"></a>

                                    <div class="search-result-keyword">banh mi</div>

                                    <a href="" class="more">Xem tất cả kết quả</a>
                                </div>

                            </div>

                        </div>

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Tiệm bánh
                            </div>
                            <div class="search-result-content">
                                <div class="search-items">
                                    {% for item in range(0,1) %}
                                    <div class="search-item">
                                        <a href="" class="link-absolute"></a>
                                        <div class="search-item-image embed-responsive embed-responsive-4by3">
                                            <div class="embed-responsive-img">
                                                <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                                    alt="">
                                            </div>

                                        </div>
                                        <div class="search-item-content">
                                            <div class="search-item-name">Bánh mỳ Huỳnh Hoa - Bánh mì Pate</div>
                                            <div class="search-item-meta">26 Lê Thị Riêng, P. Bến Thành, Quận Phú
                                                Nhuận
                                            </div>

                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Quán ăn
                            </div>
                            <div class="search-result-content">
                                <div class="search-items">
                                    {% for item in range(0,3) %}
                                    <div class="search-item">
                                        <a href="" class="link-absolute"></a>
                                        <div class="search-item-image embed-responsive embed-responsive-4by3">
                                            <div class="embed-responsive-img">
                                                <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                                    alt="">
                                            </div>

                                        </div>
                                        <div class="search-item-content">
                                            <div class="search-item-name">Bánh mỳ Huỳnh Hoa - Bánh mì Pate</div>
                                            <div class="search-item-meta">26 Lê Thị Riêng, P. Bến Thành, Quận Phú
                                                Nhuận
                                            </div>

                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>


                </form>


                <ul class="navbar-nav  izlude-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="svg/svg.svg#svg-pig-cashback"></use>
                            </svg>
                            Hoàn tiền
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="svg/svg.svg#svg-momo-logo"></use>
                            </svg>
                            Giới thiệu
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="svg/svg-second.svg#svg-note"></use>
                            </svg>
                            Tin tức
                        </a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="#svg-money-question"></use>
                            </svg>
                            Hỏi đáp
                        </a>
                    </li>


                    <li class="nav-item active">
                        <a class="nav-link pd-less" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="#svg-momo-hand"></use>
                            </svg>
                            Hướng dẫn
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="#svg-handshake"></use>
                            </svg>
                            Tuyển dụng
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <svg class="svg-icon  nav-link-icon mx-auto d-block">
                                <use xlink:href="#svg-support"></use>
                            </svg>
                            Liên hệ
                        </a>
                    </li>




                </ul>


            </div>
        </div>
    </nav>
</div>