<div class="topic-sidenav-btn-group d-flex d-lg-none">
    <button class="btn btn-light topic-sidenav-btn btn-block font-weight-bold " type="button"
        data-toggle="collapse" data-target="#helpTopic" aria-expanded="false" aria-controls="helpTopic">

        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
        </svg>
    </button>

    <div class="topic-search">
        <form class="form-inline ">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control border-0" placeholder="Tìm theo câu hỏi, chủ đề" aria-label=""
                    aria-describedby="">
                <div class="input-group-append">
                    <button class="btn btn-link bg-white" type="button">
                        <svg class="svg-icon  svg-icon-20 text-black-50">
                            <use xlink:href="svg/svg.svg#svg-search"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="help-topic-sidenav collapse" id="helpTopic">

    <div class="topic-sidenav">
        <h2 class="topic-sidenav-title ">Câu hỏi theo chủ đề</h2>
        <ul class="topic-sidenav-list list-unstyled">
            <li>
                <a href="hoidap-chude.html">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-cloud"></use>
                    </svg>

                    Thông tin cơ bản
                </a>
            </li>

            <li>
                <a data-toggle="collapse" href="#topicSidenav1" role="button" aria-expanded="false" aria-controls="topicSidenav1"
                    class=" topic-sidenav-expand">

                    <svg class="svg-icon topic-sidenav-expand-icon  ">
                        <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                    </svg>

                    <svg class="svg-icon topic-sidenav-icon  ">
                        <use xlink:href="svg/svg-second.svg#svg-momo-key"></use>
                    </svg>

                    Quản lý ứng dụng và tài khoản
                </a>

                <div class="collapse show" id="topicSidenav1">
                    <ul class="list-unstyled sub">
                        <li class="active"><a href="">Tải, xóa, cập nhật ứng dụng</a></li>
                        <li><a href="">Đăng ký, đăng nhập và đổi tài khoản</a></li>
                        <li><a href="">Mật khẩu, xác thực tài khoản & emai</a></li>
                        <li><a href="">Khóa, hủy, mở lại tài khoản</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#topicSidenav2" role="button" aria-expanded="false" aria-controls="topicSidenav2"
                    class="collapsed topic-sidenav-expand">

                    <svg class="svg-icon topic-sidenav-expand-icon  ">
                        <use xlink:href="svg/svg.svg#svg-angle-up"></use>
                    </svg>

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-momo-lock"></use>
                    </svg>

                    Nạp/ Rút tiền
                </a>


                <div class="collapse" id="topicSidenav2">
                    <ul class="list-unstyled sub">
                        <li class=""><a href="">Tải, xóa, cập nhật ứng dụng</a></li>
                        <li><a href="">Đăng ký, đăng nhập và đổi tài khoản</a></li>
                        <li><a href="">Mật khẩu, xác thực tài khoản & emai</a></li>
                        <li><a href="">Khóa, hủy, mở lại tài khoản</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-note"></use>
                    </svg>
                    Thanh toán và mua sắm
                </a>
            </li>

            <li>
                <a href="">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-momo-lock"></use>
                    </svg>
                    Chuyển/Nhận tiền
                </a>
            </li>


            <li>
                <a href="">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-momo-key"></use>
                    </svg>
                    Khuyến mãi
                </a>
            </li>

            <li>
                <a href="">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-cloud"></use>
                    </svg>
                    Sự cố khiếu nại
                </a>
            </li>

            <li>
                <a href="">

                    <svg class="svg-icon topic-sidenav-icon ">
                        <use xlink:href="svg/svg-second.svg#svg-momo-lock"></use>
                    </svg>
                    An toàn và bảo mật
                </a>
            </li>
        </ul>
    </div>


    <div class="topic-sidenav d-none d-lg-block">
        <h2 class="topic-sidenav-title mb-2">Liên hệ với Momo</h2>

        <div class="topic-sidenav-content">
            <div class="help-contact-hotline mb-3">
                Hotline CSKH từ <strong>8:00 - 17:00 </strong>
                <div class="mt-1">
                    <a href="" class="block-more-btn auto">
                        <span> <svg class="svg-icon svg-icon-15 mr-2">
                                <use xlink:href="svg/svg.svg#svg-phone"></use>
                            </svg>
                            GỌI NGAY
                        </span>
                    </a>
                </div>
            </div>

            <div class="help-contact-hotline ">
                Chat trực tuyến từ <strong>
                    8:00 - 21:00
                </strong>
                <div class="mt-1">
                    <a href="" class="block-more-btn auto facebook">
                        <span> <svg class="svg-icon svg-icon-15 mr-2 ">
                                <use xlink:href="svg/svg.svg#svg-messenger"></use>
                            </svg>
                            CHAT VỚI MOMO
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>