{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="theme-color" content="#ae2070">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">


    <link rel="stylesheet" href="stylesheets/core.css">


    <!-- load combined svg file (with symbols) into body-->
    <script>
        (function (doc) {
            var scripts = doc.getElementsByTagName('script')
            var script = scripts[scripts.length - 1]
            var xhr = new XMLHttpRequest()
            xhr.onload = function () {
                var div = doc.createElement('div')
                div.innerHTML = this.responseText
                div.style.display = 'none'
                script.parentNode.insertBefore(div, script)
            }
            xhr.open('get', 'svg/svg.svg', true)
            xhr.send()
        })(document)
    </script>
</head>


<body class="microsite-body">

<div class="wrapper">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center py-2  bg-white  ">
            <div class="my-0 mr-md-auto font-weight-normal">

                <!--<a href="" class="momo-logo">-->
                    <!--<svg class="svg-icon  momo-logo-icon">-->
                        <!--<use xlink:href="svg/svg.svg#svg-momo-logo"></use>-->
                    <!--</svg>-->
                <!--</a>-->


                <a href="">
                    <img src="https://momo.vn/microsite/image/Logo.png" class="img-fluid" width="160" alt="">
                </a>
            </div>
            <div class="lixi-menu">
                <a href="" class="lixi-menu-item">
                    Thông tin
                </a>

                <a href="" class="lixi-menu-item is-active">
                    Quà tặng đặc biệt
                </a>

                <a href="" class="lixi-menu-item">
                    Top tuần
                </a>
                <a href="" class="lixi-menu-item">
                    Lucky draw
                </a>

            </div>
        </div>

    </div>




    {% block content %}


    {% endblock %}

    {% block footer %}
    {% include "layouts/footer.html" %}
    {% endblock %}

</div>

{% block javascript %}

<!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>

<script src="javascripts/app.js"></script>

<script src="js/jquery.menu-aim.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/lazysizes.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/theia-sticky-sidebar.min.js"></script>
<script src="js/jquery.infinitescroll.js"></script>
<script src="js/star-rating.min.js"></script>

<script src="js/lightgallery-all.min.js"></script>
<!-- <script src="js/bodyScrollLock.js"></script> -->

<script src="js/custom.js"></script>


{% endblock %}

{% block testJS %}
{% endblock %}

</body>

</html>