{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="theme-color" content="#ae2070">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">

    <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=latin-ext,vietnamese" as="fetch" crossorigin="anonymous">
    <script type="text/javascript">
        !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=latin-ext,vietnamese",r="__3perf_googleFontsStylesheet";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
    </script>
    <!-- End of code snippet for Google Fonts -->



    <link rel="stylesheet" href="inline/core.css" inline>


    <link rel="preload" href="stylesheets/core.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="stylesheets/core.css">
    </noscript>


    {% block testCSS %}
    {% endblock %}

    <!-- load combined svg file (with symbols) into body-->
    <script>
        (function (doc) {
            var scripts = doc.getElementsByTagName('script')
            var script = scripts[scripts.length - 1]
            var xhr = new XMLHttpRequest()
            xhr.onload = function () {
                var div = doc.createElement('div')
                div.innerHTML = this.responseText
                div.style.display = 'none'
                script.parentNode.insertBefore(div, script)
            }
            xhr.open('get', 'svg/svg.svg', true)
            xhr.send()
        })(document)
    </script>
</head>


<body >




        {% block content %}


        {% endblock %}



    {% block javascript %}

    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="javascripts/app.js"></script>

    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/theia-sticky-sidebar.min.js"></script>
    <script src="js/jquery.infinitescroll.js"></script>
    <script src="js/star-rating.min.js"></script>

    <script src="js/lightgallery-all.min.js"></script>
    <!-- <script src="js/bodyScrollLock.js"></script> -->

    <script src="js/custom.js"></script>


    {% endblock %}

    {% block testJS %}
    {% endblock %}

</body>

</html>