<!-- //HEADER MOBILE -->

<div class="izlude-m d-block d-lg-none">

    <div class="row no-gutters align-items-center  izlude-m-nav">

        <div class="col-auto izlude-m-left ">
            <div class="izlude-m-link  auto justify-content-start">
                <div class="momo-logo">
                    <a href="index.html">
                        <svg class="svg-icon  momo-logo-icon">
                            <use xlink:href="svg/svg.svg#svg-momo-logo"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col izlude-m-title ">

            <form class="izlude-search" data-toggle="modal" data-target="#searchModal">
                <div class="input-group">
                    <input type="text" class="form-control border-0" placeholder="Bạn tìm gì ..." aria-label=""
                        aria-describedby="">

                    <div class="input-group-append">
                        <button class="btn btn-link bg-white" type="button">
                            <svg class="svg-icon  svg-icon-20 text-black-50">
                                <use xlink:href="svg/svg.svg#svg-search"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>


        </div>

        <div class="col-auto izlude-m-right ">
            <a href="" class="izlude-m-link auto justify-content-end" id="izlude-m-btn">
                <svg class="svg-icon izlude-m-hamburge open-btn text-white">
                    <use xlink:href="svg/svg.svg#svg-line-menu"></use>
                </svg>

                <svg class="svg-icon izlude-m-hamburge close-btn text-white">
                    <use xlink:href="svg/svg.svg#svg-close"></use>
                </svg>
            </a>
        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade bg-white" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog m-0" role="document">
        <div class="modal-content shadow-none border-0">
            <div class="modal-header  p-0">

                <div class="container">
                    <nav class="prontera row  justify-content-between align-items-center">

                        <div class="prontera-left  col-auto">
                            <a href="" class="prontera-link text-dark" data-dismiss="modal">
                                <svg class="svg-inline svg  ">
                                    <use xlink:href="svg/svg.svg#svg-angle-left"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="prontera-title col ">

                            <div class="search-input-container row no-gutters align-items-center">

                                <div class="col-auto search-input-icon">
                                    <svg class="svg-inline svg  ">
                                        <use xlink:href="svg/svg.svg#svg-search"></use>
                                    </svg>
                                </div>

                                <div class="search-input col">
                                    <input type="text" class="form-control" placeholder="Search everything...">
                                </div>

                            </div>




                        </div>
                    </nav>
                </div>

            </div>
            <div class="modal-body p-0">
                <div class="search-result-mobile">
                    <div class="search-recent d-none1 ">

                        <div class="search-recent-subtitle">Gợi ý tìm kiếm</div>

                        <div class="search-items">
                            {% for item in range(0,3) %}
                            <div class="search-item active">
                                <a href="" class="link-absolute"></a>
                                <div class="search-item-image embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-img">
                                        <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                            alt="">
                                    </div>

                                </div>
                                <div class="search-item-content">
                                    <div class="search-item-name">Trà sữa Chamichi Vietnam</div>
                                    <div class="search-item-meta">Menu mới & menu Noel</div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>

                        <div class="search-recent-subtitle">Đã xem gần đây
                            <a href="" class="more">Xem thêm</a>
                        </div>


                        <div class="search-items">
                            {% for item in range(0,3) %}
                            <div class="search-item">
                                <a href="" class="link-absolute"></a>
                                <div class="search-item-image embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-img">
                                        <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                            alt="">
                                    </div>

                                </div>
                                <div class="search-item-content">
                                    <div class="search-item-name">Trà sữa Chamichi Vietnam</div>
                                    <div class="search-item-meta">Menu mới & menu Noel</div>

                                </div>
                            </div>

                            {% endfor %}

                        </div>



                    </div>

                    <div class="search-result d-none">

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Từ khóa
                            </div>
                            <div class="search-result-content">
                                <div class="search-result-keyword-container">
                                    <a href="" class="link-absolute"></a>

                                    <div class="search-result-keyword">banh mi</div>

                                    <a href="" class="more">Xem tất cả kết quả</a>
                                </div>

                            </div>

                        </div>

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Tiệm bánh
                            </div>
                            <div class="search-result-content">
                                <div class="search-items">
                                    {% for item in range(0,1) %}
                                    <div class="search-item">
                                        <a href="" class="link-absolute"></a>
                                        <div class="search-item-image embed-responsive embed-responsive-4by3">
                                            <div class="embed-responsive-img">
                                                <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                                    alt="">
                                            </div>

                                        </div>
                                        <div class="search-item-content">
                                            <div class="search-item-name">Bánh mỳ Huỳnh Hoa - Bánh mì Pate</div>
                                            <div class="search-item-meta">26 Lê Thị Riêng, P. Bến Thành, Quận Phú Nhuận</div>

                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                        <div class="search-result-item clearfix">

                            <div class="search-result-type">
                                <a href="" class="link-absolute"></a>
                                Quán ăn
                            </div>
                            <div class="search-result-content">
                                <div class="search-items">
                                    {% for item in range(0,3) %}
                                    <div class="search-item">
                                        <a href="" class="link-absolute"></a>
                                        <div class="search-item-image embed-responsive embed-responsive-4by3">
                                            <div class="embed-responsive-img">
                                                <img src="https://media.foody.vn/res/g67/665471/prof/s128x80/20178231415-avatar.jpg"
                                                    alt="">
                                            </div>

                                        </div>
                                        <div class="search-item-content">
                                            <div class="search-item-name">Bánh mỳ Huỳnh Hoa - Bánh mì Pate</div>
                                            <div class="search-item-meta">26 Lê Thị Riêng, P. Bến Thành, Quận Phú Nhuận</div>

                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>

                </div>





            </div>

        </div>
    </div>
</div>




<div class="payon" id="payon-js-scroll">
    <div class="payon-flex">
        <div class="payon-flex-col payon-flex-col1 ">
            <div class="payon-cat">

                {% for item in danhmuc %}

                <div class="payon-cat-item {% if loop.index == 1 %}active{%endif%}" data-payon="payonTab{{loop.index}}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <svg class="svg-icon  payon-cat-svg">
                                <use xlink:href="{{item.icon}}"></use>
                            </svg>
                        </div>
                        <div class="col">
                            {{item.name}}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="payon-flex-col payon-flex-col2 ">
            {% for item in danhmuc %}
            <div id="payonTab{{loop.index}}" class="payonTab {% if loop.index == 1 %}active{%endif%}">
                <div class="payon-brand">
                    {% for item in item.list %}
                    <div class="payon-brand-item">
                        <div class="payon-brand-img">
                            <img src="{{item.image}}" class="img-fluid" width="" alt="">
                        </div>
                        <div class="payon-brand-name">
                            {{item.title}}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="payon-footer">
        <div class="container-fluid">
            <div class="row payon-footer-row align-items-center no-gutters">
                <div class="col text-center">
                    <div class="text-primary mb-0 font-weight-bold">TẢI VÍ MOMO</div>
                </div>
                <div class="col-auto">
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="" class="text-secondary payon-footer-svg">
                                <svg class="svg-icon   ">
                                    <use xlink:href="svg/svg.svg#svg-download-appstore"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="text-secondary payon-footer-svg">
                                <svg class="svg-icon   ">
                                    <use xlink:href="svg/svg.svg#svg-download-playstore"></use>
                                </svg>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page == "index" %}


<ul class="list-unstyled list-inline juno-noti-m d-block d-lg-none">
    <li class="list-inline-item">
        <img src="images/ico-fire.png" width="12" style="vertical-align: -10%;" class="mr-1" alt=""> Nhận ngay voucher
        100.000
        khi chia sẻ MoMo với bạn bè
    </li>
    <li class="list-inline-item">
        Mừng U23 Việt Nam, giảm sốc 32%
    </li>
</ul>


<div class="swiper-container gallery-mobile d-block d-lg-none">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo-2.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo-3.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
                <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader "></div>
            </div>
        </div>

    </div>


    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

</div>

<div class="izlu-menu-container d-block d-lg-none">
    <ul class="list-unstyled list-inline scrollmenu izlu-menu mb-0">

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "><svg class="svg-icon   mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-shopping"></use>
                    </svg></div>
                Mua sắm
            </a>
        </li>

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "> <svg class="svg-icon   mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-game"></use>
                    </svg></div>
                Giải trí
            </a>
        </li>

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "> <svg class="svg-icon   mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-travel"></use>
                    </svg></div>
                Đi lại
            </a>
        </li>

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "> <svg class="svg-icon   mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-money-transfer"></use>
                    </svg></div>
                Chuyển/ nhận tiền
            </a>
        </li>

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "> <svg class="svg-icon   mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-bill-momo"></use>
                    </svg></div>
                Hóa đơn
            </a>
        </li>

        <li class="list-inline-item izlu-menu-item">
            <a class="" href="#">
                <div class="izlu-menu-icon "> <svg class="svg-icon  mx-auto d-block">
                        <use xlink:href="svg/svg.svg#svg-gift-momo"></use>
                    </svg></div>
                Ưu đãi
            </a>
        </li>

    </ul>
</div>

{% endif %}