<div class="container slider-section d-none d-lg-block">
  <div class="row no-gutters">
    <div class="col-12 col-lg-8">
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>

          </div>
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo-2.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo-3.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-slider">
              <img data-src="images/banner-momo.jpg" alt="" class="swiper-lazy embed-responsive-img">
              <!-- Preloader image -->
              <div class="swiper-lazy-preloader "></div>
            </div>
          </div>

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white "></div>
        <div class="swiper-button-prev swiper-button-white "></div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

      </div>
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide is-active">
            Thích thì LotteMart thôi !
          </div>
          <div class="swiper-slide  ">
            Thích thì Galaxy thôi ! Giá 1đ
          </div>
          <div class="swiper-slide ">
            Thích thì VinaSun thôi ! Giá 1đ
          </div>
          <div class="swiper-slide  ">
            Thích thì CircleK thôi ! Giá 1đ
          </div>

          <div class="swiper-slide ">
            Thích thì LotteMart thôi ! Giá 1đ
          </div>

          <div class="swiper-slide ">
            Thích thì LotteMart thôi !
          </div>



        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="hotnew-container">
        <ul class="nav nav-tabs nav-fill hotnew-nav">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Câu hỏi thường gặp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Tin tức sự kiện</a>
          </li>

        </ul>

        <div class="tab-content">
          <div class="tab-pane active  hotnew-tab-content" id="home">

            <div class="hotnew-question">
              <div class="hotnew-question-item">
                <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <svg class="svg-icon  hotnew-question-icon text-primary">
                      <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                    </svg>
                  </div>
                  <div class="col">
                    <div><strong>Ví điện tử MoMo là gì?</strong></div>
                    <div class="text-small">
                      Ví điện tử MoMo là một giải pháp thanh toàn di động (Mobile Payment) tổng thể mang...
                    </div>
                  </div>
                </div>
              </div>

              <div class="hotnew-question-item">
                <a href="hoidap.html" target="_blank" class="link-absolute"></a>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <svg class="svg-icon  hotnew-question-icon text-primary">
                      <use xlink:href="svg/svg.svg#svg-wallet"></use>
                    </svg>
                  </div>
                  <div class="col">
                    <div><strong>Tiền trong ví MoMo có phải tiền thật không?</strong></div>
                    <div class="text-small">
                      Tiền trong ví MoMo có giá trị tương đương tiền mặt và bạn có thể nạp/rút dễ dàng...
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="hotnew-question-more">
              <a href="hoidap.html" class="font-italic text-little">
                Xem tất cả >>
              </a>

              <!-- <a href="" class="block-more-btn sm">
                    <span>
                        XEM TẤT CẢ
                    </span>
                </a> -->

            </div>

          </div>
          <div class="tab-pane container hotnew-tab-content" id="menu2">
            Chưa có nội dung ...
          </div>
        </div>
      </div>

      <div class="hotnew-banner ">
        <a href="">
          <img src="images/banner-1.jpg" class="d-block w-100" alt="">
        </a>
      </div>

    </div>
  </div>


</div>