<ul class="global-social list-unstyled">
   <li class="global-social-item title">
      Chia sẽ :
   </li>
   <li class="global-social-item">
      <a href="">
         <svg class="svg-inline svg  ">
            <use xlink:href="svg/svg.svg#svg-facebook"></use>
         </svg>
      </a>
   </li>

   <li class="global-social-item">
      <a href="">
         <svg class="svg-inline svg  ">
            <use xlink:href="svg/svg.svg#svg-twitter"></use>
         </svg>
      </a>
   </li>

   <li class="global-social-item">
      <a href="">
         <svg class="svg-inline svg  ">
            <use xlink:href="svg/svg.svg#svg-messenger"></use>
         </svg>
      </a>
   </li>
   <li class="global-social-item">
      <a href="">
         <svg class="svg-inline svg  ">
            <use xlink:href="svg/svg.svg#svg-envelope"></use>
         </svg>
      </a>
   </li>

</ul>